/* Base CSS */

.offerID {
    text-transform: uppercase;
    color: #666666;
    font-size: 18px;
}

.offerName{
    font-weight: 200;
    font-size: 24px;
}
#flyoutmenu{
    padding:0;
    margin:0;
    border:0;
    display: block;
    position: absolute;
    left: 0;
    top: 80%;
    text-align: left;
    font-size: 16px;
}
#flyoutmenu {
    visibility: hidden;
}
#flyoutmenu:hover {
    visibility: visible;
}
#flyOut:hover > #flyoutmenu, #flyOut:focus-within > #flyoutmenu, #flyOut > #flyoutmenu:focus-within {
    visibility: visible;
    display: block;
}


#flyoutmenu ul,#flyoutmenu ul li,#flyoutmenu ul ul{list-style:none;margin:0;padding:0;border:0;}
#flyoutmenu ul{position:relative;z-index:997;}
#flyoutmenu ul li{min-height:1px;line-height:2em;vertical-align:middle;}
#flyoutmenu ul li:hover, #flyoutmenu ul li:focus-within {position:relative;z-index:999;cursor:pointer;}
#flyoutmenu ul ul{visibility:hidden;position:absolute;top:100%;left:0;z-index:998;width:100%;}
#flyoutmenu ul ul ul{top:0px;left:99%;}
#flyoutmenu ul li:hover > ul, #flyoutmenu ul li:focus-within > ul {visibility:visible;display: block;}
#flyoutmenu ul ul{top:0px;left:99%;}

/* Custom CSS Styles */
#flyoutmenu ul{width:200px;box-shadow: 0px 5px 15px rgba(0,0,0,.25);}
#flyoutmenu ul ul{width:250px;}
#flyoutmenu ul li{padding:7px 10px;}
#flyoutmenu ul li.hover,#flyoutmenu ul li:hover{    background-color: rgba(0,0,0,.1); color:#fff;}
#flyoutmenu ul li.disable-item.hover,#flyoutmenu ul li.disable-item:hover{        cursor:not-allowed;}
#flyoutmenu ul li:link,#flyoutmenu ul li:visited{color:#fff;text-decoration:none;}
#flyoutmenu ul li:hover, #flyoutmenu ul li:focus-within {color:#fff}
#flyoutmenu ul li ul li:active{color:#000;background:white;    display: block;}

.disable-item {
    background: lightgray;
    cursor:not-allowed;
}
.disable-item:hover{
    background: lightgray !important;
    cursor: not-allowed;
}
