<h1 class="relative display-4 base-margin-top half-margin-bottom">
    <button class="btn btn--icon btn--white" id="flyOut"><span class="icon-list-menu"></span>
    </button>
    <div id='flyoutmenu'>
        <ul class="panel--indigo">
            <li *ngFor="let item of items"><span>{{item['label']}}</span>
                <ul class="panel--vibblue">
                    <li *ngFor="let subItem of item['items']"
                        [ngClass]="{'disable-item': itemShow[subItem['label']] !== true}"
                        (click)="navigate(subItem['label'])"><span>{{subItem['label']}}</span>
                    </li>
                </ul>
            </li>
            <li> <span>On Hold/Cancel</span>
                <ul *ngIf="!currentOfferId" class="panel--vibblue">
                    <li [ngClass]="{'disable-item': holdStatusValid == true}" (click)='showOppupFunc("hold")'><span>On
                            Hold</span>
                    </li>
                    <li [ngClass]="{'disable-item': cancelStatusValid == true}" (click)='showOppupFunc("cancel")'>
                        <span>Cancel</span>
                    </li>
                </ul>

                <ul *ngIf="currentOfferId" class="panel--vibblue">
                    <li [ngClass]="{'disable-item': holdStatusValid !== true}" (click)='showOppupFunc("hold")'><span>On
                            Hold</span>
                    </li>
                    <li [ngClass]="{'disable-item': cancelStatusValid !== true}" (click)='showOppupFunc("cancel")'>
                        <span>Cancel</span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>


    <span *ngIf="!currentOfferId; then newOffer else oldOffer"></span>
    <ng-template #newOffer>
        <span>Create New Offer</span>
    </ng-template>
    <ng-template #oldOffer>
        <span> {{offerName}}&nbsp;<span class="offerID">(Offer ID {{currentOfferId}})</span></span>
    </ng-template>

</h1>

<app-menu-bar-popup [show]="showPopup" [popupType]="popupType" (closePopup)="closePopup($event)"></app-menu-bar-popup>