<h1 class="display-4 base-margin-top half-margin-bottom">   
  <button class="btn btn--icon btn--white" onmouseover="showMenu()" id="flyOut"><span class="icon-list-menu"></span>
      <div id='flyoutmenu'>  
              <ul class="panel--indigo">
          
                  <li><a href='#'><span>Ideate</span></a>
                      <ul class="panel--indigo">
                          <li><a href='#'><span>Offer Registration</span></a>
                          </li>
                          <li><a href='#'><span>Offer Model Evaluation</span></a>
                          </li>
                         
                          <li><a href='#'><span>Stakeholder Identification</span></a>
                          </li>
                         
                          <li><a href='#'><span>Strategy Review</span></a>
                          </li>
                      </ul>

                  </li>
                  <li><a href='#'><span>Plan</span></a>
                      <ul class="panel--indigo">
                              <li><a href='#'><span>Offer Dimension Completion</span></a>
                              </li>
                              <li><a href='#'><span>Offer Solutioning</span></a>
                            
                              </li>
                              <li><a href='#'><span>Offer Construct</span></a>
                             
                              </li>
                              <li><a href='#'><span>Offer Construct Details</span></a>
                             
                              </li>
                              <li><a href='#'><span>Design Review</span></a>
                              </li>
                          </ul>
                  </li>
                  <li><a href='#'><span>Execute</span></a>
                      <ul class="panel--indigo">
                              <li><a href='#'><span>Modular Workflow Completion</span></a>
                              </li>
                              <li><a href='#'><span>PID & SKU Creation</span></a>
                            
                              </li>
                              <li><a href='#'><span>Offer Set Up and Design</span></a>
                             
                              </li>
                              <li><a href='#'><span>NPI Testing</span></a>
                             
                              </li>
                              <li><a href='#'><span>Readiness Review</span></a>
                              </li>
                      </ul>
                  </li>
                  <li><a href='#'><span>Launch</span></a>
                      <ul class="panel--indigo">
                              <li><a href='#'><span>Offer Launch</span></a>
                              </li>
                              
                          </ul>
                  </li>
                  <li><a href='#'><span>On Hold/Cancel</span></a>
                      <ul class="panel--indigo">
                              <li><a href='#'><span>On Hold</span></a>
                              </li>
                              <li><a href='#'><span>Cancel</span></a>
                              </li>
                            
                          </ul>
                  </li>
              </ul>
          </div> 
          
  </button> Cisco Data Platform<span class="offerID">(Offer ID  T-SNS-324232)</span>
</h1>  