

.business-upload-comp {

  .left-side {
    min-width: 370px;
  }

  .file-upload {
    max-width: 460px;

    .fin-content {

      .selected-value {
        font-size: 16px;
        margin: 18px 0 10px 0;
      }


    }

    button.choose-file {
      label {
        display: block;
        margin: 0 -16px;
        padding: 0 16px;
        height: 100%;
        &:hover {
          cursor: pointer;
        }
      }
    }

    .file-list {
      margin: 14px 0;
    }
  }

}



