
<div class="fin-edit-container business-upload-comp">


  <div class="row">

    <div class="col-md-6 col-xl-5 base-padding-top left-side">

      <div class="form-group radio-list"  *ngFor="let utype of uploadTypes">
        <label class="radio" [class.disabled]="utype.disabled">
          <input type="radio" name="uploadType" [value]="utype" [(ngModel)]="uploadType" (change)="$event">
          <span class="radio__input"></span>
          <span class="radio__label">{{utype.text}}</span>
        </label>
      </div>

    </div>

    <div class="col-md-auto file-upload">
      <div class="fin-content">
        <div class="selected-value"> {{uploadType.text}}</div>
        <div class="upload-form-container">

          <br>

          <div finAuth="prof-bu:upload" *ngIf="store.user.isAuthorized('prof-bu:upload')">
            <div>
              <button id="choose-file" cuiButton color="primary">
                <label for="file-input">Choose a File</label>
              </button>
              <input #fileInput id="file-input" type="file" placeholder="Upload file" accept=".csv,.xlsx"
                     (change)="$event" class="ng-hide"><br>
            </div>
            <div *ngIf="fileInput.files.length">
              <div class="file-list text-darkgreen" *ngFor="let file of fileInput.files">{{file.name}}</div>
              <br>
              <div>
                <button cuiButton color="primary" (click)="uploadFile(fileInput)">Upload File</button>
              </div>
            </div>
          </div>
          <br><br>
          <a [href]="getDownloadUri()">Download Template</a>

        </div>
      </div>
    </div>
  </div>

</div>



