
<div class="fin-container business-upload-comp">

  <div class="row">
    <div class="col-md-12 open-period">
      <span style="margin-right: 10px;">Uploading For Fiscal Month:</span> <span class="fiscal-month">{{openPeriod}}</span>
    </div>
  </div>

  <div class="row">

    <div class="col-md-auto col-xl-5 base-padding-top left-side">

      <div class="form-group radio-list"  *ngFor="let utype of uploadTypes|moduleBasedPipe:moduleId">
        <label class="radio" [class.disabled]="utype.disabled">
          <input type="radio" name="uploadType" [value]="utype" [(ngModel)]="uploadType" (change)="changeUploadType()">
          <span class="radio__input"></span>
          <span class="radio__label">{{utype.text}}</span>
        </label>
      </div>

    </div>

    <div class="col-md-auto file-upload">
      <div class="fin-content">
        <div class="selected-value"> {{uploadType?.text}}</div>
        <div>
          <br>
          <div>
            <button cuiButton color="primary" (click)="fileInput.click()" [disabled]="!uploadType">Choose a File</button>
            <input #fileInput type="file" placeholder="Upload file" accept=".xlsx"
                   (change)="changeFile(fileInput)" class="ng-hide"><br>
          </div>
          <div [fxShow]="fileInput.files.length">
            <div class="file-list text-darkgreen">{{selectedFileName}}</div>
            <br>
            <div>
              <button cuiButton color="primary" (click)="uploadFile(fileInput)">Upload File</button>
            </div>
          </div>
          <br><br>
          <a [href]="getDownloadUri()" *ngIf="uploadType?.text">Download Template</a>

        </div>
      </div>


    </div>



  </div>

</div>



