<div fxLayout="row" fxLayoutAlign="start stretch">
  <div class="leftnav" fxFlex="1 1 30%">
    <mat-radio-group class="example-radio-group" [(ngModel)]="uploadType" (change)="$event">
      <mat-radio-button class="example-radio-button" *ngFor="let utype of uploadTypes" [value]="utype" [disabled]="utype.disabled">
        {{utype.text}}
      </mat-radio-button>
    </mat-radio-group>
  </div>

  <div class="file-upload" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center start">
    <div class="fin-content " fxFlex="1 1 60%">
      <div class="selected-value"> {{uploadType.text}}</div>
      <div class="upload-form-container">

        <br>

        <div finAuth="prof-bu:upload" *ngIf="store.user.isAuthorized('prof-bu:upload')">
          <div>
            <button class="choose-file" cuiButton color="primary" small="small">
              <label for="file-input">Choose a File</label>
            </button>
            <input #fileInput id="file-input" type="file" placeholder="Upload file" accept=".csv,.xlsx"
                   (change)="$event" class="ng-hide"><br>
          </div>
          <div *ngIf="fileInput.files.length">
            <div class="file-list" *ngFor="let file of fileInput.files">{{file.name}}</div>
            <br>
            <div>
              <button cuiButton color="primary" small="small"
                      (click)="uploadFile(fileInput)">Upload File</button>
            </div>
          </div>
        </div>
        <br><br>
        <a [href]="getDownloadUri()">Download Template</a>

      </div>
    </div>
  </div>
</div>


