

.business-upload-comp {

  .open-period {
    margin-top: 6px;
    margin-bottom: 16px;
    .fiscal-month {
      font-size: 16px;
      font-weight: 600;
    }
  }
  .left-side {
    min-width: 370px;
  }

  .selected-value {
    font-size: 16px;
    margin: 18px 0 10px 0;
  }

  .file-upload {
    max-width: 460px;

    .fin-content {
    }

    .file-list {
      margin: 14px 0;
    }
  }

}



