
// current cui-spinner has garbage characters in it that extend to the right, we can get around it by
// setting width, justify-content:start and overflow:hidden for now
cui-spinner {
  position: absolute;
  left: 20px;
  top: 23px;
}

.pages {
  //min-height: 600px;
}
