<div class="row sso--statuses">

  <div class="col-md-1"></div>
  <div class="col-md-2">
    <div class="sso--status-completed"> Completed
    </div>
    <ul>
      <li *ngFor="let status of ssoStatus['completed']">{{status}}</li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="sso--status-warning">Warning
    </div>
    <ul>
      <li *ngFor="let status of ssoStatus['warning']">{{status}}</li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="sso--status-hold">Hold
    </div>
    <ul>
      <li *ngFor="let status of ssoStatus['hold']">{{status}}</li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="sso--status-error">Error
    </div>
    <ul>
      <li *ngFor="let status of ssoStatus['error']">{{status}}</li>
    </ul>
  </div>
  <div class="col-md-2">
    <div class="sso--status-notreq">Not Required
    </div>
    <ul>
      <li *ngFor="let status of ssoStatus['notRequired']">{{status}}</li>
    </ul>
  </div>

  <div class="col-md-1"></div>
</div>
