<div class="responsive-table">

  <!-- Note -->
  <br><br>
  <span *ngIf="!owbPunchOut" class="text-danger">* Please punch out to OWB to see updated ATO Tasks Status</span>
  <br><br>

  <!-- ATO Task Summary -->
  <p-dataTable [value]="tasks" scrollable="true" [rows]="10" [paginator]="true" scrollHeight="350px"
    [resizableColumns]="true">

    <p-column field="ato" sortable="true" header="TASKS">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <span>{{task['taskName']}}<br /></span>
      </ng-template>
    </p-column>

    <p-column field="status" header="STATUS" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <app-status [status]="task['taskStatus']"></app-status>
        </div>
      </ng-template>
    </p-column>

  </p-dataTable>

</div>