
.report-group {
  max-width: 340px;
  margin-bottom: 33px;
}


.file-upload {
  max-width: 460px;

  .fin-content {

    .selected-value {
      font-size: 16px;
      margin: 18px 0 8px 0;
    }

  }

  button.choose-file {
    label {
      display: block;
      margin: 0 -16px;
      padding: 0 16px;
      height: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }

  .file-list {
    margin: 14px 0;
  }
}



