.canvas {
  height: 480px;
  border-top: solid thin #f7f7f7;
  overflow: auto;
}

.search-icon .icon-search {
  position: absolute;
  top: 13px;
  right: 30px;
}

.auto-complete-attribute {
  position: relative;
}

.display-none {
  display: none
}

.auto-complete-attribute::before {
  content: none !important;
}

.icon-add-contain {
  margin-right: 10px;
}

.search-fa-icon::after {
  content: '\f0da';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  text-decoration: none;
}

.alnright {
  text-align: right;
}

input.text-input-box {
  background: white;
  border: none;
  line-height: 20px;
  padding: 5px;
}

.add-items {
  font-size: 19px;
  font-weight: bold;
}

.panel.panel--bordered.title {
  background: #c8c8c8;
  color: black !important;
}

.left-panel {
  background: #f4f4f4;
}

.panel.panel--bordered {
  background: transparent;
  color: #005073;
  border-left: none;
  border-right: none;
}

ul.list.list--highlight {
  background: #FBFBFB;
  padding: 0 15px;
  height: auto;
}

ul.list.list--highlight li {
  text-transform: uppercase;
}

.panel-category-list ul.list.list--highlight li:first-child .panel,
.panel-category-list ul.list.list--highlight li:last-child .panel {
  border: none;
}

.list-item:active {
  background: #E6F3FA;
  cursor: url("https://www.google.com/intl/en_ALL/mapfiles/openhand.cur"), all-scroll;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.drop-items-title {
  font-weight: bold;
  padding-top: 20px;
}

::ng-deep .fa-caret-right::before {
  content: "\F067";
}

::ng-deep .fa-caret-down::before {
  content: "\F068";
}

/* custom */
.pane--container-empty {
  text-align: center;
  position: relative;
  height: 100%;
  border-bottom: solid thin #f7f7f7;
}

.pane--container-empty p {
  margin: 0 1em;
}

span.icon-cart {
  font-size: 8em;
  display: block;
  line-height: 1;
  color: #e0e0e0;
  margin-bottom: 20px;
}

.pane--message-group {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%);
  width: 100%;
}

.panel-category-list span[class*="icon-"] {
  margin-right: 5px;
}

.panel-category-list .heading {
  font-size: 16px;
}

.panel-category-list .subheading {
  font-size: 12px;
}

.offer-construct-container .btn {
  border-radius: 6px;
}

.offer-construct-container .task--bar {
  text-align: right;
}

/* treetable */
.offer-construct-container .treetable--product-name {
  text-transform: uppercase;
}

.offer-construct-container .vertical-divider {
  display: inline-block;
  margin: 0 10px;
  color: #D9D9D9;
}

.topnav {
  overflow: hidden;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
}

.topnav a.active {
  border-bottom: 3px solid #005073;
}

.line-items-nav .active.tab__heading {
  border-bottom: 4px solid #007493;
  padding: 15px;
  height: 45px;
}

.line-items-nav .tab__heading {
  padding: 15px !important;
}

.header-dialog {
  background: #f2f2f2;
  line-height: 40px;
  font-weight: bold;
  font-size: 1.2em;
  padding: 0;
  margin: 5px 0 0 0;
}

.add-all-details .cui .form-group .form-group__text.select:after {
  top: 0;
}

.view-item-details tr {
  height: 40px !important;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: visible;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}


@media only screen and (min-width: 768px) {
  ul.list.list--highlight {
    height: 520px;
    overflow: auto;
  }
}

.bold-row {
  font-weight: bold;
}
