
<form>
  <h3>{{addMode? 'Add': 'Edit'}} User</h3>
  <div>
    name: <input name="name" [(ngModel)]="user.name" #ngName="ngModel" minlength="3" required autofocus autocomplete="off">
    <span class="error" *ngIf="(ngName.touched || ngName.dirty) && ngName.hasError('required')">Required</span>
    <span class="error" *ngIf="(ngName.touched || ngName.dirty) && ngName.hasError('minlength')">Must be three chars long</span>
  </div>
  age: <input name="age" [(ngModel)]="user.age" autocomplete="off"><br>
  <button type="button" (click)="router.navigateByUrl('/')">cancel</button>
  <button type="submit" (click)="submit()">submit</button>
</form>

