<app-menu-bar [caseId]="caseId" [offerId]="offerId" [offerName]="offerName" [currentMMModel]="derivedMM">
</app-menu-bar>

<div class="content">
  <div class="container">

    <div class="panel-wrapper mt-15">

      <app-taskbar [isPirateShipSubModule]="isPirateShipSubModule" [pirateShipModuleName]="pirateShipModuleName" [selectedATO]="selectedAto">
      </app-taskbar>

      <br><br>

      <div class="row">

        <div class="leftContent col-sm-12 col-md-9">

          <div class="row flex-center-vertical">
            <div class="col-sm-12">

              <div class="pull-left" >
                <button class="btn btn--primary btn--cool btn--small tooltip" placement="top"
                  (click)="goToOfferWorkBench()">
                  Complete Subscription Mapping <i class="icon-popout"></i>
                </button>
              </div>

              <div class="pull-right">
                <app-view-offer [atoNames]="atoNames" [selectedAto]="selectedAto"
                  (atoSelection)="showSelectedAtoView($event)">
                </app-view-offer>
              </div>

            </div>
          </div>

          <div class="base-margin-top" *ngIf="selectedAto==='Overall Offer' else selectedAtoView">
            <br><br>
            <app-ato-list [atoList]="atoList"></app-ato-list>
          </div>

          <ng-template #selectedAtoView>

            <p-accordion>   
                <p-accordionTab header="{{selectedAto}}" [selected]="true">
                  <div *ngFor="let eachElement of selectedObjectAto?.minorPids">
                      <table class="table" >
                          <thead>
                              <tr>
                                 <th> {{eachElement?.itemName}}</th>
                              </tr>
                          </thead>
                          <tbody>
                              <tr *ngFor="let object of eachElement?.swSubcriptionSkuList">
                                  <td> {{object}}</td>
                              </tr>
                          </tbody>
                      </table> 
                    </div>
                </p-accordionTab>
            </p-accordion>

          </ng-template>

          <app-pirate-ship-legend></app-pirate-ship-legend>

        </div>

        <div class="rightContent col-sm-12 col-md-3">
          <app-right-panel [stakeData]="stakeholders" [offerName]="offerName" [derivedMM]="derivedMM"
            [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
          </app-right-panel>
        </div>

      </div>
    </div>

  </div>
</div>
