<div class="ui-fluid">
  <blockquote class="blockquote--blue">

    <table class="table">

      <thead>
        <tr>
          <th>PRODUCT NAME</th>
          <th>ITEM TYPE</th>
          <th>ORGANIZATION</th>
          <th>CURRENT STATUS</th>
          <th>NPI TEST ORDER FLAG</th>
          <th>ORDERABILITY CHECK STATUS</th>
          <th>ERROR WARNING</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{sso['productName']}}</td>
          <td>{{sso['type']}}</td>
          <td>{{sso['organization']}}</td>
          <td>{{sso['currentStatus']}}</td>
          <td>{{sso['npiTestOrderFlag']}}</td>
          <td>
            <div class="text-center">
              <app-status [status]="sso['orderabilityCheckStatus']"></app-status>
            </div>
          </td>
          <td>{{sso['errorOrWarning']}}</td>
        </tr>
      </tbody>

    </table>

    <br><br>
    <app-sso-status [ssoStatus]="sso['ssoStatus']"></app-sso-status>

  </blockquote>
</div>
