/* mat-form-field {
  width: 50%;
  margin: auto;
  padding: 10px;
} */

button {
  margin: 5px;
}

.upload-form-container {
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    margin: auto;
    padding: 10px;
    /* display: inline-block; */
    
  }
  
/* .upload-form-container > * {
  width: 100%;
} */