.btn.btn--green-ghost {
    border: 1px solid transparent;
    background: transparent;
    color: #6ebe4a !important;
    text-decoration: none;

    box-shadow: inset 0 0 0 1px #6ebe4a !important;
}
.btn.btn--green-ghost span {
  line-height: 14px;
  margin-top: 3px;
}
.panel-scroll {
    /*width: 670px;*/
    height: 220px;
    overflow: auto;
  }

  .message-box {
      color: #005073;
  }

  #style-1::-webkit-scrollbar-track
  {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar
  {
      width: 12px;
      background-color: #F5F5F5;
  }

  #style-1::-webkit-scrollbar-thumb
  {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #555;
  }
