<a routerLink="/prof/rule-management">
  <button mat-button>Back</button>
</a>

<div class="edit-form-container">
  <!-- <form [formGroup]="form" (ngSubmit)="save()"> -->
  <cui-input type="text" [(ngModel)]="rule.name" label="Rule Name" required="true"></cui-input>
  <cui-select [(ngModel)]="driverSelection" [items]="driverNames" empty="true" label="Driver" required="true"
              optionsKey="name" optionsValue="value"></cui-select>
  <cui-select [(ngModel)]="periodSelection" [items]="driverPeriods" label="Driver Period" empty="true" required="true"
              optionsKey="name" optionsValue="value"></cui-select>
  <br>

  <div class="two-col-row">
    <div class="left text-center">Matching Criteria</div>
    <div class="right text-center">Selection Criteria</div>
  </div>

  <div class="two-col-row">
    <div class="left">
      <cui-select class="matching" [(ngModel)]="salesMatch" [items]="salesLevels" label="Sales" empty="true"
                  (selectChange)="formChange()" required="true" optionsKey="name" optionsValue="value"></cui-select>
    </div>
    <div class="right">
      <cui-input type="text" [(ngModel)]="sl1Select" label="&nbsp;" required="true"></cui-input>
    </div>
  </div>

  <div class="two-col-row">
    <div class="left">
      <cui-select class="matching" [(ngModel)]="productMatch" [items]="productLevels" label="Product" empty="true"
                  (selectChange)="formChange()" required="true" optionsKey="name" optionsValue="value"></cui-select>
    </div>
    <div class="right">
      <cui-input disabled=true type="text" label="&nbsp;" required="true"></cui-input>
    </div>
  </div>

  <div class="two-col-row">
    <div class="left">
      <cui-select class="matching" [(ngModel)]="scmsMatch" [items]="scmsLevels" label="SCMS" empty="true"
                  (selectChange)="formChange()" optionsKey="name" optionsValue="value"></cui-select>
    </div>
    <div class="right">
      <cui-input type="text" [(ngModel)]="scmsSelect" label="&nbsp;"></cui-input>
    </div>
  </div>

  <div class="two-col-row">
    <div class="left">
      <cui-select class="matching" [(ngModel)]="legalMatch" [items]="legalEntityLevels" label="Legal Entity"
                  empty="true" (selectChange)="formChange()" optionsKey="name" optionsValue="value"></cui-select>
    </div>
    <div class="right">
      <cui-input disabled=true type="text" label="&nbsp;"></cui-input>
    </div>
  </div>

  <div class="two-col-row">
    <div class="left">
      <cui-select class="matching" [(ngModel)]="beMatch" [items]="ibeLevels" label="Internal Business Entity"
                  empty="true" (selectChange)="formChange()" required="true" optionsKey="name"
                  optionsValue="value"></cui-select>
    </div>
    <div class="right">
      <cui-input type="text" [(ngModel)]="beSelect" label="&nbsp;" required="true"></cui-input>
    </div>
  </div>

  <br>
  <button cuiButton color="primary" small="small" (click)="save()">Submit</button>
  <button cuiButton color="secondary" small="small" (click)="cancel()">Cancel</button>
  <button cuiButton color="secondary" small="small" (click)="reset">Reset</button>
  <!-- </form> -->
</div>
