<div class="fin-edit-container">
  <form #form="ngForm" [attr.disabled]="viewMode">

    <div class="row">
      <div class="col-lg-6">
        <fin-input name="name" type="text" [(ngModel)]="rule.name" label="Rule Name" [notInList]="ruleNames"
                   notInListMessage="Rule name already exists" [required]="true" [disabled]="editMode"></fin-input>
        <cui-select name="driver" [(model)]="rule.driverName" [items]="driverNames" label="Driver"
                    optionsKey="name" optionsValue="value" [required]="true"></cui-select>
        <cui-select name="period" [(model)]="rule.period" [items]="periods" label="Driver Period"
                    [required]="true" optionsKey="period" optionsValue="period"></cui-select>
      </div>
      <div class="col-lg-6">
        <div fxLayout="row" fxLayoutAlign="center start">
          <div *ngIf="rule.approvedOnce === 'Y'" class="form-group-check">
            <fin-checkbox name="status" label="Active" [(model)]="rule.activeStatus" trueVal="A" falseVal="I"></fin-checkbox>
          </div>
          <div *ngIf="UiUtil.statusIsPending(rule.status)" finAuth="bizadmin" class="form-group-button">
            <button type="submit" finErrorFlash cuiButton color="primary" (click)="approve()">Approve</button>
            <button type="button" cuiButton color="primary" (click)="reject()">Reject</button>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-lg-6">
        <div class="left text-center half-margin-bottom">Matching Criteria</div>
        <cui-select name="salesMatch" [(model)]="rule.salesMatch" [items]="salesMatches" label="Sales" empty="true"
                    (modelChange)="matchChange('sales')" optionsKey="match" optionsValue="match"></cui-select>
        <cui-select name="productMatch" [(model)]="rule.productMatch" [items]="productMatches" label="Product"
                    empty="true" (modelChange)="matchChange('product')" optionsKey="match" optionsValue="match"></cui-select>
        <div class="form-group-text" [fxShow]="!!rule.productMatch"></div>
        <div class="form-group-text" [fxShow]="!!rule.productMatch"></div>
        <cui-select name="scmsMatch" [(model)]="rule.scmsMatch" [items]="scmsMatches" label="SCMS"
                    empty="true" (modelChange)="matchChange('scms')" optionsKey="match" optionsValue="match"></cui-select>
        <cui-select name="beMatch" [(model)]="rule.beMatch" [items]="beMatches" label="Internal Business Entity"
                    empty="true" (modelChange)="matchChange('be')" optionsKey="match" optionsValue="match"></cui-select>
        <cui-select name="leMatch" [(model)]="rule.legalEntityMatch" [items]="legalEntityMatches" label="Legal Entity"
                    empty="true" optionsKey="match" optionsValue="match"></cui-select>
      </div>

      <div class="col-lg-6">
        <div class="right text-center half-margin-bottom">Selection Criteria</div>
        <div class="row">
          <div class="col-4">
            <cui-select name="salesCond" class="replace-label-space" [(model)]="rule.salesCritCond" [items]="conditionalOperators"
                        empty="true" [disabled]="!rule.salesMatch" [required]="sl1CondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
            <cui-select name="prodPFCond" class="replace-label-space" [(model)]="rule.prodPFCritCond" [items]="conditionalOperators"
                        empty="true" [disabled]="!rule.productMatch" [required]="pfCondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
            <cui-select name="prodBUCond" class="replace-label-space" [(model)]="rule.prodBUCritCond" [items]="conditionalOperators"
                        empty="true" [fxShow]="!!rule.productMatch" [required]="buCondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
            <cui-select name="prodTGCond" class="replace-label-space" [(model)]="rule.prodTGCritCond" [items]="conditionalOperators"
                        empty="true" [fxShow]="!!rule.productMatch" [required]="tgCondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
            <cui-select name="scmsCond" class="replace-label-space" [(model)]="rule.scmsCritCond" [items]="conditionalOperators"
                        empty="true" [disabled]="!rule.scmsMatch" [required]="scmsCondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
            <cui-select name="beCond" class="replace-label-space" [(model)]="rule.beCritCond" [items]="conditionalOperators"
                        empty="true" [disabled]="!rule.beMatch" [required]="beCondRequired" optionsKey="operator" optionsValue="operator"></cui-select>
          </div>
          <div class="col-8">
            <cui-multiselect name="salesChoice" [(model)]="rule.salesCritChoices" [items]="salesChoices" [disabled]="!rule.salesMatch"
                        optionsKey="name" optionsValue="name" label="SL1"empty="true"></cui-multiselect>
            <fin-input name="prodPFChoice" [(ngModel)]="rule.prodPFCritChoices" [ngModelOptions]="{updateOn: 'blur'}" label="PF"
                       [disabled]="!rule.productMatch" placeholder="comma separated values"
                       [stringToArray]="true" [options]="prodPFChoiceOptions"></fin-input>
            <fin-input name="prodBUChoice" [(ngModel)]="rule.prodBUCritChoices" label="BU" [ngModelOptions]="{updateOn: 'blur'}"
                       [fxShow]="!!rule.productMatch" placeholder="comma separated values"
                       [stringToArray]="true" [options]="prodBUChoiceOptions"></fin-input>
            <cui-multiselect name="prodTGChoice" [(model)]="rule.prodTGCritChoices" [items]="prodTgChoices" optionsKey="name"
                        [fxShow]="!!rule.productMatch"optionsValue="name" dropdownMaxHeight="300" label="TG"
                        empty="true"></cui-multiselect>
            <cui-multiselect name="scmsChoice" [(model)]="rule.scmsCritChoices" [items]="scmsChoices" optionsKey="name"
                        [disabled]="!rule.scmsMatch"optionsValue="name" label="SCMS" empty="true"></cui-multiselect>
            <cui-multiselect name="beChoice" [(model)]="rule.beCritChoices" [items]="internalBeChoices" optionsKey="name"
                        [disabled]="!rule.beMatch"optionsValue="name" dropdownMaxHeight="300" label="BE"
                        empty="true"></cui-multiselect>
          </div>
        </div>
      </div>

    </div>

    <div finAuth="super-user" class="fin-footer-buttons">
      <button type="submit" finErrorFlash cuiButton color="primary" (click)="submitForApproval()">Submit</button>
      <button type="button" finErrorFlash cuiButton color="primary" (click)="saveToDraft()">Save as Draft</button>
      <button type="button" cuiButton color="secondary" (click)="cancel()">Cancel</button>
      <button type="button" cuiButton color="secondary" (click)="reset()">Reset</button>
    </div>

<!--
    <div>form.valid: {{form.valid}}</div>
    <div>form.invalid: {{form.invalid}}</div>
    <div>form.pending: {{form.pending}}</div>
-->

  </form>
</div>
