<div class="fin-edit-container">

  <div class="row">
    <div class="col-lg-6">
      <cui-input type="text" [(ngModel)]="rule.name" label="Rule Name" required="true"></cui-input>
      <cui-select [(ngModel)]="rule.driverName" [items]="driverNames" empty="true" label="Driver"
                  optionsKey="name" optionsValue="value" required="true"></cui-select>
      <cui-select [(ngModel)]="rule.period" [items]="periods" label="Driver Period" empty="true"
                  required="true"></cui-select>
    </div>
    <div class="col-lg-6">
      <div fxLayout="row" fxLayoutAlign="center start">
        <div *ngIf="!UiUtil.statusIsPending(rule.status)" class="form-group-check">
          <fin-checkbox label="Active" [(model)]="rule.status" trueVal="A" falseVal="I"></fin-checkbox>
        </div>
        <div *ngIf="UiUtil.statusIsPending(rule.status)" class="form-group-button">
          <button cuiButton color="primary">Approve</button>
          <button cuiButton color="primary">Reject</button>
        </div>
      </div>
    </div>
  </div>  <!-- <form [formGroup]="form" (ngSubmit)="save()"> -->
  <br>

  <div class="row">
    <div class="col-lg-6">
      <div class="left text-center">Matching Criteria</div>
      <cui-select [(ngModel)]="rule.salesMatch" [items]="salesMatches" label="Sales" empty="true" required="true"></cui-select>
      <cui-select [(ngModel)]="rule.productMatch" [items]="productMatches" label="Product" empty="true" required="true"></cui-select>
      <div class="form-group-text"></div>
      <div class="form-group-text"></div>
      <cui-select [(ngModel)]="rule.scmsMatch" [items]="scmsMatches" label="SCMS" empty="true"></cui-select>
      <cui-select [(ngModel)]="rule.beMatch" [items]="beMatches" label="Internal Business Entity" empty="true" required="true"></cui-select>
      <cui-select [(ngModel)]="rule.legalEntityMatch" [items]="legalEntityMatches" label="Legal Entity" empty="true"></cui-select>
    </div>

    <div class="col-lg-6">
      <div class="right text-center">Selection Criteria</div>
      <div class="row">
        <div class="col-4">
          <cui-select [(ngModel)]="rule.salesCritCond" [items]="conditionalOperators" label="Sales"></cui-select>
          <cui-select [(ngModel)]="rule.prodPFCritCond" [items]="conditionalOperators" label="Product"></cui-select>
          <cui-select [(ngModel)]="rule.prodBUCritCond" [items]="conditionalOperators" label="Product"></cui-select>
          <cui-select [(ngModel)]="rule.prodTGCritCond" [items]="conditionalOperators" label="Product"></cui-select>
          <cui-select [(ngModel)]="rule.scmsCritCond" [items]="conditionalOperators" label="SCMS"></cui-select>
          <cui-select [(ngModel)]="rule.beCritCond" [items]="conditionalOperators" label="IBE"></cui-select>
        </div>
        <div class="col-8">
          <cui-select [(ngModel)]="rule.salesCritChoices" [items]="salesChoices" optionsKey="name" optionsValue="name" [multiSelect]="true" label="SL1"></cui-select>
          <cui-input [(ngModel)]="rule.prodPFCritChoices" type="text" label="PF"></cui-input>
          <cui-input [(ngModel)]="rule.prodBUCritChoices" type="text" label="BU"></cui-input>
          <cui-select [(ngModel)]="rule.prodTGCritChoices" [items]="prodTgChoices" optionsKey="name" optionsValue="name" [multiSelect]="true" dropdownMaxHeight="300" label="TG"></cui-select>
          <cui-select [(ngModel)]="rule.scmsCritChoices" [items]="scmsChoices" optionsKey="name" optionsValue="name" [multiSelect]="true" label="SCMS"></cui-select>
          <cui-select [(ngModel)]="rule.beCritChoices" [items]="internalBeChoices" optionsKey="name" optionsValue="name" [multiSelect]="true" dropdownMaxHeight="300" label="BE"></cui-select>
        </div>
      </div>
    </div>

  </div>

  <div class="fin-footer-buttons">
    <button cuiButton color="primary" (click)="save()">Submit</button>
    <button cuiButton color="secondary" (click)="cancel()">Cancel</button>
    <button cuiButton color="secondary" (click)="reset()">Reset</button>
  </div>

</div>
