<div class="panel panel--indigo offer-detail">

    <!-- <div class="panel-body mt-10 offerData" *ngIf="panels.panel1"> -->

    <div class="offer-header">
      <div class="row">
        <div class="col-md-6">
            <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Offer ID</div>
                <div></div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="flex-fluid text-left half-margin-left">
                <div class="align-status"><span class="icon-check"></span><div class="text-bold">Aligned</div></div>
                <div class="align-type">MM4- SAAS</div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="flex-fluid text-left half-margin-left">
            <div class="text-bold">Offer Description</div>
            <div>{{ offerBuilderdata["offerDesc"] }}</div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Business Entity</div>
                <div>
                  {{
                    offerBuilderdata["BEList"] != null
                      ? offerBuilderdata["BEList"].join(", ")
                      : ""
                  }}
                </div>
              </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="flex-fluid text-left half-margin-left">
            <div class="text-bold">Expected Launch Date</div>
            <div>
              {{
                offerBuilderdata["expectedLaunchDate"]
                | date:'dd-MMM-yyyy'
              }}
            </div>
          </div>
        </div>

        <div class="col-md-6">
            <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Business Unit</div>
                <div>
                  {{
                    offerBuilderdata["BUList"] != null
                      ? offerBuilderdata["BUList"].join(", ")
                      : ""
                  }}
                </div>
              </div>
        </div>



      </div>
    </div>
  </div>
