<div class="hero hero--blue">
    <div class="container">
        <div class="hero__content">
            <h1>Profitability: Add a New Sub-Measure</h1>
            <p>Add new sub-measure for Profitability group</p>
        </div>
    </div>
  </div>
<div class="add-form-container">
  <cui-select [items]="measureNames" label="Measure Name" empty="true" (selectChange)="measureNameSelected()" required="true"></cui-select>
  <img matTooltip="Naming convention: example here" matTooltipPosition="left" src="assets/tooltip.jpg" class="tooltip" width="18"> <cui-input id="subname" type="text" [(model)]="subMeasureName" label="Sub-Measure Name" required="true"></cui-input>
  <cui-select [hidden]="categoriesHidden" [items]="categoryTypes" label="Submeasure Category Type" empty="true" (selectChange)="categoryTypeSelected()"></cui-select>
  <cui-input type="textarea" [(model)]="description" label="Description"></cui-input>
  <br><br>
  <div class="input-filter-level">
    Input Filter Level*
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div class="columnHeader" style="width: 300px; display: table-cell;">Hierarchy</div>
              <div class="columnHeader" style="width: 300px; display: table-cell;">Hierarchy Level</div>
          </div>
      </div>
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input class="switch" type="switch" [(model)]="switch_ibe" label="Internal Business Entity" (modelChange)="ibeChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="ibe_hidden" class= "option" [items]="ibe_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="ibe_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_le" label="Legal Entity" (modelChange)="leChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="le_hidden" class="option" [items]="le_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="le_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_p" label="Product" (modelChange)="pChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="p_hidden" class= "option" [items]="p_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="p_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_s" label="Sales" (modelChange)="sChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="s_hidden" class= "option" [items]="s_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="s_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_scms" label="SCMS" (modelChange)="scmsChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="scms_hidden" class= "option" [items]="scms_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="scms_br_hidden">
  </div>
  <br>
  <cui-select [items]="months" label="Effective Month" empty="true" (selectChange)="monthSelected()" required="true"></cui-select>
  <cui-select [items]="timings" label="Processing Timing" empty="true" (selectChange)="timingSelected()"></cui-select>
  Discount Flag<cui-input type="radio" [(model)]="myModel" [items]="discountFlagOptions" label="Discount Flag"></cui-input>
  <cui-select [items]="groupings" label="P&L Node Grouping" empty="true" (selectChange)="groupingSelected()"></cui-select>
  <br><br>
  Legacy Reporting Support<cui-input type="text" [(model)]="reportingLevel1" label="Reporting Level 1"></cui-input>
  <cui-input type="text" [(model)]="reportingLevel2" label="Reporting Level 2"></cui-input>
  <cui-input type="text" [(model)]="subMeasureName" label="Reporting Level 3"></cui-input>
  <br><br>
  <cui-input type="text" [(model)]="associatedRule" label="Rule Association"></cui-input>
  <br><br>
  <button>Reset</button><a routerLink=".."><button>Cancel</button></a><button>Next</button>
  <br>
</div>
