



<div class="container">


  <div class="row" style="margin-bottom: 20px">
    <div class="col-5">

      <button class="btn btn--primary"  *ngIf="showbutton" (click)="updatecasestatus()">Submit Setup</button>
    </div>
  </div>

  <div class="center_loading" *ngIf="loading else loadingdetail">

    <div class="subheader text-center">Loading</div>
    <div class="loading-spinner flex-center" aria-label="Loading, please wait...">
      <div class="wrapper">
        <div class="wheel"></div>
      </div>
    </div>
  </div>


  <ng-template #loadingdetail>

    <div class="row" *ngIf="!showbutton">

      <div class="col-12" style="margin-top: 25px;"><i>View Only</i><span  class="icon-lock icon-medium"></span></div>


    </div>
    <div class="row">
      <div class="col-12" style="border: 1px solid gray;">
        <h4 style="color: #1ba0d7"> {{selectedAto}} </h4>
        <table class="table table--bordered">
          <thead>
          <tr>
            <th>SKU</th>
            <th>Ranking</th>
            <th>% OF PLP</th>
            <th>MONTHLY THRESHOLD</th>
            <th>% BASED SUPPORT ITEM</th>
            <th>NPI/OWB COMPLETION STATUS </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of Atosummary_af_sub.billingSKUs; let i = index;">
            <td>{{item.skuName}}</td>
            <td>{{item.ranking}}</td>
            <td>{{item.plpPercentage}}</td>
            <td>${{item.monthlyThreshold}}</td>
            <td style="border-right: 1px solid #dfdfdf;">
              <span *ngIf="Atosummary_af_sub.billingSKUs[i].percentageBasedSupportItem" class="icon-check-square"></span>
            </td>

            <td style="border: 0;background-color: #fff;" *ngIf="middlenumber === i">

              <div *ngIf="Atosummary_af_sub.status">
                <div [ngSwitch]="Atosummary_af_sub.status">
                  <div *ngSwitchCase="'Available'">
                    <button
                      class="btn btn--icon btn--small legend-available"
                    ></button>
                    <span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                  <div *ngSwitchCase="'In Progress'">
                    <button class="btn btn--icon btn--small legend-inprog">
                      <span class="in-progress"></span>
                    </button><span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                  <div *ngSwitchCase="'Not Yet Available'">
                    <button
                      class="btn btn--icon btn--small legend-notavail"
                    ></button><span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                  <div *ngSwitchCase="'Milestone'">
                    <button class="btn btn--icon btn--small legend-milestone">
                      <span class="milestone"></span>
                    </button><span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                  <div *ngSwitchCase="'Not Required'">
                    <<button
                    class="btn btn--icon btn--small legend-notreq"
                  ></button><span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                  <div *ngSwitchDefault>
                    <button class="btn btn--icon btn--small legend-completed">
                      <span class="icon-check"></span>
                    </button><span>NPI-WS {{Atosummary_af_sub.caseID}}</span>
                  </div>
                </div>
              </div>

            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </ng-template>

</div>







