<!-- Menu Bar -->
<app-menu-bar [offerId]="offerId" [caseId]="caseId" [offerName]="offerName" [stakeData]="stakeholders"
  [currentMMModel]="derivedMM" (updateMessage)="updateMessage($event)"></app-menu-bar>

<div class="content">
  <div class="container">


    <div class="panel-wrapper half-margin-top">

      <!-- taskbar -->
      <app-taskbar [isValidToProceed]="proceedToreadinessreview" (onProceedToNext)="onProceedToNext()"></app-taskbar>

      <!-- left Panel -->
      <div class="row half-margin-top">
        <div class="leftContent col-sm-12 col-md-9">

          <!-- Control Bar -->
          <div class="row">

            <div class="col-md-8"></div>
            <div class="col-md-4 text-right">
              <div class="form-group dropdown label--inline">
                <div class="form-group__text select">
                  <label for="select-size-default">Viewing</label>
                  <select [(ngModel)]="selectedAto" (change)="selectedValue($event)">
                    <option id="select-size-default" value="Overall Offer">Overall Offer</option>
                    <option id="select-size-default" *ngFor="let item of Options" value={{item}}>
                      {{item}}
                    </option>
                  </select>
                </div>
              </div>
            </div>

          </div>
<!--          <div class="row">-->
<!--            <div class="col-3">-->
<!--              <button class="btn btn&#45;&#45;primary btn&#45;&#45;wide" (click)="refreshPirateship()">Refresh the Pirate ship</button>-->
<!--            </div>-->

<!--          </div>-->

          <!-- Pirate Ship -->
          <div class="row base-margin-top">
            <div class="col-sm-12">
              <ul class="osw-module--btns">

                <div class="row base-margin-bottom">
                  <div class="col-sm-3 half-margin-left">

                    <!-- Group 0 -->
                    <div *ngIf="showGroupData">
                      <li *ngFor="let element of groupData['Group0']['left']">
                        <!-- different status showing -->
                        <!-- Completed -->
                        <button *ngIf="element['status']=='Completed'"
                          class="btn btn--small btn--success base-margin-bottom" placement="top"
                          (click) = "getElementDetails(element)" [disabled] = "readOnly"><span
                            class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- In Progress-->
                        <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small  btn--warning base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                          class="btn btn--small btn--primary base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Yet Available -->
                        <button *ngIf="element['status']=='Not Yet Available'"
                          class="btn btn--small btn--gray-ghost base-margin-bottom disabled_button" placement="top"><span
                            class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Required -->
                        <button *ngIf="element['status']=='Not Required'"
                          class="btn btn--small btn--default base-margin-bottom disabled" placement="top"><span
                            class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>

                      </li>
                    </div>

                    <!-- Group 1 -->
                    <div class="last" *ngIf="showGroupData">
                      <li *ngFor="let element of groupData['Group1']['left']">
                        <!-- different status showing -->
                        <!-- Completed -->
                        <button *ngIf="element['status']=='Completed'"
                          class="btn btn--small btn--success base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span
                            class="icon-check pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- In Progress-->
                        <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span
                            class="in-progress pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                          class="btn btn--small btn--primary base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Yet Available -->
                        <button *ngIf="element['status']=='Not Yet Available'"
                          class="btn btn--small btn--gray-ghost base-margin-bottom disabled_button" placement="top">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Required -->
                        <button *ngIf="element['status']=='Not Required'"
                          class="btn btn--small btn--default base-margin-bottom disabled" placement="top">
                          {{element["moduleName"]}}
                        </button>


                      </li>
                    </div>

                  </div>
                </div>

                <!-- box group -->
                <div class="row base-margin-bottom">

                  <!-- left box -->
                  <div class="col-sm-6">
                    <div class="base-padding-top panel panel--bordered">
                      <div class="row">

                        <div class="col-sm-12 col-lg-6">

                          <!-- Group 2 left-->
                          <div *ngIf="showGroupData">
                            <li *ngFor="let element of groupData['Group2']['left']">
                              <!-- different status showing -->
                              <!-- Completed -->
                              <button *ngIf="element['status']=='Completed'"
                                class="btn btn--small btn--success half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- In Progress-->
                              <button *ngIf="element['status']=='In Progress'"
                                class="btn btn--small  btn--warning half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- Available -->
                              <button *ngIf="element['status']=='Available'"
                                class="btn btn--small btn--primary half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Yet Available -->
                              <button *ngIf="element['status']=='Not Yet Available'"
                                class="btn btn--small btn--gray-ghost half-margin-bottom disabled_button" placement="top" (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Required -->
                              <button *ngIf="element['status']=='Not Required'"
                                class="btn btn--small btn--default half-margin-bottom disabled" placement="top"  (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>


                            </li>
                          </div>

                        </div>

                        <div class="col-sm-12 col-lg-6">

                          <!-- Group 2 right -->
                          <div *ngIf="showGroupData">
                            <li *ngFor="let element of groupData['Group2']['right']">
                              <!-- different status showing -->
                              <!-- Completed -->
                              <button *ngIf="element['status']=='Completed'"
                                class="btn btn--small btn--success half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- In Progress-->
                              <button *ngIf="element['status']=='In Progress'"
                                class="btn btn--small  btn--warning half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- Available -->
                              <button *ngIf="element['status']=='Available'"
                                class="btn btn--small btn--primary half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Yet Available -->
                              <button *ngIf="element['status']=='Not Yet Available'"
                                class="btn btn--small btn--gray-ghost half-margin-bottom disabled_button" placement="top"  (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Required -->
                              <button *ngIf="element['status']=='Not Required'"
                                class="btn btn--small btn--default half-margin-bottom disabled" placement="top" (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>

                            </li>
                          </div>
                        </div>

                      </div>

                    </div>
                  </div>

                  <!-- right box -->
                  <div class="col-sm-6">
                    <div class="base-padding-top panel panel--bordered">
                      <div class="row">
                        <div class="col-sm-12 col-lg-6">

                          <!-- Group 3 left -->
                          <div *ngIf="showGroupData">
                            <li *ngFor="let element of groupData['Group3']['left']">
                              <!-- different status showing -->
                              <!-- Completed -->
                              <button *ngIf="element['status']=='Completed'"
                                class="btn btn--small btn--success half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- In Progress-->
                              <button *ngIf="element['status']=='In Progress'"
                                class="btn btn--small  btn--warning half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- Available -->
                              <button *ngIf="element['status']=='Available'"
                                class="btn btn--small btn--primary half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Yet Available -->
                              <button *ngIf="element['status']=='Not Yet Available'"
                                class="btn btn--small btn--gray-ghost half-margin-bottom disabled_button" placement="top">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Required -->
                              <button *ngIf="element['status']=='Not Required'"
                                class="btn btn--small btn--default half-margin-bottom disabled" placement="top">
                                {{element["moduleName"]}}
                              </button>

                              <!-- REmove it
                              <button
                                      class="btn btn--small btn--primary base-margin-bottom" placement="top"
                                      (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button> -->


                            </li>
                          </div>

                        </div>

                        <div class="col-sm-12 col-lg-6">

                          <!-- Group 3 right -->
                          <div *ngIf="showGroupData">
                            <li *ngFor="let element of groupData['Group3']['right']">
                              <!-- different status showing -->
                              <!-- Completed -->
                              <button *ngIf="element['status']=='Completed'"
                                class="btn btn--small btn--success half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- In Progress-->
                              <button *ngIf="element['status']=='In Progress'"
                                class="btn btn--small  btn--warning half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                                {{element["moduleName"]}}
                              </button>
                              <!-- Available -->
                              <button *ngIf="element['status']=='Available'"
                                class="btn btn--small btn--primary half-margin-bottom" placement="top"
                                (click)="getElementDetails(element)">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Yet Available -->
                              <button *ngIf="element['status']=='Not Yet Available'"
                                class="btn btn--small btn--gray-ghost half-margin-bottom disabled_button" placement="top">
                                {{element["moduleName"]}}
                              </button>
                              <!-- Not Required -->
                              <button *ngIf="element['status']=='Not Required'"
                                class="btn btn--small btn--default half-margin-bottom disabled" placement="top">
                                {{element["moduleName"]}}
                              </button>


                            </li>
                          </div>

                        </div>

                      </div>
                    </div>
                  </div>

                </div>

                <!-- bottom modules -->
                <div class="row base-margin-top">

                  <div class="col-sm-3 half-margin-left">

                    <!-- Group 4 -->
                    <div *ngIf="showGroupData">
                      <li class="base-padding-bottom" *ngFor="let element of groupData['Group4']['left']">
                        <!-- Completed -->
                        <button *ngIf="element['status']=='Completed'"
                          class="btn btn--small btn--success half-margin-top" placement="top"
                          (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- In Progress-->
                        <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning half-margin-top" placement="top"
                          (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                          class="btn btn--small btn--primary half-margin-top" placement="top"
                          (click)="getElementDetails(element)">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Yet Available -->
                        <button *ngIf="element['status']=='Not Yet Available'"
                          class="btn btn--small btn--gray-ghost half-margin-top disabled_button" placement="top">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Required -->
                        <button *ngIf="element['status']=='Not Required'"
                          class="btn btn--small btn--default half-margin-top disabled" placement="top">
                          {{element["moduleName"]}}
                        </button>
                      </li>
                    </div>

                  </div>

                  <div class="col-sm-3 half-margin-left"></div>

                  <div class="col-sm-3">

                    <!-- Group 5 -->
                    <div *ngIf="showGroupData">
                      <li class="base-padding-bottom" *ngFor="let element of groupData['Group5']['left']">
                        <!-- Completed -->
                        <button *ngIf="element['status']=='Completed'"
                          class="btn btn--small btn--success half-margin-top" placement="top"
                          (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- In Progress-->
                        <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning half-margin-top" placement="top"
                          (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                          class="btn btn--small btn--primary half-margin-top" placement="top"
                          (click)="getElementDetails(element)">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Yet Available -->
                        <button *ngIf="element['status']=='Not Yet Available'"
                          class="btn btn--small btn--gray-ghost half-margin-top disabled_button" placement="top"><span
                            class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Required -->
                        <button *ngIf="element['status']=='Not Required'"
                          class="btn btn--small btn--default half-margin-top disabled" placement="top"><span
                            class="milestone pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                      </li>
                    </div>

                    <!-- Group 6 -->
                    <div class="last" *ngIf="showGroupData">
                      <li *ngFor="let element of groupData['Group6']['left']">
                        <!-- Completed -->
                        <button *ngIf="element['status']=='Completed'"
                          class="btn btn--small btn--success base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span class="icon-check pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- In Progress-->
                        <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)"><span class="in-progress pull-left"></span>&nbsp;
                          {{element["moduleName"]}}
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                          class="btn btn--small btn--primary base-margin-bottom" placement="top"
                          (click)="getElementDetails(element)">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Yet Available -->
                        <button *ngIf="element['status']=='Not Yet Available'"
                          class="btn btn--small btn--gray-ghost base-margin-bottom disabled_button" placement="top">
                          {{element["moduleName"]}}
                        </button>
                        <!-- Not Required -->
                        <button *ngIf="element['status']=='Not Required'"
                          class="btn btn--small btn--default base-margin-bottom disabled" placement="top">
                          {{element["moduleName"]}}
                        </button>
                      </li>
                    </div>

                  </div>

                </div>

              </ul>
            </div>
          </div>

          <!-- Legend -->
          <br><br>
          <app-pirate-ship-legend></app-pirate-ship-legend>

        </div>

        <!-- right panel -->
        <div class="rightContent  col-sm-12 col-md-3">
          <app-right-panel [stakeData]="stakeholders" [offerName]="offerName" [derivedMM]="derivedMM"
            [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
          </app-right-panel>
        </div>

      </div>
    </div>
  </div>
</div>
