<a fxHide.lg routerLink="/prof/submeasure">< Back</a>

<div class="edit-form-container">
  <cui-select [items]="measures" label="Measure Name" empty="true" [(ngModel)]="sm.measureName" required="true"
              optionsKey="name" optionsValue="name" (selectChange)="measureNameChange()"></cui-select>

  <cui-input [disabled]="this.editMode" type="text" [(model)]="sm.name" label="Sub-Measure Name" required="true"></cui-input>

  <cui-select [fxShow]="showCategories" [items]="categoryTypes" label="Submeasure Category Type" empty="true"
              optionsKey="name" optionsValue="value" [(ngModel)]="sm.categoryType"></cui-select>

  <cui-input type="textarea" [(model)]="sm.description" label="Description"></cui-input>

  <cui-select [items]="sources" label="Source" empty="true"
              optionsKey="name" optionsValue="value" [(ngModel)]="sm.source"></cui-select>
  <br><br>

  <fieldset class="input-filter-level">
    <legend>Business Input Level*</legend>

    <div class="two-col-row">
      <div class="left text-center">Hierarchy</div>
      <div class="right text-center">Level</div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input class="switch" type="switch" [(model)]="ifl_switch_ibe" label="Internal Business Entity"
                   (modelChange)="iflChange('ibe')"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="ifl_switch_ibe" class="option" [items]="ibe_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.inputFilterLevel.internalBELevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="ifl_switch_p" label="Product" (modelChange)="iflChange('p')"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="ifl_switch_p" class="option" [items]="p_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.inputFilterLevel.productLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="ifl_switch_le" label="Legal Entity"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="ifl_switch_le" class="option" [items]="le_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.inputFilterLevel.entityLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="ifl_switch_s" label="Sales"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="ifl_switch_s" class="option" [items]="s_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.inputFilterLevel.salesLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="ifl_switch_scms" label="SCMS"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="ifl_switch_scms" class="option" [items]="scms_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.inputFilterLevel.scmsLevel"></cui-select>
      </div>
    </div>
  </fieldset>
  <br>


  <fieldset class="input-filter-level">
    <legend>Manual Mapping</legend>

    <div class="two-col-row">
      <div class="left  text-center">Hierarchy</div>
      <div class="right  text-center">Level</div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input class="switch" type="switch" [(model)]="mm_switch_ibe" label="Internal Business Entity"
                   (modelChange)="mmChange('ibe')"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="mm_switch_ibe" class="option" [items]="ibe_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.manualMapping.internalBELevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="mm_switch_p" label="Product" (modelChange)="mmChange('p')"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="mm_switch_p" class="option" [items]="p_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.manualMapping.productLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="mm_switch_le" label="Legal Entity"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="mm_switch_le" class="option" [items]="le_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.manualMapping.entityLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="mm_switch_s" label="Sales"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="mm_switch_s" class="option" [items]="s_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.manualMapping.salesLevel"></cui-select>
      </div>
    </div>

    <div class="two-col-row">
      <div class="left">
        <cui-input type="switch" [(model)]="mm_switch_scms" label="SCMS"></cui-input>
      </div>
      <div class="right">
        <cui-select [fxShow]="mm_switch_scms" class="option" [items]="scms_items" optionsKey="name"
                    optionsValue="value" [(ngModel)]="sm.manualMapping.scmsLevel"></cui-select>
      </div>
    </div>
  </fieldset>
  <br>

  <cui-select [items]="yearmos" label="Effective Month" empty="true" [(ngModel)]="sm.startFiscalMonth"
              required="true" optionsKey="long" optionsValue="num"></cui-select>

  <cui-select [items]="timings" label="Processing Timing" empty="true" [(ngModel)]="sm.processingTime"
              optionsKey="name" optionsValue="value"></cui-select>

  <cui-select [items]="groupings" label="P&L Node Grouping" empty="true" [(ngModel)]="sm.pnlnodeGrouping"
              optionsKey="name" optionsValue="value"></cui-select>
  <br><br>

  <fieldset>
    <legend>Legacy Reporting Support</legend>
  <cui-input type="text" [(model)]="sm.reportingLevels[0]" label="Reporting Level 1"></cui-input>
  <cui-input type="text" [(model)]="sm.reportingLevels[1]" label="Reporting Level 2"></cui-input>
  <cui-input type="text" [(model)]="sm.reportingLevels[2]" label="Reporting Level 3"></cui-input>
  </fieldset>
    <br><br>

  <fieldset class="rule-assoc">
    <legend>
      <span class="tooltip" data-balloon="Attach up to 5 rules" data-balloon-pos="up">
      <i class="icon-info-outline icon-small"></i>
        </span>
      Rule Association
    </legend>

  <div class="rule" *ngFor="let rule of sm.rules; let i = index;">
      <cui-select class="rule-select" [items]="rules" empty="true"  dropdownMaxHeight="300"
                  [(ngModel)]="sm.rules[i]" optionsKey="name" optionsValue="name"></cui-select>

    <i class="delete icon-exit-outline icon-small" [fxShow]="showDeleteRuleIcon()" (click)="removeRule(i)"></i>
    <i class="add icon-add-outline icon-small" [fxShow]="showAddRuleIcon()" (click)="addRule(i)"></i>
  </div>
  </fieldset>

  <br>
  <button cuiButton color="primary" small="true" (click)="save()">Submit</button>
  <button cuiButton color="secondary" small="true" (click)="cancel()">Cancel</button>
  <button cuiButton color="secondary" small="true" (click)="reset()">Reset</button>
  <br>
</div>
