@import '../../../../../styles/_comp-index.scss';


.fin-container {

  .approval-buttons {
    margin: 12px 0 30px 0;
  }

  .status-section {
    max-width: $form-group-max-width;
  }

  .cat-type {
    display: inline-flex;
    & ::ng-deep .form-group {
      min-width: 217px;
    }
  }

  .manual-mix {
    display: inline-flex;
    place-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    box-sizing: border-box;

    .hwsw-inputs {
      width: 100px;
      margin-left: 26px;
    }
  }

  button.upper-right {
    position: absolute !important;
    top: -3px;
    right: 0px;
  }

  .input-filter-level {
    max-width: $form-group-max-width;
    margin-bottom: -13px;

    .ifl-section {
      $height: 44px;
      .check-wrap {
        height: $height;
        padding-top: 13px;
      }

      .sel-wrap {
        height: $height;
      }

    }

    &.mm-fieldset {
      legend {
        height: 20px;
        position: relative;
        top: -5px;
      }
    }

  }
  .rule-assoc {
    position: relative;

    legend .tooltip {
      position: absolute;
      top: -2px;
      left: -28px;
    }

    .rule {
      position: relative;
      margin-top: -5px;
      max-width: $form-group-max-width;
      i {
        position: absolute;
        top: 11px;
        &.delete {
          right: -29px;
        }
        &.add {
          right: -56px;
        }
        &.desc {
          left: -28px;
        }
      }
    }

  }

  .inline-check-row .form-group-check {
    display: inline-block;
  }

}




