<div class="fin-container">

  <div class="approval-buttons" *ngIf="viewMode && UiUtil.statusIsPending(sm.status) && canApprove()"
    finAuth="biz-admin">
    <button type="button" cuiButton color="primary" (click)="approve()">Approve</button>
    <button type="button" cuiButton color="primary" (click)="reject()">Reject</button>
    <button type="button" cuiButton color="secondary" (click)="cancel()">Cancel</button>
  </div>

  <form #form="ngForm">

    <div class="row" [class.disabled]="viewMode">
      <div class="col-lg-6">
        <cui-select name="measure" [(ngModel)]="sm.measureId" [items]="measures" label="Measure*" empty="true"
          [required]="true" optionsKey="name" optionsValue="measureId" (ngModelChange)="measureChange()"
          [disabled]="isApprovedOnce()"></cui-select>
      </div>
      <div class="col-lg-6">
        <div fxLayout="row" fxLayoutAlign="center start" class="status-section" [class.disabled]="!sm.measureId">
          <div *ngIf="isApprovedOnce()" class="form-group-check form-group-inline-30">
            <fin-checkbox label="Active" [(model)]="sm.activeStatus" trueVal="A" falseVal="I"
              (modelChange)="verifyRulesActive(true)"></fin-checkbox>
          </div>
          <div class="form-group-text" style="margin-left:30px;">Status: {{UiUtil.getStatusText(sm.status)}}</div>
        </div>
      </div>
    </div>

    <div [class.disabled]="!sm.measureId">

      <div class="row" [class.disabled]="viewMode">
        <div class="col-lg-6">
          <fin-input name="name" [(ngModel)]="sm.name" [disabled]="isApprovedOnce()" type="text"
            label="Sub-Measure Name" [pattern]="UiUtil.alphanumRegex" [patternMessage]="UiUtil.alphanumMessage"
            [notInList]="submeasureNames" notInListMessage="Sub-Measure name already exists" [required]="true"
            (blur)="updateReportingLevel3()"></fin-input>
          <cui-select name="source" [(ngModel)]="sm.sourceId" [items]="measureSources"
            [label]="!isUnallocatedGroup()?'Source*':'Source'" empty="true" optionsKey="name" optionsValue="sourceId"
            [required]="!isUnallocatedGroup()" (ngModelChange)="sourceChange()" [disabled]="isUnallocatedGroup()">
          </cui-select>
          <fin-input name="desc" [textarea]="true" [(ngModel)]="sm.desc"
            [label]="!isUnallocatedGroup()?'Description*':'Description'" [rows]="2" [required]="!isUnallocatedGroup()">
          </fin-input>
        </div>

        <div class="col-lg-6" *ngIf="moduleId!=3">
          <div [class.disabled]="disableCategories || isUnallocatedGroup()">
            <cui-select *ngIf="moduleId!=2" name="category" [(ngModel)]="sm.categoryType" [items]="categoryTypes"
              [required]="isCogsMeasure() && !isUnallocatedGroup()"
              [label]="isCogsMeasure() && !isUnallocatedGroup()? 'Sub-Measure Category Type*':'Sub-Measure Category Type'"
              empty="true" optionsKey="name" optionsValue="value" [class.cat-type]="isManualMix()"></cui-select>
            <div class="manual-mix" *ngIf="isManualMix()">
              <fin-input name="manualMixHw" [label]="!isUnallocatedGroup()?'HW*':'HW'" [(ngModel)]="manualMixHw"
                [required]="!isUnallocatedGroup()" [inline]="true" [isNumber]="true" class="hwsw-inputs"></fin-input>
              <fin-input name="manualMixSw" [label]="!isUnallocatedGroup()?'SW*':'SW'" [(ngModel)]="manualMixSw"
                [required]="!isUnallocatedGroup()" [inline]="true" [isNumber]="true" class="hwsw-inputs"></fin-input>
            </div>
          </div>

          <div [class.disabled]="isUnallocatedGroup()">
            <cui-select *ngIf="sm.measureId === 3" [disabled]="sm.sourceId !== 2" name="flashCategory"
              [(ngModel)]="flashCategory" [items]="flashCategories"
              [label]="!isUnallocatedGroup()?'MRAP - Flash Category Id*':'MRAP - Flash Category Id'" empty="true"
              [required]="!isUnallocatedGroup()" optionsKey="mrap_category_id" optionsValue="adj_type_id"></cui-select>
            <cui-select *ngIf="sm.measureId === 1 && moduleId!=2" [disabled]="sm.sourceId !== 1" name="adjustmentType"
              [(ngModel)]="adjustmentType" [items]="adjustmentTypes"
              [label]="!isUnallocatedGroup()?'Adjustment Type*':'Adjustment Type'" empty="true"
              [required]="!isUnallocatedGroup()" optionsKey="rrr_category_id" optionsValue="adj_type_id"></cui-select>
          </div>

          <!--<div class="margin-top:10px; height: 0px;">&nbsp;</div>-->
          <div class="border-and-padding form-group-max-width" [class.disabled]="isPassThrough()">
            <div style="margin-bottom:-10px;">
              <div class="row" style="margin-top:1px; margin-bottom:15px;">
                <div class="col-6">
                  <fin-checkbox label="Is Grouping Sub-Measure" [(model)]="sm.indicators.groupFlag" trueVal="Y"
                    falseVal="N" (modelChange)="handleGroupingChange()"></fin-checkbox>
                </div>
                <div class="col-6">
                  <!-- this used to be ngIf groupFlag, but groupflag clears off properties now, so we need to allow them
                      to select this "before" selecting groupFlag to keep them from clearing off properties if they want an allocated group -->
                  <fin-checkbox *ngIf="isGroup()" label="Allocation Required"
                    [(model)]="sm.indicators.allocationRequired" trueVal="Y" falseVal="N"
                    (modelChange)="handleAllocationRequiredChange()"></fin-checkbox>
                </div>
              </div>
              <cui-select name="groupingSubmeasure" [(ngModel)]="sm.groupingSubmeasureId" [items]="groupingSubmeasures"
                label="Grouping Sub-Measure" empty="true" optionsKey="name" optionsValue="submeasureKey"
                [disabled]="isGroupingParent()"></cui-select>
            </div>
          </div>

          <div *ngIf="isDeptUploadMeasure()" class="border-and-padding half-margin-top form-group-max-width"
            [class.disabled]="isUnallocatedGroup()">
            <!--we want to position this button relative to fieldset, but fails on firefox, so we'll add this for a relative position-->
            <div style="position:relative">
              <fieldset style="margin-bottom:0;" [class.disabled]="!isDeptUpload()">
                <legend>Dept/Acct Upload</legend>
                <div style="height:6px;" class="spacer-div">&nbsp;</div>
                <span [fxShow]="!fileInput.files.length">
                  <button class="upper-right" cuiButton color="primary" [small]="true"
                    (click)="fileInput.click()">Choose a File</button>
                  <input #fileInput type="file" placeholder="Upload file" accept=".xlsx"
                    (change)="changeFile(fileInput)" class="ng-hide">
                </span>
                <span [fxShow]="fileInput.files.length">
                  <button cuiButton class="upper-right" color="primary" [small]="true"
                    (click)="doDeptUpload(fileInput)">Upload File</button>
                </span>
                <div [fxShow]="fileInput.files.length || sm.indicators.deptAcct === 'A'" class="half-margin-top">
                  <span [innerText]="getUploadedText()" style="margin-right: 14px;"></span> <span
                    class="text-darkgreen">{{deptUploadFilename}}</span>
                </div>
                <div class="half-margin-top">
                  <a [href]="getDeptUploadExistingMappingUri()" (click)="getDeptUploadExistingMappingClick()"
                    style="margin-right: 30px;">Download Existing Mapping</a>
                  <a [href]="getDeptUploadTemplateDownloadUri()">Download Template</a>
                </div>
              </fieldset>
            </div>
          </div>

        </div>
      </div>

      <br>

      <div class="row" [class.disabled]="viewMode">

        <div class="col-lg-6  ifl-left-side" [class.disabled]="isUnallocatedGroup()">
          <div class="form-group-max-width">
            <div class="border-and-padding" style="padding-bottom:14px;">
              <fieldset class="input-filter-level">
                <legend>Business Input Level</legend>
                <div class="row half-padding">
                  <div class="col-6">
                    <div class="left text-center">Hierarchy</div>
                  </div>
                  <div class="col-6">
                    <div class="right text-center">Level</div>
                  </div>
                </div>
                <div class="row ifl-section">
                  <div class="col-6">
                    <div class="check-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <fin-checkbox [(model)]="ifl_switch_ibe" label="Internal Business Entity"
                        (modelChange)="iflChange('ibe')" [disabled]="BeIflDisabled || isPassThrough()"></fin-checkbox>
                    </div>
                    <div class="check-wrap" *ngIf="moduleId!=3">
                      <fin-checkbox [(model)]="ifl_switch_p" label="Product" (modelChange)="iflChange('p')"
                        [disabled]="ProductIflDisabled"></fin-checkbox>
                    </div>
                    <div class="check-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <fin-checkbox [(model)]="ifl_switch_le" label="Legal Entity" (modelChange)="iflChange('le')"
                        [disabled]="LegalIflDisabled || isPassThrough()"></fin-checkbox>
                    </div>
                    <div class="check-wrap">
                      <fin-checkbox [(model)]="ifl_switch_s" label="Sales" (modelChange)="iflChange('s')"
                        [disabled]="SalesIflDisabled"></fin-checkbox>
                    </div>
                    <div class="check-wrap" *ngIf="moduleId!=2">
                      <fin-checkbox [(model)]="ifl_switch_scms" label="SCMS" (modelChange)="iflChange('scms')"
                        [disabled]="ScmsIflDisabled || isPassThrough()"></fin-checkbox>
                    </div>
                    <div class="check-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <fin-checkbox [(model)]="ifl_switch_glseg" label="GL Segments" (modelChange)="iflChange('glseg')"
                        [disabled]="!hasSourceRapidRevenue() || isPassThrough()"
                        matTooltip="Gl Segments only available for source Rapid Revenue"
                        [matTooltipDisabled]="hasSourceRapidRevenue()" matTooltipShowDelay="1000"></fin-checkbox>
                    </div>
                    <div class="check-wrap"  *ngIf="moduleId!=1 && moduleId!=2">
                      <fin-checkbox [(model)]="ifl_switch_country" label="Country"
                        (modelChange)="iflChange('country')" [disabled]="CountryIflDisabled || isPassThrough()">
                      </fin-checkbox>
                    </div>
                    <div class="check-wrap"  *ngIf="moduleId!=1 && moduleId!=2">
                      <fin-checkbox [(model)]="ifl_switch_ext" label="External Theater"
                        (modelChange)="iflChange('ext')" [disabled]="ExtIflDisabled || isPassThrough()">
                      </fin-checkbox>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="sel-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <cui-select name="ibeLevel" [(ngModel)]="sm.inputFilterLevel.internalBELevel"
                        [required]="ifl_switch_ibe" class="option" [items]="ibe_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_ibe"></cui-select>
                    </div>
                    <div class="sel-wrap" *ngIf="moduleId!=3">
                      <cui-select name="productLevel" [(ngModel)]="sm.inputFilterLevel.productLevel"
                        [required]="ifl_switch_p" class="option" [items]="p_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_p"></cui-select>
                    </div>
                    <div class="sel-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <cui-select name="entityLevel" [(ngModel)]="sm.inputFilterLevel.entityLevel"
                        [required]="ifl_switch_le" class="option" [items]="le_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_le"></cui-select>
                    </div>
                    <div class="sel-wrap">
                      <cui-select name="salesLevel" [(ngModel)]="sm.inputFilterLevel.salesLevel"
                        [required]="ifl_switch_s" class="option" [items]="s_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_s"></cui-select>
                    </div>
                    <div class="sel-wrap" *ngIf="moduleId!=2">
                      <cui-select name="scmsLevel" [(ngModel)]="sm.inputFilterLevel.scmsLevel"
                        [required]="ifl_switch_scms" class="option" [items]="scms_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_scms"></cui-select>
                    </div>
                    <div class="sel-wrap" *ngIf="moduleId!=2 && moduleId!=3">
                      <cui-multiselect name="glSegLevel" [(ngModel)]="sm.inputFilterLevel.glSegLevel"
                        [required]="ifl_switch_glseg" class="option" [items]="glseg_items" optionsKey="name"
                        optionsValue="value" empty="true" [disabled]="!ifl_switch_glseg"></cui-multiselect>
                    </div>
                    <div class="sel-wrap"  *ngIf="moduleId!=1 && moduleId!=2">
                      <cui-select name="cntyMatch"  dropdownMaxHeight="300" [required]="ifl_switch_country"
                        optionsKey="name" optionsValue="value" empty="true"
                        [(ngModel)]="sm.inputFilterLevel.countryLevel" [items]="countryMatches" [disabled]="!ifl_switch_country">
                      </cui-select>
                    </div>
                    <div class="sel-wrap"  *ngIf="moduleId!=1 && moduleId!=2">
                      <cui-select name="extTheaterMatch" dropdownMaxHeight="300" [required]="ifl_switch_ext"
                        optionsKey="name" optionsValue="value" empty="true" [(ngModel)]="sm.inputFilterLevel.externalTheaterLevel"
                        [items]="extTheaterMatches" [disabled]="!ifl_switch_ext">
                      </cui-select>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

        <div class="col-lg-6 mm-right-side" [class.disabled]="isUnallocatedGroup() || isPassThrough()"
          *ngIf="moduleId===1">
          <div class="form-group-max-width">
            <div class="border-and-padding" style="padding-bottom:58px;">
              <fieldset class="input-filter-level mm-fieldset">
                <legend>
                  <fin-checkbox class="legend-checkbox" [(model)]="sm.indicators.manualMapping" label="Manual Mapping"
                    trueVal="Y" falseVal="N" (modelChange)="mmSelect()"></fin-checkbox>
                </legend>

                <div>
                  <div class="row half-padding" style="margin-top:-10px;">
                    <div class="col-6">
                      <div class="left text-center">Hierarchy</div>
                    </div>
                    <div class="col-6">
                      <div class="right text-center">Level</div>
                    </div>
                  </div>
                  <div class="row ifl-section" [class.disabled]="!isManualMapping()">
                    <div class="col-6">
                      <div class="check-wrap">
                        <fin-checkbox [(model)]="mm_switch_ibe" label="Internal Business Entity"
                          (modelChange)="mmChange('ibe')" [disabled]="BeMmDisabled"></fin-checkbox>
                      </div>
                      <div class="check-wrap">
                        <fin-checkbox [(model)]="mm_switch_p" label="Product" (modelChange)="mmChange('p')"
                          [disabled]="ProductMmDisabled"></fin-checkbox>
                      </div>
                      <div class="check-wrap">
                        <fin-checkbox [(model)]="mm_switch_le" label="Legal Entity" (modelChange)="mmChange('le')"
                          [disabled]="LegalMmDisabled"></fin-checkbox>
                      </div>
                      <div class="check-wrap">
                        <fin-checkbox [(model)]="mm_switch_s" label="Sales" (modelChange)="mmChange('s')"
                          [disabled]="SalesMmDisabled"></fin-checkbox>
                      </div>
                      <div class="check-wrap">
                        <fin-checkbox [(model)]="mm_switch_scms" label="SCMS" (modelChange)="mmChange('scms')"
                          [disabled]="ScmsMmDisabled"></fin-checkbox>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="sel-wrap">
                        <cui-select name="ibeLevelMM" [(ngModel)]="sm.manualMapping.internalBELevel"
                          [required]="mm_switch_ibe" class="option" [items]="ibe_items" optionsKey="name"
                          optionsValue="value" empty="true" [disabled]="!mm_switch_ibe"></cui-select>
                      </div>
                      <div class="sel-wrap">
                        <cui-select name="productLevelMM" [(ngModel)]="sm.manualMapping.productLevel"
                          [required]="mm_switch_p" class="option" [items]="p_items" optionsKey="name"
                          optionsValue="value" empty="true" [disabled]="!mm_switch_p"></cui-select>
                      </div>
                      <div class="sel-wrap">
                        <cui-select name="entityLevelMM" [(ngModel)]="sm.manualMapping.entityLevel"
                          [required]="mm_switch_le" class="option" [items]="le_items" optionsKey="name"
                          optionsValue="value" empty="true" [disabled]="!mm_switch_le"></cui-select>
                      </div>
                      <div class="sel-wrap">
                        <cui-select name="salesLevelMM" [(ngModel)]="sm.manualMapping.salesLevel"
                          [required]="mm_switch_s" class="option" [items]="s_items" optionsKey="name"
                          optionsValue="value" empty="true" [disabled]="!mm_switch_s"></cui-select>
                      </div>
                      <div class="sel-wrap">
                        <cui-select name="scmsLevelMM" [(ngModel)]="sm.manualMapping.scmsLevel"
                          [required]="mm_switch_scms" class="option" [items]="scms_items" optionsKey="name"
                          optionsValue="value" empty="true" [disabled]="!mm_switch_scms"></cui-select>
                      </div>
                    </div>
                  </div>
                </div>
              </fieldset>
            </div>
          </div>
        </div>

      </div>

      <div class="row" style="margin-top:30px;" [class.disabled]="isUnallocatedGroup() || viewMode">
        <div class="col-lg-6">
          <fin-input name="startMonth" *ngIf="!effectiveMonthRequired" [(ngModel)]="startFiscalMonth"
            label="Effective Month" [disabled]="true"></fin-input>
          <cui-select *ngIf="effectiveMonthRequired" name="startMonth" [(ngModel)]="sm.startFiscalMonth"
            [items]="yearmos" [label]="!isUnallocatedGroup()?'Effective Month*':'Effective Month'" empty="true"
            [required]="!isUnallocatedGroup()" optionsKey="fiscalMonthName" optionsValue="fiscalMonth"></cui-select>

          <cui-select name="processingTime" [(ngModel)]="sm.processingTime" [items]="timings" label="Processing Timing"
            empty="true" optionsKey="name" optionsValue="name"></cui-select>

          <cui-select *ngIf="moduleId!=2 && moduleId!=3" name="pnlnodeGrouping" [(ngModel)]="sm.pnlnodeGrouping"
            [items]="pnlNodes" label="P&L Node Grouping" empty="true" optionsKey="pnlnode_grouping"
            optionsValue="pnlnode_grouping"></cui-select>
        </div>
        <div class="col-lg-6" *ngIf="moduleId!=2 && moduleId!=3">
          <fin-input name="reportingLevel{{level}}" type="text" *ngFor="let level of [1,2,3]; let idx=index;"
            [(ngModel)]="sm.reportingLevels[idx]" [disabled]="!currentMeasure.reportingLevelEnableds[idx]"
            label="Reporting Level {{level}}"></fin-input>
        </div>
      </div>

      <div class="row base-padding-top">
        <div class="col-lg-6">
          <fieldset class="rule-assoc">
            <legend>
              <span *ngIf="!viewMode" class="tooltip" data-balloon="Attach up to 15 rules" data-balloon-pos="up">
                <i class="icon-info-outline icon-small"></i>
              </span>
              Rule Association
            </legend>

            <div class="rule" *ngFor="let rule of arrRules; let idx = index;">
              <i *ngIf="sm.rules[idx]" class="icon-info-outline icon-small desc" (click)="showDescription(idx)"></i>
              <div [class.disabled]="isUnallocatedGroup() || viewMode">
                <cui-select name="rule{{idx}}" [(ngModel)]="sm.rules[idx]" class="rule-select" [items]="rules"
                  empty="true" dropdownMaxHeight="300" optionsKey="name" optionsValue="name"></cui-select>

                <i class="delete icon-exit-outline icon-small" [fxShow]="showDeleteRuleIcon()"
                  (click)="removeRule(idx)"></i>
                <i class="add icon-add-outline icon-small" [fxShow]="showAddRuleIcon()" (click)="addRule(idx)"></i>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
      <div class="row" [class.disabled]="viewMode">
        <div class="col-12">
          <div class="inline-check-row">
            <div [class.disabled]="isUnallocatedGroup()" style="display:inline-block">
              <div *ngIf="moduleId!=2 && moduleId!=3" class="form-group-check form-group-inline-20">
                <fin-checkbox label="Retained Earnings" [(model)]="sm.indicators.retainedEarnings" trueVal="Y"
                  falseVal="N"></fin-checkbox>
              </div>
              <div *ngIf="moduleId!=2 && moduleId!=3" class="form-group-check form-group-inline-20">
                <fin-checkbox label="Transition" [(model)]="sm.indicators.transition" trueVal="Y" falseVal="N">
                </fin-checkbox>
              </div>
              <div *ngIf="moduleId!=2 && moduleId!=3" class="form-group-check form-group-inline-20">
                <fin-checkbox label="2 Tier" [(model)]="sm.indicators.twoTier" trueVal="Y" falseVal="N"></fin-checkbox>
              </div>
              <div *ngIf="moduleId!=2 && moduleId!=3" class="form-group-check form-group-inline-20">
                <fin-checkbox label="Dual Gaap" [(model)]="sm.indicators.dualGaap" trueVal="Y" falseVal="N">
                </fin-checkbox>
              </div>
              <div class="form-group-check form-group-inline-20" [class.disabled]="isGroup()">
                <fin-checkbox label="Pass Through" [(model)]="sm.indicators.passThrough" trueVal="Y" falseVal="N"
                  [inline]="true" (modelChange)="handlePassThroughChange()"></fin-checkbox>
              </div>
            </div>
            <div style="display:inline-block">
              <div class="form-group-check form-group-inline-20" *ngIf="moduleId!=2 && moduleId!=3">
                <fin-checkbox label="Corporate Revenue" [(model)]="sm.indicators.corpRevenue" trueVal="Y" falseVal="N">
                </fin-checkbox>
              </div>
              <div class="form-group-check form-group-inline-20" *ngIf="moduleId!=2 && moduleId!=3">
                <fin-checkbox label="Service" [(model)]="sm.indicators.service" trueVal="Y" falseVal="N"
                  (change)="filterGroupingSubmeasuresIfService()" [inline]="true"></fin-checkbox>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="!viewMode" finAuth="super-user" class="fin-footer-buttons">
        <button type="submit" finErrorFlash cuiButton color="primary" (click)="submitForApproval()">Submit</button>
        <button type="button" cuiButton color="primary" (click)="saveToDraft()">Save Draft</button>
        <button type="button" cuiButton color="secondary" (click)="cancel()">Cancel</button>
        <button type="button" cuiButton color="secondary" (click)="reset()">Reset</button>
      </div>

      <div *ngIf="viewMode"><br><br></div>
    </div>

  </form>
</div>
