<div class="add-form-container">
  <cui-select [items]="measures" label="Measure Name" empty="true" [(ngModel)]="sm.measureName" required="true" optionsKey="name" optionsValue="name"></cui-select>
  <cui-input id="subname" type="text" [(model)]="sm.name" label="Sub-Measure Name" required="true"></cui-input>
  <cui-select [hidden]="categoriesHidden" [items]="categoryTypes" label="Submeasure Category Type" empty="true" (selectChange)="categoryTypeSelected()"></cui-select>
  <cui-input type="textarea" [(model)]="sm.description" label="Description"></cui-input>
  <cui-input type="textarea" [(model)]="sm.source" label="Source"></cui-input>
  <br><br>
  <div class="input-filter-level">
    Input Filter Level*
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div class="columnHeader" style="width: 300px; display: table-cell;">Hierarchy</div>
              <div class="columnHeader" style="width: 300px; display: table-cell;">Hierarchy Level</div>
          </div>
      </div>
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input class="switch" type="switch" [(model)]="switch_ibe" label="Internal Business Entity" (modelChange)="ibeChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="ibe_hidden" class= "option" [items]="ibe_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="ibe_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_le" label="Legal Entity" (modelChange)="leChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="le_hidden" class="option" [items]="le_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="le_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_p" label="Product" (modelChange)="pChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="p_hidden" class= "option" [items]="p_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="p_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_s" label="Sales" (modelChange)="sChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="s_hidden" class= "option" [items]="s_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="s_br_hidden">
      <div style="width: 100%; display: table;">
          <div style="display: table-row">
              <div style="width: 600px; display: table-cell;"><cui-input type="switch" [(model)]="switch_scms" label="SCMS" (modelChange)="scmsChange()"></cui-input></div>
              <div style="display: table-cell;"><cui-select [hidden]="scms_hidden" class= "option" [items]="scms_items" label="Select an item" (modelChange)="test()"></cui-select></div>
          </div>
      </div>
      <br [hidden]="scms_br_hidden">
  </div>
  <br>
  <cui-select [items]="yearmos" label="Start Fiscal Month" empty="true" [(ngModel)]="sm.startFiscalMonth" required="true" optionsKey="str" optionsValue="num"></cui-select>
  <cui-select [items]="yearmos" label="End Fiscal Month" empty="true" [(ngModel)]="sm.endFiscalMonth" required="true" optionsKey="str" optionsValue="num"></cui-select>
  <cui-select [items]="timings" label="Processing Timing" empty="true" (selectChange)="timingSelected()"></cui-select>
  <cui-select [items]="groupings" label="P&L Node Grouping" empty="true" (selectChange)="groupingSelected()"></cui-select>
  <br><br>
  Legacy Reporting Support
  <cui-input type="text" [(model)]="reportingLevel1" label="Reporting Level 1"></cui-input>
  <cui-input type="text" [(model)]="reportingLevel2" label="Reporting Level 2"></cui-input>
  <cui-input type="text" [(model)]="reportingLevel3" label="Reporting Level 3"></cui-input>
  <br><br>
  <img matTooltip="Attach up to 5 rules" matTooltipPosition="left" src="assets/img/tooltip.png" class="tooltip" width="18"> Rule Association<br>
  <div *ngFor="let rule of sm.rules; let i = index;">
    <cui-select [items]="rules" label="Associated Rule(s)" empty="true"
                [(ngModel)]="sm.rules[i]" optionsKey="name" optionsValue="name"></cui-select>
  </div>
  <button type="button" [disabled] ="sm.rules.length >= 5" (click)="addRule()">+</button>
  <button type="button" [disabled] ="!sm.rules.length" (click)="removeRule()">-</button>
  <br><br>
  <button [hidden]=true (click)="resetForm()">Reset</button>
  <button (click)="save()">Submit</button>
  <button>Cancel</button>
  <br>
</div>
