@import '../../../../../styles/_comp-index.scss';

.rule-assoc {
  position: relative;

  legend .tooltip {
    position: absolute;
    top: 0px;
    left: -23px;
  }
}

.rule {
  position: relative;
  margin-top: 13px;

  i {
    position: absolute;
    top: 11px;
    &.delete {
      right: -29px;
    }
    &.add {
      right: -56px;
    }
  }
}

