.cool.cui .header-bar__logo span.icon-cisco {
  color:#fff;
}
.cool.cui .content {
  background: #fff;
  overflow: visible;
}
.cool.cui .header {
  background: #005073;
  box-shadow: 0 1px 3px rgba(0,0,0,.15);
  position: relative;
  /* border-bottom: solid 1px rgba(0,0,0,.15); */
}
.cool.cui .header-heading .page-title {
  color: #fff;
  opacity: .75;
}
.cool.cui header ul.tabs>li,
.cool.cui header .nav-tabs>li {
  margin: 0 20px 0 0;
}
.cool.cui header ul.tabs > li > a, .cool.cui header .nav-tabs > li > a {
  color: #fff;
}
.cool.cui header ul.tabs > li.active > a, .cool.cui header ul.tabs > li:hover > a, .cool.cui header .nav-tabs > li.active > a, .cool.cui header .nav-tabs > li:hover > a {
  font-weight: normal;
  color: #fff;
  box-shadow: 0 -3px 0 #00bceb inset;
}
.cool.cui .header-toolbar a.avatar {
  color:white;
}
.cool.cui .avatar .ico-avatar {
  float: left;
  margin-right: 10px;
}
.cool.cui a.avatar span.role.userIdSpacing {
  opacity: .75;
}

.cool.cui .btn.btn--small,
.cui .btn.btn--wide {
  max-width: fit-content;
}

.cool.cui h1.page--heading {
  font-size: 26px;
  color: #333333
}

.cool.cui h2.page--subheading {
  font-size: 22px;
  display: inline-block;
}

.cool.cui .ui-datatable-scrollable-body,
.cool.cui .ui-table-scrollable-body {
  min-height: 200px;
}

.cui a:not(.btn):active,
.cui a:not(.btn):hover,
.cui a:not(.btn):focus,
.cui .link:active,
.cui .link:hover,
.cui .link:focus {
  text-decoration: none;
}

.cui .header-menus {
  position: absolute;
  bottom: 0;
  left: 25%;
  right: 0;
  text-align: center;
}

.cui .avatar span.role {
  font-size: 75%;
  display: block;
  margin-right: 24px;
}

.cui .header-toolbar .avatar {
  margin-right: 30px;
  line-height: 1;
  display: inline-block;
}

.cui .avatar span.role.userIdSpacing {
  position: relative;
  top: 4px;
  left: 0;
}

.cui .avatar span.icon-chevron-down {
  margin-left: 10px;
}

/* .cui .panel.panel--ltgray .header-toolbar {
  display: inline-block;
  text-align: right;
} */

.cool.cui .panel.panel--ltgray span.vertical-divider {
  opacity: 1;
  display: inline-block;
  border-left: solid 1px #e4e4e4;
  height: 35px;
  margin: 0px 20px;
}

.cui app-dashboard .panel.panel--ltgray h1 {
  font-size: 26px;
  margin-top: 0;
  color: #39393B;
}

.cui .panel.panel--ltgray h1 > span {
  font-size: 20px;
  margin-right: 20px;
}
.cui .panel.panel--ltgray h1 > span.action--value {
  font-weight: 300;
  font-size: 26px;
}
.cui app-menu-bar .panel.panel--ltgray.panel--compressed {
  box-shadow: inset 0 -4px 20px rgba(0,0,0,0.045);
  border-bottom: solid 1px rgba(0,0,0,0.045);
}

/* buttons */
.menu-btn {
  text-align: center;
  border: 0;
  background: transparent;
  cursor: pointer;
  margin: 5px 10px 5px 20px;
}
/* .menu-btn:last-child {
  border-left:solid 1px #39393B;
  padding-left: 25px;
} */
.menu-btn span[class*="icon-"]{
  display: block;
  width: 24px;
  height: 24px;
  margin: 10px auto 8px;
  font-size: 20px;
  font-weight: bold;
}
.cui .btn.btn--small,
.cui .btn {
  max-width: fit-content;
}
.cui .task--bar .btn {
  border-radius: 6px;
}
.cui .task--bar span.button--label {
  color: #58585b;
}
.cui .task--bar span {
  color: lightslategray;
  margin: auto 3px;
}
/* Switch */
.cui .panel.panel--ltgray.panel--compressed label.switch.switch—large {
  display: inline-block;
}
.cui .panel.panel--ltgray.panel--compressed label.switch.switch—large span.switch__input {
  margin: 13px auto;
}
.cui .switch input ~ .switch__input:after {
  background: #626469;
}
.cui .switch .switch__input {
  background: #B6B9BB;
}
/*
.cui .task--bar .btn--back.btn:hover {
  background: rgba(0, 0, 0, .15);
}

 .cui .task--bar .btn--back.btn {
  background: transparent;
}

.cui .task--bar .btn--back.btn span {
  color: #fff;
} */

.cui .mm-model-btn-inactive {
  border: 1px solid transparent;
  background: white;
  color: #666666;
  text-decoration: none;
  -webkit-box-shadow: inset 0 0 0 1px #d3d3d3;
  box-shadow: inset 0 0 0 1px #d3d3d3;
  -webkit-tap-highlight-color: transparent;
}

.cui .mm-model-btn-inactive:hover {
  background: #005073;
  color: white;
}

.cui .mm-model-btn-active {
  border: 1px solid transparent;
  background: #005073;
  color: #ffffff;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

.cui .mm-model-btn-active:hover {
  background: #005073;
}

.cui .gray-button {
  opacity: 1;
  color: #B6B9BB;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #F2F2F2;
  border: 1px solid #D3D3D3;
}

.cui .popover:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -122px;
}

.cui .popover:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 13px;
  margin-left: -123px;
}

/* tables */
.cui .ui-paginator-bottom a:not(.btn):hover,
.cui .ui-paginator-bottom .link:focus,
.cui .ui-paginator-bottom .link:hover,
.cui .ui-paginator-bottom .link:active {
  color: #fff;
}

.cui .ui-datatable-scrollable-body .ui-datatable-data,
.cui .ui-datatable-scrollable-body .ui-datatable-data>tr:first-child {
  border: transparent;
}

.cui .ui-datatable tbody>tr.ui-widget-content {
  border-color: transparent;
  border-bottom: solid 1px #f2f2f2;
}

.cui .ui-datatable tbody>tr.ui-widget-content.ui-datatable-odd {
  background-color: #fafafb;
  border-bottom: solid 1px #f2f2f2;
}

.cui .ui-datatable-scrollable-body .ui-datatable-data,
.cui .ui-datatable-scrollable-body .ui-datatable-data>tr:first-child {
  border-top-color: transparent;
  border-bottom: solid 1px #f2f2f2;
}

.cui .ui-table .ui-paginator-bottom {
  border: none;
}

.cui .ui-datatable .ui-paginator-bottom {
  border: none;
}

.cui .ui-widget-header {
  background: #f6f7f9 0 0 repeat-x;
  background: transparent;
}

.cool.cui .ui-table .ui-table-thead>tr>th,
.cool.cui .ui-table .ui-table-tbody>tr>td,
.cool.cui.ui-table .ui-table-tfoot>tr>td {
  padding: .25em .65em;
}

.cool.cui .ui-datatable .ui-datatable-data>tr>td {
  padding: .65em .5em;
}
.cool.cui .ui-datatable .ui-datatable-thead>tr>th {
  padding:10px;
}
.cui .ui-table .ui-table-tbody>tr>td {
  border: 0
}

.cui .ui-datatable .ui-datatable-thead>tr>th,
.cui .ui-table .ui-table-thead>tr>th {
  white-space: nowrap;
  font-weight: normal;
  background: #f2f2f2;
  color: #333333;
  font-size: 12px;
  text-transform: uppercase;
  /* width: 10%; */
  text-align: center;
  border-color: #ebebeb;
}
.cool.cui .table th {
  font-weight: normal;
  font-size: 12px;
}

.cui .row.card-table-header {
  border-bottom: 0;
  padding-bottom: 10px;
}

.cui .row.card-table-header span.icon-chevron-right.inline-icon {
  padding: 10px 0 10px;
  margin: auto 1em;
  font-size: 10px;
}

.cui .ui-cell-data span.icon-small {
  color: #005073;
}

.cool.cui .card,
.cool.cui a.card {
  color: #58585b;
  position: relative;
  background: #ffffff;
  box-shadow: none;
  border: 1px solid #ededed;
  padding: 10px;
  display: block;
  border-radius: 2px;
  min-height: initial;
}
.cool.cui .panel.panel--compressed.panel--bordered {
  border: 1px solid #ededed;
}

.cool.cui .card.card--raised,
.cui a.card.card--raised, .cool.cui .panel.panel--compressed.panel--bordered.panel--raised-small {
  -webkit-box-shadow: 0 10px 24px -6px rgba(0, 0, 0, 0.025);
  box-shadow: 0 10px 4px -6px rgba(0, 0, 0, 0.025);
}


.cui .ui-datatable .ui-datatable-thead>tr.tr--th-small>th,
.cui .ui-table .ui-table-thead>tr.tr--th-small>th {
  font-size: 10px;
  text-align: center;
}

.cui h1.page--heading {
  font-size: 26px;
  color: #333333;
  margin-bottom: .25em;
}

.cool.cui .ui-table .ui-sortable-column.ui-state-highlight .ui-sortable-column-icon {
  color: #1b1d1f;
}

.cool.cui .actions-notifications .ui-table .ui-table-thead>tr>th {
  outline: 0;
  padding: 1em .65em;
}

/* Tables in phase popovers  */
.cool.cui table.phase-popover {
  border-collapse: collapse;
}

.cool.cui table.phase-popover tr {
  border: solid 1px #d4d4d4;
  border-collapse: collapse;
}

.cool.cui table.phase-popover thead tr {
  border: none;
}

.cool.cui table.phase-popover tr td table tr td:first-child {
  border-left: none;
}

.cool.cui table.phase-popover tr td table tr td {
  border-bottom: dashed 1px #d4d4d4;
}

.cool.cui table.phase-popover tr td table tr:last-child td {
  border-bottom: none;
}

.cool.cui .table.phase-popover tr td:first-child {
  width: 200px;
  border-color: #d4d4d4;
}

.cool.cui .overlay-phases h6 {
  white-space: nowrap;
  padding-top: 10px;
}

/* Tree Table */
.cool.cui .item-creation .ui-treetable .ui-treetable-tbody>tr>td:first-child div.text-center {
  text-align: left!important;
  line-height: 1.25;
  padding-top: 3px;
}
.cool.cui .item-creation .ui-treetable .ui-treetable-thead th {
  font-weight: normal;
}
.cool.cui .item-creation .ui-treetable .ui-treetable-thead th:nth-child(4) {
  width:11%;
}
.cool.cui .item-creation .ui-treetable .ui-treetable-thead th:nth-child(2) {
  width:15%;
}

/* Service Mapping */
.cool.cui .service-mapping .ui-treetable .ui-treetable-tbody>tr>td:first-child div.text-center {
  text-align: left!important;
  line-height: 1.25;
  padding-top: 3px;
}
.cool.cui .service-mapping .ui-treetable .ui-treetable-tbody>tr>td:last-child {
  text-align: right!important;
}
.cool.cui .service-mapping .ui-treetable .ui-treetable-thead>tr>th:first-child div.text-center {
  text-align: left!important;
}
/* Custom 3-segment Progress Bar */
.cui .td--progress-fitted .row.no-gutters {
  padding: 0 20px;
}

.cui .progressbar__label {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  margin-bottom: -5px;
}

.cui .progressbar {
  margin: 10px 1px 20px;
  background: #dfdfdf;
  border-radius: 2rem;
  height: 7px;
}

.cui .progressbar .progressbar__fill {
  height: 7px;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar {
  width: 32%;
  display: inline-block;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:last-of-type {
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:nth-child(2) {
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:nth-child(3) {
  border-radius: 0;
  overflow: hidden;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:first-of-type .progressbar__fill {
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:last-of-type .progressbar__fill {
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}

.cui .ui-table .ui-table-tbody>tr>td .row.no-gutters .progressbar:nth-child(2) .progressbar__fill {
  border-radius: 0;
  overflow: hidden;
}

/* End Custom Progress Bar */


.cool.cui .lead-time h6.subheader {
  margin-bottom: 0;
  text-transform: uppercase;
}

.cool.cui .lead-time h6.display-6 {
  font-size: 1.26rem;
}

.cool.cui .lead-time h5.label {
  background: transparent;
  padding: 0;
}

/* Lead Time Custom 3-segment Progress Bar */
.cool.cui .progress-group {
  padding: 0 10px;
}

.cool.cui .progress-group .col-md-3 {
  padding: 0;
}

.cui .progressbar__label {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  margin-bottom: -5px;
}

.cui .progressbar {
  margin: 10px 1px 20px;
  background: #dfdfdf;
  border-radius: 2rem;
  height: 7px;
}

.cui .progressbar .progressbar__fill {
  height: 7px;
}

/* .cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar {
  width: 32%;
  display: inline-block;
} */

.cool.cui .progress-group .col-md-3:last-of-type .progressbar {
  border-radius: 0 2rem 2rem 0;

}

.cool.cui .progress-group .col-md-3:first-of-type .progressbar {
  border-radius: 2rem 0 0 2rem;

}

.cool.cui .progress-group .col-md-3:nth-child(2) .progressbar {
  border-radius: 0;

}

.cool.cui .progress-group .col-md-3:nth-child(3) .progressbar {
  border-radius: 0;

}

.cool.cui .progress-group .col-md-3:first-of-type .progressbar .progressbar__fill {
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}

.cool.cui .progress-group .col-md-3:last-of-type .progressbar .progressbar__fill {
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}

.cool.cui .progress-group .col-md-3:nth-child(3) .progressbar .progressbar__fill {
  border-radius: 0;
  overflow: hidden;
}

.cool.cui .progress-group .col-md-3:nth-child(2) .progressbar .progressbar__fill {
  border-radius: 0;
  overflow: hidden;
}

/* End Custom Progress Bar */

/* MM */
.cui .list.dimensions--toggle li {
  padding: 10px 0;
  border-bottom: solid 1px #d4d4d4;
}

.cui .dimensions--toggle button.btn.btn--small {
  margin: 5px 5px 5px 0;
}

.cui ul.tabs.tabs--bordered>li.active>a,
.cui .nav-tabs.tabs--bordered>li.active>a {
  padding: 5px 20px;
}

.cui h5 a.pull-right {
  font-size: 14px;
  padding: 5px;
}

/* phases widget */
.cool.cui .ui-steps .ui-step:before {
  height: 5px;
  top: 9px;
}

.cool.cui .ui-step.active,
.cool.cui .ui-step.visited {
  cursor: pointer;
}

.cool.cui .ui-steps {
  margin: 0;
  padding: 0;
}

.cool.cui .ui-steps .ui-step .step__label {
  font-size: 10px;
}

.cool.cui .ui-steps--tiny .ui-step .step__icon {
  width: 16px;
  min-width: 16px;
  max-width: 16px;
  height: 16px;
  line-height: 2.4rem;
  font-size: 0.9rem;
}

.cool.cui .ui-steps--tiny .ui-step.active:hover .step__icon {
  background: #51a73c;
  box-shadow: inset 0 0 0 1px #51a73c;
  box-shadow: 0 0 0 1px #51a73c;
}

.cool.cui .ui-dialog .ui-step.active {
  cursor: default;
}

.cool.cui .ui-dialog .ui-steps--tiny .ui-step.active:hover .step__icon {
  background: #6ebe4a;
  box-shadow: inset 0 0 0 1px #6ebe4a;
  box-shadow: 0 0 0 1px #6ebe4a;
}

.cool.cui .widget-header {
  font-size: 16px;
  margin: 0 0 0 -100px;
  position: absolute;
  border-left: solid 1px #d7d7d7;
  padding-left: 20px;
  line-height: 2.5;
}

.cool.cui .offerID {
  display: inline-block;
  margin: 0 0 0 5px;
  color: #005073;
  cursor: pointer;
}

.cool.cui .phase-modal .icon-close {
  position: relative;
  right: 5px;
  top: 5px;
}

.cool.cui .ui-dialog table.table.table--nostripes td {
  border-top: none;
  border-bottom: 1px #e5e5e5 solid;
}

/* font sizes */
.cui h4,
.cui .h4 {
  font-size: 22px;
  font-weight: 300;
}

/* Indigo task bar */
.cui .panel.panel--indigo.panel--loose.header-bar.base-margin-top .header-heading h1.page-title span {
  color: white
}

/* PrimeNG customized Multi Select Form Elements */
.cool.cui .ui-multiselect {
  display: block;
}
.cool.cui .ui-multiselect-filter-container .ui-inputtext {
  padding: .125em .125em .125em 1.25em;
}
.cool.cui .ui-inputtext {
  padding: .75em;
}
.cool.cui .ui-multiselect .ui-multiselect-label {
  padding: .75em;
}
.cool.cui .ui-multiselect:not(.ui-state-disabled):hover, .cool.cui .ui-dropdown:not(.ui-state-disabled):hover {
  border-color: #00bceb;
  background-color: #eeeeee;
  color: #212121;
}

.cool.cui  .ui-multiselect-trigger.ui-state-default.ui-corner-right, .cool.cui  .ui-dropdown .ui-dropdown-trigger {
  border-left: none;
}
.cool.cui .overflow-visible {
  overflow: visible;
}

/* Add All Offer Details CUstom Data Table  */
.cui.cool .add-details-dialog .ui-accordion .ui-accordion-header.ui-state-active {
  background: #fff;
}
.cool.cui .add-details-dialog ul.tabs {
  font-size: initial;
}
.cool.cui .add-details-dialog button {
  border-radius: 6px;
}
.cool.cui .icon-export--cool {
  display:inline-block;
  height: 1em;
  width: 1em;
  background: no-repeat center url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxNiAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTUuMDAwMDIgOC44TDYuMjAwMDIgMTBMMTIuOCAzLjRMMTUuNCA2TDE1LjQgMEw5LjQwMDAyIDUuMjQ1MzdlLTA3TDExLjYgMi4yTDUuMDAwMDIgOC44WiIgZmlsbD0iIzU4NTg1QiIvPgo8cGF0aCBkPSJNMTUgMTVIMFYwSDhWMkgyVjEzSDEzVjdIMTVWMTVaIiBmaWxsPSIjNTg1ODVCIi8+Cjwvc3ZnPgo=);
  background-size: cover;
}
.cool.cui .form-group__text.search-icon p-autocomplete:before {
  display: inline-block;
  content: "";
  width: 24px;
  height: 24px;
  position: absolute;
  left: 10px;
  z-index: 9;
  top: -1px;
  font-family: "cui-font";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  vertical-align: middle;
  text-indent: 0.5px;
  -webkit-font-smoothing: antialiased;
  color: #049fd9
}
.cool.cui .section-label {
  color:white;
  background:#017CAD;
}
.cool.cui .view-item-details .form-group.input--compressed .form-group__text.select:after {
  top: initial;
}
.cool.cui .view-item-details tbody {
  width: 100%;
  display: block;
}
.cool.cui .view-item-details .detail-labels {
  border-right: none;
  max-width: 310px;
  background: #fff;
  border-right: none;
  position: relative;
  z-index: 9;
}
.cool.cui .view-item-details .pid-data-columns {
  -moz-box-shadow: inset 0 0 10px rgba(0,0,0,.15);
  -webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.15);
  box-shadow: inset 0 0 10px rgba(0,0,0,.15);
  display:flex;
  overflow: scroll hidden;
  padding-left: 0;
}
.cool.cui .view-item-details .detail-labels tbody {
  max-width: 310px;
  display: block;
  background: #f7f7f7;
}
.cool.cui .view-item-details tbody tr:first-of-type {
  background-color: transparent;
}
.cool.cui .view-item-details tbody tr {
  width: 100%;
  display: block;
  overflow: visible;
}
.cool.cui .view-item-details tbody th {
  background: transparent;
}
.cool.cui .view-item-details tbody td {
  width: 100%;
  display: block;
  overflow: visible;
  max-width: 250px;
}
.cool.cui .view-item-details table.detail-labels tbody td {
  width: 100%;
  max-width: 100%;
  padding-right: 90px;
  overflow: hidden;
}
.cool.cui .view-item-details .section-label th.section-label {
  width: 100%!important;
}

.cool.cui .view-item-details .pid-data .form-group .form-group__text input.ng-touched.ng-invalid,
.cool.cui .view-item-details .pid-data .form-group .form-group__text select.ng-touched.ng-invalid,
.cool.cui .view-item-details .pid-data .form-group .form-group__text textarea.ng-touched.ng-invalid,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select input.ng-touched.ng-invalid,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select select.ng-touched.ng-invalid,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select textarea.ng-touched.ng-invalid{
    border: 1px solid #e2231a;
}
.cool.cui .view-item-details .pid-data .form-group .form-group__text input.ng-touched.ng-invalid:after {
  content: "";
  color: red;
  font-size: 1.6rem;
  bottom: 10px;
  right: 10px;
  position: absolute;
  font-family: "cui-font";
}
.cool.cui .view-item-details .pid-data .form-group .form-group__text input,
.cool.cui .view-item-details .pid-data .form-group .form-group__text select,
.cool.cui .view-item-details .pid-data .form-group .form-group__text textarea,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select input,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select select,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select textarea {
    border: 1px solid transparent;
    border-radius: 2px;
    flex: 1;
    flex-shrink: 0;
    order: 3;
    background: transparent;
    -moz-appearance: none;
    -webkit-appearance: none;
    max-width: 250px;
    width: 100%;
}
.cool.cui .view-item-details .pid-data .form-group .form-group__text input:focus{
    border: 1px solid #00bceb;
}

.cool.cui .view-item-details .pid-data .form-group .form-group__text input:hover,
.cool.cui .view-item-details .pid-data .form-group .form-group__text select:hover,
.cool.cui .view-item-details .pid-data .form-group .form-group__text textarea:hover,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select input:hover,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select select:hover,
.cool.cui .view-item-details .pid-data .form-group .form-group__text.select textarea:hover {
    border: 1px solid #00bceb;
    border-radius: 2px;
    flex: 1;
    flex-shrink: 0;
    order: 3;
    background: white;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.cool.cui .view-item-details .pid-data  p-multiselect .ui-state-default {
  border: 1px solid transparent;
  background-color: transparent;
}
.cool.cui .view-item-details .pid-data  p-multiselect .ui-multiselect-filter-container .ui-state-default {
  border: 1px solid #d6d6d6;
  background-color: transparent;
  color: #555555;
}
.cool.cui .view-item-details .pid-data  p-multiselect .ui-chkbox.ui-widget .ui-state-default {
  border: 1px solid #d6d6d6;
  background-color: transparent;
}
.cool.cui .view-item-details .pid-data  p-multiselect .ui-state-default:hover {
  border: 1px solid #00bceb;
  background-color: #ffffff;
  color: #555555;
}

.cool.cui .view-item-details .pid-data .ui-multiselect .ui-multiselect-label {
  padding: .5em;
  background-color: transparent;
}
.cool.cui p-dialog.add-details-dialog .ui-dialog {
  max-width: 100%;
  width: 100%;
}
.cool.cui p-dialog.add-details-dialog .ui-dialog .pi-chevron-down:before {
  content: "\e902";
  color: #9e9ea2;
  font-size: 16px;
  font-weight: lighter;
}
.cool.cui p-dialog.add-details-dialog .ui-dialog .ui-multiselect .ui-multiselect-trigger {
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
  cursor: pointer;
  width: 1.5em;
  height: 100%;
  position: absolute;
  right: 6px;
  top: 0;
  padding: 0 .25em;
}
.cool.cui .nav-tabs {
  box-shadow: none;
}

/* Estimated Lead Time Ribbon */
.cool.cui .ribbon:hover button {
  color: #000;
}

.cool.cui .ribbon:hover {
  padding-right: 20px;
  -webkit-transition: all .175s ease-out;
  /* Safari */
  transition: all .175s ease-out;
}

.cool.cui .ribbon {
  background: #ffcc00;
  width: auto;
  display: inline-block;
  padding: 0 10px 0 0;
  margin: auto;
  position: relative;
  color: #39393b;
  text-align: center;
  -webkit-transition: all .175s ease-out;
  /* Safari */
  transition: all .175s ease-out;
}

.cool.cui .ribbon:after {
  content: '';
  border: 15px solid #ffcc00;
  border-right-color: transparent;
  border-right-width: 10px;
  position: absolute;
  top: 0;
  right: -15px;
}

.cool.cui .ribbon button {
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.cool.cui .ribbon button:hover {
  color: #000;
}

.cool.cui .ribbon.label--warning-alt {
  background: #ffcc00;
  color: #39393b;
  font-size: 16px;
  display: inline-block;
  line-height: 1.2;
  position: relative;
  left: -6px;
  padding-left: 15px;
  height: 30px;
}

.cool.cui .ribbon.label--warning-alt strong {
  font-size: 22px;
}

/* Form Elements */
.cool.cui input[type="number"] {
  min-height: 40px;
}

.cool.cui .ui-multiselect {
  display: block;
}

/* date picker */
.cui .theme-blue .bs-datepicker-head {
  background-color: #5bc0de;
}

.cui .theme-blue .bs-datepicker-head button {
  color: white;
}

.cui .theme-blue .bs-datepicker-head {
  background-color: #005073;
}

.cui .theme-green .bs-datepicker-head {
  background-color: #005073;
}

/* Strategy Review */
.cui span.ui-accordion-toggle-icon.fa.fa-fw.fa-caret-right,
.cui span.ui-accordion-toggle-icon.fa.fa-fw.fa-caret-down {
  position: absolute;
  top: 15px;
}

.cui span.ui-accordion-header-text {
  padding-left: 20px;
}

.cui .ui-accordion .ui-accordion-header {
  line-height: 2;
  margin-top: 2px;
}

.cool.cui .review-status .btn {
  border-radius: 6px;
}

span.icon-trash:hover {
  color: #005073;
  cursor: pointer;
}

span.icon-trash {
  color: #017cad;
}

.accordion-col-heading {
  text-transform: uppercase;
  margin: 20px 20px 0;
}

h6.flex-center-vertical {
  border-left: solid 1px #DEDEDE;
  padding-left: 30px;
}


span[class*="display-"] {
  padding-right: 10px;
}

.cool.cui .stakeholders .member {
  margin-bottom: 5px;
  border-bottom: solid 1px #f2f2f2;
  padding-bottom: 5px;
}
.cool.cui .stakeholders .member:last-child {
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

/* .cool.cui .stakeholders span.ui-accordion-header-text {
  font-size: 2rem;
  font-weight: 100;
  color: #58585b;
  padding-left: 20px;
}

.cool.cui .stakeholders {
  padding: 0;
}

.cool.cui .stakeholders ul li {
  border-bottom: 1px solid #dfdfdf;
}

.cool.cui .stakeholders ul li:last-child {
  border-bottom: none;
}

.cool.cui .stakeholders .ui-accordion .ui-accordion-header {
  margin-top: 0;
}

.cool.cui .stakeholders h5 {
  margin: 1em;
} */

/* modals */
.cool.cui span.icon-close {
  cursor: pointer;
  color: #017CAD
}

.cool.cui span.icon-close:hover {
  cursor: pointer;
  color: #016a94;
}

.cool.cui .ui-overlaypanel-close {
  position: absolute;
  top: 0em;
  right: 0em;
  width: 3em;
  height: 3em;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
}

.cool.cui span.ui-overlaypanel-close-icon {
  font-size: 20px;
  line-height: 2;
}

.cool.cui h1.modalheader {
  color: #333;
  font-size: 18px
}

.cool.cui .action-bar {
  line-height: 4;
}

.cool.cui .action-bar label {
  cursor: pointer;
  color: #017CAD
}

.cool.cui .action-bar label:hover {
  color: #016a94;
}

.form-actions {
  display: block;
  width: 100%;
}


.add-comment-field+.action-bar {
  display: none;
}


/* buttons */
.btn.btn--transparent {
  background:transparent;
  color:#017CAD;
}
.btn.btn--transparent:hover {
  background:rgba(0,0,0,.05);
  color:#035073;
}
.cool.cui header .header-toolbar .btn,
.cool.cui .dimensions--toggle .btn {
  border-radius: 30px;
}

.cool.cui .btn--cool {
  border-radius: 6px;
}
.cool.cui .btns.btn-group--wide>.btn,
.cool.cui .btn-group.btn-group--wide>.btn {
  border-radius: 0;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.cool.cui .btns.btn-group--wide>.btn:last-child,
.cool.cui .btn-group.btn-group--wide>.btn:last-child {
  border-radius: 0;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
}
button.btn.btn--secondary:hover span {
  color: #fff;
}

.comments-modal {
  min-width: 600px;
  max-width: 600px;
}
/* .cui .task--bar .btn span {
  color: #fff;
} */

/* Strategy Review Status   */
.cui .review-status .ui-accordion .ui-accordion-content {
  padding: 1em;
  border-top: 0;
  overflow: visible;
  zoom: 1;
  background: #f5f5f5;
}

.cui .ui-accordion .ui-accordion-header {
  background: #e8e8e8;
  border-top: none;
}

.cui .ui-accordion-header.ui-state-default {
  border: none;
  background: #f6f7f9;
  color: #555555;
  border-bottom: solid 1px #e8e8e8;
}

.cui .ui-accordion .ui-accordion-header.ui-state-active {
  background: #f5f5f5;
  border-left-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 0;
  margin-bottom: 0;
}

.cui .review-status .panel--ltgray {
  margin: -10px -10px 0 -10px;
}

.review-status .ui-accordion .ui-accordion-toggle-icon {
  position: absolute;
  top: 15px;
}

.review-status .ui-accordion span[class*="icon-"] {
  line-height: 2.258rem;
  font-size: 2.258rem;
  margin-right: 5px;
}

.icon-message:before {
  color: #017CAD;
  vertical-align: middle;
}

.cool.cui [data-balloon][data-balloon-success][data-balloon]:after {
  background: white;
  color: #666666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
  z-index: 9999;
}

.cool.cui [data-balloon][data-balloon-success][data-balloon]:before {
  background: no-repeat url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http://www.w3.org/2000/svg%22%20width%3D%2236px%22%20height%3D%2212px%22%3E%3Cpath%20fill%3D%22rgba(255, 255,255, 0.95)%22%20transform%3D%22rotate(0)%22%20d%3D%22M2.658,0.000%20C-13.615,0.000%2050.938,0.000%2034.662,0.000%20C28.662,0.000%2023.035,12.002%2018.660,12.002%20C14.285,12.002%208.594,0.000%202.658,0.000%20Z%22/%3E%3C/svg%3E");
  background-size: 100% auto;
  width: 18px;
  height: 6px;
  z-index: 10000;
}

/* Offer Detail */
.offer-detail {
  width: 975px;
  min-height: 250px;
  font-size: 16px;
  border-radius: 10px;
}
.offer-detail .display-6 {
  font-size: 18px;
  font-weight: 200;
}
.align-status {
  color: #6EBE4A;
  display: inline-block;
}
.align-type {
  display: inline-block;
  color:#fff;
}
.align-status svg {
  width: 22px;
  height: 22px;
  position: absolute;
}
.overall-status {
  text-transform: uppercase;
}
/* .cool.cui .offer-header.card .row:last-child div[class*="col-"] {
  border-bottom: none;
}

.offer-header.card *[class^='col-'] {
  border-bottom: 1px solid #ededed;
  border-collapse: collapse;
  border-right: 1px solid #ededed;
  padding: 10px;
} */

.cui .timeline__icon {
  border-radius: 50%;
  width: 34px;
  height: 34px;
  position: absolute;
  left: 5px;
  z-index: 2;
  border: 5px solid #f5f5f6;
  background-color: #6ebe4a;
  color: white;
  line-height: 1;
  top: 2px;
}

.cui .timeline__icon span {
  left: 4px;
  top: 3px;
}

.logo-cool-full {
  display: none;
}

.logo-cool {
  display: inline-block;
}

/* Hamburger Flyout */
#flyoutmenu[_ngcontent-c5] ul[_ngcontent-c5] li.hover[_ngcontent-c5],
#flyoutmenu[_ngcontent-c5] ul[_ngcontent-c5] li[_ngcontent-c5]:hover {
  cursor: pointer;
}



.cui table .ui-widget-content span.ui-cell-data {
  word-break: break-word;
  white-space: pre-wrap;
}

/* PrimeNG */

/* Overlay */
.cool.cui .ui-overlaypanel {
  padding: 0;
  margin: 0;
  position: absolute;
  margin-top: 10px;
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
}

.cool.cui header .ui-overlaypanel {
  padding: 0;
  margin: 0;
  position: absolute;
  margin-top: 10px;
  box-shadow: 0 5px 20px 0px rgba(0, 0, 0, 0.3);
}

.cool.cui .content .ui-dialog.ui-shadow {
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
}

.cool.cui .ui-shadow {
  box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.3);
}

/* dialog */
/* .cool.cui .ui-dialog {
  position: absolute;
  padding: 0;
  max-height: 80vh;
  overflow: auto;
  left: -200%!important;
  top: -30%!important;
} */
.cool.cui .overlay-phases {
  min-width: 900px;
}

/* helpers */
.ui-widget {
  font-family: "CiscoSans", "Arial", sans-serif!important;
}
.btns-right .btn + .btn {
  margin-right: 10px;
}
.btns-right {
  width: 40%;
  direction: rtl;
}
.text-justify {
  text-align: justify;
}
.borderless {
  border: none !important;
}

.relative {
  position: relative !important;
}

.divider.divider--compressed.comments {
  border-top: solid 1px #f4f4f4;
}

.cool.cui span.icon-comment:hover {
  cursor: pointer;
  color: #005073;
}

.cool.cui app-menu-bar .ui-overlaypanel-content {
  padding: 0;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  background: transparent;
}
app-menu-bar .ui-overlaypanel {
  border-radius: 10px;
}

.cool.cui .ui-overlaypanel-content .popover__body[_ngcontent-c5] {
  padding-top: 0;
}

.cool.cui .text-darkgray {
  color: #58585B;
}

.cool.cui header .header-toolbar .ui-accordion .ui-accordion-content.ui-widget-content {
  padding: 0 1em .5em 1em;
  border-top: solid 1px #d4d4d4;
  border-bottom: solid 1px #d4d4d4;
}

.cool.cui header .header-toolbar .ui-accordion-content li {
  border-bottom: dashed 1px #d2d2d2;
}

.cool.cui header .header-toolbar .ui-accordion-content li:last-child {
  border-bottom: none;
}

.cool.cui header .header-toolbar .ui-accordion-content li {
  line-height: 2.5;
}

.cool.cui header .header-toolbar .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
  background-color: transparent;
  border: none;
  color: #005073;
}

.cool.cui header .header-toolbar .ui-accordion .ui-accordion-header.ui-state-default a {
  padding: 0;
  border: none;
  border-bottom: none;
  color: #005073;
  background-color: transparent;
  font-weight: 400;
  -moz-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}

.cool.cui header .header-toolbar .ui-accordion-header.ui-state-default {
  border: none;
  background: transparent;
  color: #555555;
}

.cool.cui header .header-toolbar .ui-overlaypanel {
  margin-left: 15px;
  margin-top: 5px;
  border-radius: 10px;
  border: none;
}

.cool.cui header .header-toolbar .ui-overlaypanel:after {
  border-width: 8px;
  margin-left: -8px;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #ffffff;
  right: 20px;
  left: initial;
}

.cool.cui header .header-toolbar .ui-overlaypanel:before {
  border-width: 10px;
  margin-left: -10px;
  border-color: rgba(200, 200, 200, 0);
  /* border-bottom-color: #c8c8c8; */
  right: 12px;
  left: initial;
}

.cool.cui .one-third-width {
  width: 33%;
}

.cool.cui .one-qtr-width {
  width: 25%;
}

.cool.cui .ui-paginator .ui-paginator-page.ui-state-active {
  display: inline-block;
}

/* Offer Solutioning */
.cool.cui .solutioning .card .card__header {
  margin: -10px;
  padding: 10px 10px 5px;
  background-color: #f5f5f5;
}

.cool.cui .subgroup-name {
  text-transform: uppercase;
}

.cool.cui .toggle--label {
  text-transform: uppercase;
}

.cool.cui span.sub--label {
  display: block;
  font-size: 10px;
}

.cool.cui .solutioning .list.dimensions--toggle li {
  padding: 10px 0;
  border-bottom: dashed 1px #dadada;
}

.cool.cui .subheader {
  text-transform: capitalize;
  font-weight: normal;
}

.cool.cui .dimensions-questions {
  margin: 20px auto;
}

/* Offer Construct */
/* tree table styles */
.cool.cui .offer-construct-container button.borderless {
  cursor: pointer;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.cool.cui .offer-construct-container button.borderless:hover span {
  color: #00bceb;
}

button.pull-right.borderless[disabled] {
  opacity: .35;
}

.cool.cui .offer-construct-container .canvas .ui-treetable .ui-treetable-thead>tr>th:first-child {
  width: 50%;
}

.cool.cui .offer-construct-container .canvas .ui-treetable .ui-treetable-thead>tr>th {
  border: 0 !important;
  background-color: #f7f7f7;
  font-weight: normal;
  font-size: 14px;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr:first-child {
  background: #ffffff;
  color: #333333;
  border-bottom: solid 1px #cacaca;
  text-transform: capitalize;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr {
  background: #ffffff;
  color: #333333;
  border-bottom: dashed 1px #cacaca;
  text-transform: capitalize;
  line-height: 2;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr.bold-row {
  background: #ffffff;
  color: #333333;
  border-bottom: solid 1px #cacaca;
  text-transform: capitalize;
  line-height: 2;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr>td {
  border: transparent;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr:hover {
  cursor: pointer;
  background-color: #E6F3FA;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr td a.remove {
  opacity: 0;
}

.cool.cui .ui-treetable .ui-treetable-tbody>tr:hover td a.remove {
  opacity: 1;
}

/* OAS */
.cool.cui .card-title .gauge.gauge--x-small {
  width: 30px;
  height: 30px;
  top: -8px;
}

.cool.cui .card-title .gauge.gauge--x-small .gauge__inset {
  width: 26px;
  height: 26px;
  margin-left: 2px;
  margin-top: 2px;

}

.cool.cui .card-title .gauge.gauge--x-small .gauge__circle .mask,
.cool.cui .card-title .gauge.gauge--x-small .gauge__circle .fill,
.cool.cui .card-title .gauge.gauge--x-small .gauge__circle .shadow {
  width: 32px;
  height: 32px;
}

.cool.cui .oas .gauge.gauge--x-small .gauge__circle .mask .fill {
  clip: rect(0, 15px, 30px, 0);
}

.cool.cui .gauge.gauge--x-small .gauge__inset .gauge__percentage {
  font-size: 1.5rem;
  font-weight: 300;
}

.cool.cui .oas .card h3.card-title {
  background: #f2f2f2;
  margin: -10px 0 0;
  padding: 10px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  color: #585858;
}

.cool.cui .oas .card {
  padding: 10px 0 0;
  overflow: hidden;
}

.cool.cui .oas .ui-accordion-content.ui-widget-content {
  box-shadow: 0 2px 10px rgba(0, 0, 0, .25);
}

.cool.cui .oas hr.divider {
  border-top: none;
  border-bottom: 1px dashed #b6b9bb;
  height: auto;
  margin: 10px 0;
}

.cool.cui .oas .ui-accordion-header.ui-state-default {
  background: transparent;
  border-bottom: solid 1px #e8e8e8;
  border-radius: 0;
}

.cool.cui .oas .ui-accordion-header.ui-state-default.ui-corner-all.ui-state-active {
  background: #E6F3FA;
  border-bottom: solid 1px transparent
}

.cool.cui .oas .ui-accordion .ui-accordion-header {
  margin-top: 0;
}

.cool.cui .oas .btn-group.btn-group--square .btn {
  border-radius: 0;
  margin: 0;
  width: 50%;
  max-width: 100%;
}

.cool.cui .oas .btn {
  border-radius: 30px;
  margin: 2px;
}

.cool.cui .oas .ui-accordion .ui-accordion-header:not(.ui-state-active):not(.ui-state-disabled):hover {
  border-color: transparent;
}

.cool.cui p-dialog.lead-time .ui-dialog.ui-widget .ui-dialog-titlebar {
  cursor: -webkit-move;
  cursor: move;
}

.cool.cui p-dialog.lead-time .ui-dialog.ui-widget .ui-dialog-titlebar:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.cool.cui p-dialog.lead-time .ui-dialog.ui-widget .ui-dialog-content {
  padding-top: 0;
}

.cool.cui .oas blockquote {
  padding: 0;
}

.cool.cui .oas .form-group--label {
  text-transform: uppercase;
  font-weight: normal;
  color: #585858
}

.cool.cui .card .oas .card__subtitle.display-6 {
  font-size: 32px;
  line-height: 1;
}

.cool.cui .ui-dialog .overlay-phases table.table.table--nostripes td {
  border-bottom: dashed 1px #d4d4d4;
}

.cool.cui .ui-dialog .overlay-phases table.table.table--nostripes tr th {
  border-bottom: solid 1px #ccc;
}

/* Custom Icons */
.icon-expand:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxOCAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTguMzc2OTUgOS42NDk2Nkw3LjAzNjY0IDguMzk0NjhMMi43OTI0MyAxMi4xNTk3TC0xLjQ5MTY5ZS0wOCA5LjY0OTQyTC04Ljk1MTYxZS0wOCAxNS45MjQzTDYuNzAxNTYgMTUuOTI0M0w0LjEzMjc0IDEzLjQxNDdMOC4zNzY5NSA5LjY0OTY2WiIgZmlsbD0iIzU4NTg1QiIvPgo8cGF0aCBkPSJNOC45MzU0MyA2LjUxMTk2TDEwLjI3NTcgNy43NjY5NEwxNC41MiA0LjAwMTkyTDE3LjMxMjQgNi41MTIyTDE3LjMxMjQgMC4yMzczMTRMMTAuNjEwOCAwLjIzNzMxNUwxMy4xNzk2IDIuNzQ2OTRMOC45MzU0MyA2LjUxMTk2WiIgZmlsbD0iIzU4NTg1QiIvPgo8L3N2Zz4K) no-repeat left center;
  content: '';
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
}

.icon-collapse:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTkiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOSAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTQuNzk5NzdlLTA2IDE2LjY2OTNMMS4zNDAzMiAxNy45MjQzTDUuNTg0NTMgMTQuMTU5Mkw4LjM3Njk1IDE2LjY2OTVMOC4zNzY5NSAxMC4zOTQ2TDEuNjc1MzkgMTAuMzk0Nkw0LjI0NDIyIDEyLjkwNDNMNC43OTk3N2UtMDYgMTYuNjY5M1oiIGZpbGw9IiM1ODU4NUIiLz4KPHBhdGggZD0iTTE4LjMxMjQgMS40OTIyOEwxNi45NzIxIDAuMjM3MzA1TDEyLjcyNzkgNC4wMDIzMkw5LjkzNTQ5IDEuNDkyMDRMOS45MzU0OSA3Ljc2NjkzTDE2LjYzNyA3Ljc2NjkzTDE0LjA2ODIgNS4yNTczTDE4LjMxMjQgMS40OTIyOFoiIGZpbGw9IiM1ODU4NUIiLz4KPC9zdmc+Cg==) no-repeat left center;
  content: '';
  height: 1.8rem;
  width: 1.8rem;
  display: inline-block;
}

.cool.cui .ui-tooltip .ui-tooltip-text {
  background-color: white;
  color: black;
}

.ui-tooltip .ui-tooltip-text:before,
.ui-tooltip .ui-tooltip-text:after {
  border-color: white;
}

span.icon-expand.icon-small:hover,
span.icon-collapse.icon-small:hover {
  opacity: .5;
}

.cool.cui .ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
  color: black;
}

.cool.cui .ui-datatable tbody>tr.ui-widget-content.ui-state-highlight {
  background-color: inherit;
  color: black;
}

/* Custom Icons */
/* In-Progress */
.cool.cui span.in-progress {
  width:24px;
  height:24px;
  background-color:#FBAB18;
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
}
.cool.cui span.in-progress:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTciIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxNyAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEuMTY3MjkgNS4yMDI5NUwzLjgwODg1IDcuNTUyMUw5Ljk5MzMxIDEiIHN0cm9rZT0id2hpdGUiIHN0cm9rZS13aWR0aD0iMS41Ii8+CjxyZWN0IHg9IjExLjUzOTEiIHk9IjMuODkxNjgiIHdpZHRoPSI0LjAxOTU4IiBoZWlnaHQ9IjEiIHJ4PSIwLjUiIGZpbGw9IiM2NjY2NjYiIHN0cm9rZT0id2hpdGUiLz4KPHJlY3QgeD0iNy41MjM0NCIgeT0iNy44OTE2OCIgd2lkdGg9IjguMDM1MjQiIGhlaWdodD0iMSIgcng9IjAuNSIgZmlsbD0iIzY2NjY2NiIgc3Ryb2tlPSJ3aGl0ZSIvPgo8L3N2Zz4K) no-repeat center;
  content: '';
  height: 24px;
  width: 24px;
  display: inline-block;
}
/* Milestone */
.cool.cui span.milestone {
  width:24px;
  height:24px;
  background-color:#9E9EA2;
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
}
.cool.cui span.milestone:before {
  background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTUiIHZpZXdCb3g9IjAgMCAxMyAxNSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTMgMS42Mjk1NEwzIDguMzkzNDNDMyA5LjEzNDAzIDMuNzc3IDkuNjE3NjcgNC40NDE1MSA5LjI5MDY5TDExLjIwNTQgNS45NjI0M0MxMS45NDQ4IDUuNTk4NTkgMTEuOTUxNSA0LjU0Njc4IDExLjIxNjggNC4xNzM1OUw0LjQ1Mjg3IDAuNzM3OTY0QzMuNzg3NjEgMC40MDAwNTggMyAwLjg4MzM5MiAzIDEuNjI5NTRaIiBmaWxsPSJ3aGl0ZSIvPgo8cGF0aCBkPSJNMSAxVjE0IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIvPgo8L3N2Zz4K) no-repeat center;
  content: '';
  height: 24px;
  width: 24px;
  display: inline-block;
}
/* Completed */
.cool.cui span.completed {
  width:24px;
  height:24px;
  background-color:#6ebe4a;
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
  color:#fff;
  line-height: 24px;
  text-align: center;
  vertical-align: bottom;
}
/* Available */
.cool.cui span.available {
  width:24px;
  height:24px;
  background-color:#017CAD;
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
  color:#fff;
}
/* Not Available */
.cool.cui span.not-available {
  width:24px;
  height:24px;
  background-color:#fff;
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
  border: 1px solid #999999;
}
/* Not Required */
.cool.cui span.not-required {
  width:24px;
  height:24px;
  background: rgba(76, 76, 76, 0.1);
  overflow: hidden;
  border-radius: 24px;
  display: inline-block;
}

/* CSDL */
.cool.cui .radio span.radio__label {
  font-size: 18px;
  color: #39393B;
  top:initial;
}
.cool.cui .subheader span.icon-lock.text-dkgray-4 {
  font-size: 16px;
  line-height: 1;
  margin-top: -4px;
}
.cool.cui .ui-dialog-content.ui-widget-content .modal__content {
  text-align: center;
  color:#7F7F86;
}
.cool.cui .subheader.text-indigo {
  font-size:18px;
  font-weight:bold;
}

@media (min-width: 1200px) {
  .cool.cui .header-bar__main span.vertical-divider {
    margin: 10px 40px;
  }
}

@media (min-width: 1200px) {
  .logo-cool-full {
    display: inline-block;
  }

  .logo-cool {
    display: none;
  }

}
