.cui .header-menus {
  position: absolute;
  bottom: 0;
  left: 40%;
  right: 0;
}
.cui .avatar span.role {
  font-size: 75%;
  display: block;
  text-align: right;
  margin-right: 24px;
}
.cui .header-toolbar .avatar {
  margin-right: 30px;
  line-height: 1;
}
.cui .avatar span.role.userIdSpacing[_ngcontent-c1] {
  position: relative;
  top: 4px;
  left: 0;
}
.cui .avatar span.icon-chevron-down {
  margin-left: 10px;
}
.cui .panel.panel--indigo.panel--loose.header-bar.base-margin-top {
  height: 57px;
}
/* buttons */
.cui .btn.btn--small,
.cui .btn {
  max-width: fit-content;
}
.cui .task--bar .btn {
  border-radius: 6px;
}
.cui .popover[_ngcontent-c4]:after {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -122px;
}
.cui .popover[_ngcontent-c4]:before {
  border-color: rgba(194, 225, 245, 0);
  border-bottom-color: #d8d8d8;
  border-width: 13px;
  margin-left: -123px;
}
.cui .responsive-table {
  overflow: visible;
}
.cui .responsive-table .ui-datatable-scrollable-body {
  overflow: visible;
}
.cui .ui-table .ui-table-tbody > tr > td {
  border: 0
}
.cui .ui-datatable .ui-datatable-thead>tr>th, .cui .ui-table .ui-table-thead>tr>th {
  white-space: nowrap;
  font-weight: normal;
  background: #EAEAEa;
  color: #333333;
  font-size: 12px;
}
.cui .row.card-table-header[_ngcontent-c4] {
  border-bottom: 0;
  padding-bottom: 10px;
}
.cui .row.card-table-header span.icon-chevron-right.inline-icon[_ngcontent-c4] {
  padding: 10px 0 10px;
  margin: auto 1em;
  font-size: 10px;
}
.cui .ui-cell-data span.icon-small {
  color: #005073;
}
.cui .card.card--raised, .cui a.card.card--raised {
  -webkit-box-shadow: 0 10px 24px -6px rgba(0, 0, 0, 0.25);
  box-shadow: 0 10px 4px -6px rgba(0, 0, 0, 0.075);
}
.cui .ui-datatable .ui-datatable-thead>tr.tr--th-small>th, .cui .ui-table .ui-table-thead>tr.tr--th-small>th {
  font-size:10px;
  text-align: center;
}
.cui h1.page--heading {
  font-size: 26px;
  color: #333333;
  margin-bottom: .25em;
}
/* Custom 3-segment Progress Bar */
.cui .progressbar__label {
  display: block;
  margin-top: 10px;
  font-size: 10px;
  margin-bottom: -5px;
}
.cui .progressbar {
  margin: 10px 1px 20px;
  background: #dfdfdf;
  border-radius: 2rem;
  height: 7px;
}
.cui .progressbar .progressbar__fill {
  height: 7px;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar {
  width: 32%;
  display: inline-block;
}

.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:last-of-type {
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:nth-child(2) {
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:nth-child(3) {
  border-radius: 0;
  overflow: hidden;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:first-of-type .progressbar__fill {
  border-radius: 2rem 0 0 2rem;
  overflow: hidden;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:last-of-type .progressbar__fill {
  border-radius: 0 2rem 2rem 0;
  overflow: hidden;
}
.cui .ui-table .ui-table-tbody > tr > td .row.no-gutters .progressbar:nth-child(2) .progressbar__fill {
  border-radius: 0;
  overflow: hidden;
}
/* End Custom Progress Bar */

/* MM */
.list.dimensions--toggle[_ngcontent-c4] li[_ngcontent-c4] {
  padding: 0;
}
