<div class="fin-container">

  <div class="row">
    <div class="col-lg-9">

      <div class="row" *ngFor="let module of modules;let i = index;">
        <div class="col-4">
          <div class="module-name">
            {{module.name}}
          </div>
        </div>

        <div class="col-8">
          <cui-select [items]="sources[i] || []" [multiSelect]="true" [(ngModel)]="selectedSources[i]"
                      optionsKey="name" optionsValue="sourceId"></cui-select>
          <!--<pre>{{selectedSources[i]|json}}</pre>-->
        </div>
      </div>
      <div class="fin-footer-buttons">
        <button cuiButton [small]="true" color="primary" (click)="save()">Submit</button>
      </div>
    </div>
  </div>
</div>
