
<div class="fin-container">

  <div fxLayout="row">
    <div class="show">Show:    </div>
    <fin-checkbox label="Rules" [(model)]="showRules" [inline]="true"></fin-checkbox>
    <fin-checkbox label="Submeasures" [(model)]="showSubmeasures" [inline]="true"></fin-checkbox>
    <span class="info">(Once it's approved or rejected, system should send email notifications to requester and email alias dfa-ppmt@cisco.com)</span>
  </div>


  <div *ngIf="showRules">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput (keyup)="applyRuleFilter($event.target.value)" placeholder="Search Rules">
      </mat-form-field>
      <div>
        <button cuiButton color="primary" (click)="approveRules()" [disabled]="this.ruleSelection.isEmpty()">Approve</button>
        <button cuiButton color="secondary" (click)="rejectRules()" [disabled]="this.ruleSelection.isEmpty()">Reject</button>
      </div>
    </div>

    <div class="mat-elevation-z8">

      <mat-table [dataSource]="ruleDataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? ruleMasterToggle() : null"
                          [indeterminate]="ruleSelection.hasValue()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? ruleSelection.toggle(row) : null"
                          [checked]="ruleSelection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>


        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell (click)="openRuleDialog(row)" *matCellDef="let row">
            <a>{{row.name}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="driver">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Driver</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.driverName}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="period">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Period</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.period}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submitted By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.updatedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submitted</mat-header-cell>
          <mat-cell *matCellDef="let row">{{moment(row.updatedDate).format('MM/DD/YYYY hh:mm A')}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="ruleColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ruleColumns;"></mat-row>
      </mat-table>

      <mat-paginator #rulePaginator
                     [length]="rules?.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
    <br>
    <br>
    <br>
  </div>

  <div *ngIf="showSubmeasures">
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <mat-form-field>
        <input matInput (keyup)="applySubmeasureFilter($event.target.value)" placeholder="Search Submeasures">
      </mat-form-field>
      <div>
        <button cuiButton color="primary" (click)="approveSubmeasures()" [disabled]="this.submeasureSelection.isEmpty()">Approve</button>
        <button cuiButton color="secondary" (click)="rejectSubmeasures()" [disabled]="this.submeasureSelection.isEmpty()">Reject</button>

      </div>
    </div>

    <div class="mat-elevation-z8">

      <mat-table [dataSource]="submeasureDataSource" matSort>

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Checkbox Column -->
        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef>
           <mat-checkbox (change)="$event ? submeasureMasterToggle() : null"
                          [indeterminate]="submeasureSelection.hasValue()">
            </mat-checkbox>
          </th>
          <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()"
                          (change)="$event ? submeasureSelection.toggle(row) : null"
                          [checked]="submeasureSelection.isSelected(row)">
            </mat-checkbox>
          </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
          <mat-cell (click)="openSubmeasureDialog(row)" *matCellDef="let row">
            <a>{{row.name}}</a>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="measure">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Measure</mat-header-cell>
          <mat-cell *matCellDef="let row">{{measureNameMap.get(row.measureId)}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="rulelist">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Associated Rules</mat-header-cell><mat-cell *matCellDef="let row">
            <div class="text-ellipsis" matTooltip="{{row.rules.join('\n')}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{row.rules}}</div></mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedBy">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submitted By</mat-header-cell>
          <mat-cell *matCellDef="let row">{{row.updatedBy}}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="updatedDate">
          <mat-header-cell *matHeaderCellDef mat-sort-header>Submitted</mat-header-cell>
          <mat-cell *matCellDef="let row">{{moment(row.updatedDate).format('MM/DD/YYYY hh:mm A')}}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="submeasureColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: submeasureColumns;"></mat-row>
      </mat-table>

      <mat-paginator #subPaginator
                     [length]="submeasures?.length"
                     [pageSize]="10"
                     [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>



