<div class="content">
    <div class="container">
      <app-menu-bar [offerId]="offerId" [caseId]="caseId" [offerName]="offerName" [stakeData]="stakeData"
        [currentMMModel]="derivedMM" (updateMessage)="updateMessage($event)">
      </app-menu-bar>
      <div class="panel-wrapper mt-15">
          <!-- <app-taskbar [isPirateShipSubModule]="isPirateShipSubModule" [pirateShipModuleName]="pirateShipModuleName"></app-taskbar>
          <br><br> -->
        <div class="panel panel--indigo panel--compressed task--bar panel-wrapper mt-15">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="page--subheading"><button class="btn--back btn btn--icon btn--white"
                    (click)="goBackToOfferSetup()"><span class="icon-back"></span></button>
                  CSDL</h2>
              </div>
            </div>
          </div><br><br>
        <div class="contentBox mt-10">
          <div class="leftContent">
            <div class="row">
              <div class="col-md-12">
                <h3 style="color: mediumblue">Is CSDL Required?</h3>
                <p>CSDL - Cisco Security Development Lyfecycle is Required when<br>
                  Loren ipsum dolor sit amet, consectetur adipiscing elit, set do<br>
                  elusmod More information</p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="col-md-4">
                    <div class="form-group form-group--inline">
                        <label class="radio">
                          <input type="radio" name="inline-regular-radio" checked>
                          <span class="radio__input"></span>
                          <span class="radio__label">Yes</span>
                        </label>
                    </div>
                    <div class="form-group form-group--inline">
                        <label class="radio">
                          <input type="radio" name="inline-regular-radio">
                          <span class="radio__input"></span>
                          <span class="radio__label">No</span>
                        </label>
                    </div>           
                </div>
              </div>
            </div>
          </div>
          <div class="rightContent">
            <app-right-panel [offerName]="offerName" [stakeData]="stakeData" [primaryBE]="primaryBE"
              [derivedMM]="derivedMM" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
            </app-right-panel>
          </div>
        </div>
      </div>
    </div>
  </div>
