<!-- Card 1 -->
<div
  *ngIf="
    groupData != null &&
    groupData['listGrpQuestions'] != null &&
    groupData['listGrpQuestions'].length !== 0
  "
>
  <div class="card card--raised half-margin-top">
    <div class="card__header"><h4 class="card__title">{{groupData['listGrpQuestions'][0]['osGroup']}}</h4></div>
    <div class="card__body">
      <ul class="list dimensions--toggle">
        <li>
          <div class="row">
            <div class="col-md-3 margin-auto">
              {{ groupData["subGroupName"] }}
              <span class="sub--label text-success"
                ><span class="icon-check"></span> Perfectly Aligned</span
              >
            </div>

            <div class="col-md-9">
              <button
                *ngFor="let btn of groupData['choices']"
                [ngClass]="{
                  'mm-model-btn-active': checkButtonStatus(btn),
                  'mm-model-btn-inactive': !checkButtonStatus(btn)
                }"
                class="btn btn--small"
              >
                {{ btn }}
              </button>
            </div>
          </div>
        </li>
      </ul>

      <div
        class="col-md-6"
        *ngFor="let question of groupData['listGrpQuestions'], let i = index"
      >
      <app-offer-solution-question
      [questionData]="question"
      [questionIndex]="i"
      ></app-offer-solution-question>
    </div>
    </div>
  </div>
</div>
