<!-- Card 1 -->
<div *ngIf="groupData">
  <div *ngFor="let group of Object.keys(groupData)">
    <div class="card card--raised half-margin-top">
      <div class="card__header">
        {{group}}
      </div>

      <div class="card__body">
        <div *ngFor="let subgroup of Object.keys(groupData[group])">
          <div class="row">

            <div class="col-md-3 margin-auto">
              <span *ngIf="group != 'Other'" class="subgroup-name">{{ subgroup}}</span>
            </div>

            <div *ngIf="group != 'Other'" class="col-md-9">
              <button *ngFor="let btn of groupData[group][subgroup]['subGroupChoicesGiven']" [ngClass]="{
                              'mm-model-btn-active': checkButtonStatus(btn, groupData[group][subgroup]['subGroupChoicesSelected']),
                              'mm-model-btn-inactive': !checkButtonStatus(btn, groupData[group][subgroup]['subGroupChoicesSelected'])
                            }" class="btn btn--small">
                {{ btn }}
              </button>
            </div>
          </div>
          <div *ngFor="let question of groupData[group][subgroup].questions, index as i">
            <app-offer-solution-question [questionData]="question" [questionIndex]="i" [groupIndex]="question.questionNo"
              [stakeData]="stakeData" [offerData]="offerData"></app-offer-solution-question>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div *ngIf="
    groupData != null &&
    groupData['listGrpQuestions'] != null &&
    groupData['listGrpQuestions'].length !== 0
  ">
  <div class="card card--raised half-margin-top">
    <div class="card__header">
      <h4 class="card__title">{{groupData['listGrpQuestions'][0]['osGroup']}}</h4>
    </div>
   
  </div>
</div> -->