<div class="add-form-container">
<!-- <cui-select [items]="subMeasureNames" label="Sub Measure Name" empty="true" (selectChange)="subMeasureNameSelected()"></cui-select>
<cui-select [items]="ruleNames" label="Rule Name" empty="true" (selectChange)="ruleNameSelected()"></cui-select> -->
<cui-select [items]="subMeasureNames" label="Sub Measure Name" empty="true"></cui-select>
<cui-select [items]="ruleNames" label="Rule Name" empty="true"></cui-select>
<p> Single Step       Multi Step </p>
<br>
<button>Reset</button><button>Assign</button>
</div>
