<div class="hero hero--blue">
    <div class="container">
        <div class="hero__content">
            <h1>Profitability: Assign Rule</h1>
            <p>Assign rule for Profitability group.</p>
        </div>
    </div>
</div>
<div class="add-form-container">
<!-- <cui-select [items]="subMeasureNames" label="Sub Measure Name" empty="true" (selectChange)="subMeasureNameSelected()"></cui-select>
<cui-select [items]="ruleNames" label="Rule Name" empty="true" (selectChange)="ruleNameSelected()"></cui-select> -->
<cui-select [items]="subMeasureNames" label="Sub Measure Name" empty="true"></cui-select>
<cui-select [items]="ruleNames" label="Rule Name" empty="true"></cui-select>
<p> Single Step       Multi Step </p>
<br>
<button>Reset</button><button>Assign</button>
</div>
