@import '../../../../styles/comp-index';

.leftnav-comp {
  width: 260px;
  overflow-x: hidden;
  padding: $padding-base;
  padding-right: 0;
  line-height: 1.42;

  .title {
    color: $status-blue;
    font-size: 19px !important; // cui changes font size at breakpoints, we don't want that here.
  }

  .links {
    margin: 20px 0;

    .alink {
      margin-bottom: 10px;
      font-size: 15px;
    }
  }

  @media (min-width: $breakpoint-xxl) {
    width: 310px;
    .title {
      font-size: 23px !important; // cui changes font size at breakpoints, we don't want that here.
    }

    .links {
      .alink {
        font-size: 17px
      }
    }

  }
}

