<div class="flex-center-vertical">
    <!-- Team Member Name Avatar -->
    <span class="avatar-ico">
      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" id="fwt-profile-button-loggedin"
        role="img">
        <title id="fwt-profile-button-loggedin-title"></title>
        <g fill="none" fill-rule="evenodd">
          <path stroke="#4d4c4c" stroke-linecap="round" stroke-linejoin="round"
            stroke-width="2" d="M22.857 31.36c-1.616.614-3.37.95-5.202.95C9.56 32.31 3 25.749 3 17.655S9.561 3 17.655 3 32.31 9.561 32.31 17.655c0 3.988-1.727 7.703-4.31 10.344"
            x="0" y="0"></path>
          <text fill="#007493" font-family="CiscoSans, Arial, sans-serif" font-weight="300"
            font-size="16" x="50%" y="50%" dy=".35em" text-anchor="middle" id="fwt-initials">{{getInitialChar(stakeholderName)}}</text>
        </g>
      </svg>
    </span>
    <div class="flex-fluid text-left half-margin-left">
      <div class="text-bold">{{stakeholderName}} <em>({{functionalRole}})</em></div>
      <div>{{email}}@cisco.com</div>
    </div>
  </div>
