<div class="content">
  <div class="container-fluid">
    <app-menu-bar [caseId]="caseId"

      (updateMessage)="updateMessage($event)">

    </app-menu-bar>
    <div class="panel-wrapper mt-15">
      <div class="panel panel--indigo panel--compressed task--bar">
        <div class="row">
          <div class="col-md-4">
            <h4><button class="btn--back btn btn--icon btn--white" (click)="goBack()"><span class="icon-back" ></span></button> Strategy Review</h4>
          </div>
          <div class="col-md-8 text-right">
            <button class="btn btn--white" (click)="offerDetailOverView()">Offer Detail View<span class="icon-chevron-right"></span></button>
          </div>
        </div>
      </div>
      <div class="contentBox mt-10">
          <div class="leftContent">
        <app-offer-create-detail></app-offer-create-detail>
        <ul class="list list--highlight base-margin-top">
          <li>
            <div class="panel panel--bordered"><span class="text-success"><span class="icon-check-outline icon-medium"></span>
                 {{derivedMM}} Aligned</span></div>
          </li>
        </ul>
        <div class="alert base-margin-top half-margin-bottom" [ngClass]="{'alert--info':message['color']==='black','alert--success': message['color']==='green','alert--danger': message['color']==='red','alert--warning': message['color']==='yellow'}">
            <div class="alert__icon mm-alert-icon" [ngClass]="{'icon-info-outline': message['color']==='black','icon-error-outline': message['color']==='red','icon-check-outline': message['color']==='green', 'icon-warning-outline': message['color']==='yellow'}"></div>
            <div class="alert__message" [ngStyle]="{'color': message['color']}"><b>{{message['contentHead']}}</b>&nbsp;{{message['content']}}</div>
        </div>
        <!-- <Exit Criteria Validation> -->
        <app-exit-criteria-validation
        [stakeData]="stakeData"
        [offerBuilderdata]='offerBuilderdata'
        ></app-exit-criteria-validation>
        <div class="accordion base-margin-top" id="accordion">

            <div class="panel panel--ltgray">
              <div class="row">
                <div class="col-md-2">
                  <h6><span>{{totalApprovalsCount}}</span> <span> Total Approvals</span></h6>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h6><span>{{approvedCount}}</span><span> Approved</span></h6>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-3">
                  <h6><span>{{conditionallyApprovedCount}}</span><span> Conditionally Approved</span></h6>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h6><span>{{notApprovedCount}}</span><span> Not Approved</span></h6>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h6><span>{{notReviewedCount}}</span><span> Not Reviewed</span></h6>
                </div>
              </div>
            </div>

          <div class="review-status row base-margin-top">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel panel--ltgray">
                  <h5>Strategy Review Status</h5>
                </div>
                <div class="row base-margin-top">
                  <div class="col">Function</div>
                  <div class="col">Approval Status</div>
                  <div class="col">Reviewed On</div>
                  <div class="col">Reviewed By</div>
                  <div class="col"></div>
                </div>
                <p-accordion>
                  <p-accordionTab *ngFor="let strategyReviewData of strategyReviewList" (click)="onTabOpen(strategyReviewData.taskId)">
                    <p-header style="color:black">
                      <div class="row" style="vertical-align: middle;margin-left: 20px">
                        <div class="col">
                          <span class="icon-check-outline icon-eye-closed icon-medium" *ngIf="strategyReviewData.status == 'Not Reviewed'"></span>
                          <span class="icon-warning-outline icon-medium text-warning" *ngIf="strategyReviewData.status == 'Conditionally Approved'"></span>
                          <span class="icon-error-outline icon-medium text-danger" *ngIf="strategyReviewData.status == 'Not Approved'"></span>
                          <span class="icon-check-outline icon-medium text-success" *ngIf="strategyReviewData.status == 'Approved'"></span>
                          {{strategyReviewData.function}}</div>
                        <div class="col">{{strategyReviewData.status}}</div>
                        <div class="col">{{strategyReviewData.reviewedOn}}</div>
                        <div class="col">{{strategyReviewData.reviewedBy}}</div>
                        <div class="reviewed-comments"><span class="icon-message icon-medium"><span class="total">{{strategyReviewData.comments.length}}</span></span> Comment</div>
                      </div>
                    </p-header>
                    <div *ngIf="strategyReviewData.status=='Not Reviewed'; then reviewRequiredPlaceHolder">
                    </div>
                    <ng-template #reviewRequiredPlaceHolder>
                      <div class="panel panel--bordered not-reviewed">
                        <p>This is the strategy review milestone and the content is a placeholder for
                          milestone summary.
                          This is the strategy review milestone and the content is ... </p>
                        <button class="btn btn--secondary">Escalate</button>
                      </div>
                      <div class="panel panel--bordered not-reviewed" *ngIf="showButtonSection">
                          <div class="panel--header">
                            <h5>Approval Decision</h5>
                          </div>
                          <div class="panel--footer">
                            <button class="btn btn--secondary" (click)="doNotApprove()">Do Not
                              Approve</button>
                            <button class="btn btn--secondary" (click)="conditionalApprove()">Conditional
                              Approval</button>
                            <button class="btn btn--secondary" (click)="approve()">Approve</button>
                        </div>
                      </div>                      
                      <section *ngIf="doNotApproveSection">
                        <div class="panel panel--bordered">
                          <div class="row">
                            <div class="col-md-12">
                              <div class="pull-right">
                                <span class="icon-close" (click)="closeForm()"></span>
                              </div>
                              <div class="card__header">
                                <h5 class="card__title">Add a Reason for Not Approving</h5> 
                              </div> 
                             </div> 
                          </div> 
                        <div class="divider"></div>
                        <div class="row">
                          <div class="col-md-12">
                            <form autoComplete="off" #createActionForm="ngForm">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <label for="action">ADD A COMMENT</label>
                                      <input 
                                        id="commentName" 
                                        type="text" 
                                        class="form-control" 
                                        name="commentName" 
                                        [(ngModel)]="commentValue"
                                        required 
                                        ngModel 
                                        #titleName="ngModel">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <h5 class="card__title">Create an Action Item</h5>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <label for="action">ACTION TITLE</label>
                                      <input 
                                        id="titleName" 
                                        type="text" 
                                        class="form-control" 
                                        name="titleName" 
                                        [(ngModel)]="titleValue"
                                        required 
                                        ngModel 
                                        #titleName="ngModel">
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-8">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <label for="action">ACTION DESCRIPTION</label>
                                      <input 
                                          id="descriptionName" 
                                          type="text" 
                                          class="form-control" 
                                          name="descriptionName" 
                                          [(ngModel)]="descriptionValue"
                                          required 
                                          ngModel 
                                          #descriptionName="ngModel">
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text select">
                                      <label for="functionName">MILESTONE</label>
                                      <select 
                                        id="milestoneName"
                                         type="text" 
                                         class="form-control" 
                                         name="milestoneName" 
                                         [(ngModel)]="milestoneValue"
                                         required 
                                         ngModel 
                                         #milestoneName="ngModel">
                                        <option *ngFor="let milestone of milestoneList" [value]="milestone.subMilestone">
                                          {{milestone.subMilestone}}</option>
                                        </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <div class="form-group__text select">
                                        <label for="functionName">SELECT FUNCTION</label>
                                        <select 
                                          id="functionName" 
                                          class="form-control" 
                                          name="functionName" 
                                          [(ngModel)]="functionNameValue"
                                          ngModel 
                                          required>
                                          <option *ngFor="let function of functionList" [value]="function">
                                           {{function}}</option>
                                         </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <div class="form-group__text select">
                                        <label for="functionName">ASSIGNEE</label>
                                        <select id="assigneeName" class="form-control" name="assigneeName" [(ngModel)]="assigneeValue"
                                        required ngModel>
                                        <option *ngFor="let assignee of assigneeList" [value]="assignee">
                                          {{assignee}}</option>
                                      </select>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group label--floated input--icon half-margin-bottom">
                                    <label for="dueDate">DUE DATE</label>
                                    <div class="form-group__text">
                                        <input name="dueDateName" class="form-control" #dp4="bsDatepicker" bsDatepicker placement="top"
                                          [minDate]="minDate" containerClass="custome-date" [bsConfig]="dpConfig" [(ngModel)]="dueDateValue"
                                          required ngModel #dueDateName="ngModel">
                                        <button type="button" class="link" tabindex="-1">
                                          <span class="icon-month"></span>
                                        </button>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <div class="divider"></div>
                              <div class="row">
                                <div class="col-md-12 text-right">
                                  <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                                  <button class="btn btn--primary" [disabled]="!createActionForm.valid" (click)="createAction()">Create an Action</button>
                                </div>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    </section>
                    <section *ngIf="showConditionalApprovalSection">
                         <div class="panel panel--bordered">
                            <div class="row">
                              <div class="col-md-12">
                                <div class="pull-right">
                                  <span class="icon-close" (click)="closeForm()"></span>
                                </div>
                                <div class="card__header">
                                  <h5 class="card__title">Conditional Approval</h5> 
                                </div> 
                               </div> 
                            </div> 
                          <div class="divider"></div>
                          <div class="row">
                            <div class="col-md-12">
                              <form autoComplete="off" #createActionForm="ngForm">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text">
                                        <label for="action">ADD A COMMENT</label>
                                        <input 
                                          id="commentName" 
                                          type="text" 
                                          class="form-control" 
                                          name="commentName" 
                                          [(ngModel)]="commentValue"
                                          required 
                                          ngModel 
                                          #titleName="ngModel">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <h5 class="card__title">Create an Action Item</h5>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text">
                                        <label for="action">ACTION TITLE</label>
                                        <input 
                                          id="titleName" 
                                          type="text" 
                                          class="form-control" 
                                          name="titleName" 
                                          [(ngModel)]="titleValue"
                                          required 
                                          ngModel 
                                          #titleName="ngModel">
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-8">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text">
                                        <label for="action">ACTION DESCRIPTION</label>
                                        <input 
                                            id="descriptionName" 
                                            type="text" 
                                            class="form-control" 
                                            name="descriptionName" 
                                            [(ngModel)]="descriptionValue"
                                            required 
                                            ngModel 
                                            #descriptionName="ngModel">
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text select">
                                        <label for="functionName">MILESTONE</label>
                                        <select 
                                          id="milestoneName"
                                           type="text" 
                                           class="form-control" 
                                           name="milestoneName" 
                                           [(ngModel)]="milestoneValue"
                                           required 
                                           ngModel 
                                           #milestoneName="ngModel">
                                          <option *ngFor="let milestone of milestoneList" [value]="milestone.subMilestone">
                                            {{milestone.subMilestone}}</option>
                                          </select>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text">
                                        <div class="form-group__text select">
                                          <label for="functionName">SELECT FUNCTION</label>
                                          <select 
                                            id="functionName" 
                                            class="form-control" 
                                            name="functionName" 
                                            [(ngModel)]="functionNameValue"
                                            ngModel 
                                            required>
                                            <option *ngFor="let function of functionList" [value]="function">
                                             {{function}}</option>
                                           </select>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4">
                                    <div class="form-group half-margin-bottom">
                                      <div class="form-group__text">
                                        <div class="form-group__text select">
                                          <label for="functionName">ASSIGNEE</label>
                                        <select id="assigneeName" class="form-control" name="assigneeName" [(ngModel)]="assigneeValue"
                                          required ngModel>
                                          <option *ngFor="let assignee of assigneeList" [value]="assignee">
                                            {{assignee}}</option>
                                        </select>               
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="row">
                                  <div class="col-md-4">
                                    <div class="form-group label--floated input--icon half-margin-bottom">
                                      <label for="dueDate">DUE DATE</label>
                                      <div class="form-group__text">
                                          <input name="dueDateName" class="form-control" #dp4="bsDatepicker" bsDatepicker placement="top"
                                            [minDate]="minDate" containerClass="custome-date" [bsConfig]="dpConfig" [(ngModel)]="dueDateValue"
                                            required ngModel #dueDateName="ngModel">
                                          <button type="button" class="link" tabindex="-1">
                                            <span class="icon-month"></span>
                                          </button>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="divider"></div>
                                <div class="row">
                                  <div class="col-md-12 text-right">
                                    <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                                    <button class="btn btn--primary" [disabled]="!createActionForm.valid" (click)="createAction()">Create an Action</button>
                                  </div>
                                </div>
                              </form>
                          </div>
                        </div>
                      </div>
                      </section>
                      <section *ngIf="showApproveSection">
                        <div class="panel panel--bordered">
                          <div class="row">
                              <div class="col-md-12">
                                <div class="pull-right">
                                  <span class="icon-close" (click)="closeForm()"></span>
                                </div>
                                <div class="card__header">
                                  <h5 class="card__title">Add Comment</h5> 
                                </div> 
                               </div> 
                            </div> 
                          <div class="divider"></div>
                        <div class="row">
                          <div class="col-md-12">
                            <form autoComplete="off" #createActionApproveForm="ngForm">
                              <div class="row">
                                <div class="col-md-12">
                                  <div class="form-group half-margin-bottom">
                                    <div class="form-group__text">
                                      <label for="action">ADD A COMMENT</label>
                                      <input 
                                          id="commentName" 
                                          type="text" 
                                          class="form-control" 
                                          name="commentName" 
                                          [(ngModel)]="commentValue"
                                          required 
                                          ngModel 
                                          #titleName="ngModel">
                                    </div>
                                  </div>
                                </div>
                              </div>       
                              <div class="divider"></div>
                              <div class="row">
                                <div class="col-md-12 text-right">
                                  <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                                  <button class="btn btn--primary" [disabled]="!createActionApproveForm.valid" (click)="createActionApprove()">Submit</button>
                                </div>
                              </div>
                            </form>
                        </div>
                      </div>
                    </div>
                    </section>
                    </ng-template>
                  </p-accordionTab>
                </p-accordion>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="rightContent" style="margin-top: -5px;">
          <app-right-panel
            [portfolioFlag]="setFlag"
            [stakeData]="stakeData"
            (updateStakeData)="updateStakeData($event)"
          ></app-right-panel>
        </div>
      </div>
    </div>
  </div>
</div>
