<div class="content">
  <div class="container">
    <div class="row base-margin-top">
      <div class="col-md-6">
        <h1 class="display-4">Cisco Data Platform</h1>
        <h4>Strategy Review</h4>
      </div>
      <div class="col-md-6">
        <div class="btn-group btn-group--wide pull-right base-margin-top">

          <button class="btn btn--secondary" (click)="offerDetailOverView()">Offer Detail View <span class="icon-chevron-right"></span></button>
        </div>
      </div>

      <div class="col-md-9">
        <app-offer-create-detail></app-offer-create-detail>
        <ul class="list list--highlight base-margin-top">
          <li>
            <div class="panel panel--bordered">MM4-SAAS <span class="text-success"><span class="icon-check-outline icon-medium"></span>
                Aligned</span></div>
          </li>
        </ul>
        <div class="accordion base-margin-top" id="accordion">
          <div class="col-md-12">
            <div class="panel cta base-margin-top half-margin-bottom">

              <div class="row">
                <div class="col-md-2">
                  <h1 class="page-title"><span class="action--value">{{totalApprovalsCount}}</span> <span class="action--value-label">Total
                      Approvals</span></h1>
                  <div class="progressbar progressbar--default" data-percentage="66">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h1 class="page-title"><span class="action--value">{{approvedCount}}</span> <span class="action--value-label">Approved</span></h1>

                  <div class="progressbar progressbar--success" data-percentage="66">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-3">
                  <h1 class="page-title"><span class="action--value">{{conditionallyApprovedCount}}</span> <span class="action--value-label">Conditionally
                      Approved</span></h1>
                  <div class="progressbar progressbar--warning" data-percentage="66">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h1 class="page-title"><span class="action--value">{{notApprovedCount}}</span> <span class="action--value-label">Not
                      Approved</span></h1>
                  <div class="progressbar progressbar--danger" data-percentage="66">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <span class="vertical-divider"></span>
                <div class="col-md-2">
                  <h1 class="page-title"><span class="action--value">{{notReviewedCount}}</span> <span class="action--value-label">Not
                      Reviewed</span></h1>
                  <div class="progressbar progressbar--warning" data-percentage="66">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel--ltgray panel--loose">
                  <h5 class="mb-0">Strategy Review Status</h5>
                </div>
              </div>
            </div>
            <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="responsive-table">
                  <table class="table table--nostripes table--highlight table--hover table--selectable">
                    <thead>
                      <tr>
                        <td>
                          <div class="row">
                            <div class="col">Function</div>
                            <div class="col">Approval Status</div>
                            <div class="col">Reviewed On</div>
                            <div class="col">Reviewed By</div>
                            <div class="col"></div>
                          </div>
                        </td>
                      </tr>
                    </thead>
                  </table>
                </div>
                <ul class="list list--highlight base-margin-top">
                  <li>
                    <div class="responsive-table">
                      <table>
                        <tr>
                          <td>
                            <p-accordion *ngFor="let strategyReviewData of strategyReviewList">
                              <p-accordionTab>
                                <p-header style="color:black">
                                  <div class="row">
                                    <div class="col">{{strategyReviewData.function}}</div>
                                    <div class="col">{{strategyReviewData.approvalStatus}}</div>
                                    <div class="col">{{strategyReviewData.reviewedOn}}</div>
                                    <div class="col">{{strategyReviewData.reviewedBy}}</div>
                                    <div class="col">{{strategyReviewData.comment}}</div>
                                  </div>
                                </p-header>
                                <div class="panel panel--bordered not-reviewed" *ngIf="strategyReviewData.approvalStatus=='Not Reviewed'; then reviewRequiredPlaceHolder">
                                </div>
                                <ng-template #reviewRequiredPlaceHolder>
                                  <div class="panel panel--bordered not-reviewed">
                                    <p>This is the strategy review milestone and the content is a placeholder for
                                      milestone summary.
                                      This is the strategy review milestone and the content is ... </p>
                                    <button class="btn btn--secondary">Escalate</button><br><br>
                                  </div>
                                  <div class="panel panel--bordered not-reviewed" id="buttonSection">
                                    <div class="panel--header">
                                      <h5>Approval Decision</h5>
                                    </div><br>
                                    <div class="panel--footer">
                                      <button class="btn btn--secondary" (click)="doNotApprove()">Do Not Approve</button>
                                      <button class="btn btn--secondary" (click)="conditionalApprove()">Conditional
                                        Approval</button>
                                      <button class="btn btn--secondary">Approve</button>
                                    </div>
                                  </div>
                                  <section id="formSection">
                                    <div class="container">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="card card--raised base-margin-top">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <div class="pull-right base-margin-top">
                                                  <button (click)="closeForm()">X</button>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="panel">
                                              <div class="card__header">
                                                <h5 class="card__title">{{formTitle}}</h5>
                                              </div>
                                              <form>
                                                <div class="row base-margin-top">
                                                  <div class="col-md-12">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="ADD A COMMENT">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div><br>
                                                <h5 class="card__title">Create an Action Item</h5>
                                                <div class="row base-margin-top">
                                                  <div class="col-md-4">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="ACTION TITLE">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-8">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="ACTION DESCRIPTION">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row base-margin-top">
                                                  <div class="col-md-4">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="STRATEGY REVIEW">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="SELECT FUNCTION">
                                                      </div>
                                                    </div>
                                                  </div>
                                                  <div class="col-md-4">
                                                    <div class="form-group half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input type="text" class="form-control" placeholder="ASSIGNEE">
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row base-margin-top">
                                                  <div class="col-md-4">
                                                    <div class="form-group label--floated input--icon half-margin-bottom">
                                                      <div class="form-group__text">
                                                        <input class="form-control" placeholder="DUE DATE" #dp4="bsDatepicker"
                                                          bsDatepicker placement="top" [minDate]="minDate"
                                                          containerClass="custome-date" [bsConfig]="dpConfig">
                                                        <button type="button" class="link" tabindex="-1">
                                                          <span class="icon-month"></span>
                                                        </button>
                                                      </div>
                                                    </div>
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="form-actions">
                                                    <button class="btn btn--primary base-margin-top" (click)="closeForm()">Cancel</button>
                                                    <button class="btn btn--primary base-margin-top" type="submit">Create
                                                      an Action</button>
                                                  </div>
                                                </div>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </ng-template>
                              </p-accordionTab>
                            </p-accordion>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <app-right-panel [portfolioFlag]="setFlag" [offerOwner]="offerBuilderdata['offerOwner']" [stakeData]="stakeData"
          (updateStakeData)="updateStakeData($event)"></app-right-panel>
      </div>
    </div>
  </div>
</div>