<div class="fin-container">
  <br>

  <div class="row">
    <div class="col-12" fxLayout="row" fxLayoutAlign="space-between top">
      <div>
        <button cuiButton color="primary" (click)="mongoToPgSync()" [disabled]="!syncMap.hasSelections()">Mongo To Postgres Sync</button>
      </div>
      <div>
        <div><button cuiButton color="secondary" (click)="pgToMongoSync()">Postgres To Mongo Sync</button></div>
        <div class="half-margin-top" style="text-align: center;">(Only submeasures currently)</div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-lg-5">
      <div class="error-text">
        <span [style.visibility]="noChoices?'visible':'hidden'">No choices made for sync.</span>
      </div>
      <div>
        <fin-checkbox [(model)]="allValue" (modelChange)="changeAll()" label="Set All"></fin-checkbox>
      </div>
      <div *ngFor="let key of keys">
        <fin-checkbox [(model)]="syncMap[key]" *ngIf="key!='dfa_prof_input_amnt_upld_autosync'" [label]="key" (modelChange)="change()"></fin-checkbox>
      </div>

    </div>

    <div class="col-lg-7">
      <pre *ngIf="results" class="results panel panel--mdgray panel--loose">{{results | json}}</pre>
    </div>

  </div>

