@import '../../../../styles/_comp-index.scss';

.fin-container {

  .error-text {
    margin: 10px 0;
  }

  .checkboxes {
    margin-top: 20px;
  }

  .results {
    margin-top: 34px;
    text-align: left;
    max-width: 800px;
    overflow: auto;
  }

}
