<div class="content">
        <div class="container-fluid">
          <app-menu-bar>
          </app-menu-bar>

<div class="panel-wrapper mt-15">
    <!-- Blue Bar -->
    <app-blue></app-blue>
<div class="contentBox mt-10">
    <div class="leftContent">
    <app-offer-basic-info ></app-offer-basic-info>
    <app-mm-info-bar></app-mm-info-bar>
<!-- Offer Solutioning Bar -->
  <app-offersolutioning-card-one></app-offersolutioning-card-one>
  <app-offersolutioning-card-one></app-offersolutioning-card-one>
  <app-offersolutioning-card-one></app-offersolutioning-card-one>
<!-- Right Panel -->
</div>
<div class="rightContent" style="margin-top: -5px;">
<app-right-panel ></app-right-panel>
</div>
</div>
</div>
</div>
</div>