<div class="content">
  <div class="container-fluid">
    <app-menu-bar> </app-menu-bar>

    <div class="panel-wrapper mt-15">
      <!-- Blue Bar -->
      <app-blue></app-blue>
      <div class="row">
        <div class="leftContent col-sm-12 col-md-9">
          <app-offer-create-detail></app-offer-create-detail>
          <app-mm-info-bar></app-mm-info-bar>
          <!-- Offer Solutioning Bar -->
          <div *ngFor="let group of offerSolutionGroups">
            <app-offersolutioning-card-one
            [groupData]="group"
            ></app-offersolutioning-card-one>
          </div>
          <!-- Right Panel -->
        </div>
        <div class="rightContent col-sm-12 col-md-3" style="margin-top: -5px;">
          <app-right-panel
          [portfolioFlag]="setFlag"
          [stakeData]="stakeData"
          (updateStakeData)="updateStakeData($event)"
          ></app-right-panel>
        </div>
      </div>
    </div>
  </div>
</div>
