
<div class="fin-edit-container">
  <form #form="ngForm">

    <div class="row">
      <div class="col-lg-6">
        <fin-input name="name" [(ngModel)]="measure.name" label="Measure Name" [required]="true"></fin-input>
      </div>
      <div class="col-lg-6">
        <div fxLayout="row" fxLayoutAlign="center start">
          <div class="form-group-check">
            <fin-checkbox name="status" label="Active" [(model)]="measure.status" trueVal="A" falseVal="I"></fin-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <fin-input name="abbrev" [(ngModel)]="measure.abbrev" label="Abbrev Name" [required]="true"></fin-input>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <cui-select name="sources" [(ngModel)]="measure.sources" [items]="moduleSources" label="Sources"
                    [multiSelect]="true" optionsKey="name" optionsValue="sourceId" [required]="true"></cui-select>
      </div>
      <div class="col-lg-6">
        <cui-select name="hier" [(ngModel)]="measure.hierarchies" [items]="hierarchies" empty="true" label="Hierarchies"
                    optionsKey="name" optionsValue="name" [multiSelect]="true" [required]="true"></cui-select>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="form-group-switch">
          <fin-checkbox name="approval" [(model)]="measure.approvalRequired" label="Approval required"></fin-checkbox>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <fin-input name="repLvl1" [(ngModel)]="measure.reportingLevel1" label="Reporting Level 1"></fin-input>
      </div>
      <div class="col-6 form-group-check">
        <fin-checkbox name="repLvl1=enabled" [(model)]="measure.reportingLevel1Enabled" label="Enabled"></fin-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <fin-input name="repLvl2" [(ngModel)]="measure.reportingLevel2" label="Reporting Level 2"></fin-input>
      </div>
      <div class="col-6 form-group-check">
        <fin-checkbox name="repLvl2-enabled" [(model)]="measure.reportingLevel2Enabled" label="Enabled"></fin-checkbox>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <fin-input name="repLvl3" [(ngModel)]="measure.reportingLevel3" label="Reporting Level 3"></fin-input>
      </div>
      <div class="col-6 form-group-check">
        <fin-checkbox name="repLvl1-enabled" [(model)]="measure.reportingLevel3Enabled" label="Enabled"></fin-checkbox>
      </div>
    </div>

    <div class="fin-footer-buttons">
      <button cuiButton color="primary"(click)="save()">Submit</button>
      <button cuiButton color="secondary"(click)="cancel()">Cancel</button>
      <button cuiButton color="secondary"(click)="reset()">Reset</button>
    </div>

  </form>

</div>
