
<div class="fin-container">
  <form #form="ngForm">

    <div class="row">
      <div class="col-lg-6">
        <fin-input name="name" [(ngModel)]="measure.name" label="Measure Name" [required]="true"
                   [notInList]="measureNames" notInListMessage="Measure name already exists"></fin-input>
      </div>
      <div class="col-lg-6">
        <div fxLayout="row" fxLayoutAlign="center start" class="status-section">
          <div class="form-group-check">
            <fin-checkbox name="status" label="Active" [(model)]="measure.status" trueVal="A" falseVal="I"></fin-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <fin-input name="typeCode" [(ngModel)]="measure.typeCode" label="Type Code" [required]="true"
                   [notInList]="measureTypecodes" notInListMessage="Type Code already exists"></fin-input>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <cui-multiselect name="sources" [(ngModel)]="measure.sources" [items]="moduleSources" label="Sources"
                    optionsKey="name" optionsValue="sourceId" [required]="true"></cui-multiselect>
      </div>
      <div class="col-lg-6">
        <cui-multiselect name="hier" [(ngModel)]="measure.hierarchies" [items]="hierarchies" empty="true" label="Hierarchies"
                    optionsKey="name" optionsValue="value" [required]="true"></cui-multiselect>
      </div>
    </div>

    <div *ngFor="let level of [1,2,3];let idx=index;" class="row">
      <div class="col-6">
        <fin-input name="repLvl{{level}}" class="rep-level-{{level}}" [(ngModel)]="measure.reportingLevels[idx]" label="Reporting Level {{level}}"></fin-input>
      </div>
      <div class="col-6 form-group-check">
        <fin-checkbox name="repLvl-enabled{{level}}" class="rep-level-checkbox-{{level}}" [(model)]="measure.reportingLevelEnableds[idx]" label="Enabled" [inline]="true"></fin-checkbox>
        <fin-checkbox *ngIf="idx === 2" name="repLvl1-sm-name" class="rep-level-sm-checkbox-{{level}}" [(model)]="measure.reportingLevel3SetToSubmeasureName" label="Set To Submeasure Name" [inline]="true"
                      (modelChange)="reportingLevel3SetToSubmeasureNameChange()"></fin-checkbox>
      </div>
    </div>

    <div class="fin-footer-buttons">
      <button type="submit" finErrorFlash cuiButton color="primary"(click)="save()">Submit</button>
      <button type="button" cuiButton color="secondary"(click)="cancel()">Cancel</button>
      <button type="button" cuiButton color="secondary"(click)="reset()">Reset</button>
    </div>

  </form>

</div>
