<div class="fin-container">

  <br>
  <div class="row">
    <div class="col-lg-6">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <a>
          <button cuiButton [small]="true" color="secondary" (click)="addModule()">Add New</button>
        </a>
      </div>

      <div class="mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a href="javascript:void(0)" (click)="editModule(row)">{{row.name}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="abbrev">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Abbrev</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.abbrev}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayOrder">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Display Order</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.displayOrder}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">{{UiUtil.getStatusText(row.status)}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        </mat-table>


        <mat-paginator #paginator
                       [length]="modules.length"
                       [pageIndex]="0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="edit-form-container" [fxShow]="showForm">
        <fieldset>
          <legend>{{formTitle}}</legend>
          <cui-input type="text" #nameInput [(model)]="module.name" label="Module Name"></cui-input>
          <cui-input type="text" [(model)]="module.abbrev" label="Abbreviation"></cui-input>
          <cui-input type="text" [(model)]="module.displayOrder" label="Display Order"></cui-input>
          <div style="padding-top:15px;">
            <fin-checkbox label="Active" [(model)]="module.status" trueVal="A" falseVal="I"></fin-checkbox>
          </div>
        </fieldset>

        <div class="fin-footer-buttons">
          <button cuiButton [small]="true" color="primary" (click)="save()">Submit</button>
          <button cuiButton [small]="true" color="secondary" (click)="cancel()">Cancel</button>
        </div>
      </div>

    </div>
  </div>

</div>
