<div class="fin-container">

  <br>
  <div class="row">
    <div class="col-lg-6">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <a>
          <button cuiButton color="primary" (click)="addModule()">Add New</button>
        </a>
      </div>

      <div class="mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a href="javascript:void(0)" (click)="editModule(row)">{{row.name}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="abbrev">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Abbrev</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.abbrev}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="displayOrder">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Display Order</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.displayOrder}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">{{UiUtil.getStatusText(row.status)}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        </mat-table>


        <mat-paginator #paginator
                       [length]="modules.length"
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </div>
    <div class="col-lg-6">

      <div class="edit-form-container" *ngIf="showForm">
        <form #form="ngForm">
          <fieldset>
            <legend>{{formTitle}}</legend>
            <fin-input name="name" type="text" #nameInput [(ngModel)]="module.name" label="Module Name"
                       [required]="true" [notInList]="formModules" notInListProperty="name"></fin-input>
            <fin-input name="abbrev" type="text" [(ngModel)]="module.abbrev" label="Abbreviation" [required]="true"
                       [notInList]="formModules" notInListProperty="abbrev" [minLength]="4" [maxLength]="4"></fin-input>
            <fin-input name="order" type="text" [(ngModel)]="module.displayOrder" label="Display Order" [required]="true"
                       [isNumber]="true" [notInList]="formModules" notInListProperty="displayOrder"></fin-input>
            <fin-input name="desc" [textarea]="true" [(ngModel)]="module.desc" [rows]="4" label="Description"></fin-input>
            <div style="padding-top:15px;">
              <fin-checkbox name="status" label="Active" [(model)]="module.status" trueVal="A" falseVal="I"></fin-checkbox>
            </div>
          </fieldset>

          <div class="fin-footer-buttons">
            <button type="submit" finErrorFlash cuiButton color="primary" (click)="save()">Submit</button>
            <button type="button" cuiButton color="secondary" (click)="cancel()">Cancel</button>
          </div>
        </form>
      </div>

    </div>
  </div>

</div>
