<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel--indigo panel--loose header-bar base-margin-top task--bar">
          <div class="header-bar__main">
            <div class="header-heading">
              <h1 class="page-title"><span class="action--value">{{pendingActnCount}}</span> <span class="action--value-label">Pending
                  Actions</span></h1>
              <span class="vertical-divider"></span>
              <h1 class="page-title"><span class="action--value">{{needImmActnCount}}</span> <span class="action--value-label">Need
                  Immediate Action</span></h1>
            </div>
          </div>
          <div class="header-toolbar">
            <button (click)="createNewOffer()" class="btn btn--white cta--action"><span class="icon-add icon-small"></span>
              <span class="button--label">New Offer</span></button>
          </div>
        </div>
      </div>
    </div>
    <!-- My Actions & Notifications Section -->
    <div class="row">
      <div class="col-md-12">
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h2 class="page--subheading">My Actions &amp; Notifications</h2>
                <label class="header-link"><a href="">View All<span class="icon-chevron-right inline-icon"></span></a></label>
              </div>
              <div class="col-md-4">
                <div class="form-group input--icon half-margin-bottom">
                  <div class="form-group__text">
                    <i id="input-type-search" type="search"></i>
                    <input #gbforactions type="text" pInputText size="50" placeholder="Search by keywords">
                    <button type="button" class="link">
                      <span class="icon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="responsive-table">

              <p-dataTable [value]="myActionsList"   (selectionChange) = "selectlist($event)" scrollable="true" scrollHeight="400px" [globalFilter]="gbforactions"
              #dt>
                <p-column field="offerId" sortable="true" header="OFFER ID">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span *ngIf="actionData.alertType == 1">
                      <ng-template #popActionContent ptemplate="body">
                        <div *ngIf="displayActionPopOver== true" class="popover">
                          <h4 class="popover__title">Offer ID <span> {{actionData.offerId}}</span> </h4>
                          <div class="popover__body">
                            <div class="responsive-table half-margin-bottom">
                              <table class="table table--nostripes actionPop">
                                <thead>
                                  <tr>
                                    <th>Offer Name </th>
                                    <th>Action Title </th>
                                    <th>Offer Owner </th>
                                    <th>Due Date </th>
                                    <th>Action Completion Phase </th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td>{{actionData.offerName}}</td>
                                    <td>{{actionData.actiontTitle}}</td>
                                    <td>{{actionData.assigneeId}}</td>
                                    <td>{{actionData.dueDate}}</td>
                                    <td>Design Review</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <h5>Action Description</h5><a class="modal__close" id="popover_close"><span class="icon-close"
                                (click)="displayActionPop(p1)"></span></a>
                            <p>{{actionData.actionDesc}}</p>
                            <button class="btn btn--secondary " (click)="offerDetailOverView(actionData.offerId,actionData.caseId)">View
                              Offer</button>
                          </div>
                          <div class="popover__footer">
                            <button class="btn btn--primary base-margin-top" id="popover_close_btn" (click)="displayActionPop(p1)">Complete</button>
                            <button class="btn btn--primary base-margin-top" id="popover_close_btn" (click)="displayActionPop(p1)">Provide
                              Feedback</button>
                          </div>
                        </div>
                      </ng-template>
                      <span placement="bottom" [ngbPopover]="popActionContent" #p1="ngbPopover" triggers="manual"
                        (click)="p1.open()" pTooltip="Action" tooltipPosition="top">
                        <span class="icon-clock icon-small" style="margin:0px 5px 0 0"></span></span>
                      {{actionData.offerId}}
                    </span>
                    <span *ngIf="actionData.alertType == 2">
                      <ng-template #popNotificationContent ptemplate="body">
                        <div *ngIf="displayPopOver== true" class="popover">
                          <h4 class="popover__title">Offer ID <span> {{actionData.offerId}}</span> </h4>
                          <div class="popover__body">
                            <h5>Notification Details</h5><a class="modal__close" id="popover_close"><span class="icon-close"
                                (click)="p2.close()"></span></a>
                            <p>{{actionData.actionDesc}}</p>
                            <button class="btn btn--secondary base-margin-top" (click)="offerDetailOverView(actionData.offerId,actionData.caseId)">View
                              Offer</button>
                          </div>
                          <div class="popover__footer">
                            <button class="btn btn--primary base-margin-top" id="popover_close_btn" (click)="dismissNotification(actionData.offerId,p2)">Dismiss
                              Notification</button>
                          </div>
                        </div>
                      </ng-template>

                      <span [ngbPopover]="popNotificationContent" (click)="p2.open();selectionChange(actionData)" #p2="ngbPopover" 
                          triggers="manual" pTooltip="Notifications" tooltipPosition="top">
                        <span class="icon-alert icon-small" style="margin:0px 5px 0 0"></span></span>
                      {{actionData.offerId}}
                    </span>
                  </ng-template>
                </p-column>
                <p-column field="actions" sortable="true" header="ACTIONS AND NOTIFICATIONS">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span class="offerName">{{actionData.actiontTitle}} <br /></span>
                    <span class="offerDesc">{{actionData.actionDesc}}</span>
                  </ng-template>
                </p-column>
                <p-column field="offerName" sortable="true" header="OFFER NAME">
                </p-column>
                <p-column field="assigneeId" sortable="true" header="OFFER OWNER">
                </p-column>
                <p-column field="status" sortable="true" header="STATUS">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span *ngIf="actionData.alertType == 1">
                      <div style="text-align:center">
                        <span class="{{actionData.styleColor}}">
                          <i class="fa fa-circle" style="font-size:15px;margin:4px 4px 0 0;"></i>
                        </span>
                      </div>
                    </span>
                    <span *ngIf="actionData.alertType == 2">
                      <div style="text-align:center">
                        <span>--</span>
                      </div>
                    </span>
                  </ng-template>
                </p-column>
                <p-column field="triggerDate" sortable="true" header="TRIGGER DATE">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.triggerDate}} <br /></span>
                  </ng-template>
                </p-column>
                <p-column field="dueDate" header="DUE DATE" sortable="true">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.dueDate}} <br /></span>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>

      <!-- My Offers Section -->

      <div class="col-md-12">
        <div class="card card--raised">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h2 class="page--subheading">My Offers</h2>
                <label class="header-link"><a href="">View All Offers<span class="icon-chevron-right inline-icon"></span></a></label>
              </div>
              <div class="col-md-4">
                <div class="form-group input--icon half-margin-bottom">
                  <div class="form-group__text">
                    <i id="input-type-search" type="search"></i>
                    <input type="text" pInputText size="50" placeholder="Search by keywords" (input)="dt.filterGlobal($event.target.value, 'contains')">
                    <button type="button" class="link">
                      <span class="icon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="responsive-table">
              <p-table [columns]="cols" #dt [value]="myOffersList" [scrollable]="true" scrollHeight="400px" [loading]="loading"
                [globalFilterFields]="['offerId','offerName','offerOwner','expectedLaunchDate']">         
                <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns" [pSortableColumn]="col.field" rowspan="2" style="width:10%; text-align: center">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                      </th>          
                      <th colspan="1" style="width:30%; text-align: center">LIFE CYCLE STATUS</th>
                    </tr>
                    <tr class="tr--th-small">
                      <th colspan="1">
                        <div class="row">
                          <div class="col">
                            PRE-LAUNCH
                          </div>
                          <div class="col">
                            IN MARKET
                          </div>
                          <div class="col">
                            END OF LIFE
                          </div>
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-offerData let-columns="columns">
                    <tr>
                      <td *ngFor="let col of columns" style="width:10%">
                        {{offerData[col.field]}}
                      </td>
                      <td style="width:30%">
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'Launch In Progress'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-warning">Launch in Progress</div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'hold'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-cancelled">Hold</div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'Cancelled'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-cancelled">Cancelled</div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'In Market'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-inMarket">In Market</div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'Update in progress'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-warning">Update in progress</div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'EOL In Progress'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-warning inMarketStyle">EOL in progress</div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--warning" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                        <div *ngIf="offerData.status !== null && offerData.status['offerMilestone'] == 'EOL'" class="row no-gutters">
                          <div class="col-md-12">
                            <div class="progressbar__label progressbarLabel-warning inMarketStyle">EOL</div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="100">
                            <div class="progressbar__fill"></div>
                          </div>
                          <div class="progressbar progressbar--success" data-percentage="0">
                            <div class="progressbar__fill"></div>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-template>
              </p-table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>