<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h1 class="display-4">My Actions & Notifications</h1>
              </div>
            </div>
            <div class="responsive-table" >
              <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              </div>
              <p-dataTable [value]="myActionsList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
                <p-column field="offerId" header="Offer ID" [filter]="true" filterPlaceholder="Search">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span *ngIf="actionData.alertType == 1"><i class="fa fa-bell" style="margin:0px 5px 0 0"></i>{{actionData.offerId}}</span>
                    <span *ngIf="actionData.alertType == 2"><i class="fa fa-clock-o" style="margin:0px 5px 0 0"></i>{{actionData.offerId}}</span>
                  </ng-template>
                </p-column>
                <p-column field="actions" header="Actions & Notifications" [filter]="true" filterMatchMode="equals">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span class="offerName">{{actionData.actiontTitle}} <br /></span>
                    <span class="offerDesc">{{actionData.actionDesc}}</span>
                  </ng-template>
                </p-column>
                <p-column field="offerName" header="Offer Name" [filter]="true" filterMatchMode="equals">
                </p-column>
                <p-column field="assigneeId" header="Offer Owner" [filter]="true" filterMatchMode="in">
                </p-column>
                <p-column field="status" header="Status">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <div style="text-align:center">
                      <span class="{{actionData.styleColor}}">
                        <i class="fa fa-circle" style="margin:4px 4px 0 0;"></i>
                      </span>
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="triggerDate" header="Trigger Date" [filter]="true" filterMatchMode="equals">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.triggerDate}} <br /></span>
                  </ng-template>
                </p-column>
                <!-- <p-column field="dueDate" header="Due Date" [filter]="true" filterMatchMode="equals">
                </p-column> -->
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>

      <!-- my offers -->

      <div class="col-md-12">
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h1 class="display-4">My Offers</h1>
                <label class="header-link myOfferHeader"><a href="">View All Offers</a></label>
              </div>
            </div>
            <div class="responsive-table">
              <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
                <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
                <input #gb type="text" pInputText size="50" placeholder="Global Filter">
              </div>
              <p-dataTable [value]="myOffersList" [rows]="10" [paginator]="true" [globalFilter]="gb" #dt>
                <p-column field="offerId" header="Offer ID" [filter]="true" filterPlaceholder="Search">
                </p-column>
                <p-column field="offerName" header="Offer Name" [filter]="true" filterMatchMode="equals">
                </p-column>
                <p-column field="offerOwner" header="Offer Owner" [filter]="true" filterMatchMode="in">
                </p-column>
                <p-column field="expectedLaunchDate" header="Launch Date" [filter]="true" filterMatchMode="equals">
                </p-column>
                <p-column field="status" header="Life Cycle Status">
                  <ng-template pTemplate="body">
                    <div class="ui-steps ui-steps--tiny">
                      <div class="ui-step visited">
                        <div class="step__icon"><span class="icon-check"></span></div>
                      </div>
                      <div class="ui-step active">
                        <div class="step__icon">2</div>
                      </div>
                      <div class="ui-step">
                        <div class="step__icon">3</div>
                      </div>
                    </div>
                  </ng-template>
                </p-column>
                <p-column field="triggerDate" header="Actions" [filter]="true" filterMatchMode="equals">
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>