.contentBox {
  display: inline-block;
  width: 100%;
}

.leftContent,
.rightContent {
  float: left;
}

.leftContent {
  width: calc(100% - 400px);
  padding-right: 15px;
}

.rightContent {
  width: 400px;
}

/**Group Table CSS Start Here**/
.grouptable {
  border: none;
}

.grouptable td {
  padding: 12px 10px 6px 10px;
  border-bottom: 1px solid #eee;
}

.grouptable tr:last-child td {
  border-bottom: 0
}

.xs-small {
  font-size: 1rem;
  padding-left: 3px;
}

.xs-small span.icon-small {
  vertical-align: middle;
  margin-right: 3px;
}

.xs-small span.icon-small::before {
  font-size: 1.1rem;
  line-height: 12px;
}
.grouptable {
    border: 1px solid lightgray;;
}
.grouptable .borderColor {
  border: #e9e9e9 1px solid
}


.grouptable .grouptableData {
  padding: 0;
}

.groupHeader {
  background: #e9e9e9;
  padding: 9px 9px 7px;
  margin: 0;
  font-weight: bold;
  font-size: 1.4rem;

}

.chips {
  border: #ddd 1px solid;
  padding: 5px 20px;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 12px 0 0; 
  display: inline-block;
}


/* .chips:hover {
  background: #05b0ee;
  color: white;
} */
.chips.selected {
  background: #049fd9;
  color: white;
}

.chips.not-aligned {
    background: #d90404;
    color: white;
}


.aligned-success, .aligned-error, .partial-aligned {
  font-weight: 500;
}

.aligned-success {
  color: rgb(0, 196, 0);
}

.aligned-error {
  color: rgb(194, 7, 7);
}

.partial-aligned {
  color: #e87127;
}

/**Group Table CSS End Here**/





