<div class="content">
  <div class="container-fluid">
    <!-- Menu Bar -->
    <app-menu-bar
    [offerId]="offerId"
    [caseId]="caseId"
    [offerName]="offerName"
    [stakeData]="stakeholders"
    [currentMMModel]="derivedMM"
    (updateMessage)="updateMessage($event)"></app-menu-bar>

    <div class="panel-wrapper mt-15">
    <!-- taskbar -->
      <app-taskbar
      [isValidToProceed]="proceedToreadinessreview" (onProceedToNext)="onProceedToNext()"></app-taskbar>
    <!-- left Panel -->
      <div class="row">
      <div class="leftContent col-sm-12 col-md-9">
        <app-offer-create-detail></app-offer-create-detail>
        <!-- Message bar -->
        <ul class="list base-margin-top">
            <li>
              <div class="panel panel--bordered"><span class="text-success"><span class="icon-check-outline icon-medium"></span>
                  {{derivedMM}} Aligned</span></div>
            </li>
          </ul>

          <!-- Control Bar -->
          <!-- <app-view-offer [offerId]="offerId"></app-view-offer> -->
          <div class="row base-margin-top">

              <div class="col-md-4">Currently Viewing the <strong>Overall Offer</strong>.</div>
              <div class="form-group dropdown label--inline">
              <div class="form-group__text select">
                <label for="select-size-default">Viewing</label>
                  <select [(ngModel)]="selectedAto" (change)="selectedValue($event)">
                    <option id="select-size-default" value="Overall Offer">Overall Offer</option>
                    <option id="select-size-default" *ngFor="let item of Options" value={{item}}>
                        {{item}}
                    </option>
                </select>
            </div>
          </div>

          </div>
          <!-- Pirate Ship -->
          <div class="row base-margin-top">
            <div class="col-sm-12">
              <ul class="osw-module--btns">
                <div class="row base-margin-bottom">
                  <div class="col-sm-3 half-margin-left">
                    <!-- Group 0 -->
                    <div *ngIf="groupData !== null && groupData['Group0'] !== null" >
                    <li class="base-margin-bottom"
                    *ngFor="let element of groupData['Group0']['left']">
                      <button
                        class="btn btn--small btn--success"
                        placement="top"
                      >
                        <span class="icon-check pull-left"></span>&nbsp;{{element["moduleName"]}} 
                      </button>
                    </li>
                    </div>
                    <!-- Group 1 -->
                    <div *ngIf="groupData !== null && groupData['Group0'] !== null" >
                    <li *ngFor="let element of groupData['Group1']['left']">
                      <!-- different status showing -->
                     <!-- Completed -->
                     <button *ngIf="element['status']=='Completed'"
                     class="btn btn--small btn--success"
                     placement="top"
                     (click)="getElementDetails(element)"
                   >
                    {{element["moduleName"]}} 
                   </button>
                    <!-- In Progress-->
                  <button *ngIf="element['status']=='In Progress'"
                  class="btn btn--small  btn--warning"
                  placement="top"
                >
                 {{element["moduleName"]}} 
                </button>
                <!-- Available -->
                <button *ngIf="element['status']=='Available'"
                class="btn btn--small btn--primary"
                placement="top"
                (click)="getElementDetails(element)"
              >
               {{element["moduleName"]}} 
              </button>
                   <!-- Not Yet Available -->
                   <button *ngIf="element['status']=='Not Yet Available'"
                     class="btn btn--small btn--gray-ghost"
                     placement="top"
                   >
                    {{element["moduleName"]}} 
                   </button>
                   <!-- Not Required -->
                   <button *ngIf="element['status']=='Not Required'"
                   class="btn btn--small btn--default"
                   placement="top"
                 >
                   {{element["moduleName"]}} 
                 </button>


                    </li>
                    </div>
                  </div>
                </div>
                <!-- box group -->
                <div class="row base-margin-bottom">
                  <!-- left box -->
                  <div class="col-sm-6">
                    <div class="panel panel--bordered">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <!-- Group 2 left-->
                          <li class="base-padding-bottom" *ngFor="let element of groupData['Group2']['left']" (click)="getElementDetails(element)">
                            <!-- Completed -->
                            <button *ngIf="element['status']=='Completed'"
                              class="btn btn--small btn--success"
                              placement="top"
                            >
                             {{element["moduleName"]}} 
                            </button>
                             <!-- In Progress-->
                           <button *ngIf="element['status']=='In Progress'"
                           class="btn btn--small  btn--warning"
                           placement="top"
                         >
                          {{element["moduleName"]}} 
                         </button>
                         <!-- Available -->
                         <button *ngIf="element['status']=='Available'"
                         class="btn btn--small btn--primary"
                         placement="top"
                       >
                        {{element["moduleName"]}} 
                       </button>
                            <!-- Not Yet Available -->
                            <button *ngIf="element['status']=='Not Yet Available'"
                              class="btn btn--small btn--gray-ghost"
                              placement="top"
                            >
                             {{element["moduleName"]}}
                            </button>
                            <!-- Not Required -->
                            <button *ngIf="element['status']=='Not Required'"
                            class="btn btn--small btn--default"
                            placement="top"
                          >
                            {{element["moduleName"]}} 
                          </button>
                          </li>

                        </div>
                        <div class="col-sm-12 col-md-6">
                          <!-- Group 2 right -->
                          <li class="base-padding-bottom" *ngFor="let element of groupData['Group2']['right']">
                             <!-- Completed -->
                             <button *ngIf="element['status']=='Completed'"
                             class="btn btn--small btn--success"
                             placement="top"
                           >
                            {{element["moduleName"]}} 
                           </button>
                            <!-- In Progress-->
                          <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning"
                          placement="top"
                        >
                         {{element["moduleName"]}} 
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                       {{element["moduleName"]}} 
                      </button>
                           <!-- Not Yet Available -->
                           <button *ngIf="element['status']=='Not Yet Available'"
                             class="btn btn--small btn--gray-ghost"
                             placement="top"
                           >
                            {{element["moduleName"]}} 
                           </button>
                           <!-- Not Required -->
                           <button *ngIf="element['status']=='Not Required'"
                           class="btn btn--small btn--default"
                           placement="top"
                         >
                           {{element["moduleName"]}} 
                         </button>
                          </li>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- right box -->
                  <div class="col-sm-6">
                    <div class="panel panel--bordered">
                      <div class="row">
                        <div class="col-sm-12 col-md-6">
                          <!-- Group 3 left -->
                          <li class="base-padding-bottom" *ngFor="let element of groupData['Group3']['left']">
                             <!-- Completed -->
                             <button *ngIf="element['status']=='Completed'"
                             class="btn btn--small btn--success"
                             placement="top"
                           >
                            {{element["moduleName"]}} 
                           </button>
                            <!-- In Progress-->
                          <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning"
                          placement="top"
                        >
                         {{element["moduleName"]}} 
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                       {{element["moduleName"]}} 
                      </button>
                           <!-- Not Yet Available -->
                           <button *ngIf="element['status']=='Not Yet Available'"
                             class="btn btn--small btn--gray-ghost"
                             placement="top"
                           >
                            {{element["moduleName"]}}
                           </button>
                           <!-- Not Required -->
                           <button *ngIf="element['status']=='Not Required'"
                           class="btn btn--small btn--default"
                           placement="top"
                         >
                           {{element["moduleName"]}}
                         </button>
                          </li>
                        </div>

                        <div class="col-sm-12 col-md-6">
                          <!-- Group 3 right -->
                          <li class="base-padding-bottom"  *ngFor="let element of groupData['Group3']['right']" >
                             <!-- Completed -->
                             <button *ngIf="element['status']=='Completed'"
                             class="btn btn--small btn--success"
                             placement="top"
                           >
                            {{element["moduleName"]}} 
                           </button>
                            <!-- In Progress-->
                          <button *ngIf="element['status']=='In Progress'"
                          class="btn btn--small btn--warning"
                          placement="top"
                        >
                         {{element["moduleName"]}} 
                        </button>
                        <!-- Available -->
                        <button *ngIf="element['status']=='Available'"
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                       {{element["moduleName"]}} 
                      </button>
                           <!-- Not Yet Available -->
                           <button *ngIf="element['status']=='Not Yet Available'"
                             class="btn btn--small btn--gray-ghost"
                             placement="top"
                           >
                            {{element["moduleName"]}} 
                           </button>
                           <!-- Not Required -->
                           <button *ngIf="element['status']=='Not Required'"
                           class="btn btn--small btn--default"
                           placement="top"
                         >
                           {{element["moduleName"]}} 
                         </button>
                          </li>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- bottom modules -->
                <div class="row base-margin-top">

                  <div class="col-sm-3 half-margin-left">
                    <!-- Group 4 -->
                    <div *ngIf="groupData !== null && groupData['Group0'] !== null" >
                    <li class="base-padding-bottom" *ngFor="let element of groupData['Group4']['left']">
                       <!-- Completed -->
                       <button *ngIf="element['status']=='Completed'"
                       class="btn btn--small btn--success"
                       placement="top"
                     >
                      {{element["moduleName"]}} 
                     </button>
                      <!-- In Progress-->
                    <button *ngIf="element['status']=='In Progress'"
                    class="btn btn--small btn--warning"
                    placement="top"
                  >
                   {{element["moduleName"]}} 
                  </button>
                  <!-- Available -->
                  <button *ngIf="element['status']=='Available'"
                  class="btn btn--small btn--primary"
                  placement="top"
                >
                 {{element["moduleName"]}} 
                </button>
                     <!-- Not Yet Available -->
                     <button *ngIf="element['status']=='Not Yet Available'"
                       class="btn btn--small btn--gray-ghost"
                       placement="top"
                     >
                      {{element["moduleName"]}} 
                     </button>
                     <!-- Not Required -->
                     <button *ngIf="element['status']=='Not Required'"
                     class="btn btn--small btn--default"
                     placement="top"
                   >
                     {{element["moduleName"]}} 
                   </button>
                    </li>
                    </div>
                  </div>
                  <div class="col-sm-3 half-margin-left"></div>

                  <div class="col-sm-3 last">
                    <!-- Group 5 -->
                    <div *ngIf="groupData !== null && groupData['Group0'] !== null" >
                    <li class="base-padding-bottom" *ngFor="let element of groupData['Group5']['left']">
                      <!-- Completed -->
                      <button *ngIf="element['status']=='Completed'"
                      class="btn btn--small btn--success"
                      placement="top"
                    >
                     {{element["moduleName"]}} 
                    </button>
                     <!-- In Progress-->
                   <button *ngIf="element['status']=='In Progress'"
                   class="btn btn--small btn--warning"
                   placement="top"
                 >
                  {{element["moduleName"]}} 
                 </button>
                 <!-- Available -->
                 <button *ngIf="element['status']=='Available'"
                 class="btn btn--small btn--primary"
                 placement="top"
               >
                {{element["moduleName"]}} 
               </button>
                    <!-- Not Yet Available -->
                    <button *ngIf="element['status']=='Not Yet Available'"
                      class="btn btn--small btn--gray-ghost"
                      placement="top"
                    >
                     {{element["moduleName"]}}
                    </button>
                    <!-- Not Required -->
                    <button *ngIf="element['status']=='Not Required'"
                    class="btn btn--small btn--default"
                    placement="top"
                  >
                    {{element["moduleName"]}} 
                  </button>
                    </li>
                    </div>
                      <!-- Group 6 -->
                    <div *ngIf="groupData !== null && groupData['Group0'] !== null" >
                    <li *ngFor="let element of groupData['Group6']['left']">
                      <!-- Completed -->
                      <button *ngIf="element['status']=='Completed'"
                      class="btn btn--small btn--success"
                      placement="top"
                    >
                     {{element["moduleName"]}} 
                    </button>
                     <!-- In Progress-->
                   <button *ngIf="element['status']=='In Progress'"
                   class="btn btn--small btn--warning"
                   placement="top"
                 >
                  {{element["moduleName"]}}
                 </button>
                 <!-- Available -->
                 <button *ngIf="element['status']=='Available'"
                 class="btn btn--small btn--primary"
                 placement="top"
               >
                {{element["moduleName"]}} 
               </button>
                    <!-- Not Yet Available -->
                    <button *ngIf="element['status']=='Not Yet Available'"
                      class="btn btn--small btn--gray-ghost"
                      placement="top"
                    >
                     {{element["moduleName"]}} 
                    </button>
                    <!-- Not Required -->
                    <button *ngIf="element['status']=='Not Required'"
                    class="btn btn--small btn--default"
                    placement="top"
                  >
                    {{element["moduleName"]}} 
                  </button>
                    </li>
                    </div>
                  </div>
                </div>
              </ul>
            </div>
          </div>
          <!-- Legend -->
          <div class="row base-margin-top">
            <div class="col-sm-12 col-md-5">
              <ul class="osw-ps-legend">
                <div class="row">
                  <div class="col-sm-6">
                    <li class="half-margin-bottom">
                      <button
                        class="btn btn--icon btn--small legend-available"
                      ></button>
                      Available
                    </li>
                    <li class="half-margin-bottom">
                      <button
                        class="btn btn--icon btn--small legend-notavail"
                      ></button>
                      Not Yet Available
                    </li>
                    <li>
                      <button
                        class="btn btn--icon btn--small legend-notreq"
                      ></button>
                      Not Required
                    </li>
                  </div>
                  <div class="col-sm-6">
                    <li class="half-margin-bottom">
                      <button class="btn btn--icon btn--small legend-completed">
                        <span class="icon-tools"></span>
                      </button>
                      Completed
                    </li>
                    <li class="half-margin-bottom">
                      <button class="btn btn--icon btn--small legend-inprog">
                        <span class="icon-tools"></span>
                      </button>
                      In-Progess
                    </li>
                    <li>
                      <button class="btn btn--icon btn--small legend-milestone">
                        <span class="icon-tools"></span>
                      </button>
                      Milestone
                    </li>
                  </div>
                </div>
              </ul>
            </div>
          </div>


        <div class="col-sm-12 col-md-3"></div>
      </div>
      <!-- right panel -->
      <div class="rightContent  col-sm-12 col-md-3">
        <app-right-panel [stakeData]="stakeholders" [offerName]="offerName" [derivedMM]="derivedMM"
        [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference"></app-right-panel>
        </div>
    </div>
    </div>
  </div>
</div>