
<div class="fin-wide-container">

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a routerLink="add">
      <button cuiButton color="primary">Add New</button>
    </a>
  </div>

  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort>

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let row" [routerLink]="['edit', row.id]"><a> {{row.name}} </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="typeCode">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Type Code</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.typeCode}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{UiUtil.getStatusText(row.status)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updatedBy}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{moment(row.updatedDate).format('MM/DD/YYYY hh:mm A')}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="25"></mat-paginator>
  </div>

</div>


