
        <div class="content-fluid">
            <main>
                <div class="content">
                    <div class="container">
                        <div class="row base-margin-top">
                                
                                    <div class="col-md-6">
                                        <h1 class="display-4">Cisco Data Platform</h1>
                                        <h4>Strategy Review</h4>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="btn-group btn-group--wide pull-right base-margin-top">
                                                   
                                                    <button class="btn btn--secondary">Offer Detail View <span class="icon-chevron-right"></span></button>
                                            </div>
                                    </div>
                                    

                                <div class="col-md-9">
                                        <div class="offer-header card card--raised base-margin-top">
                                            
                                                <div class="row">
                                                        <div class="col-md-12">
                                                                <div class="flex-fluid text-left half-margin-left">
                                                                        <div class="text-bold">Offer Description</div>
                                                                        <div>Provides award-winning technical support along with entitlement to smart capabilities</div>
                                                                    </div>
                                                        </div>
                                                </div>
                                                <div class="row">
                                                        <div class="col-md-3">
                                                                <div class="flex-fluid text-left half-margin-left">
                                                                        <div class="text-bold">Expected Launch Date</div>
                                                                        <div>30-Aug-2018</div>
                                                                    </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                                <div class="flex-fluid text-left half-margin-left">
                                                                        <div class="text-bold">Business Entity</div>
                                                                        <div>Networking, Cloud Computing, Internet of Things (IOT), Wireless and Mobility, +1 more</div>
                                                                    </div>
                                                        </div>
                                                        <div class="col-md-3">
                                                                <div class="flex-fluid text-left half-margin-left">
                                                                        <div class="text-bold">Business Unit</div>
                                                                        <div>Digital Solution, Data Center Services</div>
                                                                    </div>
                                                        </div>
                                                </div>
                                       
                                        </div>
                                        

                                    <ul class="list list--highlight base-margin-top">
                                            <li><div class="panel panel--bordered">MM4-SAAS <span class="text-success"><span class="icon-check-outline icon-medium"></span> Aligned</span></div></li>
                                            
                                    </ul>


                                    <div class="accordion base-margin-top" id="accordion">
                                            <div class="card">
                                                <div class="card-header" id="headingOne">
                                                <h5 class="mb-0">
                                                        Exit Criteria
                                                    
                                                
                                                <button [disabled]="!requestApprovalAvailable" class="btn pull-right" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                        Request Approval
                                                </button></h5>
                                                </div>
                                            
                                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                                <div class="responsive-table">
                                                                        <table class="table table--nostripes offer-dimensions">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th class="sortable">Exit Criteria </th>
                                                                                        <th class="sortable">Status </th>
                                                                                    </tr>
                                                                                </thead>
                                                                        </table>
                                                                    <table class="table table--nostripes offer-dimensions">
                                                                            
                                                                            <tbody>
                                                            
                                                                                <tr  *ngFor="let action of ideate">
                                                                                <td><span class="icon-view-feed-single icon-medium dependancy"></span> {{action['subMilestone']}}</td>
                                                                                    <td class="status" [ngStyle]="{'color': actionStatusColor(action['status'])}">{{action['status']}}</td>
                                                                                </tr>
                                                                                
                                                                            </tbody>
                                                                        </table>
                                                                </div>
                                                        </div>
                                                </div>
                                            </div>
                                            
                                            <div class="col-md-12">
                                                    <div class="panel cta base-margin-top half-margin-bottom">
                                                            
                                                        <div class="row">
                                                                <div class="col-md-2">
                                                                    <h1 class="page-title"><span class="action--value">6</span> <span class="action--value-label">Total Approvals</span></h1>
                                                                    <div class="progressbar progressbar--default" data-percentage="66">
                                                                            <div class="progressbar__fill"></div>
                                                                    </div>
                                                                    </div>
                                                                    
                                                                    <span class="vertical-divider"></span>
                                                                    <div class="col-md-2">
                                                                    <h1 class="page-title"><span class="action--value">1</span> <span class="action--value-label">Approved</span></h1>
                                                                    
                                                                    <div class="progressbar progressbar--success" data-percentage="66">
                                                                            <div class="progressbar__fill"></div>
                                                                    </div>
                                                                    </div>
                                                                    <span class="vertical-divider"></span>
                                                                    <div class="col-md-3">
                                                                    <h1 class="page-title"><span class="action--value">2</span> <span class="action--value-label">Conditionally Approved</span></h1>
                                                                    <div class="progressbar progressbar--warning" data-percentage="66">
                                                                            <div class="progressbar__fill"></div>
                                                                    </div>
                                                                    </div>
                                                                    <span class="vertical-divider"></span>
                                                                    <div class="col-md-2">
                                                                    <h1 class="page-title"><span class="action--value">2</span> <span class="action--value-label">Not Approved</span></h1>
                                                                    <div class="progressbar progressbar--danger" data-percentage="66">
                                                                            <div class="progressbar__fill"></div>
                                                                    </div>
                                                                    </div>
                                                                    <span class="vertical-divider"></span>
                                                                    <div class="col-md-2">
                                                                    
                                                                    <h1 class="page-title"><span class="action--value">1</span> <span class="action--value-label">Not Reviewed</span></h1>
                                                                    <div class="progressbar progressbar--warning" data-percentage="66">
                                                                            <div class="progressbar__fill"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                       
                                                    </div>
                                                </div>
                                            <div class="card">
                                                    <div class="card-header" id="headingTwo">
                                                        <h5 class="mb-0">
                                                       
                                                             Strategy Review Status
                                                        
                                                        </h5>
                                                    </div>
                                                
                                                    <div id="collapseTwo" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                                        <div class="card-body">
                                                                <div class="responsive-table">
                                                                        <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                            <thead>
                                                                                <tr>
                                                                                    <th class="sortable collapse-label">Function </th>
                                                                                    <th class="sortable collapse-label">Approval Status </th>
                                                                                    <th class="sortable date">Reviewed On </th>
                                                                                    <th class="sortable">Reviewed By</th>
                                                                                </tr>
                                                                            </thead>
                                                                        </table>
                                                                </div>
                                                                        <ul class="list list--highlight base-margin-top">
                                                                            <li>
                                                                                <div class="responsive-table">
                                                                                        <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                            <tr>
                                                                                                <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-check-outline icon-medium text-success"></span> CSPP</td>
                                                                                                <td class="collapse-label">Approved</td>
                                                                                                <td class="date">06-Aug-2018</td>
                                                                                                <td>Sean Parker (OPS)</td>
                                                                                            </tr>
                                                                                </table>
                                                                                </div>
                                                                                <div class="panel panel--bordered">
                                                                                
                                                                                    <span class="panel--block-heading">Comments</span>
                                                                                <ul>
                                                                                    <li>Royalty information should be updated as discussed.</li>
                                                                                    <li>Milestone review and approval is requested for the Design review stage.</li>
                                                                                </ul>
                                                                                <div class="divider divider--compressed"></div>  
                                                                                <h4>Action Item <span class="text-success">Completed</span></h4>

                                                                                <div class="row">
                                                                                    <div class="col-sm-6"><span class="panel--block-heading">Action Item Update</span> Royalty contract information</div>
                                                                                    <div class="col-sm-6"><span class="panel--block-heading">description</span> The Royalty agreement should be updated with new terms discussed.</div>
                                                                                    <div class="col-sm-6"><span class="panel--block-heading">Milestone</span> Strategy Review</div>
                                                                                    <div class="col-sm-6"><span class="panel--block-heading">DUE DATE</span> 20-Aug-2018</div>
                                                                                </div>

                                                                                </div>
                                                                            </li>


                                                                            <li>
                                                                                    <div class="responsive-table">
                                                                                        <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                            <tr>
                                                                                                <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-error-outline icon-medium text-danger"></span> CPS</td>
                                                                                                <td class="collapse-label">Approved</td>
                                                                                                <td class="date">11-Aug-2018</td>
                                                                                                <td>Sean Parker (OPS) 
                                                                                                    <div class="reviewed-comments"><a><span class="icon-message icon-medium"><span class="total">1</span></span> Comment</a></div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </div>
                                                                            </li>

                                                                            <li>
                                                                                <div class="responsive-table">
                                                                                        <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                            <tr>
                                                                                                <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-error-outline icon-medium text-danger"></span> Compensation Ops</td>
                                                                                                <td class="collapse-label">Approved</td>
                                                                                                <td class="date">16-Aug-2018</td>
                                                                                                <td>Thomas <div class="reviewed-comments"><a><span class="icon-message icon-medium"><span class="total">2</span></span> Comments</a></div>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="responsive-table">
                                                                                    <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                        <tr>
                                                                                            <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-warning-outline icon-medium text-warning"></span> Royalty</td>
                                                                                            <td class="collapse-label">Conditionally Approved</td>
                                                                                            <td class="date">21-Aug-2018</td>
                                                                                            <td>Jessica Lara <div class="reviewed-comments"><a><span class="icon-message icon-medium"><span class="total">1</span></span> Comment</a></div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="responsive-table">
                                                                                    <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                        <tr>
                                                                                            <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-check-outline icon-eye-closed icon-medium"></span> I2C/Credit</td>
                                                                                            <td class="collapse-label">Not Reviewed</td>
                                                                                            <td></td>
                                                                                            <td>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </li>
                                                                            <li>
                                                                                <div class="responsive-table">
                                                                                    <table class="table table--nostripes table--highlight table--hover table--selectable">
                                                                                        <tr>
                                                                                            <td class="collapse-label"><span class="sort-indicator icon-chevron-down"></span> <span class="icon-warning-outline icon-medium text-warning"></span> Service Info</td>
                                                                                            <td class="collapse-label">Conditionally Approved</td>
                                                                                            <td class="date">16-Dec-2018</td>
                                                                                            <td>Jessica Lara <div class="reviewed-comments"><a><span class="icon-message icon-medium"><span class="total">1</span></span> Comment</a></div>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                </div>
                                                                            </li>

                                                                            </ul>
                                                                            
                                                                        
                                                                </div>
                                                        </div>
                                                    </div>
                                            </div>

                                    
                                      
                                </div>
                                <div class="col-md-3">
                                        <app-right-panel [portfolioFlag]="setFlag" [offerOwner]="offerOwner" [stakeData]="stakeData" (updateStakeData)="updateStakeData($event)"></app-right-panel>
                                </div>
                        </div>


                    </div>
                </div>
            </main>
        </div>
 
