button {
    margin: 5px;
}

.add-form-container {
    width: 50%;
    margin: auto;
    padding: 10px;
}

.input-filter-level {
    /* styling here */
}

.level {
    display: inline-block;
}

.switch {
  float: left;
}

.option {
    
}

.columnHeader {
    text-align: center;
}

/* .categories {
    visibility: hidden;
} */

.tooltip {
    display: inline-block;
}

#subname {
    display: inline-block;
    width: 95%;
}