<div class="form-group">
  <div [formGroup]="questionForm">
    <div [ngSwitch]="question.componentType">
<!-- Input -->
      <div class="form-group__text half-margin-bottom half-margin-top" *ngSwitchCase="'Free Text'">
        <input [formControlName]="question.egineAttribue" [id]="question.egineAttribue" class="form-control">
        <label for="questionLabel">{{question.egineAttribue}}</label>
      </div>
<!-- Select -->
      <div class="form-group__text select half-margin-bottom half-margin-top" *ngSwitchCase="'Drop-down'">
        <select [id]="question.egineAttribue" [formControlName]="question.egineAttribue" class="form-control">
          <option *ngFor="let opt of question.values" [value]="opt">{{opt}}</option>
        </select>
        <label for="questionLabel">{{question.egineAttribue}}</label>
      </div>
<!-- Radio Button -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Radio Button'" >
        <label class="radio half-margin-bottom" for="questionLabel">{{question.egineAttribue}}</label>
          <div>
            <label class="radio" *ngFor="let rad of question.values">
              <input type="radio" [id]="question.egineAttribue" [name]="question.egineAttribue" [formControlName]="question.egineAttribue"
                class="form-control" [value]="rad">
                <span class="radio__input"></span>
                <span class="radio__label hidden-xs">{{rad}}</span>
            </label>
          </div>
      </div>
<!-- Radio Button -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Q&A Radio Button'" >
        <label class="radio half-margin-bottom" for="questionLabel">{{question.question}}</label>
        <div>
        <label class="radio" *ngFor="let rad of question.values">
          <input type="radio" [id]="question.values" [name]="question.question" [formControlName]="question.egineAttribue"
            class="form-control" [value]="rad">
            <span class="radio__input"></span>
            <span class="radio__label hidden-xs">{{rad}}</span>
        </label>
       </div>
      </div>
<!-- Free Text -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Q&A FreeText'" >
          <div class="form-group">
              <div class="form-group__text">
        <input [formControlName]="question.egineAttribue" [id]="question.question" class="form-control">
        <label for="questionLabel">{{question.question}}</label>
        </div></div>
      </div>
    </div>
  </div>
</div>
