<div [formGroup]="questionForm">
  <label [attr.for]="question.egineAttribue">{{question.egineAttribue}}</label>
  <div [ngSwitch]="question.componentType" style="margin-top: -1%">
    <div class="row" style="margin-top: 1%">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-group__text">
            <!--Free Text -->
            <input *ngSwitchCase="'Free Text'" [formControlName]="question.egineAttribue" [id]="question.egineAttribue" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="margin-top: 1%">
      <div class="col-md-6">
        <div class="form-group">
          <div class="form-group select">
            <!--Drop-down-->
            <select [id]="question.egineAttribue" *ngSwitchCase="'Drop-down'" [formControlName]="question.egineAttribue" class="form-control">
              <option *ngFor="let opt of question.values" [value]="opt">{{opt}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 1%">
      <div class="col-md-6">
        <div *ngSwitchCase="'Boolean'" class="form-group form-group--inline">
          <label class="radio">
            <input [id]="question.egineAttribue" type="radio" [formControlName]="question.egineAttribue" checked class="form-control">
            <span class="radio__input"></span>
            <span class="radio__label hidden-xs">Option 1</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>