<div mat-dialog-title>Rule Detail:</div>

<div mat-dialog-content>
    <div class="row"> <!--Top row-->

      <div class="col-lg-6"> <!--First column-->
        <!--Top row-->
          <div class="row">
            <div class="col-lg-6">Name:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.name" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.name?.length < 15">{{rule.name}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Driver:</div>
            <div class="col-lg-6">{{rule.driverName}}</div>
          </div>
        </div> <!--End of top row first column-->


    <div class="col-lg-6"> <!--Second column-->
        <div class="row">
          <!--Empty row-->
        </div>

        <div class="row">
          <div class="col-lg-6">Driver Period:</div>
          <div class="col-lg-6">{{rule.period}}</div>
        </div>
      </div> <!--End of top row second column-->
    </div> <!--End of top row-->


  <div class = "row"> <!--Bottom row-->

    <div class="col-lg-6"> <!--First column-->
          <div class="row heading">
            <div class="col">Matching Criteria:</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Sales:</div>
            <div class="col-lg-6" >{{rule.salesMatch}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Product:</div>
            <div class="col-lg-6">{{rule.productMatch}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">SCMS:</div>
            <div class="col-lg-6">{{rule.scmsMatch}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Internal Business Entity:</div>
            <div class="col-lg-6">{{rule.beMatch}}</div>
          </div>

      <div class="row">
        <div class="col-lg-6">Legal Entity:</div>
        <div class="col-lg-6">{{rule.legalEntityMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Country:</div>
        <div class="col-lg-6">{{rule.countryMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">External Theater:</div>
        <div class="col-lg-6">{{rule.extTheaterMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">GL Segments:</div>
        <div class="col-lg-6">{{rule.glSegmentsMatch}}</div>
      </div>

    </div> <!--End of bottom row first column-->

      <div class="col-lg-6"> <!--Second column-->


          <div class="row heading">
            <div class="col">Selection Criteria:</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Sales Level 1:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.sl1Select" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.sl1Select?.length < 15">{{rule.sl1Select}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Sales Level 2:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.sl2Select" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.sl2Select?.length < 15">{{rule.sl2Select}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Sales Level 3:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.sl3Select" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.sl3Select?.length < 15">{{rule.sl3Select}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Product (PF):</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.prodPFSelect" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.prodPFSelect?.length < 15">{{rule.prodPFSelect}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Product (BU):</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.prodBUSelect" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.prodBUSelect?.length < 15">{{rule.prodBUSelect}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Product (TG):</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.prodTGSelect" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.prodTGSelect?.length < 15">{{rule.prodTGSelect}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">SCMS:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.scmsSelect" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.scmsSelect?.length < 15">{{rule.scmsSelect}}</div>
          </div>

          <div class="row">
            <div class="col-lg-6">Internal Business Entity:</div>
            <div class="col-lg-6 text-ellipsis" [matTooltip]="rule.beSelect" matTooltipPosition="above"
                 [matTooltipDisabled]="rule.beSelect?.length < 15">{{rule.beSelect}}</div>
          </div>

      </div>
    </div>
</div>

<div mat-dialog-actions>
  <button cuiButton color="primary" type="button" mat-dialog-close="true">Close</button>
</div>
