<div class="form-group" [tabindex]="tabindex" (mouseover)="over = true" (mouseleave)="over = false" [ngClass]="{'input--compressed': compressed, 'form-group--error': errorMessage}">
	<div class="form-group__text">
		<input type="text" name="select-{{guid}}" id="select-{{guid}}" autocomplete="off" [(ngModel)]="searchText" [placeholder]="placeholder" [disabled]="disabled" [required]="required" (mousedown)="toggleActive()" (keydown)="onKeydown($event)" (ngModelChange)="onSearch()" [ngClass]="{'input-size-compressed': compressed}">
		<label *ngIf="label">{{label}}</label>
		<span class="dropdown-chevron" [ngClass]="{'icon-chevron-down': !active, 'icon-chevron-up': active, 'has-label': label, 'disabled': disabled}" (mousedown)="toggleActive()" *ngIf="(!empty || !model) && !errorMessage"></span>
		<span class="icon-close" [ngClass]="{'has-label': label, 'disabled': disabled}" (mousedown)="clearModel()" *ngIf="empty && model && !errorMessage"></span>
		<span class="icon-error text-danger" [ngClass]="{'has-label': label, 'disabled': disabled}" *ngIf="errorMessage"></span>
	</div>
	<div class="dropdown active" *ngIf="active">
		<div class="dropdown__menu">
			<span *ngFor="let group of items; let i = index">
				<div class="dropdown__divider" *ngIf="i > 0"></div>
				<a *ngFor="let item of group" [ngClass]="{selected: item.selected, 'keyboard-hover': !item.selected && item.hovered}" (mousedown)="selectItemOnClick(item[optionsValue])">{{item[optionsKey]}}</a>
			</span>
		</div>
	</div>
	<div class="help-block text-danger" *ngIf="errorMessage">{{errorMessage}}</div>
</div>
