<div class="card card--raised">
  <h4>Sales Dimensions</h4>
  <div class="panel">
    <div id="tabsv6-content" class="tab-content">
      <div id="tabsv6-1-content" class="tab-pane active">
        <ul class="list dimensions--toggle">
          <li *ngFor="let subGroup of groupKeys ">
            <div class="row">
              <div class="col-md-2">{{subGroup}}</div>
      
              <div class="col-md-10">
    
                <button *ngFor="let attribute of groups[subGroup]"
                [ngClass]="{
                  'gray-button':attribute.type===1 && attribute.status===-1,
                  'mm-model-btn-active':attribute.status===1||attribute.type===2,
                  'mm-model-btn-inactive':attribute.status===-1 && attribute.type ===0
                }" class="btn btn--small" style="max-width: none; margin: 10px auto;"
                (click)="toggleSelected(attribute)" >{{attribute.name}}</button> 
              </div>
            </div>
            <div class="divider"></div>
          </li>
        </ul>
      </div>

    </div>
    <div class="panel-footer base-margin-top">
      <div class="btn-group btn-group--wide" style="margin: auto;width: 100%;">
        <button class="btn btn--gray-ghost disabled"><span class="icon-chevron-left"></span></button>
        <button (click)="toNextStep()"
        [disabled]="!canClickNextStep"  class="btn btn--gray"><span class="icon-chevron-right"></span></button>
      </div>
    </div>
  </div>
</div>



