<header class="header">
  <div class="header-bar container">
    <a href="javascript:;" class="header-bar__logo">
      <span class="icon-cisco"></span>
    </a>
    <div class="header-bar__main">
      <div class="header-heading">
        <h1 class="page-title">Cisco Orchestrated Offer Lifecycle</h1>
      </div>
      <div class="header-menus">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a routerLink="/dashboard"><div class="tab__heading" title="Basic">Dashboard</div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/coolOffer"><div class="tab__heading" title="Wide">Offers</div></a>
          </li>
          <li routerLinkActive="active">
            <a><div class="tab__heading" title="Sidebar">Analytics</div></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="header-toolbar">
        <a href="javascript:;" class="avatar">{{userId}}<span class="icon-chevron-down icon-small"></span><span class="role userIdSpacing">{{functionalRole}}</span></a>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-search"></span>
        </a>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-alert"></span>
        </a>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-cog"></span>
        </a>
    </div>
  </div>
</header>

