<header class="header header--compressed">
  <div class="header-bar container">
    <a href="javascript:;" class="header-bar__logo">
      <span class="icon-cisco"></span>
    </a>
    <div class="header-bar__main">
      <div class="header-heading">
        <div class="logo-cool-full"><h1 class="page-title">Cisco Orchestrated Offer Lifecycle</h1></div>
        <div class="logo-cool"><h1 class="page-title">COOL</h1></div>
      </div>
      <div class="header-menus">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a routerLink="/dashboard"><div class="tab__heading" title="Basic">Dashboard</div></a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="/coolOffer"><div class="tab__heading" title="Wide" *ngIf="isBupmUser">Offers</div></a>
          </li>
          <li routerLinkActive="active">
            <a><div class="tab__heading" title="Sidebar">Analytics</div></a>
          </li>
          <li routerLinkActive="active">

              <a routerLink="/action"><div class="tab__heading" title="Sidebar">Actions</div></a>
            </li>
          <li routerLinkActive="active">
              <a routerLink="/accessManagement"><div class="tab__heading" title="Sidebar" *ngIf="hasAdminAccess">Access Management</div></a>
          </li>

        </ul>
      </div>
    </div>
    <div class="header-toolbar">

        <a href="javascript:;" class="avatar">{{userName}}<span class="icon-chevron-down"></span><span class="role userIdSpacing">{{functionalRole}}</span></a>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-search"></span>
        </a>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-alert"></span>
        </a>
        <a href="javascript:;" class="btn btn--icon" >
            <span [ngbPopover]="popNotificationContent" placement="bottom">
           <span class="icon-email">
             </span>
           </span>
        </a>
        <ng-template  #popNotificationContent ptemplate="body" placement="bottom">
          <div class="emailPrefSpacing">

                 <p-multiSelect
                  id="selectedSValue"
                  class="form-control"
                  name="secondaryBUList"
                  [options]="emailPrefOptions"
                  (onChange)="getSecondaryBusinessEntity($event.value)"
                  [(ngModel)]="secondaryBusinessUnitsValue"
                  [panelStyle]="{minWidth:'25em'}">
                </p-multiSelect>

        </div>
        </ng-template>
        <a href="javascript:;" class="btn btn--icon">
            <span class="icon-cog"></span>
        </a>
    </div>
    <ng-template  #popContent ptemplate="body">
        <p-accordionTab>
            <p-header>
              <div class="row">
                <div class="col"><span class="icon-check-outline icon-medium text-success"></span>CSPP</div>

              </div>
            </p-header>
          </p-accordionTab>
       </ng-template>
  </div>
</header>

