<app-menu-bar [caseId]="caseId" [offerId]="offerId" [offerName]="offerName" [currentMMModel]="derivedMM">
</app-menu-bar>

<div class="content">
  <div class="container">

      <div class="panel-wrapper mt-15">
          
        <app-taskbar [isPirateShipSubModule]="isPirateShipSubModule" [pirateShipModuleName]="pirateShipModuleName" [selectedATO]="selectedAto">
        </app-taskbar>
  
        <br><br>

        <div class="row">

            <div class="leftContent col-sm-12 col-md-9">
    
              <div class="row flex-center-vertical">
                <div class="col-sm-12">
                  <div class="pull-left" >
                    <button class="btn btn--primary btn--cool btn--small tooltip" placement="top"
                      (click)="reject($event, popCommentContent)">
                      Reject <i class="icon-success"></i>
                    </button>
                    <button class="btn btn--primary btn--cool btn--small tooltip" placement="top"
                      (click)="approve()">
                      Approve <i class="icon-success"></i>
                    </button>
                  </div> 
    
                  <div class="pull-right">
                      <div class="form-group dropdown label--inline ">
                          <div class="form-group__text select">
                            <label>Viewing</label>
                            <select #dropDown="ngModel" [(ngModel)]="selectedIndex" (change)="showSelectedAtoView(dropDown.value)">
                              <option *ngFor=" let ato of atoNames; let i = index;" [value]="i">
                                {{ato}}</option>
                            </select>
                          </div>
                        </div>
                    </div>
    
                </div>
              </div>

          

              <p-overlayPanel #popCommentContent [showCloseIcon]="true">
                  <div  class="comments-modal">
                    <div class="popover__body">
                      <h1 class="modalheader">Add Comments</h1>
                      <div class="add-comment-field">
                          <textarea class="textarea" [value]="newComment" (input)="validateComment($event)" maxlength="300" placeholder="300 Max Character" rows="5"></textarea><br>
                          <div class="divider divider--compressed"></div>
                            <div class="action-bar text-right">
                            <button class="btn btn--secondary"  (click)="removeComment(popCommentContent)" type="submit">Cancel</button>
                            <button class="btn btn--primary"  (click)="updateComment(popCommentContent)" type="submit">Submit</button>
                          </div>
                        </div>
                    </div>
                  </div>
                </p-overlayPanel>
    
              <div class="base-margin-top sales-compensation">
                <p-treeTable class="item-creation" [value]="offerDetails" [columns]="salesCompensationColumns" selectionMode="checkbox"
                [(selection)]="offerProductNodes"  [resizableColumns]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns">
                        <div class="text-left">
                          {{col.header}}
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                      <tr>
                        <td *ngFor="let col of columns; let i = index">
                          <div class="text-left"  *ngIf="i!=0">{{rowData[col.field]}}</div>
                        </td>
                      </tr>
                  </ng-template>
                </p-treeTable>
                <br>
                <br>
                Item List

                <p-treeTable class="item-creation" [value]="productDetails" [columns]="salesCompensationItemListColumnHeaders" selectionMode="checkbox"
                [(selection)]="selectedProductNodes"  [resizableColumns]="true">
                  <ng-template pTemplate="header" let-columns>
                    <tr>
                      <th *ngFor="let col of columns"  [ngStyle]="{'width': col.width}">
                        <div class="text-left">
                          {{col.header}}
                        </div>
                      </th>
                    </tr>
                  </ng-template>
                  <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
                      <tr>
                        <td *ngFor="let col of columns; let i = index">
                          <p-treeTableCheckbox class="pull-left" [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
                          <!-- <p-treeTableToggler class="pull-left" [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler> -->
                          <div class="text-left"  *ngIf="i!=0">{{rowData[col.field]}}</div>
                        </td>
                      </tr>
                  </ng-template>
                </p-treeTable>
              </div>
    
              <ng-template #selectedAtoView>
                <br><br>
    
              </ng-template>
        
            </div>
    
            <div class="rightContent col-sm-12 col-md-3">
              <app-right-panel [stakeData]="stakeholders" [offerName]="offerName" [derivedMM]="derivedMM"
                [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
              </app-right-panel>
            </div>
    
          </div>

      </div>

  </div>
</div>