<div class="content">
  <div class="container-fluid">
    <div class="row base-margin-top">
      <div class="col-md-12">
        <div class="panel panel--indigo panel--compressed task--bar">
          <div class="row">
            <div class="col-md-4">
              <h2 class="page--subheading">Access Management</h2>
            </div>
            <div class="col-md-8 text-right">
              <button class="btn btn--white" (click)="registerNewUser()"><span class="icon-add-contain icon-small"></span>&nbsp;Register New Users</button>
            </div>
          </div>
        </div>
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h4>Assign User Access</h4>
              </div>
              <div class="col-md-4">
                <div class="form-group input--icon half-margin-bottom">
                  <div class="form-group__text">
                    <input id="input-type-search" type="text" pInputText size="50" placeholder="Search all users by name or ID"
                      (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                    <button type="button" class="link">
                      <span class="icon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="responsive-table">
              <p-table #dt [columns]="cols" [value]="accessManagementData" [paginator]="true" [rows]="6">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th *ngFor="let col of columns">
                      {{col.header}}
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-car>
                  <tr>
                    <td>{{car.emailId}}</td>
                    <td>{{car.userName}}</td>
                    <td>{{car.userMapping[0].functionalRole}}</td>
                    <td>{{car.userMapping[0].businessEntity}}</td>
                    <td>
                      <p-multiSelect [options]="arrToOptions(car.buList)" (onChange)="updatedAceessManagement($event.value)"
                        [style]="{'width':'100%'}">
                      </p-multiSelect>
                    </td>
                    <td>
                      <div *ngIf="car.userMapping[0].functionalAdmin">
                        <span>Admin</span>
                      </div>
                      <div *ngIf="car.userMapping[0].keyPOC">
                        <span>KeyPOC</span>
                      </div>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </div>
        <section id="formSection" *ngIf="showFormSection">
          <div class="card card--raised base-margin-top">
            <div class="panel">
              <div class="pull-right base-margin-top">
                <span class="icon-close" (click)="closeForm()"></span>
              </div>
              <div class="card__header" style="margin-top: 1%">
                <h5 class="card__title">Register User</h5>
              </div>
              <div style="margin-top: 1%">
                <div class="row base-margin-top">
                  <div class="col-md-12">
                    <div class="panel panel--mdgray">
                      <span class="text-uppercase">New User</span>
                    </div>
                  </div>
                </div>
                <form #registerUserForm="ngForm" (ngSubmit)="createUser()">
                  <div class="row base-margin-top">
                    <div class="col-md-4">
                      <div class="form-group half-margin-bottom">
                        <div class="form-group__text">
                          <label for="selectedSValue">UserId</label>
                          <input id="userId" type="text" class="form-control" name="userId" [(ngModel)]="userIdValue"
                            ngModel>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <div class="form-group__text select">
                          <label for="functionName">Function</label>
                          <select id="functionName" class="form-control" name="functionName" [(ngModel)]="functionNameValue"
                            ngModel>
                            <option value="BUPM" selected="">BUPM</option>
                            <option value="SOE">SOE</option>
                            <option value="BUPM">BU Ops</option>
                            <option value="BUPM">CPS</option>
                            <option value="BUPM">TAX</option>
                            <option value="BUPM">FET</option>
                            <option value="BUPM">PDT</option>
                            <option value="BUPM">Global Revenue</option>
                            <option value="BUPM">Royalty</option>
                            <option value="BUPM">CXPM</option>
                            <option value="BUPM">Sales</option>

                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 2%">
                      <div class="form-group">
                        <label class="checkbox">
                          <input id="admin" type="checkbox" class="form-control" name="admin" [(ngModel)]="adminValue"
                            ngModel>
                          <span class="checkbox__input"></span>
                          <span class="checkbox__label hidden-xs">Make Admin</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row base-margin-top">
                    <div class="col-md-4">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedSValue">Business Unit</label>
                        <p-multiSelect id="selectedSValue" class="form-control" name="primaryBUList" [options]="businessUnits"
                          [(ngModel)]="businessUnitValue" [style]="{'width':'100%'}">
                        </p-multiSelect>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedSeValue">Business Entity</label>
                        <p-multiSelect id="selectedSeValue" class="form-control" name="primaryBEList" [options]="businessEntities"
                          [(ngModel)]="businessEntityValue" [style]="{'width':'100%'}">
                        </p-multiSelect>
                      </div>
                    </div>
                    <div class="col-md-4" style="margin-top: 1.5%">
                      <div class="form-group">
                        <label class="checkbox">
                          <input id="keyPoc" type="checkbox" class="form-control" name="keyPocValue" [(ngModel)]="keyPocValue"
                            ngModel>
                          <span class="checkbox__input"></span>
                          <span class="checkbox__label hidden-xs">Make Key POC</span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="btn-group btn-group--wide pull-right base-margin-top">
                        <div class="panel--footer">
                          <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                          <button class="btn btn--primary" type="submit">Save</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>