<div class="content">
  <div class="container">
    <!-- My Actions & Notifications Section -->
    <div class="row base-margin-top">
      <div class="col-md-12">
        <h1 class="display-4">Access Management
          <button class="btn btn--secondary pull-right" (click)="registerNewUser()"><span class="icon-add-contain icon-small"></span> Register New
            User</button>
        </h1>
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h4>Assign User Access</h4>
              </div>
              <div class="col-md-4">
                <div class="form-group input--icon half-margin-bottom">
                  <div class="form-group__text">
                    <input id="input-type-search" type="search" value="Search all users by name or ID">
                    <button type="button" class="link">
                      <span class="icon-search"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="responsive-table">
              <table class="table table--nostripes table--highlight table--hover table--selectable">
                <thead>
                  <tr>
                    <th class="sortable">Cisco ID <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable">Name <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable">Business Entity <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable">Business Unit <span class="sort-indicator icon-chevron-down"></span></th>
                    <th class="sortable">Access <span class="sort-indicator icon-chevron-down"></span></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <a href="javascript:;">
                        brobertson@cisco.com
                      </a>
                    </td>
                    <td><a href="javascript:;">Brian Robertson</a>
                    </td>
                    <td>
                      <div class="form-group__text select">
                        <select id="input-type-select">
                          <option value="first" selected="">Collaboration</option>
                          <option value="second">Second Value</option>
                          <option value="third">Third Value</option>
                        </select>
                      </div>
                    </td>
                    <td>
                      <div class="form-group__text select">
                        <select id="input-type-select">
                          <option value="first" selected="">Conferencing</option>
                          <option value="second">Second Value</option>
                          <option value="third">Third Value</option>
                        </select>
                      </div>
                    </td>
                    <td class="emphasis">
                      Admin
                    </td>
                  </tr>
                  <tr>
                      <td>
                        <a href="javascript:;">
                            gsilva@altus.com
                        </a>
                      </td>
                      <td><a href="javascript:;">Gina Silva</a>
                      </td>
                      <td>
                        <div class="form-group__text select">
                          <select id="input-type-select">
                            <option value="first" selected="">Conferencing</option>
                            <option value="second">Second Value</option>
                            <option value="third">Third Value</option>
                          </select>
                        </div>
                      </td>
                      <td>
                        <div class="form-group__text select">
                          <select id="input-type-select">
                            <option value="first" selected="">Collaboration</option>
                            <option value="second">Second Value</option>
                            <option value="third">Third Value</option>
                          </select>
                        </div>
                      </td>
                      <td class="emphasis">
                        Key POC
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <section id="formSection">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card--raised base-margin-top">
                    <div class="row">
                      <div class="col-md-12">
                        <div class="pull-right base-margin-top">
                          <button (click)="closeForm()">X</button>
                        </div>
                      </div>
                    </div>
                    <div class="panel">
                      <div class="card__header">
                        <h5 class="card__title">Register User</h5>
                      </div><br>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="panel panel--mdgray panel--loose">
                            <span class="text-uppercase">New User</span>
                          </div>
                        </div>
                      </div>
                      <form>
                        <div class="row base-margin-top">
                          <div class="col-md-4">
                            <div class="form-group half-margin-bottom">
                              <div class="form-group__text">
                                <input type="text" class="form-control" placeholder="USER ID">
                              </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <div class="form-group__text select">
                                      <select id="select-type-basic">
                                          <option value="first">FUNCTION</option>
                                          <option value="second">Second Value</option>
                                          <option value="third">Third Value</option>
                                      </select>
                                  </div>
                              </div>
                          </div>
                            <div class="col-md-4">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__input"></span>
                                    <span class="checkbox__label hidden-xs">Make Admin</span>
                                </label>
                              </div>
                        </div><br>
                        <div class="row base-margin-top">
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group__text select">
                                    <select id="select-type-basic">
                                        <option value="first">ASSIGN BUSINESS ENTITY</option>
                                        <option value="second">Second Value</option>
                                        <option value="third">Third Value</option>
                                    </select>
                                </div>
                            </div>
                          </div>
                          <div class="col-md-4">
                              <div class="form-group">
                                  <div class="form-group__text select">
                                      <select id="select-type-basic">
                                          <option value="first">ASSIGN BUSINESS UNIT</option>
                                          <option value="second">Second Value</option>
                                          <option value="third">Third Value</option>
                                      </select>
                                  </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                                <label class="checkbox">
                                    <input type="checkbox">
                                    <span class="checkbox__input"></span>
                                    <span class="checkbox__label hidden-xs">Make Key POC</span>
                                </label>
                              </div>
                        </div><br>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="btn-group btn-group--wide pull-right base-margin-top">
                              <div class="panel--footer">
                                <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                                <button class="btn btn--primary" type="submit">Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
          </section>
      </div>
    </div>
  </div>
</div>