
<div class="main-comp hero hero--blue">
  <div class="hero__content">
    <h1>{{store.module.name + ':&nbsp;&nbsp;' + hero.title}}</h1>
    <p>{{hero.desc}}</p>
  </div>
</div>

  <div class="main-content base-padding" fxLayout="row" fxLayoutAlign="start stretch">
    <!--we'll make this animate out "over" the content with an icon when we get around to it-->
    <fin-leftnav fxHide fxFlex="0 0 auto"></fin-leftnav>

    <div fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>
  </div>



