<div class="main-comp hero hero--blue">
  <div class="hero__content">
    <h1>{{store.module.name + ':&nbsp;&nbsp;' + hero.title}}</h1>
    <p>{{hero.desc}}</p>
  </div>
</div>

  <div class="main-content base-padding" fxLayout="row" fxLayoutAlign="start stretch">
    <cui-spinner *ngIf="store.mainCompDataLoad" style="margin:auto" color="default"></cui-spinner>
    <div [style.display]="store.mainCompDataLoad?'none': 'block'" fxFlex="1 1 auto">
      <router-outlet></router-outlet>
    </div>

  </div>



