

.fin-dialog-title {
  font-size: 17px;
  margin: 7px 0 9px 0;
}

.fin-dialog-data {
  background-color: #eee;
  overflow: auto;
  margin-top: 20px;
}

.data {
  overflow-x: auto;
  text-align: left;
}

.row {
  margin-bottom: 5px;
}

.heading {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 19px;
  font-size: 17px;
}
