button {
  margin: 5px;
}



.edit-form {
  width: 90%;
  max-width: 1060px;
  margin: 0 auto;

  .approve-req {
    margin: 10px 0 13px 0;
  }

  .rl-row {
    .enabled {
      position: relative;
      top: 29px;
    }
  }
}

.selectionCriteria {
  padding: 12px;
}
