
.leftnav {
  min-width: 300px;

  .example-radio-group {
    display: inline-flex;
    flex-direction: column;
  }

  .example-radio-button {
    margin: 15px;
    font-weight: 400;
  }

  .example-selected-value {
    margin: 15px;
  }

}

.file-upload {

  .content {
  }

  button {
    margin: 15px;
  }
}

