
<div class="form-group" [class.form-group--error]="ngm.invalid && (form.submitted || ngm.touched || ngm.dirty)">

  <div class="form-group__text">

    <input name="{{name}}"
           #ngm="ngModel"
           [(ngModel)]="model"
           (ngModelChange)="modelChange.emit(model)"
           [ngModelOptions]="ngModelOptions"
           [disabled]="disabled"
    [autocomplete]="autocomplete"
    updateon="submit">

    <label>{{label}}</label>

  </div>
  <div class="help-block text-danger" role="alert">
    <div *ngFor="let v of validations">
      <span *ngIf="ngm.errors && ngm.errors[v.name] && v.message && (form.submitted || ngm.touched || ngm.dirty)">
        {{v.message}}</span>
    </div>
    <div *ngFor="let av of opts.asyncValidations">
      <span *ngIf="ngm.errors && ngm.errors[av.name] && av.message && (form.submitted || ngm.touched || ngm.dirty)">
        {{av.message}}</span>
    </div>
  </div>

<!--
  <div>valid: {{ngm.valid}}</div>
  <div>touched: {{ngm.touched}}</div>
  <div>dirty: {{ngm.dirty}}</div>
  <div>model: {{model}}</div>
  <pre>errors: {{ngm.errors|json}}</pre>
-->

</div>
