<div class="form-group"
     [class.form-group--error]="ngc && ngc.invalid && (form.submitted || ngc.touched || ngc.dirty)"
     [class.input--compressed]="compressed" [class.form-group--inline]="inline">

  <div class="form-group__text">

    <input *ngIf="!textarea" #inputElem type="text"
           [id]="id"
           [placeholder]="placeholder"
           [disabled]="disabled"
           [autocomplete]="autocomplete"
           [autofocus]="autofocus"
           [minLength]="minLength"
           [maxLength]="maxLength"
           (input)="onInput($event)"
           (change)="onChange($event)"
           (blur)="onBlur($event)"
    >

    <textarea *ngIf="textarea" #textareaElem
              [id]="id"
              [placeholder]="placeholder"
              [disabled]="disabled"
              [autofocus]="autofocus"
              [minLength]="minLength"
              [maxLength]="maxLength"
              [rows]="rows"
              [cols]="cols"
              (input)="onInput($event)"
              (change)="onChange($event)"
              (blur)="onBlur($event)"
    ></textarea>

    <label>{{label}}</label>

  </div>
  <div *ngIf="ngc.errors" class="help-block text-danger" role="alert">
    <div *ngFor="let v of validations">
      <span *ngIf="ngc.errors && ngc.errors[v.name] && v.message && (form.submitted || ngc.touched || ngc.dirty)">
        {{getMessage(v.message, ngc.errors[v.name].value)}}</span>
    </div>
    <div *ngFor="let av of opts.asyncValidations">
      <span *ngIf="ngc.errors && ngc.errors[av.name] && av.message && (form.submitted || ngc.touched || ngc.dirty)">
        {{getMessage(av.message, ngc.errors[av.name].value)}}</span>
    </div>
  </div>

  <ng-container *ngIf="debug">
    <div>form.valid: {{form?.valid}}</div>
    <div>form.submitted: {{form?.submitted}}</div>
    <div>valid: {{ngc?.valid}}</div>
    <div>touched: {{ngc?.touched}}</div>
    <div>dirty: {{ngc?.dirty}}</div>
    <div>updateOn: {{updateOn}}</div>
    <pre>errors: {{ngc?.errors|json}}</pre>
  </ng-container>
</div>
