<div class="content">
  <div class="container">
    <app-menu-bar [offerId]="offerId" [caseId]="caseId" [offerName]="offerName" [stakeData]="stakeData"
      [currentMMModel]="derivedMM" (updateMessage)="updateMessage($event)">
    </app-menu-bar>
    <div class="panel-wrapper mt-15">
      <app-taskbar [isPirateShipSubModule]="isPirateShipSubModule" [pirateShipModuleName]="pirateShipModuleName">
      </app-taskbar>
      <br><br>
      <!-- <div class="panel panel--indigo panel--compressed task--bar panel-wrapper mt-15">
            <div class="row">
              <div class="col-sm-4">
                <h2 class="page--subheading"><button class="btn--back btn btn--icon btn--white"
                    (click)="goBackToOfferSetup()"><span class="icon-back"></span></button>
                  CSDL</h2>
              </div>
            </div>
          </div><br><br> -->
      <div class="contentBox mt-10">
        <div class="leftContent">
          <div class="row">
            <div class="col-md-12">
              <h3 style="color: mediumblue">Is CSDL Required?</h3>
              <p>CSDL - Cisco Security Development Lyfecycle is Required when<br>
                Loren ipsum dolor sit amet, consectetur adipiscing elit, set do<br>
                elusmod More information</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-4">
                <div class="form-group form-group--inline">
                  <label class="radio">
                    <input type="radio" name="inline-regular-radio" (change)="onCsdlRequired($event)">
                    <span class="radio__input"></span>
                    <span class="radio__label">Yes</span>
                  </label>
                </div>
                <div class="form-group form-group--inline">
                  <label class="radio">
                    <input type="radio" name="inline-regular-radio" (change)="onCsdlNotRequired($event)">
                    <span class="radio__input"></span>
                    <span class="radio__label">No</span>
                  </label>
                </div>
              </div>
            </div>
          </div><br>
          <div class="divider divider--compressed"></div><br>
          <div class="row" *ngIf="csdlRequired">
            <div class="col-md-12">
              <div class="panel panel--ltgray panel--loose">
                  <div class="row">
                    <form [formGroup]="csdlForm">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group half-margin-bottom">
                            <div class="form-group__text">
                              <p-autoComplete formControlName="csdlId" class="form-control" [size]="100" field="csdlId"
                                [minLength]="3" scrollHeight="150px" placeholder="Search by CSDL ID or Project Name"
                                required>
                              </p-autoComplete>
                            </div>
                          </div><br>
                          <span>ID or Project not showing up?</span>&nbsp;&nbsp;
                          <span class="icon-refresh">Refresh Latest Search Data</span>
                        </div>
                        <div class="col-md-2">
                          <button class="btn btn--primary" type="submit">Submit</button>
                        </div>
                        <div class="col-md-4">
                          <button class="btn btn--primary" type="submit">Create New ID</button><br><br>
                          <span class="icon-info-outline icon-small"> I don't have an ID, create one for me</span>
                        </div>
                      </div>
                    </form>              
                  </div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="csdlNotRequired">
            <div class="col-md-12">
              <div class="subheader" style="color: midnightblue">Why is CSDL not Required?</div>
              <div class="form-group">
                  <label class="radio">
                      <input type="radio" name="stacked-radio">
                      <span class="radio__input"></span>
                      <h5 class="radio__label">No code executed</h5>
                      <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
                  </label>
              </div>
              <div class="form-group">
                  <label class="radio">
                      <input type="radio" name="stacked-radio">
                      <span class="radio__input"></span>
                     <h5 class="radio__label">No new code</h5>
                     <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit,</span>
                  </label>
              </div>
              <div class="form-group">
                <button class="btn btn--primary" type="submit">Complete</button>
              </div>
            </div>
          </div>
        </div>
        <div class="rightContent">
          <app-right-panel [offerName]="offerName" [stakeData]="stakeData" [primaryBE]="primaryBE"
            [derivedMM]="derivedMM" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
          </app-right-panel>
        </div>
      </div>
    </div>
  </div>
</div>