<app-menu-bar [caseId]="caseId" [offerId]="offerId" [offerName]="offerName">
</app-menu-bar>

<div class="content">
  <div class="container">



    <div class="panel panel--compressed half-margin-top">
      <div class="row">
        <div class="col-sm-4" *ngIf="moduleName">
          <h4>
            {{moduleName}}</h4>
        </div>
        <div class="col-sm-8 text-right">
          <button class="btn btn--cool btn--secondary" (click)="goBackToOfferSetup()">
            <span class="icon-chevron-left"></span>&nbsp; Back to Offer Setup Workflow
          </button>
        </div>
      </div>
    </div>
    <div class="row half-margin-top">
      <div class="leftContent col-sm-12 col-md-9">
        <form name="form" #changeStatusForm="ngForm">

          <div class="row base-margin-top">
            <div class="col-md-6" *ngIf="showConnectNPIWSbutton" >
              <button class="btn btn--small btn--cool btn--primary" (click)="openNPIWS()">Submit QA Case In NPI Workspace</button>
            </div>

              <div class="col-md-6" *ngIf="!mStatus" showConnectNPIWSbutton>
                <button class="btn btn--small btn--cool btn--primary" [disabled]="isReadOnly" (click)="markAsCompleteModal()">Mark as Complete</button>
              </div>


            <div class="col-md-9" *ngIf="mStatus && mStatus.status==='Complete'">
              <button type="button" class="btn btn--small btn--green-ghost">
                <span class="icon-check-outline icon-small pull-left"></span>&nbsp;Complete&nbsp;&nbsp;&nbsp;</button>
            </div>
            <!--<span class="label label--success label--outlined"><span class="icon-check-outline icon-small"></span> succe2ss</span>
              -->
          </div>

<!-- test orderability section -->
          <div class="panel panel--ltgray panel--loose base-margin-top">
            <div class="row">
              <div class="col-sm-12 col-md-6">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <div class="subheader text-indigo">Upload Test Plan</div>
                    <p>Please upload test plan used to complete testing activities in CCW</p>
                    <button class="btn btn--small btn--cool btn--primary">Upload File</button>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <button class="btn btn--small btn--cool btn--primary">Testing Activities in CCW</button>
                  </div>

                </div>
              </div>
              <div class="col-sm-12 col-md-6">
                <div class="subheader text-indigo">Provide Test Order ID</div>
                <p>Provide the Test Order ID used for testing. Select the appropiate ATO(s) to attach to the Test Order
                  ID </p>

              </div>
            </div>
          </div>
<!-- End: test orderability -->

          <div class="row base-margin-top">
            <div class="col-md-9">
              <div class="text-medium">If all required activities for {{moduleName}} are finished, press "Mark as
                Complete"</div>
              <br />
              <div class="text-medium"><a class="text-info" (click)="changemodalstatus()"><span
                    class="icon-info-outline">&nbsp;</span>How do you know when I am complete with my activities?</a>
              </div>
              <app-share-modal [ishide]="ishide" (changestatus)="changemodalstatus()">
                <div modalbody>
                  <!--{{infohelp}}-->
                  <div style="white-space: normal; text-align: left;" [innerHTML]="infohelp"></div>
                  <div *ngIf="isBtnNeeded">
                    <button class="btn btn--small btn--primary btn--cool" (click)="markAsComplete()"
                      (changestatus)="changemodalstatus()">Continue</button>
                  </div>
                </div>
              </app-share-modal>
            </div>

          </div>
          <div class="row base-margin-top">
            <div class="col-md-9">
              <div class="form-group">
                <div class="form-group__text">
                  <textarea id="input-hint-textarea" class="textarea" rows="5" class="form-control"
                    [(ngModel)]="cmnt.description" #description="ngModel" name="description" maxlength="1000">
              </textarea>
                  <label for="input-hint-textarea">Comments: <i>Optional</i> <span
                      style="color: red">&nbsp;&nbsp;({{1000-cmnt.description.length}} characters left)</span></label>
                </div>
              </div>
            </div>
          </div>
          <div class="row base-margin-top">
            <div class="col-md-7">
<!--              <div *ngIf="moduleName === 'Royalty Setup'|| 'Test Orderability'">-->
<!--                <p class="text-dkgray-1 text-medium">Attach your royalty checklist</p>-->
<!--                <app-upload-doc [moduleName]="moduleName" [isReadonly]="isReadOnly"  ></app-upload-doc>-->
<!--              </div>-->
            </div>
            <div class="col-md-5 text-left">
              <div class="help-block text-muted">
                <span><button class="btn btn--small btn--primary btn--cool" (click)="saveComments()"
                    [disabled]="cmnt.description.trim().length===0">Submit Comments</button></span>
              </div>
            </div>
          </div>


          <!--<div class="row base-margin-top">
            <div class="col-md-6">
              <ul class="list list--highlight" *ngIf="comments">
                <li *ngFor="let comment of comments">
                  <div class="panel panel--bordered">
                    <span class="icon-comment"></span>
                    <span>{{comment.createdBy}}</span>
                    <span>{{comment.timestamp | date:"MM/dd/yy"}}</span>
                  </div>
                  <div>
                    <span>{{comment.description}}</span>
                  </div>
                </li>
              </ul>
            </div>
          </div>-->

          <!-- <div class="col-md-4">
               <div class="card">
                   <div class="card__header">
                       <div class="card__subtitle">Card Subtitle</div>
                   </div>
                   <div class="card__body">Equidem recteque sea et. Per detracto iracundia ea, duo nusquam denique omittantur in.</div>
                   <div class="card__footer">
                       <a href="javascript:;">Link</a>
                       <a href="javascript:;" class="half-margin-left">Another Link</a>
                   </div>
               </div>
           </div>-->
          <br />
          <div class="row">
            <div class="col-md-9">
              <div class="panel panel--bordered panel-scroll" id="style-1" *ngIf="comments">
                <div class="panel panel--bordered-bottom" *ngFor="let comment of comments">
                  <div>
                    <span class="icon-comment message-box">&nbsp;</span>
                    <span>{{comment.createdBy}}&nbsp;&nbsp;</span><span>&nbsp;({{comment.userid}})&nbsp;&nbsp;</span>
                    <span>{{comment.timestamp | date:"d-MMM-y h:mm a"}}&nbsp;PST</span>
                  </div>
                  <div style="white-space:normal;word-break:break-all;padding-left:20px;">
                    <span class="text-small">{{comment.description}}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </form>
      </div>
      <!-- right panel -->
      <div class="rightContent  col-sm-12 col-md-3">
        <app-right-panel [stakeData]="stakeholders" [offerName]="offerName" [derivedMM]="derivedMM"
          [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
        </app-right-panel>
      </div>
    </div>
  </div>
</div>
