
p {
  font-weight: 600;
}

li {
  font-weight: 600;
}

ng-sidebar-container {
  height: 500px;
  /* overflow: auto; */
  background-color: #2b5592;
}

ng-sidebar p {
  padding-left: 14px;
  padding-right: 14px;
  color: white;
}

ng-sidebar a {
  color: white;
}

ng-sidebar h3 {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 14px;
  color: white;
}

div.scrollmenu {
  overflow: auto;
  white-space: nowrap;
  color: white;
  font-weight: 600;
}

div.scrollmenu a {
  overflow: auto;
  white-space: nowrap;
  color: white;
  font-weight: 400;
  text-align: center;
}

div.scrollmenu img {
  padding-top: 10px;
  padding-right: 5px;
  padding-left: 5px;
  width: 275px;
}

div.scrollmenu > div {
  text-align: center;
  display: inline-block;
}

div.scrollmenu p {
  width: 180px;
  word-wrap: break-word;
  white-space: normal;
}

.img-with-text {
  text-align: justify;
}

.img-with-text img {
  display: block;
  margin: 0 auto;
}


/* #overlay    {  background:rgba(0,0,0,.75);
  width:75%;
  text-align:center;
  padding:20px 0 100px 0;
  opacity:0;
  -webkit-transition: opacity .25s ease;} */

#icon {
overflow:hidden;}

#icon:hover #overlay {
  opacity:1;}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-wrap: normal;
  font-size: 15px;
}

.icon {
  position: relative;
  text-align: center;
  color: white;
}
