<div class="panel panel--indigo panel--compressed task--bar">
    <div class="row">
        <div class="col-md-4">
            <h4><button  class="btn--back btn btn--icon btn--white"><span class="icon-back" (click)="goBack()"></span></button> Offer Solutioning</h4>
        </div>
        <div class="col-md-8 text-right">
            <button class="btn btn--white"> Edit Offer </button>
            <button class="btn btn--white"> Save </button>
            <button class="btn btn--white" (click)="proceed()">Proceed to Offer Construct <span class="icon-chevron-right"></span></button>
        </div>
    </div>
</div>
