<div class="content">
  <div class="container">
    <!--   <div class="panel-wrapper mt-15">
     <app-taskbar></app-taskbar> 
      </div> -->
    <div class="panel panel--indigo panel--compressed task--bar panel-wrapper mt-15">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="page--subheading"><button class="btn--back btn btn--icon btn--white" (click)="goBack()"><span
                class="icon-back"></span></button>
            Item Creation</h2>
        </div>
      </div>
    </div>
    <div class="row col-md-12 base-margin-top">
      <div class="col-md-9">
        <button class="btn btn--cool btn--primary">
          <span class="icon-pencil icon-small"></span> Review/Edit Items
        </button>
      </div>
      <div class="col-md-3">
        <!-- <label class="base-margin-right" for="offerList">Viewing</label> -->
        <!-- <p-dropdown [options]="offerDropdownValues" [(ngModel)]="selectedOffer" id="offerList" class="form-control" name="offerList">
        </p-dropdown> -->
        <div class="form-group dropdown label--inline">
            <div class="form-group__text select">
              <label>Viewing</label>
              <select #dropdown="ngModel" [(ngModel)]="selectedOffer" (change)="displaySelectedOffer(dropdown.value)">
                <option *ngFor="let offer of offerDropdownValues" [value]="offer">
                  {{offer}}</option>
              </select>
            </div>
          </div>

      </div>
    </div>
    <div class="row col-md-12 base-margin-top">
      <p-treeTable [value]="productDetails" [columns]="productColumns" selectionMode="checkbox"
        [(selection)]="selectedProductNodes" [resizableColumns]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th *ngFor="let col of columns">
              <div class="text-center">
                {{col.header}}
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowNode let-rowData="rowData" let-columns="columns">
          <tr>
            <td *ngFor="let col of columns; let i = index">
              <p-treeTableCheckbox [value]="rowNode" *ngIf="i == 0"></p-treeTableCheckbox>
              <p-treeTableToggler [rowNode]="rowNode" *ngIf="i == 0"></p-treeTableToggler>
              <span *ngIf="col.field == 'newItemStatus' || col.field == 'moduleStatus'">
                <div class="text-center">
                  <span *ngIf="rowData[col.field] == 'Available'">
                    <span class="available">
                    </span>
                  </span>
                  <span *ngIf="rowData[col.field] == 'Completed'">
                    <span class="completed">
                      <span class="icon-check"></span>
                    </span>
                  </span>
                  <span *ngIf="rowData[col.field] == 'In Progress'">
                    <span class="in-progress">
                    </span>
                  </span>
                </div>
              </span>
              <span *ngIf="col.field == 'basePrice' && rowData[col.field]!=''">
                  ${{rowData[col.field]}}
              </span>
              <span *ngIf="col.field !== 'newItemStatus' && col.field !== 'moduleStatus' && col.field !== 'basePrice'">
                {{rowData[col.field]}}
              </span>
            </td>
          </tr>
        </ng-template>
      </p-treeTable>
    </div>
    <div class="row col-md-12 base-margin-top">
      <button class="btn btn--cool btn--primary">
        Remove
      </button>
    </div>
  </div>
</div>