<div *ngIf="data.title" mat-dialog-title>{{data.title}}</div>
<h4 *ngIf="data.message" class="fin-dialog-title">{{data.message}}</h4>
<div mat-dialog-content>
  <div *ngIf="data.showPre && data.data"  class="fin-dialog-data-pre">
    <pre>{{data.data}}</pre>
  </div>
  <div *ngIf="!data.showPre && data.data"  class="fin-dialog-data-div">
    <div [innerHTML]="data.data | safeHtml"></div>
  </div>
</div>
<div mat-dialog-actions>
  <button *ngIf="cancelText" cuiButton color="secondary" type="button" mat-dialog-close="">{{cancelText}}</button>
  <button autofocus cuiButton color="primary" mat-dialog-close="true">{{submitText}}</button>
</div>
