

.fin-dialog-title {
  font-size: 17px;
  margin: 7px 0 9px 0;
}

.fin-dialog-data-pre {
  background-color: #eee;
  overflow: auto;
  margin-top: 20px;
}

.fin-dialog-data-div {
  overflow: auto;
  margin-top: 20px;
}

.data {
  overflow-x: auto;
  text-align: left;
}

