<app-menu-bar [caseId]="caseId" [currentMMModel]="derivedMM" [offerId]="offerId" [offerName]="offerName"
  [stakeData]="stakeData" (updateMessage)="updateMessage($event)">
</app-menu-bar>

<div class="content">
  <div class="container">


    <!-- <app-taskbar [isValidToProceed]="enableOfferbuild" (onProceedToNext)="proceedToOfferBuilder()" [showOfferDtlsBtn]="false"></app-taskbar> -->

    <div class="panel panel--compressed task--bar panel-wrapper half-margin-top">
      <div class="row">
        <div class="col-sm-4">
          <h2 class="page--subheading">
            Offer Info</h2>
        </div>
        <div class="col-sm-8 text-right">
          <button class="btn btn--secondary" (click)="goBack()">
            <span class="icon-chevron-left"></span>&nbsp; Previous
          </button>
          <button class="btn btn--primary" [disabled]="enableOfferbuild || validFlag"
            (click)="proceedToOfferBuilder()">Proceed to
            Offer Builder <span class="icon-chevron-right color-white"></span></button>

        </div>
      </div>
    </div>

    <div class="card card--raised base-margin-top">
      <div class="panel">
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8">
            <div class="card__body">
              <form autoComplete="off" #offerCreateForm="ngForm">
                <fieldset [ngClass]="{'readOnlyUser': readOnly}" [disabled]="readOnly">
                  <div class="row base-margin-top">
                    <div class="col-md-12">
                      <div class="form-group half-margin-bottom">
                        <div class="form-group__text">
                          <label for="offerName">Offer Name</label>
                          <input [minlength]="2" id="offerName" type="text" (keyup)="proceedCheck($event)"
                            class="form-control" name="offerName" required [(ngModel)]="offerNameValue">
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group half-margin-bottom">
                        <div class="form-group__text">
                          <label for="offerDesc">Offer Description</label>
                          <input id="offerDesc" [minlength]="2" type="text" (keyup)="proceedCheck($event)"
                            class="form-control" name="offerDesc" ngModel required [(ngModel)]="offerDescValue">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row base-margin-top">
                    <!-- <BE Part> -->
                    <div class="col-md-6">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedBeValue">Primary Business Entity</label>
                        <p-dropdown id="selectedBeValue" class="form-control" name="primaryBEList"
                          [options]="primaryBusinessEntities" [disabled]="disablePrimaryBEList"
                          (onChange)="getPrimaryBusinessUnitBasedOnPrimaryBE($event.value)"
                          [(ngModel)]="primaryBusinessEntitiesValue" [style]="{'width':'100%'}" filter="true" required>
                        </p-dropdown>
                      </div>
                    </div>
                    <!-- <BU part> -->
                    <div class="col-md-6">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedValue">Primary Business Unit</label>
                        <p-multiSelect id="selectedBuValue" class="form-control" name="primaryBUList"
                          [options]="primaryBusinessUnits" [(ngModel)]="primaryBusinessUnitsValue"
                          (onPanelHide)="getSecondaryBusinessUnitsFiltered()" (onChange)="proceedCheckBu()"
                          [style]="{'width':'100%'}" required>
                        </p-multiSelect>
                      </div>
                    </div>

                  </div>
                  <div class="row base-margin-top">
                    <!-- <Second BE> -->
                    <div class="col-md-6">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedSeValue">Secondary Business Entity</label>
                        <p-multiSelect id="selectedSeValue" class="form-control" name="secondaryBEList"
                          [options]="secondaryBusinessEntitiesFiltered" [(ngModel)]="secondaryBusinessEntitiesValue"
                          (onPanelHide)="getSecondaryBusinessUnitsBasedOnSencondaryBE()" [style]="{'width':'100%'}">
                        </p-multiSelect>
                      </div>
                    </div>

                    <!-- <Second BU> -->
                    <div class="col-md-6">
                      <div class="form-group half-margin-bottom">
                        <label for="selectedSValue">Secondary Business Unit</label>
                        <p-multiSelect id="selectedSValue" class="form-control" name="secondaryBUList"
                          [options]="secondaryBusinessUnitsFiltered" [(ngModel)]="secondaryBusinessUnitsValue"
                          [style]="{'width':'100%'}">
                        </p-multiSelect>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group label--floated input--icon half-margin-bottom">
                        <div class="form-group__text">
                          <input class="form-control" name="strategyReviewDate" id="strategyReviewDate"
                            #dp1="bsDatepicker" bsDatepicker placement="top" [minDate]="minDate"
                            containerClass="custome-date" [bsConfig]="dpConfig" (changeDate)="proceedCheckDate($event)"
                            (ngModelChange)="proceedCheckDate($event)" ngModel required
                            [(ngModel)]="strategyReviewDateValue" #strategyReviewDate="ngModel">
                          <label id="strategyReviewDate" for="strategyReviewDate">Strategy Review Date</label>
                          <button type="button" class="link" tabindex="-1">
                            <span class="icon-month"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label&#45;&#45;floated input&#45;&#45;icon half-margin-bottom">
                        <div class="form-group__text">
                          <input class="form-control" name="designReviewDate" id="designReviewDate" #dp2="bsDatepicker"
                            bsDatepicker placement="top" [minDate]="minDate" containerClass="custome-date"
                            [bsConfig]="dpConfig" (changeDate)="proceedCheckDate($event)"
                            (ngModelChange)="proceedCheckDate($event)" ngModel required
                            [(ngModel)]="designReviewDateValue" #designReviewDate="ngModel">
                          <label for="designReviewDate">Design Review Date</label>
                          <button type="button" class="link" tabindex="-1">
                            <span class="icon-month"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group label--floated input--icon half-margin-bottom">
                        <div class="form-group__text">
                          <input class="form-control" name="readinessReviewDate" id="readinessReviewDate"
                            #dp3="bsDatepicker" bsDatepicker placement="top" [minDate]="minDate"
                            containerClass="custome-date" [bsConfig]="dpConfig" (changeDate)="proceedCheckDate($event)"
                            (ngModelChange)="proceedCheckDate($event)" ngModel required
                            [(ngModel)]="readinessReviewDateValue" #readinessReviewDate="ngModel">
                          <label for="readinessReviewDate">Readiness Review Date</label>
                          <button type="button" class="link" tabindex="-1">
                            <span class="icon-month"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group label--floated input--icon half-margin-bottom">
                        <div class="form-group__text">
                          <input class="form-control" name="expectedLaunchDate" id="expectedLaunchDate"
                            #dp4="bsDatepicker" bsDatepicker placement="top" [minDate]="minDate"
                            containerClass="custome-date" [bsConfig]="dpConfig" (changeDate)="proceedCheckDate($event)"
                            (ngModelChange)="proceedCheckDate($event)" ngModel required
                            [(ngModel)]="expectedLaunchDateValue" #expectedLaunchDate="ngModel">
                          <label for="expectedLaunchDate">Launch Date</label>
                          <button type="button" class="link" tabindex="-1">
                            <span class="icon-month"></span>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row ">
                    <div class="col-md-6">
                      <div class="form-group half-margin-bottom">
                        <div class="form-group__text">
                          <label for="idpid">IDP ID</label>
                          <input id="idpid" type="text" class="form-control" name="iDPId" [(ngModel)]="idpvalue"
                            (keyup)="getidptoken($event)" required [readonly]="disabledIDPID">
                        </div>
                        <span class="text-success" *ngIf="idpidValid">Valid</span>
                        <span class="text-danger" *ngIf="idpidInvalid">Invalid</span>
                      </div>
                    </div>
                  </div>

                </fieldset>
              </form>
            </div>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

  </div>
</div>