.create-offer-heading {
    position: relative;
    top: 60px;
    left: 40px;
    font-weight: 200;
    font-size: 24px;
    background-color: white;
    padding: 10px;
    padding-right: 100px;
}



.disableDate{
    pointer-events: none;
}

.disableDate input {
    background-color: #f2f2f2;
}

.color-white{
    color: #ffffff !important;
}
.disable-button{
    pointer-events: none;
   


}

.disable-button button{
    opacity: 0.5;
    color: #626469;
    outline: 0;
    box-shadow: none;
    background-color: #dfdfdf;
}