.complete {
    background-color: #6EBE4A;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
  }
  
  
  .not_required {
    background-color: #FBAB18;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
  }
  
  .red {
    background-color: #E2231A;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
  }
  