<div class="responsive-table">

  <p-dataTable [value]="tasks" scrollable="true" [rows]="10" [paginator]="true" scrollHeight="350px"
    [resizableColumns]="true">

    <p-column field="ato" sortable="true" header="ATO/PID">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <span>{{task['taskName']}}<br /></span>
      </ng-template>
    </p-column>

    <p-column field="status" header="STATUS" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <!-- <span class="{{task['taskStatus']|lowercase}}">
            <i class="fa fa-circle" style="font-size:15px;margin:4px 4px 0 0;"></i>
          </span> -->

          <!-- custom in-progress icon -->
          <span class="in-progress">
          </span>
          <!-- // end custom icon -->
        </div>
        <div class="text-center">
          <!-- custom milestone icon -->
          <span class="milestone">
          </span>
          <!-- // end custom icon -->
        </div>
        <div class="text-center">
          <!-- completed icon -->
          <span class="completed">
            <span class="icon-check"></span>
          </span>
          <!-- // end completed icon -->
        </div>
        <div class="text-center">
          <!-- available icon -->
          <span class="available">
          </span>
          <!-- // end completed icon -->
        </div>
        <div class="text-center">
          <!-- notn available icon -->
          <span class="not-available">
          </span>
          <!-- // end completed icon -->
        </div>
        <div class="text-center">
          <!-- notn required icon -->
          <span class="not-required">
          </span>
          <!-- // end completed icon -->
        </div>
      </ng-template>
    </p-column>

  </p-dataTable>

</div>
