<div class="col-sm-12 col-md-5">

  <ul class="osw-ps-legend base-margin-top">
    <div class="row">

      <div class="col-sm-6">

        <li class="half-margin-bottom">
          <span class="legend-available"></span>
          Available
        </li>

        <li class="half-margin-bottom">
          <span class="completed success">
            <span class="icon-check"></span>
          </span>
          Completed
        </li>

        <li>
          <span class="legend-milestone">
            <span class="milestone"></span>
          </span>
          Milestone
        </li>

      </div>

      <div class="col-sm-6">

        <li class="half-margin-bottom">
          <span class="legend-notavail"></span>
          Not Yet Available
        </li>

        <li class="half-margin-bottom">
          <span class="legend-inprog">
            <span class="in-progress"></span>
          </span>
          In Progress
        </li>

        <li>
          <span class="legend-notreq"></span>
          Not Required
        </li>

      </div>

    </div>
  </ul>

</div>
