<div class="row">
        <div class="col-lg-6 col-xl-3">
            <div class="subheader">Default</div>
            <div class="alert">
                <div class="alert__icon icon-info-outline"></div>
                <div class="alert__message"><b>Great Work!</b> Your task is now done so please step aside.</div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="subheader">Warning</div>
            <div class="alert alert--warning">
                <div class="alert__icon icon-warning-outline"></div>
                <div class="alert__message"><b>Warning!</b> Better check yourself, you're not looking too good.</div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="subheader">Success</div>
            <div class="alert alert--success">
                <div class="alert__icon icon-check-outline"></div>
                <div class="alert__message"><b>Congratulations!</b> You have successfully read this message.</div>
            </div>
        </div>
        <div class="col-lg-6 col-xl-3">
            <div class="subheader">Danger</div>
            <div class="alert alert--danger" role="alert">
                <div class="alert__icon icon-error-outline"></div>
                <div class="alert__message"><b>Oh Snap!</b> Change a few things and try submitting again.</div>
            </div>
        </div>
    </div>