<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="coolHeader panel panel--vibblue panel--loose header-bar base-margin-top">
          <div class="header-bar__main">
            <div class="header-heading">
              <h1 class="page-title"><span class="action--value-label header-headings">Offer Detailed Overview</span></h1>
            </div>
          </div>
          <div class="header-toolbar">
            <button class="btn btn--white cta--action">
              <span class="button--label" (click)="onExportPdf()">Export</span>&nbsp;<span class="icon-right-arrow"></span></button>
          </div>
        </div>
      </div>
    </div><br>
    <h5>Offer Phase Detail</h5><br>
    <p-accordion [multiple]="true">
      <p-accordionTab header="Ideate">
        <p-accordionTab header="OFFER CREATION">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">OFFER NAME</div>
                <div>Test Offer</div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">OFFER DESCRIPTION</div>
                <div>Some Offer Description</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">EXPECTED LAUNCH DATE</div>
                <div>Some Expected Lunchdate</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">BUSINES UNIT</div>
                <div>Some Business Unit</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">BUSINES ENTITY</div>
                <div>Test Business Entity</div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="OFFER MODEL EVALUATION">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">WHO TAKES OWENERSHIP OF THE SECTION</div>
                <div>Customer-Ent Customer</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Offer Description</div>
                <div>Some Offer Description</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Offer Description</div>
                <div>Some Offer Description</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Expected Launch Date</div>
                <div>Some Expected Lunchdate</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Business Unit</div>
                <div>Some Business Unit</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Business Entity</div>
                <div>Test Business Entity</div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Stakeholder Identification">
          <div class="row no-gutters">
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">OWNER(1)</div>
                <div>William Mendies</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">CO-OWNER(3)</div><br>
                <div>Scott Colmns</div>
                <hr><br>
                <div>Join Smith</div>
                <hr><br>
                <div>STAKEHOLDER(3)</div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel--loose panel--bordered">
                <div class="text-bold">Offer Description</div><br>
                <div>Scott Colmns(France)</div>
                <hr><br>
                <div>Join Smith(Pricing)</div>
                <hr><br>
                <div>Ioin Fleming(CPS)</div>
              </div>
            </div>
          </div>
        </p-accordionTab>
        <p-accordionTab header="Strtegy Review">
          <div class="responsive-table">
            <table class="table table--bordered table--selectable">
              <thead>
                <tr>
                  <th>FUNCTION</th>
                  <th>APPRISAL STATUS</th>
                  <th>REVIEWED ON</th>
                  <th>REVIEWED BY</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
                <tr>
                  <td>CSPP</td>
                  <td>Approved</td>
                  <td>9-Aug-2018</td>
                  <td>Scan porter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </p-accordionTab>
      </p-accordionTab>
      <p-accordionTab header="Plan">
        <p-accordionTab header="Offer Dimension Completion">
            <div class="responsive-table">
                <h5 class="section">MM4-SAAS</h5>
                <table class="table table--bordered table--selectable">
                    <thead>
                        <tr> 
                            <th></th>                         
                            <th>Header 2</th>
                            <th>Header 3</th>
                            <th>Header 4</th>
                            <th>Header 5</th>
                            <th>Header 6</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                            <td>Row 1, Column 6</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                            <td>Row 1, Column 6</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                            <td>Row 1, Column 6</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                            <td>Row 1, Column 6</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Offer Scheduling">
            <div class="responsive-table">
                <table class="table table--bordered table--selectable">
                    <thead>
                        <tr>
                            <th>Header 1</th>
                            <th>Header 2</th>
                            <th>Header 3</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                        </tr>
                        <tr>
                            <td>Row 2, Column 1</td>
                            <td>Row 2, Column 2</td>
                            <td>Row 2, Column 3</td>
                        </tr>
                        <tr>
                            <td>Row 3, Column 1</td>
                            <td>Row 3, Column 2</td>
                            <td>Row 3, Column 3</td>
                        </tr>
                        <tr>
                            <td>Row 4, Column 1</td>
                            <td>Row 4, Column 2</td>
                            <td>Row 4, Column 3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Offer Conduct">
            <div class="responsive-table">
                <table class="table table--bordered table--selectable">
                    <thead>
                        <tr>
                            <th>Header 1</th>
                            <th>Header 2</th>
                            <th>Header 3</th>
                            <th>Header 4</th>
                            <th>Header 5</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                        </tr>
                        <tr>
                            <td>Row 1, Column 1</td>
                            <td>Row 1, Column 2</td>
                            <td>Row 1, Column 3</td>
                            <td>Row 1, Column 4</td>
                            <td>Row 1, Column 5</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </p-accordionTab>
        <p-accordionTab header="Offer Contract Details">
            Offer Contract Details
        </p-accordionTab>
        <p-accordionTab header="Design Review">
            Design Review
        </p-accordionTab>
      </p-accordionTab>
      <p-accordionTab header="Excute">
        Excute
      </p-accordionTab>
      <p-accordionTab header="Launch">
        Launch
      </p-accordionTab>
    </p-accordion>
  </div>
</div>