.cui .table td.status {
  overflow: visible;
}
.cui [data-balloon][data-balloon-pos="up"]:before {
  bottom: 100%;
  left: 100%;
}
.panel.panel--bordered.panel--raised-small {
  margin: 15px auto;
}
.content .card:last-of-type {
margin-bottom: 25px;
}
.cui table td .ui-steps {
margin: 0 auto 0px auto;
padding: 0px 0;
}
table .date {
  width:10%;
}
table .other {
  width:15%;
}
table .desc {
  width:20%;
}
table .steps {
  width:20%;
}
.cui .inline-icon {
  margin-left: 5px;
  font-size: 1.2rem;
  vertical-align: middle;
}
span.icon-chevron-right.inline-icon {
  padding: 10px 0 10px;
}
.cui .panel h1.display-4 {
  display: inline;
}
.header-link {
  display: inline-block;
  margin: auto auto auto 15px;
}
.cui .pagination .form-group.label--inline .form-group__text {
  width: 150px;
  flex-direction: row;
  align-items: center;
}
.cui .pagination {

  font-size: 12px;
}
.cui .pagination .form-group.dropdown {
  display: inline-block;
}
.cui .pagination span {
  display: inline-block;
  margin: auto 10px;
}
.cui .pagination .btn.btn--small {
  width:40px;
}
.cui .panel.header-bar {
  height:70px;
}
.cui .panel.header-bar .btn > span[class^="icon-"] {
  vertical-align: -webkit-baseline-middle;
}
.header-bar__main span {
  vertical-align: middle;
}
.header-bar__main span.vertical-divider {
  opacity: .5;
  display: inline-block;
  border-left: solid 1px white;
  height: 40px;
  margin: 20px;
}
span.table--description {
  font-size: 80%;
  display: block;
}
.cta--action {
  text-transform: uppercase;
}
.action--value {
  font-size:1.5em;
  display:block;
  text-align: center;
}
.action--value-label {
  font-size:50%;
  display:block;
  text-align: center;
}
.header-toolbar button span.button--label {
  display: none;
}
.cui .panel .header-toolbar .btn {
  padding: 0 5px;
}
.cui .avatar span.role {
  font-size:75%;
  display: block;
  text-align: right;
  margin-right: 24px;
}
.cui a:not(.btn):active, .cui a:not(.btn):hover, .cui a:not(.btn):focus, .cui .link:active, .cui .link:hover, .cui .link:focus {
  text-decoration: none;
}
td a span.icon-small {
  margin-right: 5px;
}
.list.dimensions--toggle li{
  padding:10px 0;
  border-bottom: solid 1px #dfdfdf;
}
.dimensions--toggle button.btn.btn--small {
  margin: 10px auto;
}
.offer-header.card *[class^='col-'] {
  border-bottom: solid 1px #d8d8d8;
  border-collapse: collapse;
  border-right: solid 1px #d8d8d8;
  padding: 10px;
}
.offer-header.card {
  padding: 0px;
  overflow: hidden;
}
.cui .card.card--raised, .cui a.card.card--raised {
  box-shadow: 0 5px 14px -8px rgba(0, 0, 0, 0.25);
}
.tabs + .card {
  margin-top:-2px;
  z-index: 0;
}
.tabs {
  z-index: 1;
}
.ui-accordion-header {
  text-transform: uppercase;
  background-color:transparent;
  padding: 10px;
  color: #58585b;
  border: 0px solid #dfdfdf;
  font-size: 1.6rem;
}
.ui-accordion-content {
  margin: 10px auto;
}
.offer-header {
  font-size: 85%;
}
.ui-accordion-content .flex-center-vertical {
  margin-left: .5em;
}
span.avatar-ico {
  display: inline-block;
  width: 35px;
  height: 35px;
}
.panel-footer {
  text-align:center;
}
.cui .btn.btn--small, .cui .btn.btn--wide {
  max-width: fit-content;
}
.cui .table--selectable > tbody > tr > td {
  border-bottom: solid 1px #f2f2f2;
}
.cui h5 a.pull-right {
  font-size: 16px;
  line-height: 1.75;
}
.text-ellipsis, *[class*='icon-']::after {
  font-family: 'CiscoSans';
}
.btn span.icon-chevron-right {
  margin-left: 15px;
}
span.icon-chevron-up.icon-small {
  line-height: 1;
  vertical-align: initial;
}


.cui .timeline:after {
  background-color: #f5f5f6;
  content: ' ';
  position: absolute;
  display: block;
  width: 2px;
  top: 0;
  left: 20px;
  bottom: 0;
  z-index: 1;
}
/* .cui .timeline__icon {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 9px;
  z-index: 2;
  border: 5px solid #f5f5f6;
  background-color: #6ebe4a;
  color: white;
  line-height: 1;
} */

.timeline__content span.icon-chevron-up.icon-small {
  line-height: 1;
  vertical-align: bottom;
  margin-right: 5px;
}

.card-header button {
  -webkit-appearance: none;
  outline: none;
  border: none;
}
.cui .timeline__content {
  margin-left: 50px;
  width: 100%;
}
span.icon-check-outline.icon-medium {
  color: #6ebe4a;
}
td .solutioning__status{
  text-transform:uppercase;
}
td .solutioning__status.completed {
  color: #6ebe4a;
}
.units {
  color:#ccc;
  font-size:75%;
}
.total__unit {
  font-size: 75%;
  color: #999999;
  display: block;
}
span.number {
  color: #333;
}
span.icon-export {
  margin-right: .6em;
}
td.status {
  text-align: center;
  min-width: 190px;
}
th.status {
  min-width: 190px;
}
td span.status_label {
  display: block;
  color:  #6ebe4a;
  font-size: 75%;
  margin: 2em 4em;
}
table.table.table--nostripes.offer-dimensions td {
  border-top: none;
  border-bottom: 1px #dee2e6 dashed;
}
table.table.table--nostripes.offer-dimensions tr:last-child td {
  border-bottom-style: solid;
}
table.table.table--nostripes.offer-dimensions tr:first-child td {
  border-top: 1px #dee2e6 solid;
}
table.table.table--nostripes.offer-dimensions td.status {
  background: #f7f7f7;
  border-bottom-style: solid;
}
@media only screen and (max-width: 768px) {
body.cui {
  overflow-y: scroll;
  height: auto;
}
}
@media only screen and (min-width: 768px) {
.cui .pagination {
  text-align: right;
}
.header-bar__main span.vertical-divider {
  margin: 20px;
}
.header-toolbar button span.button--label {
  display: inline-block;
}
.cui .panel .header-toolbar .btn {
  padding: 0 35px;
}
}

