<div class="content">
  <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 base-margin-top half-margin-bottom">Cisco Data Platform <span class="offerID">(Offer ID  {{currentOfferId}})</span></h1>
      </div>
    </div>
      <div class="panel panel--indigo panel--compressed task--bar">
        <div class="row">
          <div class="col-md-4">
            <h2 class="page--subheading"><button class="btn--back btn btn--icon btn--white" (click)="goBack()"><span class="icon-back"></span></button>
              Offer Detail Overview</h2>
          </div>
          <div class="col-md-8 text-right">
            <button class="btn btn--white" (click)="onExportPdf()">Export&nbsp;<span class="icon-right-arrow"></span></button>
          </div>
        </div>
      </div>
      <div class="row base-margin-top">
        <div class="col-md-12">
          <div class="card">
            <p-accordion [multiple]="true">
              <p-accordionTab header="Ideate">
                <div class="timeline timeline--block">
                  <div class="timeline__list">
                    <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Available')?'icon-warning-outline':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.ideate[0].subMilestone}}
                        </div>
                        <app-offer-create-detail [hidden]="offerOverviewDetailsList.ideate[0].status == 'Available'"></app-offer-create-detail>
                      </div>
                    </div>
                    <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Available')?'icon-warning':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.ideate[1].subMilestone}}
                        </div>
                        <div [hidden]="offerOverviewDetailsList.ideate[1].status == 'Available'">
                            <div class="offer-header card base-margin-top">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Owner</div>
                                    <div class="ui-accordion-content">
                                      <div class="flex-center-vertical">
                                        <!-- Team Member Name Avatar -->
                                        <span class="avatar-ico">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                            id="fwt-profile-button-loggedin" role="img">
                                            <title id="fwt-profile-button-loggedin-title"></title>
                                            <g fill="none" fill-rule="evenodd">
                                              <path stroke="#4d4c4c" stroke-linecap="round" stroke-linejoin="round"
                                                stroke-width="2" d="M22.857 31.36c-1.616.614-3.37.95-5.202.95C9.56 32.31 3 25.749 3 17.655S9.561 3 17.655 3 32.31 9.561 32.31 17.655c0 3.988-1.727 7.703-4.31 10.344"
                                                x="0" y="0"></path>
                                              <text fill="#007493" font-family="CiscoSans, Arial, sans-serif" font-weight="300"
                                                font-size="16" x="50%" y="50%" dy=".35em" text-anchor="middle" id="fwt-initials">WM</text>
                                            </g>
                                          </svg>
                                        </span>
                                        <div class="flex-fluid text-left half-margin-left">
                                          <div class="text-bold">{{offerOwner}}</div>
                                          <div>{{offerOwner}}@cisco.com</div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Co-Owner</div>
                                    <div class="ui-accordion-content">
                                      <ul>
                                        <li *ngFor="let coowner of offerCoOwnerList">
                                          <app-avatar [stakeholderName]="coowner._id" [email]="coowner._id"
                                            [functionalRole]="coowner.functionalRole"></app-avatar>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Stakeholders</div>
                                    <div class="ui-accordion-content">
                                      <ul>
                                        <li *ngFor="let stakeholder of offerStakeHolderList">
                                          <app-avatar [stakeholderName]="stakeholder._id" [email]="stakeholder._id"
                                            [functionalRole]="stakeholder.functionalRole"></app-avatar>
                                        </li>
                                      </ul>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                    <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Available')?'icon-warning':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.ideate[2].subMilestone}}
                        </div>
                        <div [hidden]="offerOverviewDetailsList.ideate[2].status == 'Available'">
                            <div class="offer-header card base-margin-top">
                              <div class="responsive-table">
                                <table class="table table--nostripes table--highlight table--hover table--selectable">
                                  <thead>
                                    <tr>
                                      <th class="sortable">Function <span class="sort-indicator icon-chevron-down"></span></th>
                                      <th class="sortable">Approval Status <span class="sort-indicator icon-chevron-down"></span></th>
                                      <th class="sortable">Reviewed On <span class="sort-indicator icon-chevron-down"></span></th>
                                      <th class="sortable">Reviewed By <span class="sort-indicator icon-chevron-down"></span></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor="let strategyReviewData of strategyReviewList">
                                      <td><span class="icon-check-outline icon-medium"></span> {{
                                        strategyReviewData.function }}</td>
                                      <td>{{ strategyReviewData.approvalStatus }}</td>
                                      <td>{{ strategyReviewData.reviewedOn }}</td>
                                      <td>{{ strategyReviewData.reviewedBy }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                   <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Available')?'icon-warning':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.ideate[3].subMilestone}}
                        </div>
                        <div [hidden]="offerOverviewDetailsList.ideate[1].status == 'Available'">
                            <div class="offer-header card base-margin-top">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Who takes ownership of the asset(s)?</div>
                                    <div>Customer- End Customer</div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">What will be the offer services strategies?</div>
                                    <div>SW minimum M&S</div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">What medium will be leveraged for selling the offer?</div>
                                    <div>Transactional</div>
                                  </div>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">In what way will the offer be priced?</div>
                                    <div>Utility Pricing</div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">What will be the offer Licensing type?</div>
                                    <div>Subscription - Utility/Usage</div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Will Cisco host the product set-up?</div>
                                    <div>Cloud</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Plan">
                <div class="timeline">
                  <div class="timeline__list">
                    <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Available')?'icon-warning':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.plan[0].subMilestone}}
                        </div>
                        <div [hidden]="offerOverviewDetailsList.plan[0].status == 'Available'">
                        </div>
                      </div>
                    </div>
                    <div class="timeline__item">
                      <div [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                        <span [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Available')?'icon-warning':'icon-check'"></span>
                      </div>
                      <div class="timeline__content">
                        <div class="text-bold">
                          <span [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                          {{offerOverviewDetailsList.plan[1].subMilestone}}
                        </div>
                        <div [hidden]="offerOverviewDetailsList.plan[1].status == 'Available'">
                        </div>
                      </div>
                    </div>
                    <div class="timeline__item">
                        <div [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                          <span [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Available')?'icon-warning':'icon-check'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.plan[2].subMilestone}}
                          </div>
                          <div [hidden]="offerOverviewDetailsList.plan[2].status == 'Available'">
                          </div>
                        </div>
                      </div>
                      <div class="timeline__item">
                          <div [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Available')?'timeline__icon timeline--warning':'timeline__icon timeline--success'">
                            <span [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Available')?'icon-warning':'icon-check'"></span>
                          </div>
                          <div class="timeline__content">
                            <div class="text-bold">
                              <span [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Available')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                              {{offerOverviewDetailsList.plan[3].subMilestone}}
                            </div>
                            <div [hidden]="offerOverviewDetailsList.plan[3].status == 'Available'">
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Execute">
                <div class="card">
                  Execute
                </div>
              </p-accordionTab>
              <p-accordionTab header="Launch">
                <div class="card">
                  Launch
                </div>
              </p-accordionTab>
            </p-accordion>
          </div>
        </div>
      </div>
  </div>
</div>
