<div class="row mt30 flexContainer">
    <div class="col-xl-6">
        <div class="alert alert--danger p15">
            <div class="alert__icon icon-warning-outline"></div>
            <div class="alert__message">
                <div class="fontCl">{{errMessage}}.</div>
                <div class="fontCl">User does not have access to COOL, please request access via 
                <a href="https://edsart-stage.cloudapps.cisco.com/createRequest">ART</a>
            </div>
        </div>
    </div>
</div>
</div>
