<app-menu-bar [caseId]="caseId" [currentMMModel]="derivedMM" [offerId]="offerId" [offerName]="offerName"
  [stakeData]="stakeData" [canMarkComplete]="osForm.valid" (getMarkCompleteStatus)="getMarkCompleteStatus($event)" (updateMessage)="updateMessage($event)" (onProceedToNext)="proceedToOfferComponents($event)"
  [showSave]="true"> </app-menu-bar>

<div class="content solutioning">
  <div class="container">

    <div class="panel-wrapper mt-15">


      <app-taskbar (onProceedToNext)="proceedToOfferComponents($event)">
      </app-taskbar>

      <div class="row base-margin-top">
        <div class="leftContent col-sm-12 col-md-9">

          <!-- Note -->

          <div class="col-lg-6 col-xl-3">
            <span *ngIf="!osForm.valid" class="text-danger">* Please answer mandatory questions</span>
          </div>

          <!-- OS Group -->

          <form #osForm="ngForm">

            <div *ngFor="let osGroup of Object.keys(groupedQuestionsAndAnswers), let i = index">
              <div class="row">
                <div class="col-md-12">
                  <h3>{{osGroup}}</h3>
                </div>
              </div>

              <app-offersolutioning-card-one [selectedGroupData]="groupedQuestionsAndAnswers[osGroup]"
              [groupData]="groupedQuestionsAndAnswers" [unGroupData]="unGroupedQuestionsAndAnswers" [markCompleteStatus]="markCompleteStatus">
            </app-offersolutioning-card-one>
            </div>

          </form>


        </div>

        <!-- Right Panel -->
        <div class="rightContent col-sm-12 col-md-3" style="margin-top: -5px;">
          <app-right-panel [stakeData]="stakeData" [offerName]="offerName" [derivedMM]="derivedMM"
            [primaryBE]="primaryBE" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference">
          </app-right-panel>
        </div>

      </div>


    </div>


  </div>
</div>
