<div class="content">
  <div class="container">
    <div class="panel-wrapper base-margin-top">
<div class="row">
      <div class="col-sm-12 col-md-9">
        <ul class="osw-module--btns">

          <!-- Item Creation / Modeling and Design -->
          <div class="row base-margin-bottom">
            <div class="col-sm-3 half-margin-left">
              <li class="base-margin-bottom">
                <button
                  class="btn btn--small btn--success"
                  placement="top"
                >
                <span class="icon-tools pull-left"></span>&nbsp;Item Creation
                </button>
              </li>
              <li>
                <button
                  class="btn btn--small btn--warning"
                  placement="top"
                >
                <span class="icon-tools pull-left"></span>&nbsp;Modeling & Design
                </button>
              </li>
            </div>
          </div>
          <!-- box group -->
          <div class="row base-margin-bottom">
            <!-- left box -->
            <div class="col-sm-6">
              <div class="panel panel--bordered">
                <div class="row">
                  <div class="col-sm-6">
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Modeling &amp; Design
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;T&amp;C Mapping
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn--small btn--default"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Pricing Uplift Setup
                      </button>
                    </li>
                  </div>
                  <div class="col-sm-6">
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--success"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Service Pricing Setup
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Service Map
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;NPI Licensing
                      </button>
                    </li>
                  </div>
                </div>
              </div>
            </div>
            <!-- right box -->
            <div class="col-sm-6">
              <div class="panel panel--bordered">
                <div class="row">
                  <div class="col-sm-6">
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--warning"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;CSDL
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--warning"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Sales Compensation Setup
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--default"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Royalty Setup
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;SWOE
                      </button>
                    </li>
                  </div>

                  <div class="col-sm-6">
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--warning"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Export Compliance
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--default"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Compensation Hierarchy
                      </button>
                    </li>
                    <li class="base-padding-bottom">
                      <button
                        class="btn btn--small btn--warning"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Oﬀer Attribution
                      </button>
                    </li>
                    <li>
                      <button
                        class="btn btn--small btn--primary"
                        placement="top"
                      >
                      <span class="icon-tools pull-left"></span>&nbsp;Ordering Guide
                      </button>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- bottom modules -->
          <div class="row base-margin-top">
            <!-- test Orderability -->
            <div class="col-sm-3 half-margin-left">
              <li class="base-padding-bottom">
                <button
                  class="btn btn--small btn--gray-ghost"
                  placement="top"
                >
                <span class="icon-tools pull-left"></span>&nbsp;Test Orderability
                </button>
              </li>
            </div>
            <div class="col-sm-3 half-margin-left">
            </div>
            <!-- Readiness / Orderability -->
            <div class="col-sm-3 last">
              <li class="base-padding-bottom">
                <button
                  class="btn btn--small btn--gray-ghost"
                  placement="top"
                >
                <span class="icon-tools pull-left"></span>&nbsp;Readiness Review
                </button>
              </li>
              <li>
                <button
                  class="btn btn--small btn--gray-ghost"
                  placement="top"
                >
                <span class="icon-tools pull-left"></span>&nbsp;Oderability
                </button>
              </li>
            </div>
          </div>
        </ul>
      </div>

      <div class="col-sm-12 col-md-3"></div>
     </div>
    </div>
  </div>
</div>
