<ul>

  <li><button class="btn btn--small" placement="top">TEST</button></li>
  <li>Item Creation</li>
  <li>Modeling & Design</li>
  <li>T&C Mapping</li>
  <li>Pricing Uplift Setup</li>
  <li>Service Pricing Setup</li>
  <li>Service Map</li>
  <li>NPI Licensing</li>
  <li>CSDL</li>
  <li>Sales Compensation Setup</li>
  <li>Royalty Setup</li>
  <li>SWOE</li>
  <li>Export Compliance</li>
  <li>Compensation Hierarchy</li>
  <li>Oﬀer Attribution</li>
  <li>Ordering Guide</li>
  <li>Test Orderability</li>
  <li>Readiness Review</li>
  <li>Oderability</li>
  
  </ul>


