<div class="content">
  <div class="container">
    <div class="panel-wrapper base-margin-top">
      <ul>
        <!-- Item Creation / Modeling and Design -->
        <div class="row base-margin-bottom">
          <div class="col-sm-3 half-margin-left">
            <li class="base-margin-bottom">
              <button
                class="btn btn--small btn--wide btn--success"
                placement="top"
              >
                Item Creation
              </button>
            </li>
            <li>
              <button
                class="btn btn--small btn--wide btn--warning"
                placement="top"
              >
                Modeling & Design
              </button>
            </li>
          </div>
        </div>
        <!-- box group -->
        <div class="row base-margin-bottom">
          <!-- left box -->
          <div class="col-sm-6">
            <div class="panel panel--bordered">
              <div class="row">
                <div class="col-sm-6">
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      Modeling &amp; Design
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      T&C Mapping
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--default"
                      placement="top"
                    >
                      Pricing Uplift Setup
                    </button>
                  </li>
                </div>
                <div class="col-sm-6">
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--success"
                      placement="top"
                    >
                      Service Pricing Setup
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      Service Map
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      NPI Licensing
                    </button>
                  </li>
                </div>
              </div>
            </div>
          </div>
          <!-- right box -->
          <div class="col-sm-6">
            <div class="panel panel--bordered">
              <div class="row">
                <div class="col-sm-6">
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--warning"
                      placement="top"
                    >
                      CSDL
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--warning"
                      placement="top"
                    >
                      Sales Compensation Setup
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--default"
                      placement="top"
                    >
                      Royalty Setup
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      SWOE
                    </button>
                  </li>
                </div>

                <div class="col-sm-6">
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--warning"
                      placement="top"
                    >
                      Export Compliance
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--default"
                      placement="top"
                    >
                      Compensation Hierarchy
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--warning"
                      placement="top"
                    >
                      Oﬀer Attribution
                    </button>
                  </li>
                  <li class="base-padding-bottom">
                    <button
                      class="btn btn--small btn--wide btn--primary"
                      placement="top"
                    >
                      Ordering Guide
                    </button>
                  </li>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- bottom modules -->
        <div class="row base-margin-top">
          <!-- test Orderability -->
          <div class="col-sm-6 half-margin-left">
            <li class="base-padding-bottom">
              <button
                class="btn btn--small btn--wide btn--gray-ghost"
                placement="top"
              >
                Test Orderability
              </button>
            </li>
          </div>
          <!-- Readiness / Orderability -->
          <div class="col-sm-5">
            <li class="base-padding-bottom">
              <button
                class="btn btn--small btn--wide btn--gray-ghost"
                placement="top"
              >
                Readiness Review
              </button>
            </li>
            <li class="base-padding-bottom">
              <button
                class="btn btn--small btn--wide btn--gray-ghost"
                placement="top"
              >
                Oderability
              </button>
            </li>
          </div>
        </div>
      </ul>
    </div>
  </div>
</div>
