<div class="fin-container">

  <br>
  <div class="row">
    <div class="col-md-6">

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <mat-form-field>
          <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
        </mat-form-field>
        <a>
          <button cuiButton [small]="true" color="secondary" (click)="addSource()">Add New</button>
        </a>
      </div>

      <div class="mat-elevation-z8">

        <mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="name">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
            <mat-cell *matCellDef="let row">
              <a href="javascript:void(0)" (click)="editSource(row)">{{row.name}}</a>
            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="typeCode">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Type Code</mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.typeCode}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="status">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
            <mat-cell *matCellDef="let row">{{UiUtil.getStatusText(row.status)}}</mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        </mat-table>


        <mat-paginator #paginator
                       [length]="sources.length"
                       [pageIndex]="0"
                       [pageSize]="5"
                       [pageSizeOptions]="[5, 10, 25, 100]">
        </mat-paginator>
      </div>

    </div>
    <div class="col-md-6">

      <div class="edit-form-container" [fxShow]="showForm">
        <fieldset>
          <legend>{{formTitle}}</legend>
          <cui-input type="text" #nameInput [(model)]="source.name" label="Source Name"></cui-input>
          <cui-input type="text" [(model)]="source.typeCode" label="Type Code"></cui-input>
          <cui-input type="textarea" [(model)]="source.desc" [options]="{rows: 2}" label="Description"></cui-input>
          <div style="padding-top:15px;">
            <fin-checkbox label="Active" [(model)]="source.status" trueVal="A" falseVal="I"
            [disabled]="usingModuleNames.length" [inline]="true"></fin-checkbox>
            <span class="in-use text--danger cursor-pointer" [fxShow]="usingModuleNames.length"
            [matTooltip]="usingModuleNamesTooltip">in use</span>
          </div>
        </fieldset>

        <div class="fin-footer-buttons">
          <button cuiButton [small]="true" color="primary" (click)="save()">Submit</button>
          <button cuiButton [small]="true" color="secondary" (click)="cancel()">Cancel</button>
        </div>
      </div>

    </div>
  </div>

</div>
