<!-- <div>
    <div class="offer-header card card--raised base-margin-top">
        
            <div class="row">
                    <div class="col-md-12">
                            <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Offer Description</div>
                                    <div>Provides award-winning technical support along with entitlement to smart capabilities</div>
                                </div>
                    </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                            <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Expected Launch Date</div>
                                    <div>30-Aug-2018</div>
                                </div>
                    </div>
                    <div class="col-md-6">
                            <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Business Entity</div>
                                    <div>Networking, Cloud Computing, Internet of Things (IOT), Wireless and Mobility, +1 more</div>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="flex-fluid text-left half-margin-left">
                                    <div class="text-bold">Business Unit</div>
                                    <div>Digital Solution, Data Center Services</div>
                                </div>
                    </div>
            </div>
   
    </div>
    



  
</div> -->

<div class="panel-wrapper">
        <!-- <div class="panel-body mt-10 offerData" *ngIf="panels.panel1"> -->
        <div class="offer-header card card--raised base-margin-top">
          <div class="row">
            <div class="col-md-12">
              <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Offer Description</div>
                <div>{{ offerBuilderdata["offerDesc"] }}</div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-3">
              <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Expected Launch Date</div>
                <div>
                  {{
                    offerBuilderdata["expectedLaunchDate"]
                      | date: "dd-MMM-y"
                  }}
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Business Entity</div>
                <div>
                  {{
                    offerBuilderdata["BEList"] != null
                      ? offerBuilderdata["BEList"].join(", ")
                      : ""
                  }}
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="flex-fluid text-left half-margin-left">
                <div class="text-bold">Business Unit</div>
                <div>
                  {{
                    offerBuilderdata["BUList"] != null
                      ? offerBuilderdata["BUList"].join(", ")
                      : ""
                  }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
