<div mat-dialog-title>Submeasure Detail:</div>

<div mat-dialog-content>
  <div class="row"> <!--Top row-->

    <div class="col-lg-6"> <!--First column-->
      <!--Top row-->
      <div class="row">
        <div class="col-lg-6">Name:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.name}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.name}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Driver:</div>
        <div class="col-lg-6">{{data.driverName}}</div>
      </div>
    </div> <!--End of top row first column-->


    <div class="col-lg-6"> <!--Second column-->
      <div class="row">
        <!--Empty row-->
      </div>

      <div class="row">
        <div class="col-lg-6">Driver Period:</div>
        <div class="col-lg-6">{{data.period}}</div>
      </div>
    </div> <!--End of top row second column-->
  </div> <!--End of top row-->


  <div class = "row"> <!--Bottom row-->

    <div class="col-lg-6"> <!--First column-->
      <div class="row heading">
        <div class="col">Matching Criteria:</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales:</div>
        <div class="col-lg-6" >{{data.salesMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product:</div>
        <div class="col-lg-6">{{data.productMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">SCMS:</div>
        <div class="col-lg-6">{{data.scmsMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Internal Business Entity:</div>
        <div class="col-lg-6">{{data.beMatch}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Legal Entity:</div>
        <div class="col-lg-6">{{data.legalEntityMatch}}</div>
      </div>
    </div> <!--End of bottom row first column-->

    <div class="col-lg-6"> <!--Second column-->


      <div class="row heading">
        <div class="col">Selection Criteria:</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales Level 1:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.sl1Select}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.sl1Select}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales Level 2:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.sl2Select}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.sl2Select}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales Level 3:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.sl3Select}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.sl3Select}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product (PF):</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.prodPFSelect}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.prodPFSelect}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product (BU):</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.prodBUSelect}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.prodBUSelect}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product (TG):</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.prodTGSelect}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.prodTGSelect}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">SCMS:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.scmsSelect}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.scmsSelect}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Internal Business Entity:</div>
        <div class="col-lg-6 text-ellipsis" matTooltip="{{data.beSelect}}" matTooltipPosition="above" [matTooltipClass]="'my-tooltip'">{{data.beSelect}}</div>
      </div>

    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button cuiButton color="primary" type="button" mat-dialog-close="true">Close</button>
</div>
