<div mat-dialog-title>Submeasure Detail:</div>

<div mat-dialog-content>
  <div class="row"> <!--First row-->

    <div class="col-lg-6"> <!--First column-->
      <!--Top row-->
      <div class="row">
        <div class="col-lg-6">Measure:</div>
        <div class="col-lg-6 text-ellipsis" [matTooltip]="measureName" matTooltipPosition="above"
             [matTooltipDisabled]="measureName?.length < 15">{{measureName}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sub-Measure Name:</div>
        <div class="col-lg-6 text-ellipsis" [matTooltip]="sm.name" matTooltipPosition="above"
             [matTooltipDisabled]="sm.name?.length < 15">{{sm.name}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Source:</div>
        <div class="col-lg-6 text-ellipsis" [matTooltip]="sourceName" matTooltipPosition="above"
             [matTooltipDisabled]="sourceName?.length < 15">{{sourceName}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Description:</div>
        <div class="col-lg-6 text-ellipsis" [matTooltip]="sm.desc" matTooltipPosition="above"
             [matTooltipDisabled]="sm.desc?.length < 15">{{sm.desc}}</div>
      </div>
    </div> <!--End of first row first column-->


    <div class="col-lg-6"> <!--Second column-->
<!--
      <div class="row">
        <div class="col-lg-6">:</div>
        <div class="col-lg-6">{{}}</div>
      </div>
-->

      <div class="row">
        <div class="col-lg-6">Category Type:</div>
        <div class="col-lg-6">{{sm.categoryType}}</div>
      </div>

      <div *ngIf="sm.categoryType === 'MM'" class="row">
        <div class="col-lg-6">Manual Mix:</div>
        <div class="col-lg-6">HW: {{sm.manualMixHw}} SW: {{sm.manualMixSw}}</div>
      </div>

      <div *ngIf="hasFlashCategory()" class="row">
        <div class="col-lg-6">Flash Category:</div>
        <div class="col-lg-6">{{sm.sourceSystemAdjTypeId}}</div>
      </div>

      <div *ngIf="hasAdjustmentType()" class="row">
        <div class="col-lg-6">Adjustment Type:</div>
        <div class="col-lg-6">{{sm.sourceSystemAdjTypeId}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Is Group Submeasure:</div>
        <div class="col-lg-6">{{sm.indicators.groupFlag}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">Is Service Submeasure:</div>
        <div class="col-lg-6">{{sm.indicators.service}}</div>
      </div>

      <div *ngIf="sm.groupingSubmeasureId" class="row">
        <div class="col-lg-6">Grouping Submeasure:</div>
        <div class="col-lg-6">{{groupingSubmeasureName}}</div>
      </div>
    </div> <!--End of first row second column-->
  </div> <!--End of first row-->


  <div class = "row"> <!--Second row-->

    <div class="col-lg-6"> <!--First column-->
      <div class="row heading">
        <div class="col">Business Input Level:</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Internal Business Entity:</div>
        <div class="col-lg-6" >{{sm.inputFilterLevel.internalBELevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product:</div>
        <div class="col-lg-6">{{sm.inputFilterLevel.productLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Legal Entity:</div>
        <div class="col-lg-6">{{sm.inputFilterLevel.entityLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales:</div>
        <div class="col-lg-6">{{sm.inputFilterLevel.salesLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">SCMS:</div>
        <div class="col-lg-6">{{sm.inputFilterLevel.scmsLevel}}</div>
      </div>
    </div> <!--End of Second row first column-->

    <div class="col-lg-6"> <!--Second column-->


      <div class="row heading">
        <div class="col">Manual Mapping:</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Internal Business Entity:</div>
        <div class="col-lg-6" >{{sm.manualMapping.internalBELevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Product:</div>
        <div class="col-lg-6">{{sm.manualMapping.productLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Legal Entity:</div>
        <div class="col-lg-6">{{sm.manualMapping.entityLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Sales:</div>
        <div class="col-lg-6">{{sm.manualMapping.salesLevel}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">SCMS:</div>
        <div class="col-lg-6">{{sm.manualMapping.scmsLevel}}</div>
      </div>

    </div> <!--End of Second row Second column-->
  </div> <!--End of Second row-->

  <div class="row"> <!--Third row-->

    <div class="col-lg-6"> <!--First column-->
      <div class="line-break">
      </div>

      <div class="row">
        <div class="col-lg-6">Effective Month:</div>
        <div class="col-lg-6">{{sm.startFiscalMonth}}</div>      </div>

      <div class="row">
        <div class="col-lg-6">Processing Timing:</div>
        <div class="col-lg-6">{{sm.processingTime}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">P&L Node Grouping:</div>
        <div class="col-lg-6">{{sm.pnlnodeGrouping}}</div>
      </div>

    </div> <!--End of third row first column-->


    <div class="col-lg-6"> <!--Second column-->
      <div class="line-break">
      </div>

      <div class="row">
        <div class="col-lg-6">Reporting Level 1:</div>
        <div class="col-lg-6">{{sm.reportingLevels[0]}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Reporting Level 2:</div>
        <div class="col-lg-6">{{sm.reportingLevels[1]}}</div>
      </div>

      <div class="row">
        <div class="col-lg-6">Reporting Level 3:</div>
        <div class="col-lg-6">{{sm.reportingLevels[2]}}</div>
      </div>
    </div> <!--End of third row second column-->
  </div> <!--End of third row-->

  <div class="row"> <!-- 4th row -->
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">Retained Earnings:</div>
        <div class="col-lg-6">{{sm.indicators.retainedEarnings}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">Transition:</div>
        <div class="col-lg-6">{{sm.indicators.transition}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">Corporate Revenue:</div>
        <div class="col-lg-6">{{sm.indicators.corpRevenue}}</div>
      </div>

    </div>
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-6">2 Tier:</div>
        <div class="col-lg-6">{{sm.indicators.twoTier}}</div>
      </div>
      <div class="row">
        <div class="col-lg-6">Dual Gaap:</div>
        <div class="col-lg-6">{{sm.indicators.dualGaap}}</div>
      </div>

    </div>
  </div> <!-- end 4th row -->

  <div class="row heading">
    <div class="col-6">Rule Association:</div>
  </div>
  <div *ngFor="let rule of rules"  [matTooltip]="rule.desc" matTooltipPosition="above">{{rule.name}}</div>

</div>

<div mat-dialog-actions>
  <button cuiButton color="primary" type="button" mat-dialog-close="true">Close</button>
</div>
