


.row {
  margin-bottom: 5px;
}

.heading {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 19px;
  font-size: 17px;
}

.line-break{
  margin-top: 15px;
  margin-bottom: 19px;
}

.inline-check-row .form-group-check {
  display: inline-block;
}
