app-menu-bar .panel.panel--ltgray.panel--compressed {
  box-shadow: inset 0 -4px 20px rgba(0,0,0,0.045);
  border-bottom: solid 1px #ededed;
}
button#flyOut {
  background: transparent;
  color: #666;
}
button#flyOut:hover {
  color: #333;
}

.offerID {
    text-transform: uppercase;
    color: #666666;
    font-size: 18px;
    cursor: default !important;
}

.offerName {
    font-weight: 200;
    font-size: 24px;
}

#flyoutmenu ul.panel:before {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #fff transparent;
  display: inline-block;
  content:"";
  position: absolute;
  top: -10px;
  left: 20px;
}
#flyoutmenu {
    padding: 0;
    margin: 0;
    border: 0;
    display: block;
    position: absolute;
    left: -10px;
    top: 100%;
    text-align: left;
    font-size: 16px;

}

#flyoutmenu {
    visibility: hidden;
}

#flyoutmenu:hover {
    visibility: visible;
}

/* #flyOut:hover > #flyoutmenu, #flyOut:focus-within > #flyoutmenu, #flyOut > #flyoutmenu:focus-within {
    visibility: visible;
    display: block;
} */
#flyOut:hover+#flyoutmenu,
#flyOut:focus-within+#flyoutmenu,
#flyOut+#flyoutmenu:focus-within {
    visibility: visible;
    display: block;
}


#flyoutmenu ul,
#flyoutmenu ul li,
#flyoutmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#flyoutmenu ul {
    position: relative;
    z-index: 997;
}

#flyoutmenu ul li {
    min-height: 1px;
    vertical-align: middle;
}

#flyoutmenu ul li:hover,
#flyoutmenu ul li:focus-within {
    position: relative;
    z-index: 999;
    cursor: pointer;
}

/* #flyoutmenu ul ul{visibility:hidden;position:absolute;top:100%;left:0;z-index:998;width:100%;} */
#flyoutmenu ul ul ul {
    top: 0px;
    left: 99%;
}

#flyoutmenu ul li:hover>ul,
#flyoutmenu ul li:focus-within>ul {
    visibility: visible;
    display: block;
}

#flyoutmenu ul ul {
    top: 0px;
    left: 0;
}

/* Custom CSS Styles */
#flyoutmenu ul {
    width: 1000px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, .25);
    height: 220px;
    border-radius: 10px;
}

#flyoutmenu ul ul {
    width: 230px;
    box-shadow: none;
    height: initial;
    font-size: 14px;
}

#flyoutmenu ul li {
    padding: 7px 10px;
    float: left;
}
#flyoutmenu ul li ul li {
    padding: 7px 10px;
    float: none;
}

/* #flyoutmenu ul li.hover,#flyoutmenu ul li:hover{    background-color: rgba(0,0,0,.1); color:#fff;} */
#flyoutmenu ul li.disable-item.hover,
#flyoutmenu ul li.disable-item:hover {
    cursor: not-allowed;
}

/* #flyoutmenu ul li:link,#flyoutmenu ul li:visited{color:#fff;text-decoration:none;}
#flyoutmenu ul li:hover, #flyoutmenu ul li:focus-within {color:#fff} */
#flyoutmenu ul li ul li:active {
    color: #000;
    background: white;
    display: block;
}

.disable-item {
    color: lightgray;
    cursor: not-allowed;
}

.disable-item:hover {
    color: lightgray !important;
    cursor: not-allowed;
}

.disable-item .link {
    color: lightgray;
    cursor: not-allowed;
}

.disable-item .link:hover {
    color: lightgray !important;
    cursor: not-allowed;
}

span.menu-label {
    padding: 10px;
    display: block;
    border-bottom: solid 1px;
    font-weight: bold;
}

.ico-save-offer {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjAiIHZpZXdCb3g9IjAgMCAyMSAyMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTAuNTQ1MTA0IDEyLjc0NDFIMi4wMjAwOEMyLjMxODM0IDEyLjc0NDEgMi41NTk0IDEyLjk4NTIgMi41NTk0IDEzLjI4MzVWMTcuMzQ4OEMyLjY2MTU1IDE3LjM0ODggMi43MzkxOCAxNy4zNDg4IDIuODIwOSAxNy4zNDg4QzcuODM4MjYgMTcuMzQ4OCAxMi44NTk3IDE3LjM0ODggMTcuODc3MSAxNy4zNDg4QzE4LjIyMDMgMTcuMzQ4OCAxOC4xODM1IDE3LjM4MTUgMTguMTgzNSAxNy4wNDI0QzE4LjE4MzUgMTYuMDMzMiAxOC4xODM1IDE0LjE5NDYgMTguMTgzNSAxMy4yODM1QzE4LjE4MzUgMTIuOTg1MiAxOC40MjQ2IDEyLjc0NDEgMTguNzIyOCAxMi43NDQxSDIwLjI4NzdDMjAuNTgxOSAxMi43NDQxIDIwLjgyMjkgMTIuOTg1MiAyMC44MjcgMTMuMjc5NEMyMC44MzExIDE0LjM2NjIgMjAuODM5MyAxNi44NDYzIDIwLjgzNTIgMTguMjAyOEMyMC44MzExIDE5LjEyNjIgMjAuMjI2NCAxOS44Mjg5IDE5LjMxOTQgMTkuOTc2QzE5LjExMSAyMC4wMDg3IDE4Ljg5ODUgMTkuOTk2NSAxOC42ODYxIDE5Ljk5NjVDMTMuMDc2MyAxOS45OTY1IDcuNDYyMzcgMTkuOTk2NSAxLjg1MjU2IDE5Ljk5NjVDMC45NzQxMTMgMTkuOTk2NSAwLjI5MTc4NCAxOS41MTAyIDAuMDY3MDY1MiAxOC43MTc2QzAuMDIyMTIxNCAxOC41NTQyIDAuMDAxNjkyMzkgMTguMzg2NiAwLjAwMTY5MjM5IDE4LjIxOTFDLTAuMDAyMzkzNDEgMTYuODI1OSAwLjAwMTY5MjM5IDE0LjM2NjIgMC4wMDU3NzgyIDEzLjI4MzVDMC4wMDk4NjQgMTIuOTgxMSAwLjI0Njg0IDEyLjc0NDEgMC41NDUxMDQgMTIuNzQ0MVoiIGZpbGw9IiMzOTM5M0IiLz4KPHBhdGggZD0iTTEwLjE5OTcgMTMuOTczNEw1LjU5NDk5IDguMDc3NjNDNS4zNjIxIDcuNzc5MzcgNS41NzQ1NiA3LjMzODEgNS45NTg2MiA3LjMzODFDNi43OTYyMiA3LjMzNDAxIDcuOTg5MjcgNy4zMzQwMSA4LjY5MjAzIDcuMzM4MUM4LjkwODU4IDcuMzM4MSA4Ljk0OTQ0IDcuMjY0NTYgOC45NDk0NCA3LjA2ODQ0QzguOTQxMjYgNC44MjEyNSA4Ljk0NTM1IDIuNTc4MTQgOC45NDUzNSAwLjMzMDk1QzguOTQ1MzUgMC4yMjQ3MTkgOC45NDUzNSAwLjExODQ4OCA4Ljk0NTM1IDBIMTIuMDUwNkMxMi4wNTA2IDAuMDc3NjMwMiAxMi4wNTA2IDAuMTUxMTc1IDEyLjA1MDYgMC4yMjA2MzNDMTIuMDUwNiAyLjUwODY4IDEyLjA1NDYgNC43OTI2NSAxMi4wNDY1IDcuMDgwNjlDMTIuMDQ2NSA3LjI5NzI0IDEyLjExMTkgNy4zMzgxIDEyLjMxMjEgNy4zMzgxQzEzLjAzMTIgNy4zMzQwMSAxNC4yNDg3IDcuMzI5OTMgMTUuMDk0NSA3LjMzNDAxQzE1LjQ3NDUgNy4zMzQwMSAxNS42OTEgNy43NzEyIDE1LjQ1ODEgOC4wNzM1NEMxMy45NDIzIDEwLjA1MTEgMTIuNDM4NyAxMi4wMDgyIDEwLjkzMTEgMTMuOTczNEMxMC43NDMxIDE0LjIwNjMgMTAuMzgzNiAxNC4yMTA0IDEwLjE5OTcgMTMuOTczNFoiIGZpbGw9IiMzOTM5M0IiLz4KPC9zdmc+Cg==);
    display: block;
    width: 24px;
    height: 24px;
    background-size: cover;
    margin: 10px auto 8px;
}

.ico-offer-details {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjIiIHZpZXdCb3g9IjAgMCAyMSAyMiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgY2xpcC1wYXRoPSJ1cmwoI2NsaXAwKSI+CjxwYXRoIGQ9Ik0xMy40NTgzIDExLjUzOTdDMTIuMzgwNCAxMS41Mzk3IDExLjMwMjQgMTEuNTM5NyAxMC4yMzQ4IDExLjUzOTdDOS41OTgyOSAxMS41Mzk3IDkuMjE4NDUgMTEuMjIxNCA5LjIyODcyIDEwLjcwODFDOS4yMzg5OCAxMC4yMTU0IDkuNjA4NTYgOS45Mjc5MiAxMC4yMjQ1IDkuOTI3OTJDMTIuMzU5OCA5LjkyNzkyIDE0LjQ5NTIgOS45Mjc5MiAxNi42MzA1IDkuOTI3OTJDMTcuMjc3MiA5LjkyNzkyIDE3LjY2NzQgMTAuMjQ2MiAxNy42Njc0IDEwLjcyODdDMTcuNjY3NCAxMS4yMjE0IDE3LjI3NzIgMTEuNTI5NCAxNi42MzA1IDExLjUzOTdDMTUuNTczMSAxMS41Mzk3IDE0LjUxNTcgMTEuNTM5NyAxMy40NTgzIDExLjUzOTdaIiBmaWxsPSIjMzkzOTNCIi8+CjxwYXRoIGQ9Ik00LjM3MzEzIDE1LjE3M0M0LjA0NDYyIDE0Ljg4NTUgMy43Nzc3IDE0LjY5MDUgMy41NjIxMiAxNC40NDQxQzMuMjQzODcgMTQuMDg0OCAzLjI3NDY3IDEzLjY1MzYgMy41OTI5MSAxMy4zNDU2QzMuOTExMTYgMTMuMDM3NyA0LjM0MjMzIDEzLjAxNzEgNC42OTEzOCAxMy4zNTU5QzQuOTI3NDkgMTMuNTgxOCA1LjEwMjAxIDEzLjg1ODkgNS4zMTc2IDE0LjEyNThDNS41NTM3MiAxMy45MTAzIDUuNjc2OTEgMTMuNzg3MSA1Ljc4OTg0IDEzLjY3NDFDNi40MjYzMyAxMy4wMzc3IDYuODE2NDQgMTIuOTU1NSA3LjIyNzA3IDEzLjM1NTlDNy42Mzc3MSAxMy43NDYgNy41NDUzMiAxNC4xNzcyIDYuOTM5NjMgMTQuNzkzMUM2LjgxNjQzIDE0LjkxNjMgNi43MDM1MSAxNS4wMzk1IDYuNDY3MzkgMTUuMjk2MkM2LjczNDMxIDE1LjUwMTUgNy4wMTE0OSAxNS42NzYgNy4yMjcwNyAxNS45MDE5QzcuNTY1ODUgMTYuMjUwOSA3LjU1NTU5IDE2LjY4MjEgNy4yNTc4NyAxNy4wMDAzQzYuOTM5NjMgMTcuMzM5MSA2LjUwODQ2IDE3LjM1OTYgNi4xMTgzNSAxNy4wMzExQzUuOTg0ODkgMTYuOTE4MiA1Ljg3MTk2IDE2Ljc5NSA1Ljc0ODc3IDE2LjY3MThDNS42MzU4NSAxNi41NjkyIDUuNTIyOTIgMTYuNDY2NSA1LjMyNzg3IDE2LjI4MTdDNS4xMjI1NSAxNi41Mzg0IDQuOTM3NzYgMTYuNzk1IDQuNzIyMTcgMTcuMDAwM0M0LjM1MjYgMTcuMzU5NiAzLjkxMTE2IDE3LjM0OTQgMy41ODI2NSAxNy4wMjA5QzMuMjQzODcgMTYuNjgyMSAzLjI0Mzg3IDE2LjI3MTQgMy41OTI5MSAxNS44ODEzQzMuNjk1NTcgMTUuNzY4NCAzLjgwODUgMTUuNjU1NSAzLjkyMTQzIDE1LjU1MjhDNC4wMzQzNSAxNS40NTAyIDQuMTQ3MjggMTUuMzU3OCA0LjM3MzEzIDE1LjE3M1oiIGZpbGw9IiMzOTM5M0IiLz4KPHBhdGggZD0iTTEzLjQ1ODUgNS40OTE1OUMxNC41NTY5IDUuNDkxNTkgMTUuNjQ1MSA1LjQ5MTU5IDE2Ljc0MzYgNS40OTE1OUMxNy4yOTggNS40OTE1OSAxNy42NDcgNS43ODkzIDE3LjY2NzUgNi4yNDFDMTcuNjg4MSA2LjcwMjk3IDE3LjMxODUgNy4wNjIyOCAxNi43NTM5IDcuMDcyNTVDMTQuNTQ2NyA3LjA4MjgxIDEyLjMzOTUgNy4wODI4MSAxMC4xMzIzIDcuMDcyNTVDOS41NDcxNCA3LjA3MjU1IDkuMTk4MSA2Ljc0NDAzIDkuMjE4NjMgNi4yNjE1M0M5LjIyODkgNS43NzkwMyA5LjU4ODIxIDUuNDkxNTkgMTAuMTczNCA1LjQ5MTU5QzExLjI3MTggNS40ODEzMiAxMi4zNiA1LjQ4MTMyIDEzLjQ1ODUgNS40OTE1OUMxMy40NTg1IDUuNDgxMzIgMTMuNDU4NSA1LjQ4MTMyIDEzLjQ1ODUgNS40OTE1OVoiIGZpbGw9IiMzOTM5M0IiLz4KPHBhdGggZD0iTTEzLjQ0ODggMTQuNDAyNUMxNC41NDczIDE0LjQwMjUgMTUuNjM1NCAxNC40MDI1IDE2LjczMzkgMTQuNDAyNUMxNy4zMTkxIDE0LjQwMjUgMTcuNjc4NCAxNC43MTA0IDE3LjY2ODEgMTUuMTkyOUMxNy42NjgxIDE1LjY2NTIgMTcuMzA4OCAxNS45NzMxIDE2LjcyMzYgMTUuOTczMUMxNC41MTY1IDE1Ljk4MzQgMTIuMzA5MyAxNS45ODM0IDEwLjEwMjEgMTUuOTczMUM5LjU1Nzk5IDE1Ljk3MzEgOS4yMTkyMSAxNS42NTQ5IDkuMjI5NDcgMTUuMTgyN0M5LjIyOTQ3IDE0LjcxMDQgOS41NTc5OSAxNC40MTI3IDEwLjExMjMgMTQuNDAyNUMxMS4yMjExIDE0LjQwMjUgMTIuMzI5OCAxNC40MDI1IDEzLjQ0ODggMTQuNDAyNVoiIGZpbGw9IiMzOTM5M0IiLz4KPHBhdGggZD0iTTUuMDQwNDEgMTAuNjY1OUM1LjUzMzE4IDEwLjEyMTggNS44ODIyMiA5LjcyMTQgNi4yNTE4IDkuMzUxODNDNi42MzE2NCA4Ljk3MTk5IDcuMTAzODggOC45NTE0NiA3LjQzMjM5IDkuMjU5NDRDNy43OTE3IDkuNjA4NDggNy43ODE0MyAxMC4wNDk5IDcuMzcwNzkgMTAuNDcwOEM2LjgyNjY5IDExLjAzNTUgNi4yNzIzMyAxMS41ODk4IDUuNzA3NyAxMi4xMzM5QzUuMjk3MDYgMTIuNTI0IDQuOTA2OTUgMTIuNTI0IDQuNDg2MDUgMTIuMTMzOUM0LjExNjQ3IDExLjc4NDkgMy43NDY5IDExLjQyNTYgMy4zOTc4NSAxMS4wNDU3QzMuMDE4MDEgMTAuNjQ1MyAzLjAxODAxIDEwLjIxNDIgMy4zNzczMiA5Ljg3NTM5QzMuNjk1NTcgOS41Njc0MiA0LjE2NzggOS41Nzc2OCA0LjUxNjg1IDkuOTI2NzJDNC43MDE2MyAxMC4xMjE4IDQuODI0ODMgMTAuMzU3OSA1LjA0MDQxIDEwLjY2NTlaIiBmaWxsPSIjMzkzOTNCIi8+CjxwYXRoIGQ9Ik01LjA0MDI4IDYuMTU5MDlDNS41MjI3OSA1LjY1NjA2IDUuODcxODMgNS4yNTU2OSA2LjI1MTY3IDQuODg2MTFDNi42NTIwNCA0LjQ4NTc0IDcuMDgzMjEgNC40NzU0NyA3LjQzMjI2IDQuODAzOThDNy43OTE1NyA1LjE0Mjc2IDcuNzgxMyA1LjYwNDczIDcuMzcwNjYgNi4wMjU2NEM2LjgzNjgzIDYuNTY5NzMgNi4yOTI3MyA3LjExMzgzIDUuNzM4MzcgNy42NDc2NkM1LjMwNzIgOC4wNjg1NiA0LjkxNzA5IDguMDc4ODMgNC40ODU5MiA3LjY2ODE5QzQuMTE2MzUgNy4zMTkxNSAzLjc0Njc3IDYuOTQ5NTcgMy4zOTc3MyA2LjU4QzMuMDM4NDIgNi4yMDAxNiAzLjAzODQyIDUuNzc5MjUgMy4zNjY5MyA1LjQ0MDQ4QzMuNjk1NDQgNS4xMDE3IDQuMTI2NjEgNS4wOTE0MyA0LjUwNjQ1IDUuNDUwNzRDNC42OTEyNCA1LjY0NTc5IDQuODM0OTcgNS44ODE5MSA1LjA0MDI4IDYuMTU5MDlaIiBmaWxsPSIjMzkzOTNCIi8+CjxwYXRoIGQ9Ik0xOS45MjYzIDIySDAuNjE1OTU5QzAuMjc3MTgyIDIyIDAgMjEuNzIyOCAwIDIxLjM4NFYwLjYxNTk1OUMwIDAuMjc3MTgyIDAuMjc3MTgyIDAgMC42MTU5NTkgMEgxOS45MjYzQzIwLjI2NSAwIDIwLjU0MjIgMC4yNzcxODIgMjAuNTQyMiAwLjYxNTk1OVYyMS4zODRDMjAuNTQyMiAyMS43MjI4IDIwLjI2NSAyMiAxOS45MjYzIDIyWk0xLjIzMTkyIDIwLjc2ODFIMTkuMzEwM1YxLjIzMTkySDEuMjMxOTJWMjAuNzY4MVoiIGZpbGw9IiMzOTM5M0IiLz4KPC9nPgo8ZGVmcz4KPGNsaXBQYXRoIGlkPSJjbGlwMCI+CjxyZWN0IHdpZHRoPSIyMC41NDIyIiBoZWlnaHQ9IjIyIiBmaWxsPSJ3aGl0ZSIvPgo8L2NsaXBQYXRoPgo8L2RlZnM+Cjwvc3ZnPgo=) no-repeat;
    display: block;
    width: 23px;
    height: 24px;
    background-size: contain;
    margin: 10px auto 8px;
}


.readOnlyClas{
    pointer-events: none;
    cursor: not-allowed !important;
    visibility: hidden;
}


