<a routerLink="/pft/rule-management"><button mat-button>Back</button></a>
      <div class="add-form-container">
        <!-- <form [formGroup]="form" (ngSubmit)="save()"> -->
          <cui-input type="text" [(ngModel)]="rule.name" label="Rule Name" required="true"></cui-input>
          <cui-select [(ngModel)]="driverSelection" [items]="driverNames" empty="true" label="Driver" required="true" optionsKey="name" optionsValue="value"></cui-select>
          <cui-select [(ngModel)]="periodSelection" [items]="driverPeriods" label="Driver Period" empty="true" required="true" optionsKey="name" optionsValue="value"></cui-select>
          <br>
          <!-- Begin two column section -->
          <div class="input-filter-level">
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                            <div class="columnHeader" style="width: 300px; display: table-cell;">Matching Criteria</div>
                            <div class="columnHeader" style="width: 300px; display: table-cell;">Selection Criteria</div>
                        </div>
                    </div>
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                            <div style="width: 600px; display: table-cell;"><cui-select class="matching" [(ngModel)]="salesMatch" [items]="salesLevels" label="Sales" empty="true" (selectChange)="formChange()" required="true" optionsKey="name" optionsValue="value"></cui-select></div>
                            <div class="selectionCriteria" style="display: table-cell;"><cui-input type="text" [(ngModel)]="rule.sl1Select" label="Selection Criteria:" required="true"></cui-input></div>
                        </div>
                    </div>
                    <br>
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                              <div style="width: 600px; display: table-cell;"><cui-select class="matching" [(ngModel)]="productMatch" [items]="productLevels" label="Product" empty="true" (selectChange)="formChange()" required="true" optionsKey="name" optionsValue="value"></cui-select></div>
                              <div class="selectionCriteria" style="display: table-cell;"><cui-input type="text" label="Selection Criteria:" required="true"></cui-input></div>
                        </div>
                    </div>
                    <br>
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                              <div style="width: 600px; display: table-cell;"><cui-select class="matching" [(ngModel)]="scmsMatch" [items]="scmsLevels" label="SCMS" empty="true" (selectChange)="formChange()" optionsKey="name" optionsValue="value"></cui-select></div>
                              <div class="selectionCriteria" style="display: table-cell;"><cui-input type="text" [(ngModel)]="rule.scmsSelect" label="Selection Criteria:"></cui-input></div>
                        </div>
                    </div>
                    <br>
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                              <div style="width: 600px; display: table-cell;"><cui-select class="matching" [(ngModel)]="rule.legalEntityMatch" [items]="legalEntityLevels" label="Legal Entity" empty="true" (selectChange)="formChange()" optionsKey="name" optionsValue="value"></cui-select></div>
                              <div class="selectionCriteria" style="display: table-cell;"><cui-input type="text" label="Selection Criteria:"></cui-input></div>
                        </div>
                    </div>
                    <br>
                    <div style="width: 100%; display: table;">
                        <div style="display: table-row">
                              <div style="width: 600px; display: table-cell;"><cui-select class="matching" [(ngModel)]="beMatch" [items]="ibeLevels" label="Internal Business Entity" empty="true" (selectChange)="formChange()" required="true" optionsKey="name" optionsValue="value"> </cui-select></div>
                              <div class="selectionCriteria" style="display: table-cell;"><cui-input type="text" [(ngModel)]="rule.beSelect" label="Selection Criteria:" required="true"></cui-input></div>
                        </div>
                    </div>
                    <br>
                </div>
          <!-- End two column section -->
          <br>
          <button mat-button (click)="save()">Submit</button><button mat-button>Reset</button>
        <!-- </form> -->
      </div>
