<p-dialog header="Add All Item Detail" (onHide)="onHide()" class="add-details-dialog"
  [(visible)]="offerConstructService.closeAddDetails" [resizable]="false" [draggable]="false" [maximizable]="true"
  [contentStyle]="{'min-height':'450px', 'overflow-y':'scroll', 'width':'100%'}">
  <div class="divider" style="margin-top: -1.5%"></div>
  <div class="line-items-nav">
    <div class="row">
      <div class="col-sm-12">
        <ul id="tabsv4" class="tabs tabs--tall">
          <li id="tabsv4-1" class="tab">
            <a (click)='majorSection()' [ngClass]="{'active': majorLineItemsActive, 'tab__heading':true,'bBtm':onLoad}">Add Major Line
              Details</a>
          </li>
          <li id="tabsv4-2" class="tab">
            <a (click)='minorSection()' [ngClass]="{'active': minorLineItemsActive, 'tab__heading':true}">Add Minor Line
              Details</a>
          </li>

          <div class="pull-right flex-center-vertical">
              <!-- <a href="#" class="base-margin-right"><span class="icon-export--cool half-margin-right"></span> Export as .XLS</a> -->
             <button class="display-none"></button>
             <button class="btn btn--secondary" (click)="closeDialog()">Cancel</button>
             <button class="btn btn--primary" (click)='saveForm()'>Save</button>
             </div>

        </ul>
      </div>
    </div>
  </div>
  <!-- <div class="row"> -->
  <div class="container-fluid" class="view-item-details" style="width: 100%">
    <div *ngFor="let items of ismajorSection ? majorOfferInfo:  minorOfferInfo ;  let $parentIndex = index">
      <div *ngFor="let item of items |keyvalue; let $ChildIndex = index;">
        <p-accordion (onOpen)="onTabOpen($event, item.key)" [activeIndex]="indexVal">
          <p-accordionTab *ngIf="offerConstructService.itemlengthList[selectedTab][item.key]">
            <p-header>
              {{item.key}}
            </p-header>
            <div class="row">
              <div class="search-buffer">
                <div class="form-group input--icon half-margin-bottom">
                  <div class="form-group__text search-icon">
                    <div class="row">
                        <div class="col-md-12">
                          <p>Product ID’s and item details</p>
                          <div class="row">
                              <div class="flex-center-vertical">
                              <div class="col-md-6">
                                  <p-autoComplete (click)='addItms(item.key)' [ngModelOptions]="{standalone: true}"
                                    [(ngModel)]="itemsList[selectedTab][item.key]" [suggestions]="copyAttributeResults"
                                    (completeMethod)="searchCopyAttributes($event)" field="PID" class="auto-complete-attribute"
                                    placeholder="Copy Attributes" [size]="100" [minLength]="9" [name]="item.key" [id]="item.key">
                                  </p-autoComplete>
                                  </div>
                                  <div class="col-md-6">
                                      <button type="button" class="link" (click)="displayViewDetails()">
                                        View
                                      </button><div class="text-indigo v-separator"></div>
                                      <button type="button" class="link" (click)="patchvalueToSelected(item.key)">
                                        Apply to Selected
                                      </button><div class="text-indigo v-separator"></div>
                                      <button type="button" class="link" (click)="patchToALL(item.key)">
                                        Apply to All
                                      </button>
                                    </div>
                                    </div>
                          </div>
                          <p>Edit attribute values or select a Product ID below and search for a product to copy values from</p>
                        </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- Accordian content starts-->
              <div class="col-sm-2" style="padding: 0;overflow: hidden;">
                <!-- Unique -->
                <table class="detail-labels text-left table table--compressed table--bordered">
                  <tbody>
                    <tr>
                      <th>
                        <div class="form-group form-group--inline">
                          <label class="checkbox">
                            <input type="checkbox" />
                            <span class="checkbox__input opacity-0" *ngIf="$ChildIndex!==0" ></span>
                            <span class="checkbox__label hidden-xs" [ngClass]="{'ml0':$ChildIndex===0}" >Product ID</span>
                          </label>
                        </div>
                      </th>
                    </tr>
                    <!-- </tbody> -->
                    <!-- <tbody class="offer-values"> -->
                    <tr class="section-tr-label">
                      <th>Unique Item</th>
                    </tr>
                    <!-- <div > -->
                    <div *ngFor="let ques of item.value['questionset']">
                      <tr *ngIf="ques.itemType == 'Unique Item'">
                        <td>{{ques.question}}</td>
                      </tr>
                    </div>
                    <tr class="section-tr-label">
                      <th>Additional Item</th>
                    </tr>
                    <div *ngFor="let ques of item.value['questionset']">
                      <tr *ngIf="ques.itemType !== 'Unique Item'">
                        <td>{{ques.question}}</td>
                      </tr>
                    </div>
                    <!-- </div> -->
                  </tbody>
                </table>
              </div>
              <div class="pid-data-columns col-sm-10">
                <div *ngFor="let queslist of item.value['productInfo']">
                  <div *ngFor="let ques of queslist|keyvalue">
                    <table class="pid-data pull-left text-left table table--compressed table--bordered"
                      style="max-width: 300px;">
                      <tbody>
                        <tr>
                          <th>
                            <div class="form-group form-group--inline">
                              <label class="checkbox">
                                <input type="checkbox" (change)="getSelctedProduct($event, ques.value)"
                                  class="product_check_box" />
                                <span class="checkbox__input"></span>
                                <span class="checkbox__label hidden-xs">{{ques.value['title']}}</span>
                              </label>
                            </div>
                          </th>
                        </tr>
                        <tr class="section-tr-label">
                          <th></th>
                        </tr>
                        <div *ngFor="let pInfo of ques.value['listOfferQuestions']; let i = index;">
                          <tr class="overflow-visible" [ngSwitch]="pInfo.componentType"
                            *ngIf="pInfo.itemType == 'Unique Item'">
                            <td *ngSwitchCase="'Free Text'">
                              <div class="form-group input--compressed" *ngIf="i == 0">
                                <div class="form-group__text">
                                  <input [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                    value="{{ques.value['title']}}" [attr.disabled]='true'>
                                </div>
                              </div>
                              <div class="form-group input--compressed" *ngIf="i !== 0">
                                <div class="form-group__text">
                                  <input [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                    [(ngModel)]="pInfo.currentValue">
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Q&A FreeText'">
                              <div class="form-group input--compressed">
                                <div class="form-group__text">
                                  <input [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                    [(ngModel)]="pInfo.currentValue">
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Radio Button'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Q&A Radio Button'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Drop-down'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Multiselect'">
                              <p-multiSelect [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                [options]="pInfo.listMutiSelect" optionLabel="name"
                                [(ngModel)]="pInfo.listCurrentValue">
                              </p-multiSelect>
                            </td>
                          </tr>
                        </div>
                        <tr class="section-tr-label">
                          <th></th>
                        </tr>
                        <div *ngFor="let pInfo of ques.value['listOfferQuestions']">
                          <tr [ngSwitch]="pInfo.componentType" *ngIf="pInfo.itemType !== 'Unique Item'">
                            <td *ngSwitchCase="'Free Text'">
                              <div class="form-group input--compressed">
                                <div class="form-group__text">
                                  <input [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                    [(ngModel)]="pInfo.currentValue">
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Q&A FreeText'">
                              <div class="form-group input--compressed">
                                <div class="form-group__text">
                                  <input [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                    [(ngModel)]="pInfo.currentValue" class="form-control">
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Radio Button'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Q&A Radio Button'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Drop-down'">
                              <div class="form-group dropdown input--compressed">
                                <div class="form-group__text select">
                                  <select [name]='item.egineAttribue_+$parentIndex+ $ChildIndex' class="form-control"
                                    [(ngModel)]="pInfo.currentValue">
                                    <option *ngFor="let opt of pInfo.values" [value]="opt">{{opt}}</option>
                                  </select>
                                </div>
                              </div>
                            </td>

                            <td *ngSwitchCase="'Multiselect'">
                              <p-multiSelect [name]='item.egineAttribue_+$parentIndex+ $ChildIndex'
                                [options]="pInfo.listMutiSelect" optionLabel="name"
                                [(ngModel)]="pInfo.listCurrentValue">
                              </p-multiSelect>
                            </td>
                          </tr>
                        </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </p-accordionTab>
        </p-accordion>
      </div>
    </div>
  </div>
  <!-- </div> -->
</p-dialog>

<!-- Dialog for view details-->
<p-dialog header="View Details for {{headerName}}" closable="true" modal="true" showHeader="false"
  (onHide)="onHideViewDetails()" [responsive]="true" [(visible)]="viewDetails"
  [contentStyle]="{'height': '450px', 'min-width':'700px'}">
  <div class="divider"></div>
  <table class="table">
    <tr *ngFor="let item of detailArray">
      <td>{{item.egenieAttribute}}</td>
      <td>{{item.value}}</td>
    </tr>
  </table>
</p-dialog>
