<div class="row">
  <div class="col-md-12 task--bar">
    <button class="btn btn--secondary" type="submit"><span class="icon-refresh">&nbsp;&nbsp;Refresh
        Status</span></button>
  </div>
</div>
<div class="row" style="margin-top: 30px">
  <div class="col-md-12">
    <p-table [value]="csdlData" [rows]="4">
      <ng-template pTemplate="header">
        <tr>
          <th>CSDL ID</th>
          <th><span class="icon-info-outline icon-small" pTooltip="Stop Ship Details Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore"
              tooltipPosition="top">
            </span>&nbsp;STOP SHIP</th>
          <th><span class="icon-info-outline icon-small" pTooltip="Enforcement Details Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore"
              tooltipPosition="top">
            </span>&nbsp;ENFORCEMENT</th>
          <th>LATEST STATUS UPDATE</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData>
        <tr>
          <td><span class="text-blue">{{rowData.projectId}}</span></td>
          <td><span class="text-success">{{rowData.csdlActivityStatus}}</span></td>
          <td>{{rowData.enforcementType}}</td>
          <td>{{rowData.latestUpdatedDate}}
            <span class="icon-trash icon-small pull-right"></span>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
