.addcomment span{
    color: #007493; 
    font-size: 19px;
margin-right: 5px;  
cursor: pointer;
}

.addcomment,h6{
    color: #007493;
}

textarea,{
    width:66%;
}

.viewcomment{
    width:100%;
    word-wrap: break-word;
}

.comments{
   max-height: 200px;
   width:66%;
overflow-y: scroll;

}