<!-- test orderability section -->
<div class="panel panel--ltgray panel--loose base-margin-top">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <div class="subheader text-indigo">Upload Test Plan</div>
          <p>Please upload test plan used to complete testing activities in CCW</p>
          <button class="btn btn--small btn--cool btn--primary">Upload File</button>
        </div>
        <div class="col-sm-12 col-md-6">
          <button class="btn btn--small btn--cool btn--primary">Testing Activities in CCW</button>
        </div>

      </div>
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="subheader text-indigo">Provide Test Order ID</div>
      <p>Provide the Test Order ID used for testing. Select the appropiate ATO(s) to attach to the Test Order
        ID </p>

    </div>
  </div>
</div>
<!-- End: test orderability -->
