@import '../../../../../styles/comp-index';


$padding: 20px;

.home-comp {
  min-height: calc(100vh - #{$header-height-ltlg + $fin-footer-height});

  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-ltxxl) {
    min-height: calc(100vh - #{$hero-header-height + $fin-footer-height});
  }

  @media (min-width: $breakpoint-xxl) {
    min-height: calc(100vh - #{$hero-header-height-xxl + $fin-footer-height});
  }

  .leftnav {
    flex: 1 1 25%;
    min-width: 220px;
    max-width: 250px;
  }

  /deep/ fin-leftnav {
    .title {
      font-weight: 300;
    }
    a {
      color: white !important;
    }
  }

  .top-section {

    .text {}

    .admin-button {
      margin-left: 30px;
      &.selected {
        // todo: test later once cuiButton stops clobbering class attribute
        //outline: 1px solid $status-yellow;
      }
    }
  }

  .main {
    background-image: url('../../../../../assets/img/AS01421.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow-y: hidden;

    .modules-wrap {
      min-height: calc(100% - 140px);
      overflow-x: auto;

      .modules {
        white-space: nowrap;

        .module {
          height: 40vh;
          width: 40vh;
          min-width: 170px;
          min-height: 170px;
          max-height: 260px;
          max-width: 260px;
          background-color: $vibrant-blue;
          border-radius: 50%;
          display: inline-flex;
          margin-right: $padding;

          .module-name {
            margin: auto;
          }
          &.selected {
            background-color: darken($vibrant-blue, 10%);
          }
        }
      }
    }

  }
}

