@import '../../../../../styles/comp-index';

$header-height: 110.994px;
$footer-height: 108.314px;

.home-comp {
  height: 100%;

  .main {
    height: calc(100% - #{$header-height});
    overflow-y: auto;

    .main-content {
      padding: 15px;
      min-height: calc(100% -  #{$footer-height});

      .column {
        width: 25px;
        max-width: 400px;
        padding: 0 15px;

        $module-height: 40px;
        .module {
          height: $module-height;
          background-color: $cisco-light-blue;
          color: white;
          margin-bottom: 3px;
          text-align: center;
          line-height: $module-height;
          &:hover {
            cursor: pointer;
          }
          &.selected {
            background-color: darken($cisco-light-blue, 10%);
          }
        }
      }
    }
  }
}

