
<div fxLayout="column" fxLayoutAlign="start stretch" style="height:100%">

  <cui-header [options]="headerOptions"></cui-header>

  <div style="overflow:auto;" fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="start stretch">

    <fin-leftnav class="outline"></fin-leftnav>

    <div class="main" fxFlex="1 1 auto">
      <div class="modules outline">
        <div class="module" *ngFor="let module of modules" (click)="moduleChange(module)">{{module.name}}</div>
      </div>
    </div>

  </div>

  <cui-footer></cui-footer>
</div>
