@import '../../../../../styles/comp-index';


$padding: 20px;

// the exact heights are commented out, leave as a reference. Thing is though: both home and main look "cleaner"
// if footer is out of view, so we'll roll with that
.home-comp {
  //min-height: calc(100vh - #{$header-height-ltlg + $fin-footer-height});
  min-height: calc(100vh - #{$header-height-ltlg});

  @media (min-width: $breakpoint-lg) and (max-width: $breakpoint-ltxxl) {
    //min-height: calc(100vh - #{$hero-header-height + $fin-footer-height});
    min-height: calc(100vh - #{$hero-header-height});
  }

  @media (min-width: $breakpoint-xxl) {
    //min-height: calc(100vh - #{$hero-header-height-xxl + $fin-footer-height});
    min-height: calc(100vh - #{$hero-header-height-xxl});
  }

  .leftnav-wrap {
    padding: 20px 0 0 10px;
  }

  /deep/ fin-leftnav {
    .title {
      font-weight: 300;
    }
    a {
      color: white !important;
    }
  }

  .top-section {

    .text {
      line-height: 1.8;

      @media (min-width: $breakpoint-xxl) {
        font-size: 17px;
      }
    }

    .admin-button {
      margin-left: 30px;
    }

    .view-as {
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  .main {
    background-image: url('../../../../../assets/img/AS01421-200dpi.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    overflow-y: hidden;

    .modules-wrap {
      min-height: calc(100% - 140px);
      overflow-x: auto;

      .modules {
        white-space: nowrap;
        min-height: 300px;

        .module {
          height: 35vh;
          width: 35vh;
          min-width: 233px;
          min-height: 233px;
          max-width: 310px;
          max-height: 310px;
          background-color: $vibrant-blue;
          border-radius: 50%;
          display: inline-flex;
          margin-right: $padding;

          .module-name {
            margin: auto;
          }
          &.selected {
            background-color: darken($vibrant-blue, 10%);
          }

          @media (min-width: $breakpoint-xxl) {
            font-size: 17px;
            line-height: 1.42;
          }

        }
      }
    }

  }
}

