.myOfferHeader {
    position: relative;
    top: -25px;
    left: 150px;
  }
  .cui .table td.hints {
    overflow: visible;
  }

  .panel.panel--bordered.panel--raised-small {
    margin: 15px auto;
  }
  .content .card:last-of-type {
    margin-bottom: 25px;
  }
  .cui table td .ui-steps {
    margin: 0 auto 0px auto;
    padding: 0px 0;
  }
  table .date {
    width:10%;
  }
  table .other {
    width:15%;
  }
  table .desc {
    width:20%;
  }
  table .steps {
    width:20%;
  }
  .cui .inline-icon {
    margin-left: 5px;
    font-size: 1.2rem;
    vertical-align: middle;
  }
  span.icon-chevron-right.inline-icon {
    padding: 10px 0 10px;
  }
  .cui .panel h1.display-4 {
    display: inline;
  }
  .header-link {
    display: inline-block;
    margin: auto auto auto 15px;
  }
  .cui .pagination .form-group.label--inline .form-group__text {
    width: 150px;
    flex-direction: row;
    align-items: center;
  }
  .cui .pagination {

    font-size: 12px;
  }
  .cui .pagination .form-group.dropdown {
    display: inline-block;
  }
  .cui .pagination span {
    display: inline-block;
    margin: auto 10px;
  }
  .cui .pagination .btn.btn--small {
    width:40px;
  }
  .cui .panel.header-bar {
    height:70px;
  }
  .header-bar__main span {
    vertical-align: middle;
  }
  /* .header-bar__main span.vertical-divider {
    opacity: .5;
    display: inline-block;
    border-left: solid 1px white;
    height: 50px;
    margin: 10px 20px;
  } */
  span.table--description {
    font-size: 80%;
    display: block;
  }
  .action--value {
    font-size:1.5em;
    display:block;
    text-align: center;
  }
  .action--value-label {
    font-size:50%;
    display:block;
    text-align: center;
  }
  .header-toolbar button span.button--label {
    display: none;
  }
  .cui .panel .header-toolbar .btn {
    padding: 0 10px;
  }
  .cui .avatar span.role {
    font-size:75%;
    display: block;
    text-align: right;
    margin-right: 24px;
  }
  .cui a:not(.btn):active, .cui a:not(.btn):hover, .cui a:not(.btn):focus, .cui .link:active, .cui .link:hover, .cui .link:focus {
    text-decoration: none;
  }
  td a span.icon-small {
    margin-right: 10px;
  }
  span.badge-wrapper.base-margin-left:hover:after {
    content: "î";
    position: absolute;
    right: -30px;
    top: -8px;
    font-family: "cui-font";
  }
  .cui .table--selectable > tbody > tr > td {
    border-bottom: solid 1px #f2f2f2;
  }
  .row.card-table-header {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 10px;
  }
  .cui [data-balloon][data-balloon-pos='right']:before{
    margin-left: 2px;
  }
  .cui [data-balloon][data-balloon-pos='right']:after {
    margin-left: 5px;
  }
  @media only screen and (max-width: 768px) {
    body.cui {
      overflow-y: scroll;
      height: auto;
    }
    .cui .panel.header-bar .header-bar__main {
      margin: 0;
    }
  }
  @media only screen and (min-width: 768px) {
    .cui .pagination {
      text-align: right;
    }
    /* .header-bar__main span.vertical-divider {
      margin: 10px 40px;
    } */
    .header-toolbar button span.button--label {
      display: inline-block;
    }
    .cui .panel .header-toolbar .btn {
      padding: 0 35px;
    }
    .action--value-label {
      font-size: 60%;
      display: inline-block;
      margin-top: 5px;
    }
    .action--value {
      font-size: 1.5em;
      display: inline-block;
    }
  }

  .header-headings {
    color: #ffffff;
  }

  .Green{
   color: green;
  }

  .Yellow{
    color: yellow;
   }

   .Red{
    color: red;
   }

   .offerName{
  font-size: 15px;
  color:#017CAD;
  font-weight: 100;

   }

   .offerDesc{
    font-size: 12px;
   }

   .notifications {
    color:blue;
   }

   .actions {
    color: blue;
   }

   h4.popover__title {
    background: #f4f4f4;
    padding: .25em;
  }

  .actionPop th{
  width: 25px;
  }

  .popover{
    background-color:#fff;
    z-index:99;
    position:absolute;
    width:99%;
    box-shadow: 0 2px 20px rgba(0,0,0,.45);
    padding:1em;
    left:0;
    /* bottom: 4em; */
    display:none;
    -webkit-transition: all 2s; /* Safari */
    transition: all 2s;
    border-radius: 4px;
    margin: 5px;
  }
  .popover p {
    white-space: normal;
    margin-top: 0;
  }
  .popover__body {
    padding-top:1em;
  }
  .popover:after, .popover:before {
    bottom: 100%;
    left: 10%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }
  .popover:before {
    border-color: rgba(194, 225, 245, 0);
    border-bottom-color: #d8d8d8;
    border-width: 23px;
    margin-left: -23px;
  }
  .inMarketStyle {
    margin-left: 150px;
  }

  .inMarketStyle {
    margin-left: 150px;
  }

  .popover:after {
    border-color: rgba(136, 183, 213, 0);
    border-bottom-color: #fff;
    border-width: 20px;
    margin-left: -20px;
  }
  .popover__footer {
    border-top: solid 1px #dfdfdf;
    margin-top: 1em;
    text-align: right;
  }
  .popover a.modal__close {
    position: absolute;
    right: 2em;
    top: 1.65em;
  }
  h4.popover__title {
    background: #f4f4f4;
    padding: .25em;
  }

  .popover {
    display: block;
  }

  .hints {
    overflow: visible;
  }

  .progressbarLabel-warning {
  color: #fbab18;
  }
  .progressbarLabel-cancelled {
    color: red;
  }
  .progressbarLabel-inMarket {
    color: green;
  }

  .test-class {
    padding-left: 10%;
  }

  /* ::ng-deep .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
    min-height: 400px;
    border: 1px solid #D5D5D5;
  } */

  ::ng-deep  .ui-datatable .ui-datatable-tfoot>tr>td, .ui-datatable .ui-datatable-data>tr>td {
    /* border-width: 0; */
    padding: 0.65em .5em;
  }
  ::ng-deep .ui-table .ui-table-thead>tr>th, .ui-table .ui-table-tbody>tr>td,.ui-table .ui-table-tfoot>tr>td {
    padding: 1em 0.65em !important;
  }
  
  /* ::ng-deep .ui-widget-header {
    background: transparent;
    border: 0;
    display: inline-block;
  } */
  ::ng-deep .ui-datatable th.ui-state-default {
    background: #eaeaea;
  }
  .cui .display-4 {
    font-size: 22px;
  }
  .coolHeader.panel.panel--indigo {
    height: 70px;
  }
  ::ng-deep .ui-table .ui-table-tbody > tr {
    background: #ffffff;
    border-bottom: solid 1px #f2f2f2;
  }
  th.ui-state-default.ui-unselectable-text.ui-sortable-column {
    white-space: nowrap;
    font-size: 12px;
  }
  ::ng-deep .ui-datatable-scrollable-view .ui-datatable-scrollable-body {
    /* border: 0; */
  }
  ::ng-deep .ui-table .ui-table-tbody > tr > td {
    /* border: 0; */
    background: inherit;
  }

  .GREEN {
    background-color: #6EBE4A;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
   }

  .YELLOW {
    background-color: #FBAB18;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
   }

  .RED {
    background-color: #E2231A;
    width: 15px;
    height: 15px;
    display: inline-block;
    border-radius: 15px;
  }
  .icon-comment{
    color:#017CAD;
  }

  .smallColWidth{
    width: 150px;
  }
