<div class="form-group" [formGroup]="questionForm">
  <div>
    <div [ngSwitch]="question.componentType">

      <!-- Input -->
      <div class="form-group__text half-margin-bottom half-margin-top" *ngSwitchCase="'Free Text'">
       <input [name]="question.egineAttribue" [id]="question.egineAttribue"
         *ngIf='question.egineAttribue === "Item Name (PID)"' [value]="headerName" [attr.disabled]='true' class="form-control">
       <input [name]="question.egineAttribue" [id]="question.egineAttribue" [formControlName]="question.egineAttribue"
         *ngIf='question.egineAttribue !== "Item Name (PID)"' class="form-control" [(ngModel)]="question.currentValue">
        <label for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.egineAttribue}}</label>
        <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
         <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
        <span *ngIf="questionForm.controls[question.egineAttribue].errors.maxlength">{{question.egineAttribue}} exceeds max characters({{question.rules.maxCharacterLen}}) allowed</span>
        <span *ngIf="question.egineAttribue !== 'Base Price' && question.egineAttribue !== 'Default Initial Term' && question.egineAttribue !== 'Grace Window For Renewal' && question.egineAttribue !== 'Req Start Date Window' &&
        question.egineAttribue !== 'Asset Quantity' && question.egineAttribue !== 'Default Auto Renewal Term' && question.egineAttribue !== 'Non Standard True Up Term' && question.egineAttribue !== 'Initial Term' &&
        question.egineAttribue !== 'Non Std Initial Term' && question.egineAttribue !== 'Std Auto Renewal Term' && question.egineAttribue !== 'Non Std Auto Renewal Term' &&
        question.egineAttribue !== 'Subscription Offset(In Days)' && questionForm.controls[question.egineAttribue].errors.pattern">
        {{question.egineAttribue}} should be in {{question.rules.textcase}}</span>
        <span *ngIf="question.egineAttribue === 'Default Initial Term' && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 value from the Initial Term range</span>
        <span *ngIf="question.egineAttribue === 'Base Price' && questionForm.controls[question.egineAttribue].errors.pattern">Base Price must contain a number with 2 decimal places</span>
        <span *ngIf="(question.egineAttribue === 'Grace Window For Renewal' || question.egineAttribue === 'REQ Start Date Window') && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 numeric value</span>
        <span *ngIf="question.egineAttribue === 'Default Auto Renewal Term' && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 value from the Std Auto Renewal Term Range</span>
        <span *ngIf="question.egineAttribue === 'Non Standard True Up Term' && questionForm.controls[question.egineAttribue].errors.pattern">Value should be a numeric range (ex. 2-6)</span>
        <span *ngIf="question.egineAttribue === 'Req Start Date Window' && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 numeric value</span>
        <span *ngIf="question.egineAttribue === 'Asset Quantity' && questionForm.controls[question.egineAttribue].errors.pattern">Must be a numeric value</span>
        <span *ngIf="question.egineAttribue === 'Initial Term' && questionForm.controls[question.egineAttribue].errors.pattern">Comma separated numeric range with no spaces (example: 1,12) where 1 is min and 120 is max</span>
        <span *ngIf="question.egineAttribue === 'Non Std Initial Term' && questionForm.controls[question.egineAttribue].errors.pattern">Value should be a numeric range where 1 is min and 120 is max (example: 1-12)</span>
        <span *ngIf="question.egineAttribue === 'Std Auto Renewal Term' && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 numeric  value where 1 is min and 60 is max</span>
        <span *ngIf="question.egineAttribue === 'Non Std Auto Renewal Term' && questionForm.controls[question.egineAttribue].errors.pattern">Value should be a numeric range where 1 is min and 12 is max</span>
        <span *ngIf="question.egineAttribue === 'Subscription Offset(In Days)' && questionForm.controls[question.egineAttribue].errors.pattern">Mandatory entry of 1 numeric value between 1 and 60</span>
      </span>
     </div>

      <!-- Drop Down -->
      <div class="form-group__text select half-margin-bottom half-margin-top" *ngSwitchCase="'Drop-down'">
        <select [id]="question.egineAttribue" [name]="question.egineAttribue" class="form-control"
          [(ngModel)]="question.currentValue" [formControlName]="question.egineAttribue">
          <option *ngFor="let option of question.values" [value]="option">{{option}}</option>
        </select>
        <label for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.egineAttribue}}</label>
        <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
         <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
      </span>
      </div>

      <!-- Multiselect-->
      <div class="form-group__text half-margin-bottom half-margin-top" *ngSwitchCase="'Multiselect'">
        <label for="questionLabel">{{question.egineAttribue}}{{question.rules.isMandatoryOptional == "Mandatory" ? "*" : ""}}</label>
        <p-multiSelect [id]="question.egineAttribue" [name]="question.egineAttribue" [options]="question.listMutiSelect"
          optionLabel="name" [(ngModel)]="question.listCurrentValue" [formControlName]="question.egineAttribue"></p-multiSelect>
          <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
           <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
        </span>
      </div>

      <!-- Radio Button -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Radio Button'">
        <label class="radio half-margin-bottom" for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.egineAttribue}}</label>
        <div>
          <label class="radio" *ngFor="let rad of question.values">
            <input type="radio" [id]="question.egineAttribue" [name]="question.egineAttribue"
              class="form-control" [value]="rad" [(ngModel)]="question.currentValue" [formControlName]="question.egineAttribue">
            <span class="radio__input"></span>
            <span class="radio__label hidden-xs">{{rad}}</span>
          </label>
        </div>
        <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
         <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
      </span>
      </div>

      <!-- Radio Button -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Q&A Radio Button'">
        <label class="radio half-margin-bottom" for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.question}}</label>
        <div>
          <label class="radio" *ngFor="let rad of question.values">
            <input type="radio" [id]="question.egineAttribue" [name]="question.egineAttribue"
              class="form-control" [value]="rad" [(ngModel)]="question.currentValue" [formControlName]="question.egineAttribue">
            <span class="radio__input"></span>
            <span class="radio__label hidden-xs">{{rad}}</span>
          </label>
        </div>
        <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
         <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
      </span>
      </div>

      <!-- Free Text -->
      <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Q&A FreeText'">
        <div class="form-group">
          <div class="form-group__text">
            <input [name]="question.egineAttribue" [id]="question.question" class="form-control"
              [(ngModel)]="question.currentValue" [formControlName]="question.egineAttribue">
            <label for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.question}}</label>
            <span class="help-block" *ngIf="questionForm.controls[question.egineAttribue].errors && (questionForm.controls[question.egineAttribue].touched || questionForm.controls[question.egineAttribue].dirty)" >
             <span *ngIf="questionForm.controls[question.egineAttribue].errors.required">{{question.egineAttribue}} is required</span>
             <span *ngIf="questionForm.controls[question.egineAttribue].errors.maxlength">{{question.egineAttribue}} exceeds max characters({{question.rules.maxCharacterLen}}) allowed</span>
             <span *ngIf="questionForm.controls[question.egineAttribue].errors.pattern">{{question.egineAttribue}} should be in {{question.rules.textcase}}</span>

          </span>

          </div>
        </div>

      </div>

     <!-- Date Field -->
     <div class=" half-margin-bottom half-margin-top" *ngSwitchCase="'Date'">
        <div class="form-group label--floated input--icon half-margin-bottom">
            <div class="form-group__text">
                <input type="text"  [name]="question.egineAttribue" [id]="question.question" class="form-control"
                [formControlName]="question.egineAttribue" #dp4="bsDatepicker" bsDatepicker containerClass="custome-date"
                [bsConfig]="{ dateInputFormat: 'DD-MMM-YYYY' }"
                [required]="question['rules']['isMandatoryOptional']==='Mandatory' ? true : false"
                [ngModel]="dateFormat(question.currentValue)" (ngModelChange)="question.currentValue = updateDate($event)">
                <label for="questionLabel"><span *ngIf="questionForm.controls[question.egineAttribue].errors && questionForm.controls[question.egineAttribue].errors.required"><font color="red">*</font></span>{{question.question}}</label>
                <button type="button" class="link" tabindex="-1">
                  <span class="icon-month"></span>
                </button>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
