.style1 {
  background: green;
  border: 1px solid transparent;
}

.style2 {
  background: red;
  border: 1px solid transparent;
}

.circle {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: yellow;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}.style1 {
  background: green;
  border: 1px solid transparent;
}

.style2 {
  background: red;
  border: 1px solid transparent;
}

.circle {
  height: 100px;
  width: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%; /* may require vendor prefixes */
  background: yellow;
}

.alignleft {
  float: left;
}

.alignright {
  float: right;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.card, a.card {
  color: #58585b;
  position: relative;
  background: #ffffff;
  box-shadow: none;
  border: 1px solid #ededed;
  padding: 10px;
  display: block;
  border-radius: 2px;
  height: 100% !important;
}

.progressbar.progressbar--warning .progressbar__fill {
  background-color: red;
}

blockquote.blockquote--blue {
  border-color: red !important;
}