td{
    text-align: left;
    padding-left:10px;
}

th{
    text-align: left!important;
    padding-left:10px;
}
.head{
    border:1px solid #dfdfdf;
    text-align: center;
    left:50%;
    top:50%;
    background-color: #dfdfdf;
}

.data-row{
    border-bottom:1px  dashed #dfdfdf;
    
}

.tax-row{
    margin-top:10px
}


table{
    width:98%;
}

.turbo-mileStone{
    width:70%;
    margin: 0px;
}