<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel--compressed task--bar">
          <div class="header-bar__main col-md-6">
            <div class="header-heading">
              <h1 class="page-title">Access Management</h1>
            </div>
          </div>

          <div appHiddenelem [DirectiveValue]="'Access Management'" class="header-toolbar col-md-6">
            <button class="btn btn--white" (click)="registerNewUser()"><span
                class="icon-add icon-small"></span>&nbsp;Register New Users</button>
          </div>

        </div>
      </div>
    </div>
    <div class="card card--raised base-margin-top">
      <div class="panel">
        <div class="row card-table-header">
          <div class="col-md-8">
            <h4>Assign User Access</h4>
          </div>
          <div class="col-md-4">
            <div class="form-group input--icon half-margin-bottom">
              <div class="form-group__text">
                <input id="input-type-search" type="text" pInputText size="50"
                  placeholder="Search all users by name or ID"
                  (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
                <button type="button" class="link">
                  <span class="icon-search"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="responsive-table"> removed the responsive-table class to prevent select menu overflow issue -->
        <div>
          <p-table appReadonly [DirectiveValue]="'Access Management'"  #dt [columns]="cols" [value]="accessManagementData" [paginator]="true" [rows]="6">
            <ng-template pTemplate="header" let-columns  let-ind="rowIndex">
              <tr>
                <th *ngFor="let col of columns">
                  {{col.header}}
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
              <tr>
                <td>{{user.emailId}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.userMapping && user.userMapping[0] ? user.userMapping[0].functionalRole : ''}}</td>
                <td *ngIf="ind !== IndexCount">
                  {{user.userMapping && user.userMapping[0] ? user.userMapping[0].functionalRole : ''}}
                   <span class="icon-pencil colorCl" (click)="onGetCEPMs(user,ind)"></span>
                 </td>
                 <td *ngIf="ind === IndexCount">
                   <p-dropdown *ngIf="!isSelected" [style]="{'width':'100px'}" [(ngModel)]="user.userMapping[0].functionalRole" [disabled]="getCEPM"
                     (onChange)="onSelectDd(user,$event)" optionLabel="value" [options]="ddRoles">
                   </p-dropdown>
                  <span *ngIf="isSelected">{{slectedRole}}</span>
                   <span class="icon-pencil colorCl" (click)="onGetCEPMs(user,ind)"></span>
                 </td>
                <td>
                  <p-multiSelect [options]="user.businessEntities" [filter]="false" [showHeader]="false"
                    [displaySelectedLabel]="true" [(ngModel)]="user.beList"
                    (onPanelHide)="updatedAccessManagementBE(user)" [appendTo]="body"
                    (onChange)="getPrimaryBusinessUnitBasedOnPrimaryBEForUser($event.value, user)">
                  </p-multiSelect>
                </td>
                <td>
                  <p-multiSelect [options]="user.businessUnits" [filter]="false" [showHeader]="false"
                    [displaySelectedLabel]="true" [(ngModel)]="user.buList"
                    (click)="getPrimaryBusinessUnitBasedOnPrimaryBEForUserOnBUClick(user.beList,user)"
                    (onPanelHide)="updatedAccessManagementBE(user)" [style]="{'width':'100%'}" [appendTo]="body">
                  </p-multiSelect>
                </td>
                <td>
                  <p-multiSelect [options]="accessList" [filter]="false" [showHeader]="false"
                    [displaySelectedLabel]="true" [(ngModel)]="user.accessList"
                    (onPanelHide)="updatedAccessManagementBE(user)" [style]="{'width':'100%'}" [appendTo]="body">
                  </p-multiSelect>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </div>
    <section id="formSection" *ngIf="showFormSection">
      <div class="card card--raised base-margin-top">
        <div class="panel">
          <div class="pull-right">
            <span class="icon-close" (click)="closeForm()"></span>
          </div>
          <div class="card__header">
            <h5 class="card__title">Register User</h5>
          </div>
          <div>
            <div class="row half-margin-top">
              <div class="col-md-12">
                <div class="panel panel--mdgray">
                  <span class="text-uppercase">New User</span>
                </div>
              </div>
            </div>
            <form #registerUserForm="ngForm" (ngSubmit)="createUser()">
              <div class="row base-margin-top">
                <div class="col-md-4">
                  <div class="form-group half-margin-bottom">
                    <div class="form-group__text">
                      <label for="selectedSValue">UserId</label>
                      <input id="userId" type="text" class="form-control" name="userId" [(ngModel)]="userIdValue"
                        ngModel #userId="ngModel" (ngModelChange)="checkUserIdAvailability($event)"
                        (keyup)="onGetRoles($event)" required>
                    </div>
                    <!-- <div class="text-success" *ngIf="userIdAvailable ">
                      User Id Available </div>
                    <div class="text-danger" *ngIf="!userIdAvailable && userId.touched && userId.dirty">
                      Invalid User Id </div> -->
                      <div class="cepmCl" *ngIf="isInvalidCEPMuser">Invalid CEPM user</div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <div class="form-group__text select">
                      <label for="functionName">Function</label>
                      <select [disabled]="disabledDd" id="functionName" class="form-control" name="functionName"
                        [(ngModel)]="functionNameValue" ngModel required>
                        <option *ngFor="let user of rolesCollection">{{user}}</option>
                      </select>

                    </div>
                  </div>
                </div>
                <div class="col-md-4" style="margin-top: 2%">
                  <div class="form-group">
                    <label class="checkbox">
                      <input id="admin" type="checkbox" class="form-control" name="admin" [(ngModel)]="adminValue"
                        ngModel>
                      <span class="checkbox__input"></span>
                      <span class="checkbox__label hidden-xs">Make Admin</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row base-margin-top">
                <div class="col-md-4">
                  <div class="form-group half-margin-bottom">
                    <label for="selectedSeValue">Business Entity</label>
                    <p-multiSelect id="selectedSeValue" class="form-control" name="primaryBEList"
                      [options]="businessEntities" (onChange)="getPrimaryBusinessUnitBasedOnPrimaryBE($event.value)"
                      [(ngModel)]="businessEntityValue" required>
                    </p-multiSelect>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group half-margin-bottom">
                    <label for="selectedSValue">Business Unit</label>
                    <p-multiSelect id="selectedSValue" class="form-control" name="primaryBUList"
                      [options]="businessUnitsForCreateuser" [(ngModel)]="businessUnitValue" required>
                    </p-multiSelect>
                  </div>
                </div>
                <div class="col-md-4" style="margin-top: 1.5%">
                  <div class="form-group">
                    <label class="checkbox">
                      <input id="keyPoc" type="checkbox" class="form-control" name="keyPocValue"
                        [(ngModel)]="keyPocValue" ngModel>
                      <span class="checkbox__input"></span>
                      <span class="checkbox__label hidden-xs">Make Key POC</span>
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="btn-group--wide text-right base-margin-top">
                    <div class="panel--footer">
                      <button class="btn btn--secondary" (click)="closeForm()">Cancel</button>
                      <button class="btn btn--primary" [disabled]="!registerUserForm.valid || !userIdAvailable"
                        type="submit">Save</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
