<app-menu-bar [caseId]="caseId" [currentMMModel]="derivedMM" [offerId]="currentOfferId" [offerName]="offerName"
  [stakeData]="stakeData" [canMarkComplete]="canMarkComplete" (updateMessage)="updateMessage($event)"
  (getMarkCompleteStatus)="getMarkCompleteStatus($event)">
</app-menu-bar>

<div class="content">
  <div class="container">
    <div class="panel-wrapper mt-15">

      <app-taskbar (onProceedToNext)="onProceedToNext($event)"></app-taskbar>

      <div class="contentBox mt-10">
        <div class="leftContent">

          <div class="row base-margin-top">
            <div class="col-md-12">
              <app-offerconstruct-canvas [markCompleteStatus]="markCompleteStatus"
                (getCanMarkCompleteStatus)="getCanMarkCompleteStatus($event)"></app-offerconstruct-canvas>
            </div>
          </div>

        </div>

        <div class="rightContent" style="margin-top: -5px;">
          <app-right-panel [offerName]="offerName" [stakeData]="stakeData" [primaryBE]="primaryBE"
            [derivedMM]="derivedMM" [displayLeadTime]="displayLeadTime" [noOfWeeksDifference]="noOfWeeksDifference"
            (updateStakeData)="updateStakeData($event)">
          </app-right-panel>
        </div>

      </div>
    </div>
  </div>
</div>