<header class="header header--compressed">
  <div class="header-bar container">

    <a href="javascript:;" class="header-bar__logo">
      <span class="icon-cisco"></span>
    </a>

    <div class="header-bar__main">

      <div class="header-heading">
        <div class="logo-cool-full">
          <h1 class="page-title">Cisco Orchestrated Offer Lifecycle</h1>
        </div>
        <div class="logo-cool">
          <h1 class="page-title">COOL</h1>
        </div>
      </div>

      <div class="header-menus">
        <ul class="nav nav-tabs">
          <li routerLinkActive="active">
            <a routerLink="/dashboard">
              <div class="tab__heading" title="Dashboard">Dashboard</div>
            </a>
          </li>
          <li  [ngClass]="{'visibHidden':hideListElm}" routerLinkActive="active">
            <a routerLink="/coolOffer">
              <div class="tab__heading" title="Offers">Offers</div>
            </a>
          </li>

          <li  [ngClass]="{'visibHidden':hideListElm}" routerLinkActive="active">
            <a routerLink="/action">
              <div class="tab__heading" title="Actions">Actions</div>
            </a>
          </li>
          <li  [ngClass]="{'visibHidden':hideListElm}" routerLinkActive="active">
            <a routerLink="/accessManagement">
              <div class="tab__heading" title="Access Management" *ngIf="hasAdminAccess">Access Management</div>
            </a>
          </li>

        </ul>
      </div>

    </div>

    <!-- <span style="color:white">{{totalActionCount}}</span> -->

    <div class="header-toolbar">

      <a href="javascript:;" class="avatar" (click)="op1.toggle($event)">
        <div class="ico-avatar">
          <svg width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
            <circle cx="15.5" cy="15.5" r="15.5" fill="#017CAD" />
            <mask id="mask0" mask-type="alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="31" height="31">
              <circle cx="15.5" cy="15.5" r="15.5" fill="#017CAD" />
            </mask>
            <g mask="url(#mask0)">
              <circle cx="15.5" cy="10.5" r="5.5" fill="white" />
              <path fill-rule="evenodd" clip-rule="evenodd"
                d="M7.75 29.5399V25.625C7.75 21.4138 11.1638 18 15.375 18C19.5862 18 23 21.4138 23 25.625V29.5404C20.8504 31.0759 18.2184 31.9793 15.3754 31.9793C12.532 31.9793 9.8997 31.0757 7.75 29.5399Z"
                fill="white" />
            </g>
          </svg>
        </div>
        {{userName}}
        <span class="role userIdSpacing">{{functionalRole}}</span>
      </a>

      <p-overlayPanel [style]="{'width':'300px'}" #op1>
        <p-accordion>

          <p-accordionTab [selected]="true">
            <p-header>
              Email Preferences
            </p-header>
            <li *ngFor="let option of emailPrefOptions ; let i = index">
              <div class="form-group">
                <label class="checkbox">
                  <input type="checkbox" [disabled]="emailPrefOptions[i].value"
                    (change)="emailCheckBoxClicked(option.name)">
                  <span class="checkbox__input"></span>
                  <span class="checkbox__label hidden-xs">{{option.name}}</span>
                </label>
              </div>

            </li>
          </p-accordionTab>

          <p-accordionTab>
            <p-header>
              Notification Preferences
            </p-header>
            <li *ngFor="let option of notificationPrefOptions ; let i = index">
              <div class="form-group">
                <label class="checkbox">
                  <input type="checkbox" [disabled]="notificationPrefOptions[i].value"
                    (change)="notificationCheckBoxClicked(option.name)">
                  <span class="checkbox__input"></span>
                  <span class="checkbox__label hidden-xs">{{option.name}}</span>
                </label>
              </div>

            </li>
          </p-accordionTab>

        </p-accordion>
      </p-overlayPanel>

    </div>

  </div>
</header>