<div class="subheader margin-5-0">{{ questionData["question"] }}</div>
<div *ngIf="questionData['questionType']==='Free Text'">
  <textarea class="textarea" rows="3"></textarea>
</div>
<div *ngIf="questionData['questionType']==='Boolean'">
  <div class="form-group form-group--inline" *ngFor="let radio of questionData['values']">
    <label class="radio">
      <input type="radio" name="{{questionIndex}}_{{questionData['question']}}"/> <span class="radio__input"></span>
      <span class="radio__label hidden-xs">{{radio}}</span>
    </label>
  </div>
</div>
<div *ngIf="questionData['questionType']==='Money'">
  $<input type="text"/>
</div>
<div *ngIf="questionData['questionType']==='Percent'">
  <input type="text"/>%
</div>
<div *ngIf="questionData['questionType']==='Dropdown'">
  <select class="offer-solution-quesiton-select">
      <option *ngFor="let option of questionData['values']" [value]="option">
          {{option}}</option>
  </select>
</div>