<ng-container *ngIf="finalStatus==='complete'; else inProgress">
  <span class="completed success">
    <span class="icon-check"></span>
  </span>
</ng-container>

<ng-template #inProgress>
  <ng-container *ngIf="finalStatus==='inProgress';else available">
    <span class="in-progress">
    </span>
  </ng-container>
</ng-template>

<ng-template #available>
  <ng-container *ngIf="finalStatus==='available';else offerNotAvailable">
    <span class="legend-available"></span>
  </ng-container>
</ng-template>

<ng-template #offerNotAvailable>
  <ng-container *ngIf="finalStatus==='offerNotAvailable';else other">
    <span class="legend-notavail">
    </span>
  </ng-container>
</ng-template>

<ng-template #other>
  <span class="legend-notreq"></span>
</ng-template>