<div class="responsive-table">

  <p-dataTable [value]="atoList" scrollable="true" [rows]="10" [paginator]="true" scrollHeight="350px"
    [resizableColumns]="true">

    <p-column field="ato" sortable="true" header="ATO/PID">
      <ng-template let-col let-ato="rowData" pTemplate="body">
        <span>{{ato['itemName']}}<br /></span>
      </ng-template>
    </p-column>

    <p-column field="status" header="STATUS" sortable="true">
      <ng-template let-col let-ato="rowData" pTemplate="body">
        <div class="text-center">
          <app-ato-status [status]="ato['itemStatus']"></app-ato-status>
        </div>
      </ng-template>
    </p-column>

  </p-dataTable>

</div>