<div class="content">
    <div class="panel panel--ltgray panel--compressed">
        <div class="container">
    <div class="row">
        <div class="col-md-12">
          <h1 class="display-4 base-margin-top half-margin-bottom">{{offerName}}<span class="offerID">(Offer ID
              {{currentOfferId}})</span></h1>
        </div>
      </div>
      </div>
    </div>
  <div class="container">

    <div class="panel panel--compressed task--bar base-margin-top">
      <div class="row">
        <div class="col-md-4">
          <h2 class="page--subheading">

            Offer Detail Overview</h2>
        </div>
        <div class="col-md-8 text-right">
            <button class="btn btn--secondary" (click)="goBack()"><span
              class="icon-back"></span>&nbsp; Previous</button>
          <button class="btn btn--primary" (click)="onExportPdf()">Export&nbsp;<span
              class="icon-right-arrow" style="color:white;"></span></button>
        </div>
      </div>
    </div>
    <div class="row base-margin-top">
      <div class="col-md-12">
        <div class="card">
          <p-accordion [multiple]="true">
            <p-accordionTab header="Ideate" [selected]="true">
              <div class="timeline timeline--block">
                <div class="timeline__list">
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.ideate[0]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.ideate[0].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.ideate[0].subMilestone}}
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.ideate[1]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.ideate[1].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.ideate[1].subMilestone}}
                      </div><br>
                      <div><i>{{allignedStatus}} - {{derivedMM}}</i></div>
                      <div [hidden]="offerOverviewDetailsList.ideate[1].status != 'Completed'">
                        <div class="offer-header card base-margin-top">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Offer Characteristics</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Subgroup</div>
                                <div class="base-margin-top">
                                  <ul>
                                    <li *ngFor="let offerCharacteristics of offerCharacteristicsList">
                                      <app-stakeholder-identification [subgroupName]="offerCharacteristics.subgroup">
                                      </app-stakeholder-identification>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Characteristics</div>
                                <div class="base-margin-top">
                                  <ul>
                                    <li *ngFor="let offerCharacteristics of offerCharacteristicsList">
                                      <app-stakeholder-identification
                                        [characteristics]="offerCharacteristics.characteristics">
                                      </app-stakeholder-identification>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Packaging</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let packaging of packagingList">
                                    <app-stakeholder-identification [subgroupName]="packaging.subgroup">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let packaging of packagingList">
                                    <app-stakeholder-identification [characteristics]="packaging.characteristics">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Support</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let support of supportList">
                                    <app-stakeholder-identification [subgroupName]="support.subgroup">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let support of supportList">
                                    <app-stakeholder-identification [characteristics]="support.characteristics">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Pricing</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let pricing of pricingList">
                                    <app-stakeholder-identification [subgroupName]="pricing.subgroup">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let pricing of pricingList">
                                    <app-stakeholder-identification [characteristics]="pricing.characteristics">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Billing & Comp</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let billingAndComp of billingAndCompList">
                                    <app-stakeholder-identification [subgroupName]="billingAndComp.subgroup">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let billingAndComp of billingAndCompList">
                                    <app-stakeholder-identification [characteristics]="billingAndComp.characteristics">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Program</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let program of programList">
                                    <app-stakeholder-identification [subgroupName]="program.subgroup">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <ul>
                                  <li *ngFor="let program of programList">
                                    <app-stakeholder-identification [characteristics]="program.characteristics">
                                    </app-stakeholder-identification>
                                  </li>
                                </ul>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.ideate[2]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.ideate[2].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.ideate[2].subMilestone}}
                      </div><br>
                      <div [hidden]="offerOverviewDetailsList.ideate[2].status != 'Completed'">
                        <div class="offer-header card base-margin-top">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Owner <em>({{offerOwnerCount}})</em></div>
                                <div class="ui-accordion-content">
                                  <div class="flex-center-vertical">
                                    <!-- Team Member Name Avatar -->
                                    <span class="avatar-ico">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                                        id="fwt-profile-button-loggedin" role="img">
                                        <title id="fwt-profile-button-loggedin-title"></title>
                                        <g fill="none" fill-rule="evenodd">
                                          <path stroke="#4d4c4c" stroke-linecap="round" stroke-linejoin="round"
                                            stroke-width="2"
                                            d="M22.857 31.36c-1.616.614-3.37.95-5.202.95C9.56 32.31 3 25.749 3 17.655S9.561 3 17.655 3 32.31 9.561 32.31 17.655c0 3.988-1.727 7.703-4.31 10.344"
                                            x="0" y="0"></path>
                                          <text fill="#007493" font-family="CiscoSans, Arial, sans-serif"
                                            font-weight="300" font-size="16" x="50%" y="50%" dy=".35em"
                                            text-anchor="middle"
                                            id="fwt-initials">{{getInitialChar(offerOwnerId)}}</text>
                                        </g>
                                      </svg>
                                    </span>
                                    <div class="flex-fluid text-left half-margin-left">
                                      <div class="text-bold">{{offerOwnerName}}</div>
                                      <div>{{offerOwnerId}}@cisco.com</div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Co-Owner <em>({{coOwnerTotalCount}})</em></div>
                                <div class="ui-accordion-content">
                                  <ul>
                                    <li *ngFor="let coowner of offerCoOwnerList">
                                      <app-avatar [stakeholderName]="coowner.name" [email]="coowner._id"
                                        [functionalRole]="coowner.functionalRole"></app-avatar>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Stakeholders <em>({{stakeHolderTotalCount}})</em></div>
                                <div class="ui-accordion-content">
                                  <ul>
                                    <li *ngFor="let stakeholder of offerStakeHolderList">
                                      <app-avatar [stakeholderName]="stakeholder.name" [email]="stakeholder._id"
                                        [functionalRole]="stakeholder.functionalRole"></app-avatar>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- Strategy Review -->
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.ideate[3]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.ideate[3].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.ideate[3].subMilestone}}
                      </div>
                      <div>
                        <div class="offer-header card base-margin-top">
                          <div class="responsive-table">
                            <table class="table table--nostripes table--highlight table--hover table--selectable">
                              <thead>
                                <tr>
                                  <th class="sortable">Function </th>
                                  <th class="sortable">Approval status </th>
                                  <th class="sortable">Reviewed On </th>
                                  <th class="sortable">Reviewed By </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let strategyReviewData of strategyReviewList">
                                  <td><span class="icon-check-outline icon-eye-closed text-darkgray"
                                      *ngIf="strategyReviewData.status && strategyReviewData.status.toLowerCase() == 'not reviewed'"></span>
                                    <span class="icon-warning-outline text-warning"
                                      *ngIf="strategyReviewData.status && strategyReviewData.status.toLowerCase() == 'conditionally approved'"></span>
                                    <span class="icon-error-outline text-danger"
                                      *ngIf="strategyReviewData.status && strategyReviewData.status.toLowerCase() == 'not approved'"></span>
                                    <span class="icon-check-outline text-success"
                                      *ngIf="strategyReviewData.status && strategyReviewData.status.toLowerCase() == 'approved'"></span>
                                    {{ strategyReviewData.function }}</td>
                                  <td>{{ strategyReviewData.status }}</td>
                                  <td>{{ strategyReviewData.reviewedOn | date:'dd-MMM-yyyy' }}</td>
                                  <td>{{ strategyReviewData.reviewedBy }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Plan">
              <div class="timeline">
                <div class="timeline__list">
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.plan[0]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.plan[0].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.plan[0].subMilestone}}
                      </div>
                      <div>
                        <div class="offer-header card base-margin-top">
                          <div class="row">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Group</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Sub Group</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Selected Choices</div>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngFor="let item of offerDimensionsCharacteristics | keyvalue">
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">{{item.key}}</div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="base-margin-top">
                                  <ul>
                                    <li *ngFor="let subitem of item.value.subGroup">
                                      <app-stakeholder-identification [subgroupName]="subitem">
                                      </app-stakeholder-identification>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="base-margin-top">
                                  <ul>
                                    <li *ngFor="let subitem of item.value.selected">
                                      <app-stakeholder-identification *ngFor="let item of subitem"
                                        [subgroupName]="item">
                                      </app-stakeholder-identification>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.plan[1]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.plan[1].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.plan[1].subMilestone}}
                      </div>
                      <div>
                        <div>
                          <div class="offer-header card base-margin-top">
                            <div class="row">
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="text-bold">Group</div>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="text-bold">Sub Group</div>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="text-bold">Attributes</div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="text-bold">Details</div>
                                </div>
                              </div>
                            </div>
                            <div class="row" *ngFor="let item of solutioningDetailsCharacteristics | keyvalue">
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="text-bold">{{item.key}}</div>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="base-margin-top">
                                    <ul>
                                      <li *ngFor="let subitem of item.value.dimensionSubgroup">
                                        <app-stakeholder-identification [subgroupName]="subitem">
                                        </app-stakeholder-identification>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="base-margin-top">
                                    <ul>
                                      <li *ngFor="let subitem of item.value.dimensionAttribute">
                                        <app-stakeholder-identification [subgroupName]="subitem">
                                        </app-stakeholder-identification>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="flex-fluid text-left half-margin-left">
                                  <div class="base-margin-top">
                                    <ul class="list list--compressed"
                                      *ngFor="let subitem of item.value.details | keyvalue">
                                      <ng-container>
                                        <li *ngFor="let detail of subitem.value | keyvalue">
                                          <div class="panel panel--bordered">
                                            <div class="text-bold">{{detail.key}}: </div>
                                            <div>{{detail.value}}</div>
                                          </div>
                                        </li>
                                      </ng-container>
                                    </ul>
                                  </div>
                                  <div class="base-margin-top">
                                    <ul>
                                      <li *ngFor="let subitem of item.value.details">
                                        <app-stakeholder-identification>
                                        </app-stakeholder-identification>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.plan[2]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.plan[2].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.plan[2].subMilestone}}
                      </div>
                      <div>
                        <div class="offer-header card base-margin-top">
                          <div class="row">
                            <div class="col-md-2">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Construct Name</div>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Type</div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">Details</div>
                              </div>
                            </div>
                          </div>
                          <div class="row" *ngFor="let item of offerComponentCharacterestics">
                            <div class="col-md-2">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">{{item.constructItemName}}</div>
                              </div>
                            </div>
                            <div class="col-md-2">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="text-bold">{{item.constructItem}}</div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="flex-fluid text-left half-margin-left">
                                <div class="base-margin-top">
                                  <ul class="list list--compressed">
                                    <li>
                                      <ng-container *ngFor="let detail of item.itemDetails">
                                        <div class="panel panel--bordered" *ngIf="detail.attributeValue">
                                          <div class="text-bold"> {{detail.attributeName}}: </div>
                                          <div>{{detail.attributeValue}}</div>
                                        </div>
                                      </ng-container>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.plan[3]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span
                        [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.plan[3].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.plan[3].subMilestone}}
                      </div>
                      <div [hidden]="offerOverviewDetailsList.plan[3].status != 'Completed'">
                      </div>
                    </div>
                  </div>
                  <div class="timeline__item" *ngIf="offerOverviewDetailsList.plan[4]?.status != null">
                    <div
                      [ngClass]="(offerOverviewDetailsList.plan[4].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                      <span [ngClass]="(offerOverviewDetailsList.plan[4].status == 'Completed')?'icon-check':'icon-warning'"></span>
                    </div>
                    <div class="timeline__content">
                      <div class="text-bold">
                        <span
                          [ngClass]="(offerOverviewDetailsList.plan[4].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                        {{offerOverviewDetailsList.plan[4].subMilestone}}
                      </div>
                      <div>
                        <div class="offer-header card base-margin-top">
                          <div class="responsive-table">
                            <table class="table table--nostripes table--highlight table--hover table--selectable">
                              <thead>
                                <tr>
                                  <th class="sortable">Function </th>
                                  <th class="sortable">Approval status </th>
                                  <th class="sortable">Reviewed On </th>
                                  <th class="sortable">Reviewed By </th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let designReviewData of designReviewList">
                                  <td><span class="icon-check-outline icon-eye-closed text-darkgray"
                                      *ngIf="designReviewData.status && designReviewData.status.toLowerCase() == 'not reviewed'"></span>
                                    <span class="icon-warning-outline text-warning"
                                      *ngIf="designReviewData.status && designReviewData.status.toLowerCase() == 'conditionally approved'"></span>
                                    <span class="icon-error-outline text-danger"
                                      *ngIf="designReviewData.status && designReviewData.status.toLowerCase() == 'not approved'"></span>
                                    <span class="icon-check-outline text-success"
                                      *ngIf="designReviewData.status && designReviewData.status.toLowerCase() == 'approved'"></span>
                                    {{ designReviewData.function }}</td>
                                  <td>{{ designReviewData.status }}</td>
                                  <td>{{ designReviewData.reviewedOn | date:'dd-MMM-yyyy' }}</td>
                                  <td>{{ designReviewData.reviewedBy }}</td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Set Up">
              <div class="card">
                <div class="timeline">
                  <div class="timeline__list">
                    <div class="timeline__item" *ngIf="offerOverviewDetailsList.setup[0]?.status != null">
                      <div
                          [ngClass]="(offerOverviewDetailsList.setup[0].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                          <span
                            [ngClass]="(offerOverviewDetailsList.setup[0].status == 'Completed')?'icon-check':'icon-warning'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span
                              [ngClass]="(offerOverviewDetailsList.setup[0].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.setup[0].subMilestone}}
                          </div>
                        </div>
                      </div>
                      <div class="timeline__item" *ngIf="offerOverviewDetailsList.setup[1]?.status != null">
                        <div
                          [ngClass]="(offerOverviewDetailsList.setup[1].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                          <span
                            [ngClass]="(offerOverviewDetailsList.setup[1].status == 'Completed')?'icon-check':'icon-warning'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span
                              [ngClass]="(offerOverviewDetailsList.setup[1].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.setup[1].subMilestone}}
                          </div>
                        </div>
                      </div>
                      <div class="timeline__item" *ngIf="offerOverviewDetailsList.setup[2]?.status != null">
                        <div
                          [ngClass]="(offerOverviewDetailsList.setup[2].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                          <span
                            [ngClass]="(offerOverviewDetailsList.setup[2].status == 'Completed')?'icon-check':'icon-warning'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span
                              [ngClass]="(offerOverviewDetailsList.setup[2].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.setup[2].subMilestone}}
                          </div>
                        </div>
                      </div>
                      <div class="timeline__item" *ngIf="offerOverviewDetailsList.setup[3]?.status != null">
                        <div
                          [ngClass]="(offerOverviewDetailsList.setup[3].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                          <span
                            [ngClass]="(offerOverviewDetailsList.setup[3].status == 'Completed')?'icon-check':'icon-warning'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span
                              [ngClass]="(offerOverviewDetailsList.setup[3].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.setup[3].subMilestone}}
                          </div>
                          <div [hidden]="offerOverviewDetailsList.setup[3].status != 'Completed'">
                          </div>
                        </div>
                      </div>
                      <div class="timeline__item" *ngIf="offerOverviewDetailsList.setup[4]?.status != null">
                        <div
                          [ngClass]="(offerOverviewDetailsList.setup[4].status == 'Completed')?'timeline__icon timeline--success':'timeline__icon timeline--warning'">
                          <span
                            [ngClass]="(offerOverviewDetailsList.setup[4].status == 'Completed')?'icon-check':'icon-warning'"></span>
                        </div>
                        <div class="timeline__content">
                          <div class="text-bold">
                            <span
                              [ngClass]="(offerOverviewDetailsList.setup[4].status == 'Completed')?'icon-chevron-down icon-small':'icon-chevron-up icon-small'"></span>
                            {{offerOverviewDetailsList.setup[4].subMilestone}}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Launch">
              <div class="card">
                Launch
              </div>
            </p-accordionTab>
          </p-accordion>
        </div>
      </div>
    </div>
  </div>
</div>
