<div class="responsive-table">

  <p-dataTable [value]="ssoList" scrollable="true" [rows]="10" [paginator]="true" scrollHeight="350px"
    [resizableColumns]="true" expandableRows="true">

    <p-column field="itemName" expander="true" header="PRODUCT NAME">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <span><a (click)="onClick(sso['itemName'])">{{sso['itemName']}}</a><br /></span>
      </ng-template>
    </p-column>

    <p-column field="itemType" header="ITEM TYPE">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{sso['itemType']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="organization" header="ORGANIZATION">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{sso['organization']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="currentStatus" header="CURRENT STATUS">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{sso['currentStatus']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="npiTestOrderFlag" header="NPI TEST ORDER FLAG">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{sso['npiTestOrderFlag']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="orderabilityCheckStatus" header="ORDERABILITY CHECK STATUS">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <app-status [status]="sso['orderabilityCheckStatus']"></app-status>
        </div>
      </ng-template>
    </p-column>

    <p-column field="errorOrWarning" header="ERROR WARNING">
      <ng-template let-col let-sso="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{sso['errorOrWarning']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

  </p-dataTable>

</div>