<div class="responsive-table">

  <p-dataTable [value]="ssoList" scrollable="true" [rows]="10" [paginator]="true" scrollHeight="350px"
    [resizableColumns]="true" expandableRows="true">

    <p-column field="productName" expander="true" sortable="true" header="PRODUCT NAME">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <span>{{task['productName']}}<br /></span>
      </ng-template>
    </p-column>

    <p-column field="type" header="ITEM TYPE" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{task['type']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="organization" header="ORGANIZATION" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{task['organization']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="currentStatus" header="CURRENT STATUS" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{task['currentStatus']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="npiTestOrderFlag" header="NPI TEST ORDER FLAG" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{task['npiTestOrderFlag']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

    <p-column field="orderabilityCheckStatus" header="ORDERABILITY CHECK STATUS" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <app-status [status]="task['orderabilityCheckStatus']"></app-status>
        </div>
      </ng-template>
    </p-column>

    <p-column field="errorOrWarning" header="ERROR WARNING" sortable="true">
      <ng-template let-col let-task="rowData" pTemplate="body">
        <div class="text-center">
          <span>{{task['errorOrWarning']}}<br /></span>
        </div>
      </ng-template>
    </p-column>

  </p-dataTable>

</div>