<h1 mat-dialog-title>{{data.title}}</h1>
<h4 class="fin-dialog-title">{{data.message}}</h4>
<div mat-dialog-content>
  <form>
    <fin-input name="prompt" [textarea]="data.inputType === DialogInputType.textarea" [(ngModel)]="messageText"
               [rows]="data.rows"></fin-input>
  </form>
</div>
<div mat-dialog-actions>
  <button type="button" cuiButton color="secondary" mat-dialog-close="DIALOG_CANCEL">Cancel</button>
  <button type="submit" cuiButton color="primary" [mat-dialog-close]="messageText">OK</button>
</div>

