<div class="modal modal--large" id="modal-contacts">
    <div class="modal__dialog">
        <div class="modal__content">
               
            <div class="modal__header">
                    <h1 class="modal__title">Create an Action</h1>

            </div>
            <div class="modal__body">
                <div class="row">
                        <div class="col-md-6">
                                <div class="form-group half-margin-bottom">
                                        <div class="form-group__text select">
                                            <select id="input-type-select">
                                                <option value="first" selected="">Select Offer Name</option>
                                                <option value="second">Second Value</option>
                                                <option value="third">Third Value</option>
                                            </select>
                                            
                                        </div>
                                </div>
                        </div>
                        <div class="col-md-6">
                                <div class="form-group half-margin-bottom">
                                        <div class="form-group__text">
                                            <input id="input-type-search" type="search" value="Action Title">
                                            
                                        </div>
                                </div>
                        </div>
                       
                        <div class="col-md-12">
                                <div class="form-group half-margin-bottom">
                                        <div class="form-group__text">
                                            <input id="input-type-search" type="search" value="Description">
                                            
                                        </div>
                                </div>
                        </div>
                     
              
              
                <div class="col-md-6">
                        <div class="form-group half-margin-bottom">
                                <div class="form-group__text select">
                                    <select id="input-type-select">
                                        <option value="first" selected="">Milestone</option>
                                        <option value="second">Second Value</option>
                                        <option value="third">Third Value</option>
                                    </select>
                                    
                                </div>
                        </div>
                    </div>
                <div class="col-md-6">
                        <div class="form-group half-margin-bottom">
                                <div class="form-group__text select">
                                    <select id="input-type-select">
                                        <option value="first" selected="">Select Function</option>
                                        <option value="second">Second Value</option>
                                        <option value="third">Third Value</option>
                                    </select>
                                    
                                </div>
                        </div>
                    </div>
                <div class="col-md-6">
                        <div class="form-group base-margin-top half-margin-bottom">
                                <div class="form-group__text select">
                                    <select id="input-type-select">
                                        <option value="first" selected="">Assignee</option>
                                        <option value="second">Second Value</option>
                                        <option value="third">Third Value</option>
                                    </select>
                                    
                                </div>
                        </div>
                    </div>


                    <div class="col-md-6">
                            <div class="form-group label--floated input--icon half-margin-bottom">
                                <div class="form-group__text">
                                    <input required>
                                    <label>Due Date</label>
                                    <button type="button" class="link" tabindex="-1">
                                        <span class="icon-month"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>


                </div>
            <div class="modal__footer">
                <div class="card__footer form-actions">
                    <button class="btn base-margin-top" (click)="cancel()">Cancel</button>
                    <button (click)="createAction()" class="btn btn--primary base-margin-top">Create an Action</button>
                </div>
            </div>

    </div>
    </div>
  </div>
  
