<div class="ui-fluid">
  <table class="table table--bordered table--selectable base-margin-top base-margin-bottom">

    <thead>
      <tr>
        <th>PRODUCT NAME</th>
        <th>ITEM TYPE</th>
        <th>ORGANIZATION</th>
        <th>CURRENT STATUS</th>
        <th>NPI TEST ORDER FLAG</th>
        <th>ORDERABILITY CHECK STATUS</th>
        <th>ERROR WARNING</th>
      </tr>
    </thead>

    <tbody>
      <tr class="active">
        <td>{{sso['itemName']}}</td>
        <td>{{sso['itemType']}}</td>
        <td>{{sso['organization']}}</td>
        <td>{{sso['currentStatus']}}</td>
        <td>{{sso['npiTestOrderFlag']}}</td>
        <td>
          <div class="text-center">
            <app-status [status]="sso['orderabilityCheckStatus']"></app-status>
          </div>
        </td>
        <td>{{sso['errorOrWarning']}}</td>
      </tr>
    </tbody>

  </table>

  <app-sso-status [ssoStatus]="sso['ssoStatus']"></app-sso-status>

</div>