
.fin-wide-container {

  .description-icon {
    margin-top: 5px;
    margin-right: 10px;
  }

  .center-align {
    display:flex;
    justify-content:center;
  }

  .in-use {
    color: crimson;
  }

  .my-tooltip {
    white-space: pre-line;
  }

}


