
<div class="fin-wide-container">

  <div finAuth="super-user" style="margin-top: 20px;">
    <fin-status-choice [choices]="showStatuses" (choiceChange)="changeStatusFilter()"></fin-status-choice>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-form-field>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a finAuth="super-user" [routerLink]="['add', {mode: 'add'}]">
      <button cuiButton color="primary">Add New</button>
    </a>
  </div>

  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort [matSortActive]="sortProperty" [matSortDirection]="sortDirection" (matSortChange)="sortChange($event)">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <ng-container matColumnDef="name">
        <mat-header-cell style="min-width:400px;" *matHeaderCellDef mat-sort-header> Rule Name</mat-header-cell>
        <mat-cell style="min-width:400px;" *matCellDef="let row">
          <i class="icon-info-outline icon-small description-icon" (click)="showDescription(row)"></i>
          <a href="" [routerLink]="['view', row.id, {mode: 'view'}]">{{row.name}}</a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="period">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Period</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.period}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="driverName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Driver Name</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.driverName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="inUse">
        <mat-header-cell *matHeaderCellDef mat-sort-header class="center-align">In Use</mat-header-cell>
        <mat-cell *matCellDef="let row" class="center-align in-use">
          <span [matTooltip]="row.usingSubmeasuresNamesTooltip" [matTooltipClass]="'my-tooltip'">{{row.inUse}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{UiUtil.getStatusText(row.status)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updatedBy}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <mat-header-cell style="min-width:140px;" *matHeaderCellDef mat-sort-header> Updated</mat-header-cell>
        <mat-cell style="min-width:140px;" *matCellDef="let row">{{moment(row.updatedDate).format('MM/DD/YYYY hh:mm A')}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="icons">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 auto; width:70px;"></mat-header-cell>
        <mat-cell style="flex: 0 0 auto;" *matCellDef="let row">
          <div style="width:70px;whitespace: nowrap;">
            <i *ngIf="canEdit(row)" finAuth="super-user" class="icon-edit icon-small tooltip" [routerLink]="['edit', row.id, {mode: 'edit'}]"
               matTooltip="edit" matTooltipPosition="above" [matTooltipShowDelay]="500" [class.disabled]="!canEdit(row)"></i>
            <i finAuth="super-user" class="icon-applications icon-small tooltip" [routerLink]="['edit', row.id, {mode: 'copy'}]"
               matTooltip="copy" matTooltipPosition="above" [matTooltipShowDelay]="500"></i>
            <i finAuth="super-user" class="icon-exit-outline icon-small" (click)="remove(row)" [fxShow]="showDeleteIcon(row)"
               matTooltip="delete" matTooltipPosition="above" [matTooltipShowDelay]="500"></i>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>

    </mat-table>

    <mat-paginator #paginator
                   [length]="filteredRules.length"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageChange($event)">
    </mat-paginator>
  </div>


</div>

