<div>

  <!-- Offer Phase Steps -->
  <div class="panel panel--compressed panel--bordered panel--raised-small base-margin-bottom" (click)="showOfferPhaseDailog()">
    <h5 class="half-margin-bottom">Offer Phase
      <a href="javascript:;" class="pull-right" (click)="showOfferPhaseDailog()">
        <span class="icon-pencil"></span> Edit</a>
    </h5>
    <div class="divider divider--compressed"></div>
    <div class="ui-steps ui-steps--success ui-steps--tiny" *ngIf="phaseProcessingCompleted">
      <div class="ui-step {{mileStoneStatus[0].status}}">
        <div class="step__icon">
          <span class="icon-check" *ngIf="mileStoneStatus[0].status === 'visited'"></span>
          <span *ngIf="mileStoneStatus[0].status !== 'visited'">1</span>
        </div>
        <div class="step__label">Ideate</div>
      </div>
      <div class="ui-step {{mileStoneStatus[1].status}}">
        <div class="step__icon">
          <span class="icon-check" *ngIf="mileStoneStatus[1].status === 'visited'"></span>
          <span *ngIf="mileStoneStatus[1].status !== 'visited'">2</span>
        </div>
        <div class="step__label">Plan</div>
      </div>
      <div class="ui-step {{mileStoneStatus[2].status}}">
        <div class="step__icon">
          <span class="icon-check" *ngIf="mileStoneStatus[2].status === 'visited'"></span>
          <span *ngIf="mileStoneStatus[2].status !== 'visited'">3</span>
        </div>
        <div class="step__label">Set Up</div>
      </div>
      <div class="ui-step {{mileStoneStatus[3].status}}">
        <div class="step__icon">
          <span class="icon-check" *ngIf="mileStoneStatus[3].status === 'visited'"></span>
          <span *ngIf="mileStoneStatus[3].status !== 'visited'">4</span>
        </div>
        <div class="step__label">Launch</div>
      </div>
    </div>
  </div>

  <!-- Estimated Lead Time -->
  <div appReadonly [DirectiveValue]="'Offer Phase Widget'"  class="panel panel--compressed panel--bordered panel--raised-small base-margin-bottom">

    <h5 class="half-margin-bottom">Estimated Lead Time</h5>

    <span class="ribbon label label--warning-alt">

      <!-- <div *ngIf="!displayLeadTime">
                  <button [visible]="!displayLeadTime" (click)="showLeadTimeDailog()">
                      Lead Time Calculation?
                  </button>
              </div> -->

      <!-- <div> -->
      <strong><small *ngIf="noOfWeeksDifference && noOfWeeksDifference!=='N/A'">{{noOfWeeksDifference}}
          Weeks</small>
      </strong>
      <small *ngIf="noOfWeeksDifference && noOfWeeksDifference==='N/A'">No Data
        Availaible</small>

      <!-- </div> -->


      <!-- </span> -->

    </span>
    <span><a *ngIf="displayLeadTime" (click)="showLeadTimeDailog()">
        Lead Time Calculation?
      </a></span>

  </div>

  <!-- <Scalapbility Index> -->
  <!-- <div class="card card--raised base-margin-top">
              <h5 class="half-margin-bottom">Scalability Index</h5>
              <div class="card__footer">
                  <a href="javascript:;" (click)="goScalabilityIndex()">View Offer Scalability Details</a>
              </div>
              <div class="gauge-container">
                  <div class="gauge gauge--small gauge--success" data-percentage="50">
                      <div class="gauge__circle">
                          <div class="mask full">
                              <div class="fill"></div>
                          </div>
                          <div class="mask half">
                              <div class="fill"></div>
                              <div class="fill fix"></div>
                          </div>
                      </div>
                      <div class="gauge__inset">
                          <div class="gauge__percentage">50</div>
                      </div>
                  </div>
              </div>
          </div> -->

  <!-- People Involved -->
  <div class="panel panel--compressed panel--bordered panel--raised-small stakeholders">

    <h5 appHiddenelem appReadonly [DirectiveValue]="'Offer Phase Widget'"  class="half-margin-bottom">People Involved<a href="javascript:;" class="pull-right" (click)="showStakeHolderDialog()">
        <i class="pi pi-plus"></i> Add</a>
    </h5>

    <ul class="list">
      <li *ngFor="let key of getKeys(stakeData)">

        <p-accordion>
          <p-accordionTab header="{{key}} ({{stakeData[key].length}})" [selected]="false">

            <div class="member" *ngFor="let coOwners of stakeData[key]">
              <div class="flex-center-vertical">

                <!-- Team Member Avatar -->
                <span class="avatar-ico">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"
                    id="fwt-profile-button-loggedin" role="img">
                    <title id="fwt-profile-button-loggedin-title"></title>
                    <g fill="none" fill-rule="evenodd">
                      <path stroke="#4d4c4c" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M22.857 31.36c-1.616.614-3.37.95-5.202.95C9.56 32.31 3 25.749 3 17.655S9.561 3 17.655 3 32.31 9.561 32.31 17.655c0 3.988-1.727 7.703-4.31 10.344"
                        x="0" y="0"></path>
                      <text fill="#007493" font-family="CiscoSans, Arial, sans-serif" font-weight="300" font-size="16"
                        x="50%" y="50%" dy=".35em" text-anchor="middle"
                        id="fwt-initials">{{getInitialChar(coOwners['userName'])}}</text>
                    </g>
                  </svg>
                </span>

                <!-- Team Member Name, E-Mail -->
                <div class="flex-fluid text-left half-margin-left">
                  <div class="text-bold">{{coOwners['userName']}}</div>
                  <div>{{coOwners['emailId']}}</div>
                </div>

              </div>
            </div>

          </p-accordionTab>
        </p-accordion>

      </li>
    </ul>


  </div>

  <!-- Dialog - Phase Process  -->
  <p-dialog [showHeader]="false" [responsive]="true" [minY]="70" [(visible)]="displayOfferPhase" [closable]="true">
    <div class="overlay-phases">
      <div class="pull-right phase-modal">
        <span class="icon-close" (click)="closeOfferPhaseDailog()"></span>
      </div>
      <div class="modalheader">
        <div class="row">
          <div class="col-md-8">
            <h5>{{offerName}}&nbsp;<span class="offerID">{{currentOfferId}}</span></h5>
          </div>
          <!-- Offer Phase widget -->
          <div class="col-md-4">
            <h5 class="widget-header">Offer Phase</h5>
            <div class="ui-steps ui-steps--success ui-steps--tiny" *ngIf="phaseProcessingCompleted">
              <div class="ui-step {{mileStoneStatus[0].status}}">
                <div class="step__icon">
                  <span class="icon-check" *ngIf="mileStoneStatus[0].status === 'visited'"></span>
                  <span *ngIf="mileStoneStatus[0].status !== 'visited'">1</span>
                </div>
                <div class="step__label">Ideate</div>
              </div>
              <div class="ui-step {{mileStoneStatus[1].status}}">
                <div class="step__icon">
                  <span class="icon-check" *ngIf="mileStoneStatus[1].status === 'visited'"></span>
                  <span *ngIf="mileStoneStatus[1].status !== 'visited'">2</span>
                </div>
                <div class="step__label">Plan</div>
              </div>
              <div class="ui-step {{mileStoneStatus[2].status}}">
                <div class="step__icon">
                  <span class="icon-check" *ngIf="mileStoneStatus[2].status === 'visited'"></span>
                  <span *ngIf="mileStoneStatus[2].status !== 'visited'">3</span>
                </div>
                <div class="step__label">Set Up</div>
              </div>
              <div class="ui-step {{mileStoneStatus[3].status}}">
                <div class="step__icon">
                  <span class="icon-check" *ngIf="mileStoneStatus[3].status === 'visited'"></span>
                  <span *ngIf="mileStoneStatus[3].status !== 'visited'">4</span>
                </div>
                <div class="step__label">Launch</div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider divider--compressed"></div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <h5 class="base-margin-top">Offer Phase Details</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 accordion half-margin-bottom">
          <!-- <div class="col-md-12"> -->
          <div class="alert alert--danger" role="alert" *ngIf="showAlert">
            <div class="alert__icon icon-error-outline"></div>
            <div class="alert__message">
              <div>Choose appropriate target date for each phase.</div>
            </div>
            <a href="javascript:;" class="alert__close icon-close" (click)="removeAlert()"></a>
          </div>
          <!-- </div> -->
          <p-accordion>
            <p-accordionTab header="Ideate" [selected]="true">
              <div class="responsive-table">
                <table class="table table--hover table--compressed table--nostripes">
                  <thead>
                    <tr>
                      <th>Ideate - <span
                          [ngClass]="(ideateCompletedCount == ideateCount)?'text-success':'text-warning'">
                          {{ideateCompletedCount}} of {{ideateCount}} <span
                            class="icon-check-outline icon-medium"></span></span></th>
                      <th>STATUS</th>
                      <th>TARGET DATE</th>
                      <th>COMPLETION DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let ideateData of offerPhaseDetailsList.ideate">
                      <td>
                        <div *ngIf="!ideateData.enable; else enableOfferPhase">
                          <span class="text-muted" pTooltip="Dependent activities are not yet satisfied"
                            tooltipPosition="top">{{ideateData.subMilestone}}</span>
                        </div>
                        <ng-template #enableOfferPhase>
                          <a><span (click)="navigate(ideateData.subMilestone)">{{ideateData.subMilestone}}</span></a>
                        </ng-template>
                      </td>
                      <td [ngClass]=" (ideateData.status=='Completed'
                                                              )?'text-success':'text-warning'">
                        {{ideateData.status}}
                      </td>
                      <td>
                        <span *ngIf="!editIdeateTargetDate">
                          {{ideateData.targetDate | date: "dd-MMM-y"}}
                        </span>
                        <span *ngIf="editIdeateTargetDate && ideateData.subMilestone === 'Strategy Review'">
                          <input type="text" class="form-control" #dp="bsDatepicker" autofocus bsDatepicker
                            [minDate]="minDate" [bsConfig]="dpConfig" (bsValueChange)="onValueChange('ideate',$event)"
                            [value]='ideateData.targetDate | date: "dd-MMM-y"' placement="top">
                        </span>
                        <span *ngIf="ideateData.subMilestone === 'Strategy Review'">
                          <a (click)="editDate('ideate')"><span class="icon-pencil"></span>Edit</a>
                        </span>
                      </td>
                      <td>{{ideateData.completionDate | date: "dd-MMM-y"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Plan">
              <div class="responsive-table">
                <table class="table table--hover table--compressed table--nostripes">
                  <thead>
                    <tr>
                      <th>Plan - <span class="text-success"> {{planCompletedCount}} of
                          {{planCount}} <span class="icon-check-outline icon-medium"></span></span></th>
                      <th>STATUS</th>
                      <th>TARGET DATE</th>
                      <th>COMPLETION DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let planData of offerPhaseDetailsList.plan">

                      <td>
                        <div *ngIf="!planData.enable; else enableOfferPhase">
                          <span class="text-muted" pTooltip="Dependent activities are not yet satisfied"
                            tooltipPosition="top">{{planData.subMilestone}}</span>
                        </div>
                        <ng-template #enableOfferPhase>
                          <a><span (click)="navigate(planData.subMilestone)">{{planData.subMilestone}}</span></a>
                        </ng-template>
                      </td>

                      <td
                        [ngClass]="(planData.status == 'Completed' || planData.status == 'Not Applicable')?'text-success':'text-warning'">
                        {{planData.status}}</td>
                      <td>
                        <span *ngIf="!editPlanTargetDate">
                          {{planData.targetDate | date: "dd-MMM-y"}}
                        </span>
                        <span *ngIf="editPlanTargetDate && planData.subMilestone === 'Design Review'">
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [minDate]="minDate"
                            [bsConfig]="dpConfig" (bsValueChange)="onValueChange('plan',$event)"
                            [value]='planData.targetDate | date: "dd-MMM-y"' placement="top">
                        </span>
                        <span *ngIf="planData.subMilestone === 'Design Review'">
                          <a (click)="editDate('plan')"><span class="icon-pencil"></span>Edit</a>
                        </span>
                      </td>
                      <td>{{planData.completionDate | date: "dd-MMM-y"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Set Up">
              <div class="responsive-table">
                <table class="table table--hover table--compressed table--nostripes">
                  <thead>
                    <tr>
                      <th>Set Up - <span class="text-success"> {{setupCompletedCount}} of
                          {{setupCount}} <span class="icon-check-outline icon-medium"></span></span></th>
                      <th>STATUS</th>
                      <th>TARGET DATE</th>
                      <th>COMPLETION DATE</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let setupData of offerPhaseDetailsList.setup">
                      <td>
                        <div *ngIf="!setupData.enable; else enableOfferPhase">
                          <span class="text-muted" pTooltip="Dependent activities are not yet satisfied"
                            tooltipPosition="top">{{setupData.subMilestone}}</span>
                        </div>
                        <ng-template #enableOfferPhase>
                          <a><span (click)="navigate(setupData.subMilestone)">{{setupData.subMilestone}}</span></a>
                        </ng-template>
                      </td>

                      <td
                        [ngClass]="(setupData.status == 'Completed' || setupData.status == 'Not Applicable')?'text-success':'text-warning'">
                        {{setupData.status}}</td>
                      <td>
                        <span *ngIf="!editSetUpTargetDate">
                          {{setupData.targetDate | date: "dd-MMM-y"}}
                        </span>
                        <span *ngIf="editSetUpTargetDate && setupData.subMilestone === 'Readiness Review'">
                          <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [minDate]="minDate"
                            [bsConfig]="dpConfig" (bsValueChange)="onValueChange('setup',$event)"
                            [value]='setupData.targetDate | date: "dd-MMM-y"' placement="top">
                        </span>
                        <span *ngIf="setupData.subMilestone === 'Readiness Review'">
                          <a (click)="editDate('setup')"><span class="icon-pencil"></span>Edit</a>
                        </span>
                      </td>
                      <td>{{setupData.completionDate | date: "dd-MMM-y"}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Launch">
              <div class="responsive-table">
                <table class="table table--hover table--compressed table--nostripes">
                </table>
              </div>
            </p-accordionTab>
          </p-accordion>

        </div>
      </div>
    </div>
  </p-dialog>

  <!-- Dialog - Add Stakeholders  -->
  <p-dialog header="Add Stakeholders" closable="true" (onHide)="closeStakeHolderDialog()" [responsive]="true"
    [(visible)]="addStakeHolder" [width]="1400" [height]="700" [minWidth]="500" [minHeight]="500">
    <app-stakeholder-add (addSelectedStakeHolders)="updateStakeHodlerInfo($event)"></app-stakeholder-add>
  </p-dialog>


  <!-- Dialog - Lead Time Calculation  -->
  <p-dialog class="lead-time" header="Lead Time Calculation" closable="true" [responsive]="true" [width]="1400"
    [minWidth]="500" [minY]="70" [(visible)]="displayLeadTimeButton">
    <div *ngIf="loadingLeadTime">
      <div class="loader">
        <div class="loading-dots loading-dots--info" aria-label="Loading, please wait...">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
    </div>
    <div *ngIf="!loadingLeadTime" class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6">
            <div class="card base-padding">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <h4 class="text-huge text-success">{{noOfWeeksDifference}} Weeks</h4>
                  </div>
                  <h5 class="text-large qtr-padding text-muted">Lead Time Assessed for Your Offer</h5>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <h4 class="text-huge text-success">{{expectedLaunchDate}}
                    </h4>
                  </div>
                  <h5 class="text-large qtr-padding text-muted">Offer Launch Date</h5>
                </div>
              </div>
              <div class="row base-margin-top"></div>
              <div class="divider"></div>
              <div class="row base-margin-top">
                <div class="col-md-12">
                  <!-- <h6 class="text-indigo">Edit Milestones</h6> -->
                </div>
              </div>
              <div class="row base-margin-top progress-group">
                <div class="col-md-3">
                  <h6 class="subheader">Strategy Review</h6>
                  <h6 class="display-6">{{strategyReviewDate}}</h6>
                  <div class="progressbar progressbar--large" data-percentage="0">
                    <div class="progressbar__fill"></div>
                    <!-- <div class="progressbar__label">YOU ARE HERE</div> -->
                  </div>
                </div>
                <div class="col-md-3">
                  <h6 class="subheader">Design Review</h6>
                  <h6 class="display-6">{{designReviewDate}}</h6>
                  <div class="progressbar progressbar--large" data-percentage="0">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <h6 class="subheader">Readiness Review</h6>
                  <h6 class="display-6">{{readinessReviewDate}}</h6>
                  <div class="progressbar progressbar--large" data-percentage="0">
                    <div class="progressbar__fill"></div>
                  </div>
                </div>
                <div class="col-md-3">
                  <h6 class="subheader">LAUNCH</h6>
                  <h6 class="display-6">{{launchDate}}</h6>
                  <div class="progressbar progressbar--large" data-percentage="0">
                    <div class="progressbar__fill"></div>
                    <!-- <div class="progressbar__label">LEAD TIME</div> -->
                  </div>
                </div>
              </div>
              <!-- <div class="row base-margin-top"></div>
                                          <div class="row base-margin-top"></div>
                                          <div class="row base-margin-top"></div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="qtr-padding">
                <h5>Lead Time Statistics for {{mmModel}} in {{leadTimeYear}}</h5>
                <!-- <h6 *ngIf="!isNaN(overallWeeksCompare)">Your presume time is
                                      {{Math.abs(overallWeeksCompare)}} weeks
                                      {{overallWeeksCompare>0?'less':'more'}} than average.
                                  </h6> -->
              </div>
              <table class="table table--nostripes">
                <tr>
                  <td width="75%" style="border-right:1px solid #d3d3d3;border-left:1px solid #d3d3d3">
                    <label>10th Percentile</label>
                    <div class="progressbar" [attr.data-percentage]="averageOfTopTenPercentile">
                      <div class="progressbar__fill"></div>
                    </div>
                  </td>
                  <td width="25%">
                    <h6>{{averageOfTopTenPercentileWeeks}} WEEKS
                      <span class="pull-right" *ngIf="!isNaN(topTenPercentileWeeksCompare)"
                        [className]="topTenPercentileWeeksCompare > 0 ? 'pull-right text-success': 'pull-right text-danger'">{{Math.abs(topTenPercentileWeeksCompare)}}</span>
                    </h6>
                  </td>
                </tr>
                <tr>
                  <td width="75%" style="border-right:1px solid #d3d3d3;border-left:1px solid #d3d3d3">
                    <label>Average</label>
                    <div class="progressbar" [attr.data-percentage]="averageOverall">
                      <div class="progressbar__fill">
                      </div>
                    </div>
                  </td>
                  <td width="25%">
                    <h6>{{averageOverallWeeks}} WEEKS
                      <span class="pull-right" *ngIf="!isNaN(overallWeeksCompare)"
                        [className]="overallWeeksCompare > 0 ? 'pull-right text-success': 'pull-right text-danger'">{{Math.abs(overallWeeksCompare)}}</span>
                    </h6>
                  </td>
                </tr>
                <tr>
                  <td width="75%" style="border-right:1px solid #d3d3d3;border-left:1px solid #d3d3d3">
                    <label>90th Percentile</label>
                    <div class="progressbar progressbar--success"
                      [attr.data-percentage]="averageOfRemainingNinetyPercentile">
                      <div class="progressbar__fill"></div>
                    </div>
                  </td>
                  <td width="25%">
                    <h6>{{averageOfRemainingNinetyPercentileWeeks}} WEEKS
                      <span class="pull-right" *ngIf="!isNaN(remainingNinetyPercentileCompare)"
                        [className]="remainingNinetyPercentileCompare > 0 ? 'pull-right text-success': 'pull-right text-danger'">{{Math.abs(remainingNinetyPercentileCompare)}}</span>
                    </h6>
                  </td>
                </tr>
                <tr>
                  <td width="75%" style="border-right:1px solid #d3d3d3;border-left:1px solid #d3d3d3">
                    <span class="pull-left">0
                      WEEKS</span>
                    <span class="pull-right">{{countOfHundredPercentile}}
                      WEEKS</span></td>
                  <td width="25%">

                  </td>
                </tr>

              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </p-dialog>

</div>
