.boxContent {
    border: #ddd 1px solid;
    padding: 9px;
    display: inline-block;
    width: 100%;
  }

  .boxHeading {
    font-size: 15px !important;
  }

   .progressBar {
    border: 1px solid #ddd;
    position: relative;
    margin: 0 auto;
    width: 88%;
    margin-top: 15px;
    margin-bottom: 30px;
  }


  .customProgressBarFill{
    height:7px;
    border-radius:2rem;
    background: #009200;
  }

  .ui-progressbar {
    height: 1.2em;
    text-align: left;
    position: relative;
}

.ui-progressbar .ui-progressbar-value {
    margin: 5px;
    height: 500%;
    width: 0%;
    position: absolute;
    display: none;
}

.ui-progressbar .ui-progressbar-label {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
    font-weight: bold;
}

  .dot.active {
    background: #6bc149;
  }

  .dotFirst {
    left: -3px;
  }

  .dotSecond {
    left: 33.3%;
  }

  .dotThird {
    left: 66.6%;
  }

  .dotFourth {
    left: 98%;
  }
  .dot {
    background: #ddd;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
  }

  .dot span {
    position: absolute;
    top: 20px;
    left: -100%;
  }

  .mailBox {
    border-bottom: 1px dashed #b8b8b8;
    padding:11px 0;
  }

  .mailBox:last-child{
    border: none;
  }

  .mailBox span.circle {
    float: left;
    margin: 0 9px 0 16px;
  }

/**HoverBox CSS Start**/

 .hoverBox{
    display: none;
  }

  .dotFirst:hover .hoverBox{
    background: #FFF;
      position: absolute;
      z-index: 99;
      border-top: 1px solid #ddd;
      -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      box-shadow: 0 1px 3px 0 rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 2px 1px -1px rgba(0,0,0,.12);
      right: 18px;
      display: block;
      width:800px;
      padding: 20px;
      top: -15px;
  }

  .hoverBox:after{
    width: 14px;
    height: 9px;
    position: absolute;
    content: "";
    top: 15px;
    right: -10px;
    transform: rotate(90deg);
    background: url(../../../../assets/images/arrow-top.png) no-repeat;
  }

  .hoverBox .ui-steps {
    margin-bottom:0;
  }

  .hoverBox .ui-step:before {
    height: 7px;
    top: 32px;
  }

  .hoverBox .step__icon{
    width: 22px;
    height: 22px;
    min-width: 22px;
  }

  .coolSprite{
    display: inline-block;
    width: 22px;
    height: 22px;
  }

  .iconInprogress{
    background: #fff url(../../../../assets/images/icon-error.png) no-repeat !important;
    box-shadow: inherit;
  }

  .completed{
    color: #889B28
  }

  .inprogress{
    color: #e87127;
  }

  .pending{
    color:#ddd;
  }

  .stepColor{
    color: #58585b;
  }

/**HoverBox CSS End**/

/**Autocomplete CSS Start**/

.autocomplete{
    width: 100%;
    border: none;
    background: none;
    border-bottom: #ddd 1px solid;
    padding: 0 5px 7px 0;
    display: inline-block;
    margin-top: 7px;
    text-transform: uppercase;
}

.icon-search{
  position: absolute;
    right: 18px;
    top: 7px;
}

/**Autocomplete CSS End**/

/**Modal Table CSS Start**/

.table-modal td, .table-modal th{
    padding: 0 9px !important;
    border: #dfdfdf 1px solid;
}

.table-modal .checkbox__input:before{
    top: 8px;
}

.table-modal .checkbox__input:after{
    padding: 4px;
}

.innerTittle{
    font-size: 1.4rem !important;
}

/**Modal table CSS End**/

/**Message Notification**/

.notificationMessage{
    position: absolute;z-index: 9;left: 0;top: 0;
}
p-dialog.lead-time h4 {
  margin-left: 10px;
}
.style2{
  color: red;

}

