

.fin.cui .business-upload-comp .form-group.radio-list {
  margin-bottom: 30px;
}

.fin.cui .btn + .btn {
  margin-left: 15px;
  @media (min-width: $breakpoint-xl) {
    margin-left: 20px;
  }
}

// header and hero the same height looks clean, this value affects both
.fin.cui .hero.main-comp {
  height: $hero-header-height;

  h1 {
    font-size: 28px;
  }
  .hero__content {
    padding-top: 9px;
    padding-bottom: 1px;
    padding-left: $padding-base;
  }
}

.fin.cui cui-footer .footer {
  padding: 6px 0;
}

@media (min-width: $breakpoint-lg) {
  .fin.cui .header-breadcrumbs {
    margin: 16px 0;
  }
  .fin.cui .header-heading .page-title {
    position: relative;
    top: 10px;
  }
}

@media (min-width: $breakpoint-xxl) {
  .fin.cui .header-breadcrumbs {
    font-size: 14px;
  }
  .fin.cui .header-heading .page-title {
    font-size: 28px;
  }
}

@media (max-width: $breakpoint-ltlg) {
  .fin.cui .header-breadcrumbs {
    display: none;
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-ltxxl) {

  .fin.cui .header-bar {
    height: $hero-header-height;
  }
}

@media (min-width: $breakpoint-xxl) {

  .fin.cui .header-bar {
    height: $hero-header-height-xxl;
  }

  .fin.cui.template--cdc .container {
    max-width: unset;
  }

  .fin.cui .hero.main-comp {
    height: $hero-header-height-xxl;
  }

  .fin.cui .hero.main-comp .hero__content {
    padding-top: 20px; // set this
  }

  .fin.cui.template--cdc header, .cui.template--cdc main, .cui.template--cdc footer {
    max-width: unset;
  }

}


