

.cui .main-comp .hero {
  h1 {
    font-size: 28px;
  }
  .hero__content {
    padding-top: 9px;
    padding-bottom: 1px;
  }
}

.cui cui-footer .footer {
  padding: 6px 0;
}

.fin.cui .header-bar {
  max-height: 90px;
}
