
// fix 1.3.3 form-group change, they moved from margin-bottom in .form-group to .form-group + .form-group which messed things up for us as we wrap .form-groups in divs
.fin.cui .form-group {
  margin-bottom: 10px;
}

.fin.cui .form-group + form-group {
  margin-top: 0;
  margin-bottom: 10px;
}

.fin.cui .home-comp.hero {
  padding: 0;
}

.fin.cui .main .progressbar {
  margin: 0;
}

.fin.cui cui-select.replace-label-space .form-group {
  padding-top: 20px;
}

// remove the stopsign icon in <input> with form-group--error
.fin.cui .form-group--error .form-group__text:after,
.fin.cui .form-group--error .form-group__text.select:after {
  content: '';
}

.fin.cui .btn.focus, .cui .btn.error-flash:focus {
  outline: none;
  box-shadow: 0 0 2px 2px $danger;
  border: 1px solid #ffffff;
}

.fin.cui .business-upload-comp .form-group.radio-list {
  margin-bottom: 30px;
}

.fin.cui .btn + .btn {
  margin-left: 15px;
  @media (min-width: $breakpoint-xxl) {
    margin-left: 20px;
  }
}

// header and hero the same height looks clean, this value affects both
.fin.cui .hero.main-comp {
  height: $hero-header-height;
  padding: 0;

  h1 {
    font-size: 28px;
  }
  .hero__content {
    padding-top: 7px;
    padding-bottom: 1px;
    padding-left: $padding-base;
  }
}

.fin.cui cui-footer .footer {
  padding: 6px 0;
}

@media (min-width: $breakpoint-lg) {
  .fin.cui .header-breadcrumbs {
    margin: 16px 0;
  }
  .fin.cui .header-heading .page-title {
    position: relative;
    top: 10px;
  }
}

@media (min-width: $breakpoint-xxl) {
  .fin.cui .header-breadcrumbs {
    font-size: 14px;
  }
  .fin.cui .header-heading .page-title {
    font-size: 28px;
  }
}

@media (max-width: $breakpoint-ltlg) {
  .fin.cui .header-breadcrumbs {
    display: none;
  }
}

@media (min-width: $breakpoint-lg) and (max-width: $breakpoint-ltxxl) {

  .fin.cui .header-bar {
    height: $hero-header-height;
  }
}

@media (min-width: $breakpoint-xxl) {

  .fin.cui .header-bar {
    height: $hero-header-height-xxl;
  }

  .fin.cui.template--cdc .container {
    max-width: unset;
  }

  .fin.cui .hero.main-comp {
    height: $hero-header-height-xxl;
  }

  .fin.cui .hero.main-comp .hero__content {
    padding-top: 20px; // set this
  }

  .fin.cui.template--cdc header, .cui.template--cdc main, .cui.template--cdc footer {
    max-width: unset;
  }

}


