@import '_variables';
@import '_mixins';
@import 'cui-variables';



.fin-flex-center {
  margin: auto;
}

.legend-checkbox {
  display: inline-block;
  position: relative;
  top: 5px;
}

.fin-footer-buttons {
  padding: 25px 0;
}

.fin-wide-container {
  width: 90%;
  max-width: 1500px;
  margin: 0 auto;
}

.fin-container {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;

  @media (min-width: $breakpoint-lg) {
    & > .row > .col,
    & > .row > [class^="col-"] {
      padding: 0 30px;
      @media (min-width: $breakpoint-xxl) {
        padding: 0 40px;
      }
    }
  }

  & .fin-footer-buttons {
    padding: 25px 0;

    /*
    // can't figure out the reasoning for this, it misaligns the buttons with grid, but why?
    @media (min-width: $breakpoint-lg) {
      padding-left: 20px;
      @media (min-width: $breakpoint-xxl) {
        padding-left: 30px;
      }
    }
    */
  }

}

.checkbox-horiz-spacing {
  margin-right: 25px !important;
}

.form-group-max-width {
  max-width: $form-group-max-width;
}

.form-group-inline-20 {
  margin-right: 20px;
}

.form-group-inline-30 {
  margin-right: 30px;
}

.form-group-text {
  height: 60px;
  padding-top: 20px;
  line-height: 40px;
  margin-bottom: 10px;
  max-width: $form-group-max-width;
  white-space: nowrap;
}

.form-group-switch {
  height: 60px;
  margin-bottom: 10px;
  padding-top: 26px;
}

.form-group-check {
  height: 60px;
  margin-bottom: 10px;
  padding-top: 29px !important;
}

.form-group-button {
  height: 60px;
  margin-bottom: 10px;
  padding-top: 20px;
}

.form-group-text-no-title {
  height: 40px;
  margin-bottom: 10px;
  line-height: 40px;
  max-width: $form-group-max-width;
}

.form-group-switch-no-title {
  height: 40px;
  margin-bottom: 10px;
  padding-top: 9px;
}

.form-group-check-no-title {
  height: 40px;
  margin-bottom: 10px;
  padding-top: 11px;
}

.form-group-button-no-title {
  height: 40px;
  margin-bottom: 10px;
  padding-top: 5px;
}

.fin.cui .fin-hide {
  display: none !important;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.page-wrap-100 {
  height: 100%;
}

.page-wrap-vscroll {
  height: 100%;
  overflow-y: auto;
}

.page-wrap-scroll {
  height: 100%;
  overflow: auto;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.ghost {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

i {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.text-ellipsis {
  @include text-ellipsis;
}

.text-ellipsis-inline {
  display: inline-block;
  @include text-ellipsis;
}

.text-ellipsis-block {
  @include text-ellipsis;
  display: block;
}

.text-ellipsis-inline {
  display: inline-block;
  @include text-ellipsis;
}

.error-text {
  color: red;
}

.border-outline {
  margin: -14px;
  padding: 14px;
  border: 2px solid $med-gray-4;
  border-radius: 12px;
}

.border-and-padding {
  border: 2px solid lightgray;
  border-radius: 10px;
  padding: 10px;
}

// debug outlines
.outline {
  @include outline;
}

.outline-red {
  @include outline;
  outline-color: red;
}

.oo2 {
  outline-offset: -2px;
}

.invisible {
  visibility: hidden;
}

.bg-plum {
  background-color: plum;
}

.mat-table .mat-header-row {
  background: #64bbe3;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}




