@import '_variables';
@import '_mixins';


.two-col-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //height: 60px; // this should change on usage
  .left {
    //@extend .outline;
    flex: 1 1 48%;
    margin-right: 4%;
    /deep/ .form-group {
      margin-bottom: 0;
    }
  }
  .right {
    //@extend .outline;
    flex: 1 1 48%;
    /deep/ .form-group {
      margin-bottom: 0;
    }
  }
}

.fin.cui .fin-hide {
  display: none !important;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}

.page-wrap-100 {
  height: 100%;
}

.page-wrap-vscroll {
  height: 100%;
  overflow-y: auto;
}

.page-wrap-scroll {
  height: 100%;
  overflow: auto;
}

.notransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.ghost {
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}

i {
  cursor: pointer;
}

.cursor-pointer {
  cursor: pointer;
}

.text-ellipsis {
  @include text-ellipsis;
}

.text-ellipsis-inline {
  display: inline-block;
  @include text-ellipsis;
}

.text-ellipsis-block {
  @include text-ellipsis;
  display: block;
}

.text-ellipsis-inline {
  display: inline-block;
  @include text-ellipsis;
}

.error-text {
  color: red;
}

.outline {
  @include outline;
}
.outline-red {
  @include outline;
  outline-color: red;
}

.oo2 {
  outline-offset: -2px;
}

.invisible {
  visibility: hidden;
}

.bg-plum {
  background-color: plum;
}
