@import 'variables';
@import 'mixins';

i + i {
  padding-left: 7px;
}

// our <input type=file> css hiding
input[type="file"] {
  display: none;
}

// cui height 100% is making the footer land at screeh-height, seems like an angular thing, i.e. <router-outlet>
// hasn't resized yet, gets put there and sticks for some reason.
html, body {
  height: initial !important;
}

body {
}


/*
html, body {
  height: 100%;
}

body {
  color: rgba(0,0,0,.87);
  // material sets .mat-typography font to 14px/20px, but this forces you to set line-height every time you change font-size
  // 14/20 is 1.42, so we'll override to 1.42 (same as boot3), then we can change font-size at will
  &.more-specific {
    //line-height: 1.42;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box; // 1
  //outline: none;
}

i {
  text-decoration: none;
}

a {
  text-decoration: none;
  &:link, &:visited, &:hover, &:active {
    color: $color-link !important;
  }
}
*/
