
// bootstrap/cui breakpoints
$breakpoint-ltsm: 575px;
$breakpoint-sm: 576px;
$breakpoint-ltmd: 767px;
$breakpoint-md: 768px;
$breakpoint-ltlg: 991px;
$breakpoint-lg: 992px;
$breakpoint-ltxl: 1199px;
$breakpoint-xl: 1200px;


$header-height-ltlg: 50px;
$hero-header-height: 83px;
$fin-footer-height: 117px;

// custom colors
$bg-light-gray: #f5f5f5;
$link-gray:  #616161;
$link-active: #2a56c6;
$color-link: lighten($link-active, 10%);
$border-gray: rgba(0,0,0,0.12);
$color-splash: rgba(42,86,198, .9);
$color-default-text: rgba(0,0,0, .87);

$leftnav-width: 259px;
