
# this works for @cisco-ngx packages, but couldn't get this to work for cisco-ui package (second line doesn't work)
# @cisco-ngx:registry=http://swtg-npm.cisco.com
# DOESN'T WORK: cisco-ui:registry=http://swtg-npm.cisco.com

# cui registry (we'll just use this for everything then as can't dedicate to cui stuff only)
registry=http://swtg-npm.cisco.com
