<div [ngSwitch]="currentPage">

  <div *ngSwitchCase="'dashboard'" class="panel panel--ltgray panel--compressed totals">
    <div class="container">
      <div class="row">
        <div class="header-bar__main col-md-6">
          <div class="header-heading">
            <h1><span class="action--value">{{actionCount.pendingActionCount}}</span> <span
                class="action--value-label">Pending
                Actions</span></h1>
            <span class="vertical-divider"></span>
            <h1><span class="action--value">{{actionCount.needImmediateActionCount}}</span> <span
                class="action--value-label">Need
                Immediate Action</span></h1>
          </div>
        </div>
        <div appHiddenelem [DirectiveValue]="'Create New Offer'" class="col-md-6 text-right">
          <button (click)="newBtnClick.next()" class="btn btn--white btn--cool">
            <span class="icon-add"></span>
            New Offer</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'action'" class="panel panel--ltgray panel--compressed totals">
    <div class="container">
      <div class="row">
        <div class="header-bar__main col-md-6">
          <div class="header-heading">
            <h1><span class="action--value">{{actionCount.pendingActionCount}}</span> <span
                class="action--value-label">Pending
                Actions</span></h1>
            <span class="vertical-divider"></span>
            <h1><span class="action--value">{{actionCount.needImmediateActionCount}}</span> <span
                class="action--value-label">Need
                Immediate Action</span></h1>
          </div>
        </div>
        <div class="col-md-6 text-right">
          <button (click)="newBtnClick.next()" class="btn btn--white btn--cool">
            <span class="icon-add"></span>
            Create New Action</button>
        </div>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'pirate-ship-module'" class="panel panel--compressed task--bar">
    <div class="row">
      <div class="col-md-4 flex-center-vertical">
        <h4>{{pirateShipModuleName}}</h4>
      </div>
      <div class="col-md-8 text-right">
        <button (click)='goToPirateShip()' class="btn btn--secondary">
            <span class="icon-chevron-left"></span>&nbsp; Back to Offer Setup Workflow
        </button>
      </div>
    </div>
  </div>

  <div *ngSwitchDefault class="panel panel--compressed task--bar">
    <div class="row">
      <div class="col-md-4 flex-center-vertical">
        <h4>{{taskBarNavSteps[currentStepIndex].title}}</h4>
      </div>
      <div class="col-md-8 text-right">
        <button (click)='goBack()' [disabled]="disableBackBtn" class="btn btn--secondary">
          <span class="icon-chevron-left"></span>&nbsp; Previous
        </button>
        <button *ngIf="!isLastStep" class="btn btn--primary" (click)='proceedToNextStep()'
          [disabled]="proceedToOfferSetup">Proceed to
          {{taskBarNavSteps[currentStepIndex].nxtBtnTitle}}&nbsp;<span class="icon-chevron-right" style="color:white;"></span></button>
      </div>
    </div>
  </div>

</div>
