
<div class="fin-wide-container">

  <div class="measure-select">
    <cui-select [items]="measures" [(model)]="measureId" label="Measure"
                (modelChange)="measureChange()" optionsKey="name" optionsValue="measureId"></cui-select>
    <div finAuth="super-user" style="margin-top: 36px; margin-bottom: -3px;">
      <fin-status-choice [choices]="showStatuses" (choiceChange)="changeStatusFilter()"></fin-status-choice>
    </div>
  </div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="half-margin-top">
    <mat-form-field>
      <input matInput [(ngModel)]="filterValue" (keyup)="applyFilter($event.target.value)" placeholder="Search">
    </mat-form-field>
    <a finAuth="super-user" [routerLink]="['add', {mode: 'add'}]">
      <button cuiButton color="primary">Add New</button>
    </a>
  </div>

  <div class="mat-elevation-z8">

    <mat-table [dataSource]="dataSource" matSort [matSortActive]="sortProperty" [matSortDirection]="sortDirection" (matSortChange)="sortChange($event)">

      <ng-container matColumnDef="name">
        <mat-header-cell style="min-width:400px;" *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell style="min-width:400px;" *matCellDef="let row"> <a href="" [routerLink]="['edit', row.id, {mode: 'view'}]">{{row.name}}</a> </mat-cell>
      </ng-container>

      <ng-container matColumnDef="sourceId">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Source</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{getSourceName(row.sourceId)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="processingTime">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Processing Time</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.processingTime}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="startFiscalMonth">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Effective Month</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.startFiscalMonth}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{UiUtil.getStatusText(row.status)}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedBy">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Updated By</mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.updatedBy}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="updatedDate">
        <mat-header-cell style="min-width:140px;" *matHeaderCellDef mat-sort-header> Updated</mat-header-cell>
        <mat-cell style="min-width:140px;" *matCellDef="let row"> {{moment(row.updatedDate).format('MM/DD/YYYY hh:mm A')}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="icons">
        <mat-header-cell *matHeaderCellDef style="flex: 0 0 auto; width:70px;"></mat-header-cell>
        <mat-cell *matCellDef="let row" style="flex: 0 0 auto;">
          <div style="width:70px;whitespace: nowrap;">
            <i finAuth="super-user" class="icon-edit icon-small tooltip" [routerLink]="['edit', row.id, {mode: 'edit'}]"
               matTooltip="edit" matTooltipPosition="above" [matTooltipShowDelay]="500"></i>
            <i finAuth="super-user" class="icon-applications icon-small tooltip" [routerLink]="['edit', row.id, {mode: 'copy'}]"
               matTooltip="copy" matTooltipPosition="above" [matTooltipShowDelay]="500"></i>
            <i finAuth="super-user" class="icon-exit-outline icon-small" (click)="remove(row)" [fxShow]="showDeleteIcon(row)"
               matTooltip="delete" matTooltipPosition="above" [matTooltipShowDelay]="500"></i>
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
    </mat-table>


    <mat-paginator #paginator
                   [length]="filteredSubmeasures.length"
                   [pageIndex]="pageIndex"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[5, 10, 25, 100]"
                   (page)="pageChange($event)">
    </mat-paginator>
  </div>

</div>

