<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel--indigo panel--loose header-bar base-margin-top task--bar">
          <div class="header-bar__main col-md-6">
            <div class="header-heading">
              <h1 class="page-title"><span class="action--value">{{pendingActnCount}}</span> <span
                  class="action--value-label">Pending
                  Actions</span></h1>
              <span class="vertical-divider"></span>
              <h1 class="page-title"><span class="action--value">{{needImmActnCount}}</span> <span
                  class="action--value-label">Need
                  Immediate Action</span></h1>
            </div>
          </div>
          <div class="header-toolbar col-md-6">
            <button (click)="createNewAction()" class="btn btn--white cta--action"><span
                class="icon-add icon-small"></span>
              <span class="button--label">New Actions</span></button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card card--raised base-margin-top">
          <div class="panel">
            <div class="row card-table-header">
              <div class="col-md-8">
                <h2 class="page--subheading">Action Item Tracker</h2>
              </div>
            </div>
            <div class="responsive-table">
              <p-dataTable [value]="myActionsList" [rows]="10" [paginator]="true">
                <p-column field="offerId" sortable="true" header="OFFER">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <a (click)="showOfferPopUp($event,offerData,popturboContent)">{{actionData.offerId}}</a><br />
                    <span>{{actionData.offerName}}</span>
                    <!--new code strarts here-->

                    <p-overlayPanel #popturboContent [showCloseIcon]="true">
                      <div *ngIf="selectedCaseId" class="base-padding" style="min-width:700px">
                        <app-turbotaxview [data]="actionData"></app-turbotaxview>
                      </div>
                    </p-overlayPanel>

                    <!--ends here-->

                  </ng-template>
                </p-column>
                <p-column field="actions" sortable="true" header="ACTION">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span class="offerName">{{actionData.titleValue}} <br /></span>
                    <span *ngIf="actionData.attachment == false" class="offerDesc">{{actionData.actionDesc}}</span>
                    <span *ngIf="actionData.attachment == true" class="offerDesc"
                      (click)="getActionDetailsFile(actionData.caseId)"><a>{{actionData.actionDesc}}</a></span>

                    <!-- my new code coming here -->
                    <!-- <ng-template #popCommentContent ptemplate="body">
                      <div  class="popover" style="width:501px;left:230px">

                        <div class="popover__body">
                          <h5>View/Edit Comment</h5>

                          <app-viewcomment [taskId] = "actionData.taskId" [popContent] = "p4"></app-viewcomment>

                          <a class="modal__close" id="popover_close"
                          ><span class="icon-close"
                            (click)="displayActionPop(p4)"></span></a>
                        </div>

                      </div>
                    </ng-template> -->
                    <!-- <span [ngbPopover]="popCommentContent" (click)="p4.open()" autoClose="'outside'" #p4="ngbPopover"
                      triggers="manual" pTooltip="Comments" placement="top" class="icon-comment" aria-hidden="true"></span> -->
                    <!--new code ending here-->
                    <span (click)="showActionPopUp($event,actionData,popCommentContent)" class="icon-comment pull-right"
                      pTooltip="Comments" placement="top"></span>
                  </ng-template>
                </p-column>
                <p-column field="createdBy" sortable="true" header="OFFER CREATED BY">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.offerOwner}} <br /></span>
                  </ng-template>
                </p-column>
                <p-column field="" sortable="true" header="FUNCTION">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.defaultFunction}} <br /></span>
                  </ng-template>
                </p-column>
                <p-column field="assigneeId" sortable="true" header="ASSIGNED USER">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.assigneeId}} <br /></span>
                  </ng-template>
                </p-column>
                <p-column field="dueDate" header="DUE DATE" sortable="true">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span>{{actionData.dueDate}} <br /></span>
                  </ng-template>
                </p-column>
                <p-column field="status" sortable="true" header="STATUS">
                  <ng-template let-col let-actionData="rowData" pTemplate="body">
                    <span *ngIf="actionData.alertType == 1">
                      <div style="text-align:center">
                        <span class="{{actionData.styleColor}}">
                          <i class="fa fa-circle" style="font-size:15px;margin:4px 4px 0 0;"></i>
                        </span>
                      </div>
                    </span>
                    <span *ngIf="actionData.alertType == 2">
                      <div style="text-align:center">
                        <span>--</span>
                      </div>
                    </span>
                  </ng-template>
                </p-column>
              </p-dataTable>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- comments overlay -->
    <p-overlayPanel #popCommentContent [showCloseIcon]="true">
      <div *ngIf="selectedAction" class="comments-modal">
        <div class="popover__body">
          <h1 class="modalheader">View/Edit Comment</h1>
          <app-viewcomment [taskId]="selectedAction.taskId" [event]="commentEvent" [popContent]="popCommentContent">
          </app-viewcomment>
        </div>
      </div>
    </p-overlayPanel>
    <p-dialog [showHeader]="false" [responsive]="true" [width]="700" [height]="500" [minY]="70"
      [(visible)]="displayActionPhase" [closable]="true">
      <div class="row">
        <div class="col-md-12">
          <div class="pull-right">
            <span class="icon-close" (click)="closeActionDailog()"></span>
          </div>
          <div class="card__header">
            <h5 class="card__title">Create an Action</h5>
          </div>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col-md-12">
          <form autoComplete="off" #createActionForm="ngForm" (ngSubmit)="createAction()">
            <div class="row base-margin-top">
              <div class="col-md-6">
                <div class="form-group half-margin-bottom">
                  <div class="form-group__text select">
                    <label for="offerName">SELECT OFFER NAME</label>
                    <select id="offerName" type="text" class="form-control" name="offerName"
                      [(ngModel)]="offerNameValue" (change)="onChange($event.target.value)" required ngModel
                      #offerName="ngModel">
                      <option *ngFor="let offer of myOfferList" [value]="offer.offerId">
                        {{offer.offerName}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group half-margin-bottom">
                  <div class="form-group__text">
                    <label for="titleName">ACTION TITLE</label>
                    <input id="titleName" type="text" class="form-control" name="titleName" [(ngModel)]="titleValue"
                      required ngModel #titleName="ngModel">
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group half-margin-bottom">
                  <div class="form-group__text">
                    <label for="descriptionName">DESCRIPTION</label>
                    <input id="descriptionName" type="text" class="form-control" name="descriptionName"
                      [(ngModel)]="descriptionValue" required ngModel #descriptionName="ngModel">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group half-margin-bottom">
                  <div class="form-group__text select">
                    <label for="milestoneName">MILESTONE</label>
                    <input type="text" id="select-state-disabled" class="form-control" name="milestoneName"
                      value={{val}} readonly [(ngModel)]="val" required>
                    <!-- <select id="milestoneName" type="text" class="form-control" name="milestoneName" [(ngModel)]="milestoneValue"
                      required ngModel #milestoneName="ngModel">
                      <option *ngFor="let milestone of milestoneList" [value]="milestone.subMilestone">
                        {{milestone.subMilestone}}</option>
                    </select> -->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="form-group__text select">
                    <label for="functionName">SELECT FUNCTION</label>
                    <select id="functionName" class="form-control" name="functionName"
                      (change)="getSelectFunctionRole($event.target.value)" [(ngModel)]="functionNameValue" ngModel
                      required>
                      <option *ngFor="let function of functionList" [value]="function">
                        {{function}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label--floated input--icon half-margin-bottom">
                  <label for="assigneeName">ASSIGNEE</label>
                  <div class="form-group__text select">
                    <select id="assigneeName" class="form-control" name="assigneeName" [(ngModel)]="assigneeValue"
                      required ngModel>
                      <option *ngFor="let assignee of assigneeList" [value]="assignee">
                        {{assignee}}</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label--floated input--icon half-margin-bottom">
                  <label for="dueDate">DUE DATE</label>
                  <div class="form-group__text">
                    <input name="dueDateName" class="form-control" #dp4="bsDatepicker" bsDatepicker placement="top"
                      [minDate]="minDate" containerClass="custome-date" [bsConfig]="dpConfig" [(ngModel)]="dueDateValue"
                      required ngModel #dueDateName="ngModel">
                    <button type="button" class="link" tabindex="-1">
                      <span class="icon-month"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="divider"></div>
            <div class="row text-right">
              <div class="form-actions">
                <button class="btn btn--secondary" (click)="closeActionDailog()">Cancel</button>
                <button class="btn btn--primary" type="submit" [disabled]="!createActionForm.valid">Create
                  an Action</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </p-dialog>
  </div>
</div>