



<button cuiButton [small]="true" [icon]="true" color="primary">
  <i class="icon-close"></i>
</button>
<button cuiButton [small]="true" [icon]="true" color="primary">
  <i class="icon-close icon-small"></i>
</button>
<button cuiButton  [icon]="true" color="primary">
  <i class="icon-close icon--medium"></i>
</button>
<button cuiButton [wide]="true" [icon]="true" color="primary">
  <i class="icon-close"></i>
</button>
<br>
<i class="icon-close icon--large"></i>


<br>
<h6>Small</h6>
<div class="base-margin-top">
  <button class="btn btn--icon btn--small"><span class="icon-tools"></span></button>
  <button class="btn btn--icon btn--small btn--primary"><span class="icon-bookmark"></span></button>
  <button class="btn btn--icon btn--small btn--secondary"><span class="icon-analysis"></span></button>
  <button class="btn btn--icon btn--small btn--negative"><span class="icon-power"></span></button>
  <button class="btn btn--icon btn--small btn--success"><span class="icon-check"></span></button>
</div>
<br>
<h6>Default</h6>
<div class="base-margin-top">
  <button class="btn btn--icon"><span class="icon-tools"></span></button>
  <button class="btn btn--icon btn--primary"><span class="icon-bookmark"></span></button>
  <button class="btn btn--icon btn--secondary"><span class="icon-analysis"></span></button>
  <button class="btn btn--icon btn--negative"><span class="icon-power"></span></button>
  <button class="btn btn--icon btn--success"><span class="icon-check"></span></button>
</div>
<br>
<h6>Large</h6>
<div class="base-margin-top">
  <button class="btn btn--icon btn--large"><span class="icon-tools"></span></button>
  <button class="btn btn--icon btn--large btn--primary"><span class="icon-bookmark"></span></button>
  <button class="btn btn--icon btn--large btn--secondary"><span class="icon-analysis"></span></button>
  <button class="btn btn--icon btn--large btn--negative"><span class="icon-power"></span></button>
  <button class="btn btn--icon btn--large btn--success"><span class="icon-check"></span></button>
</div>
